[2022-05-31 20:01] #2983 closed

[2022-05-31 20:32] gnafb commented on #3007
Hey Sergio,

Thanks for the note.

If you add the Chrome extension, Dux Soup gives you 14 days of API access for trial. Once added to chrome, click on the extension. When the window pops up in the upper right corner there is an options gear icon. Click on the icon and it will take you to the options page. Once there, choose the connect tab. At the bottom of the tab will be your remote controll api

[2022-05-31 21:55] jhuseinovic opened #3013 "[APP] Mobivate SMS"
**Name of app / service**
Mobivate SMS

**Link to developer documentation**
https://api.mobivatebulksms.com/apidoc#!/send/sendSingle
After first creating the account at www.hub.mobivate.com and topping up the account.

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I got the work-around.

**Are there specific actions, or triggers, you'd like to see for

[2022-05-31 22:18] bush4u commented on #2964
This is on blocked as I could not understand the chat architecture. I am doing more research on this while I move to another task

[2022-05-31 22:41] sergioeliot2039 commented on #3007
Thank you @gnafb ! I was able to create a Dux Soup trial through the Chrome extension.
I had tried using their website, and noticed the 14 day trial noticed but during check out it wanted to charge the subscription amount. Creating the trial through the Chrome extension did the trick.

Currently we are tackling the issue you are encountering, since we are able to reproduce. Will revert soon.

[2022-05-31 23:31] sergioeliot2039 commented on #3007
@ctrlaltdylan The code thet Gary refers to when stating:

is this:

[code]

Might be a issue with the jsSHA library. The calculated signature is required in the test request headers, under `X-Dux-Signature` header.

For examples, see the generated cURL commands on the Dux Soup's [Remote Control Test Tool](url)

[code]

[2022-05-31 23:36] gnafb commented on #3007
Awesome! Glad that worked.

I appreciate your help with this.

You guys are awesome!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sergio E. Rodríguez Wong ***@***.***>
Sent: Tuesday, May 31, 2022 6:41:51 PM
To: PipedreamHQ/pipedream ***@***.***>
Cc: Gary Nettles ***@***.***>; Mention ***@***.***>
Subject: Re: [PipedreamHQ/pipedream] Dux Soup (Issue #3007)

Tha

[2022-06-01 01:30] dylburger commented on #2801
Thanks @alysonturing . Feel free to loop in integrations@pipedream.com on that thread if you don't get movement and I can also follow up with them.

[2022-06-01 13:53] #1525 closed

[2022-06-01 13:55] raphael1807 opened #3015 "Purging a precise URL [ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-06-01 13:56] raphael1807 opened #3016 "Purge one precise URL in cloudflare instead of all cache[ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-06-01 15:30] arielb1990 opened #3018 "[APP] GLS"
**Name of app / service**: GLS

**Link to developer documentation**: https://glamit.gitbook.io/delorean/reference/autenticacion

**Is lack of support preventing you from building workflows, or do you have a workaround?**: I just need to be able to refresh the token so the workflows are constatly active.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know

[2022-06-01 18:18] alysonturing commented on #864
[Their API is a paid enterprise feature](https://pipedream-users.slack.com/archives/G01J50YGJGP/p1654089850397639)

[2022-06-01 18:52] dylburger commented on #2910
@SamirTalwar I just published a new version of the RSS source. Could you do me a favor and try to create a new source at https://pipedream.com/new/sources ?

If that doesn't work, can you visit the **Logs** tab of the source and share any logs that appear there?

[2022-06-01 19:09] sergioeliot2039 commented on #3007
Hey @ctrlaltdylan , I think I nailed it!!

Can you please help submitting the app to the App Store?
I can't do this with the current [submit form ](https://pipedream.com/submit-an-app ),

This is the working code, this is the code I have in a V2 workflow on Pipedream:
[code]

Here are some notes:
1. the issue that Gary encounters, is fixed by using the import statement, and thus using a newer node

[2022-06-01 19:15] lcaresia commented on #1430
@Hassan-Abbas-SQA Yes, I removed some triggers and moved all to just one source.

[2022-06-01 19:35] alysonturing commented on #2910
Hey sorry, I just saw your question, I believe that the guid is not generated by the `feedparser` so we can't say for sure which is the method that generates it

[2022-06-01 20:41] ctrlaltdylan commented on #3007
I'll give it a shot @sergioeliot2039 , let me know if anything is off and needs corrected.

1. Updated `userId` to `target_url` for that easier use like you mentioned
2. Set the scaffolding for v2 "Use any API" step to your snippet, but added the references to `target_url` and `auth_key`.

Yes v2 workflows need a sharing option, it's high on the to do list!

[2022-06-01 21:05] dylburger commented on #2868
This should be completed! Please let us know if you see any issues

[2022-06-01 21:05] #2868 closed

[2022-06-01 21:19] sergioeliot2039 commented on #3007
Ah! Here is a catch!
1.
 both `userId` and `target_url` should be used.
[code]
the payload includes a plain `userID` and `targeturl`

2.  actually that scaffolding is just for the Dux SOUP API command "visit profile" (instead of Any API), because of the API command being specified in    `  command: "visit"`, plus its parameters that are specified under
[code]

[2022-06-01 21:27] dylburger opened #3025 "[FEATURE] test"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you have a workaround?**
Are you able to tackle the problem with an existing workaround, or can you not move forward without this featur

[2022-06-01 21:37] dylburger commented on #3025
This should be completed! Please let us know if you see any issues

[2022-06-01 23:23] dylburger commented on #2931
I'm closing this since the app is integrated, but let us know if you have any issues or questions about the integration

[2022-06-01 23:23] #2931 closed

[2022-06-02 00:38] dylburger commented on #2878
We've added this issue to our backlog. You can follow this issue for updates!

[2022-06-02 01:07] dannyroosevelt commented on #2965
This is ready for release!

[2022-06-02 01:34] #2954 closed, assigned to nobody

[2022-06-02 01:34] #2965 closed

[2022-06-02 01:34] #2942 closed, assigned to nobody

[2022-06-02 04:45] dylburger commented on #2845
@mc25573 Thanks for reporting. Can you clarify exactly when you're expecting the cron expression to persist? We do persist the expression if you exit the configuration and configure other parameters, then come back (see GIF below). And we should save the expression when you save the trigger.

The only case when we should change the cron expression is when you set another date option, e.g. when I s

[2022-06-02 05:11] dylburger commented on #2620
This should be fixed. Any attachments should be available in `steps.trigger.context` attachments.

For example, you can inspect attachments by running this Node.js code:

[code]

[2022-06-02 05:11] #2620 closed

[2022-06-02 05:15] dylburger commented on #210
Since all code and data is currently private in v2 workflows, this is no longer relevant. Please track on #2169 to follow the issue on sharing workflows in v2, where we'll address this question of public vs. private visibility.

[2022-06-02 05:15] #210 closed

[2022-06-02 06:46] sltong opened #3030 "[APP] Facebook Graph API (for Facebook Pages)"
**Name of app / service**
Facebook Graph API

**Link to developer documentation**
https://developers.facebook.com/docs/graph-api
https://developers.facebook.com/docs/graph-api/guides/upload/
https://developers.facebook.com/docs/graph-api/reference/page/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Yes. I would like to use the Facebook Graph API to ha

[2022-06-02 12:24] feyzullah commented on #1095
Hi @bush4u can you please link your PR?

[2022-06-02 13:19] cedeguil opened #3033 "[TRIGGER] When a new item is added to the database"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
when a new item is added to the selected database, it takes it as a triggert

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-06-02 15:14] bush4u commented on #1095
Done

[2022-06-02 15:41] zalmanlew opened #3035 "[APP] Tookan"
**Name of app / service**
Tookan (by JungleWorks)

**Link to developer documentation**
https://tookanapi.docs.apiary.io/

There are a lot of potential triggers and actions, will need to work on a starting scope.

[2022-06-02 15:56] js07 opened #3037 "[BUG] Hubspot New Engagement source fails with maximum execution time reached error"
**Describe the bug**
The Hubspot **New Engagement** source doesn't work for me. When I create a new source, no events are emitted and I see `Error: Maximum execution time reached` in the Logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pipedream.com/sources/new
2. Choose 'HubSpot' -> 'New Engagement'
3. Select a HubSpot account...
4. Click on 'Create source'
5. See empty '

[2022-06-02 16:26] SamirTalwar commented on #2910
I just deleted and recreated the source. The events still seem to be in the wrong order.

The latest event just went out successfully but I expect that's because its GUID now contains "2022/06", not "2022/05", which suggests your theory about sorting by GUID holds water.

The logs are as follows:

[code]

[2022-06-02 17:27] eza999 opened #3039 "[APP] MPWA"
**mpwa / service**

**[Link to developer documentation](https://wanu.jagasis.com/home)**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-06-02 18:14] z1lV3r opened #3040 "[New triggers and action] Zenkit"
Zenkit

https://base.zenkit.com/docs/api/overview/introduction

Triggers:
new item: triggers when a new item is created
new notification: triggers when you have a new notification
new activity: triggers when there is a new activity in zenkit
item value changed: triggers when the value of a field changes in an item

Actions:
Create item
Update item
Add comment to item
Find item
Find member
Find col

[2022-06-02 19:47] #1038 closed

[2022-06-02 19:59] vanetreg opened #3042 "[TRIGGER] Twitter, public list related sources"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
1) specific public list emits new tweet
2) search tweets of specific public list(s)
**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**
:(

[2022-06-02 20:03] sergioeliot2039 commented on #3040
There is already a Zenkit integration here: https://pipedream.com/apps/zenkit
But changed labels to reflect the user's requesting new triggers and actions. API documentation looks enough to build these components.

[2022-06-02 21:18] sergioeliot2039 commented on #3035
Hi @zalmanlew  , there is an integration already done for Tookan, https://pipedream.com/apps/tookan
so I am closing this issue. But can you please let us know if you need specific triggers and actions?

[2022-06-02 22:21] klauern opened #3043 "[New triggers and actions] TickTick"
**App Name**
[TickTick](https://ticktick.com/home)

**Developer Docs**
https://developer.ticktick.com/docs#%2Fopenapi=

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I do not have anything at this time, but having access to the lists, tags, etc., from my paid TickTick account would help me integrate with Notion databases better, too.

**Are there speci

[2022-06-02 23:23] dylburger commented on #2981
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-02 23:23] dylburger commented on #2973
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-02 23:23] #2973 closed

[2022-06-03 06:04] zalmanlew commented on #3016
It _should_ be pretty straightforward to implement this. I just looked through the code on the current Cloudflare components and it can use some refactoring work.

This specific request can just copy the purge all files action, it just needs to allow the user to enter in a `purge_url` input and pass it in the body like
[code]

[2022-06-03 12:24] Hassan-Abbas-SQA commented on #3011
@andrewjschuang this source is working fine but i have encountered promise issue please fix that
<img width="1216" alt="image" src="https://user-images.githubusercontent.com/104946677/171852970-e1e0ae3e-1acf-437e-a355-d2601bfe1342.png">

[2022-06-03 15:00] andrewjschuang commented on #3011
@Hassan-Abbas-SQA should be fixed now

[2022-06-03 16:31] #508 closed

[2022-06-03 16:45] Anti-Apple4life opened #3047 "[APP]"
**Name of app / service**
Matrix.org/Element client
**Link to developer documentation**
https://matrix.org/docs/develop
**Is lack of support preventing you from building workflows, or do you have a workaround?**
I cannot build workflows because of this
**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to

[2022-06-03 17:52] #2736 closed

[2022-06-03 19:13] dannyroosevelt commented on #3011
This is ready for release!

[2022-06-03 19:21] #3011 closed

[2022-06-03 19:59] feyzullah commented on #896
Hi @alysonturing can you please link your PR?

[2022-06-03 20:03] alysonturing commented on #896
Sure, I'm sorry...

[2022-06-03 20:04] dylburger opened #3049 "Update WooCommerce app description to request users add a protocol"
See https://github.com/PipedreamHQ/pipedream/pull/2998#issuecomment-1146005415

[2022-06-03 20:07] dylburger commented on #2910
@SamirTalwar thanks for the detail. @alysonturing is going to look into it!

[2022-06-03 23:03] dannyroosevelt commented on #2862
This is ready for release!

[2022-06-03 23:23] dylburger commented on #2985
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-03 23:23] #2985 closed

[2022-06-04 02:38] klauern commented on #3043
I mean, I guess this is an integration, albeit pretty barren in terms of supporting much: https://github.com/PipedreamHQ/pipedream/blob/fa2df4bbb52341ee84a54090d6d2618305e67e89/components/ticktick/ticktick.app.mjs#L1-L11

I'm not even sure where to start with that, because I write mainly Go and Python, so I'm not sure how I should approach it, hence why I think it's a little lacking.

[2022-06-04 10:56] PatelN123 opened #3050 "Send Discord DM"
Get data received, use the data to send the user a DM on discord.

[2022-06-04 17:30] dylburger commented on #3050
Duplicate of https://github.com/PipedreamHQ/pipedream/issues/1895, which is in progress! Please follow that issue for more updates

[2022-06-04 17:30] #3050 closed

[2022-06-04 17:53] sergioeliot2039 commented on #3043
Gotcha. Thanks for the clarification.
I think @dylburger or @ctrlaltdylan may have better input.

[2022-06-04 18:42] Childishooddreamzzz opened #3051 "[APP]"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-06-04 18:44] Childishooddreamzzz commented on #3051
Need to add bot help

[2022-06-04 18:44] sergioeliot2039 commented on #3051
Hi @Childishooddreamzzz , thank you for the request! can you specify what is the bot app you are trying to integrate?

@Childishooddreamzzz  for an example of a good app request here in Pipedream, with links to developer documentation, and other details, plesae see this one done for Crove.app #2931
https://github.com/PipedreamHQ/pipedream/issues/2931

[2022-06-04 19:02] andrewlearned opened #3052 "Google Contacts [APP]"
Google Contacts

[2022-06-04 19:24] sergioeliot2039 commented on #3052
Hi @andrewlearned, there is an integration already done for Google Contacts, https://pipedream.com/apps/google-contacts

[2022-06-04 19:25] #3052 closed

[2022-06-04 22:16] sergioeliot2039 commented on #3051
Here is a set of bot building integrations already ready in the [App Store](https://pipedream.com/explore):

* Telegram bot - https://pipedream.com/apps/telegram-bot-api
* Discord bot - https://pipedream.com/apps/discord-bot
* Slack bot - https://pipedream.com/apps/slack-bot
* Silfer bots - https://pipedream.com/apps/silfer-bots
* Botstar - https://pipedream.com/apps/botstar
* Landbot - https://pi

[2022-06-05 07:48] nirurin commented on #3006
I don't suppose you had any luck with this? Just spent an annoying few hours trying to get this working, before coming across this thread that basically said... no this doesn't work in pipedream haha.

I have this working on timecamp already, but I'd rather use pipedream if it's possible. I'd appreciate hearing if you had any luck with it!

[2022-06-05 08:12] PatelN123 commented on #1895
Hey,
Is there any update/ETA on this?

[2022-06-05 08:56] valendinks commented on #3006
None, I’m afraid.

The only way is directly through the API, but I’m not technical enough to
build something like that where it isn’t brittle as glass :)

søn. 5. jun. 2022 kl. 09.48 skrev nirurin ***@***.***>:

[2022-06-05 09:22] nirurin commented on #3006
https://pipedream.com/community/t/how-do-i-add-an-entry-to-a-notion-database/2465/6

This is the only thing I've found that may suggest an answer. Have you
gotten anything to work, even fragiley?

On Sun, 5 Jun 2022, 09:56 valendinks, ***@***.***> wrote:

[2022-06-05 19:05] dylburger opened #3053 "[BUG] Zenkit account connection fails with 401 error"

[2022-06-05 19:18] dylburger opened #3054 "[APP] Google Groups"
**Name of app / service**

Google Groups

**Link to developer documentation**

https://developers.google.com/admin-sdk/directory/reference/rest/v1/groups

[2022-06-05 19:58] devorbitus opened #3055 "Akeyless Vault Platform for Secrets Management"
The Akeyless Vault Platform can use JWT authentication for platform use-cases like GitLab or GitHub Actions so repositories don't have to have any secrets stored within and are able to pull down static secrets and ephemeral least-privilege credentials like database credentials and Docker Hub credentials as needed instead of having long-standing credentials.

Does Pipedream have any plans to have a

[2022-06-06 04:25] dylburger commented on #2972
Thanks for confirming, @AlexeyArtemev !

[2022-06-06 04:25] #2972 closed

[2022-06-06 04:33] dylburger commented on #2885
@zalmanlew Apologies for getting back to you so late. This is actually by design at the moment. Since workflow triggers are independent entities, changes to them are independent of the workflow. You can modify a trigger configuration without re-deploying the workflow.

I'll share this feedback with the team so we make the UX more clear!

[2022-06-06 04:33] #2885 closed

[2022-06-06 04:36] dylburger commented on #2851
@crutch12 Thanks for reaching out. I was not able to reproduce this. No matter where I added `pipedream` in email addresses, it worked correctly. We also don't have code that prohibits the use of `pipedream` in emails, and many users use that as a part of e.g. group addresses.

[2022-06-06 04:36] #2851 closed

[2022-06-06 04:37] dylburger commented on #2829
@cfjedimaster Sorry for the late reply. Could you perhaps send a screencast of the behavior you're seeing? I'm not able to reproduce clicking on a few of the examples in that section.

[2022-06-06 04:38] #2763 closed

[2022-06-06 04:38] #2762 closed

[2022-06-06 04:38] #2761 closed

[2022-06-06 04:39] dylburger commented on #2668
@ctrlaltdylan when you add the new docs for the magic mapping, can you also close out this issue?

[2022-06-06 07:59] dannyroosevelt commented on #973
This is ready for release!

[2022-06-06 08:11] sirloinofbeef commented on #3054
THanks for creating this. Will follow with keen anticipation.

[2022-06-06 09:13] crutch12 commented on #2851
@dylburger maybe you have a email validation (e.g. mailgun email validate)?

[2022-06-06 11:43] dannyroosevelt commented on #2930
This is ready for release!

[2022-06-06 12:27] #2656 closed

[2022-06-06 12:47] #973 closed

[2022-06-06 13:52] ctrlaltdylan opened #3060 "[BUG] HTTP API request trigger doesn't allow custom response"
**Describe the bug**

When creating a workflow triggered by an API endpoint, even when I have the custom response option enabled, the deployed workflow claims `$.respond` is not compatible with this trigger.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new workflow
2. Select HTTP API Requests as the trigger
![CleanShot 2022-06-06 at 09 49 17@2x](https://user-images.githubusercont

[2022-06-06 14:53] #2930 closed

[2022-06-06 14:53] dannyroosevelt commented on #214
This is ready for release!

[2022-06-06 15:02] #214 closed

[2022-06-06 15:41] #2862 closed

[2022-06-06 15:56] ctrlaltdylan opened #3062 "[BUG] Google Drive upload & replace file actions missing `uploadType` prop"
**Describe the bug**

The Google Drive API requires the `uploadType` to equal `resumable` or `multi-part` if uploading files over 5mb in size.

However, we're currently not exposing this option in the **Replace File** or **Upload File** pre-built actions.

Specific Google Drive `uploadType` parameter docs:

https://developers.google.com/drive/api/guides/manage-uploads

**To Reproduce**
Steps to re

[2022-06-06 16:00] feyzullah opened #3063 "Bump Jira Action Versions"

[2022-06-06 16:18] Hassan-Abbas-SQA commented on #1430
@Hassan-Abbas-SQA testing

[2022-06-06 16:58] andrewjschuang commented on #2376
@ctrlaltdylan @dylburger Confirming it was addressed.

![Screen Shot 2022-06-06 at 1 55 58 PM](https://user-images.githubusercontent.com/15385076/172208525-080707d2-b8fa-4aa2-8fa5-95dd708b0de8.png)

[2022-06-06 17:00] #2376 closed

[2022-06-06 18:35] Hassan-Abbas-SQA commented on #1430
@lcaresia New Organization trigger is also not emitting when user is added to an organization

[2022-06-06 18:43] andrewjschuang commented on #3006
@valendinks @nirurin I'm working on this rn, would love your feedback when it's done!

[2022-06-06 19:15] dylburger opened #3066 "[FEATURE] test"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you have a workaround?**
Are you able to tackle the problem with an existing workaround, or can you not move forward without this featur

[2022-06-06 19:15] #3066 closed

[2022-06-06 19:15] dylburger opened #3067 "[FEATURE] foo"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you have a workaround?**
Are you able to tackle the problem with an existing workaround, or can you not move forward without this featur

[2022-06-06 19:16] #3067 closed

[2022-06-06 19:18] sergioeliot2039 commented on #3055
To complement the documentation available here are links to Akeyless docs:

Akeyless Dev Hub -- https://docs.akeyless.io/
Akeyless Documentation and updates center -- https://docs.akeyless.io/docs
Akeyless API Reference -- https://docs.akeyless.io/reference

[2022-06-06 19:41] ctrlaltdylan commented on #3060
This bug has been resolved.

[2022-06-06 19:41] #3060 closed

[2022-06-06 19:42] #2686 closed

[2022-06-06 20:12] dylburger commented on #3033
@cedeguil Could you tell me more about the specific app / database this trigger is for?

[2022-06-06 20:14] dylburger commented on #3016
@raphael1807 As Zalman mentioned, it may not be too hard to develop this action yourself, if you're interested. See [the action quickstart](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and let us know if you have any questions!

Otherwise, we can get this on our backlog.

[2022-06-06 20:16] #3015 closed

[2022-06-06 20:18] dylburger commented on #2995
@raphaelvarieras I added this to the backlog for someone to pick up!

[2022-06-06 20:55] Hassan-Abbas-SQA commented on #2878
@andrewjschuang this trigger works fine but why is it showing this message "Exausted list of products. Exiting."
<img width="1216" alt="image" src="https://user-images.githubusercontent.com/104946677/172247354-c111db69-4844-4283-8bab-af2f6e96db60.png">

[2022-06-06 21:11] andrewjschuang commented on #2878
Just to note that the trigger is done executing

[2022-06-06 21:46] noahlocke-uw commented on #3062
I believe the first statement in the issues is wrong. If `uploadType` is set to `media` then the file must be _less_ than 5MB. Files over 5MB must have an `uploadType` of `resumable` per Google's documentation:

![image](https://user-images.githubusercontent.com/62952615/172254637-9d134f9b-6bba-440a-bd84-a33844abe73a.png)

[2022-06-06 22:12] raphael1807 commented on #3016
Thanks a lot @dylburger !

[2022-06-06 22:24] dylburger commented on #3047
@Anti-Apple4life Thanks for the request! I added this to our backlog, and we'll take a look ASAP

[2022-06-06 22:57] dylburger commented on #3030
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:01] dylburger commented on #3018
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:01] dylburger commented on #3013
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:01] dylburger commented on #2982
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:01] dylburger commented on #2921
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:01] dylburger commented on #2918
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:01] dylburger commented on #2919
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:02] dylburger commented on #2933
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:02] dylburger commented on #2929
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:02] dylburger commented on #2920
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:18] dylburger commented on #2916
@jimblizz In these cases we'll often provide a generic integration that allows you to enter your own client ID and secret (see Looker for an example). Given the restriction you noted, we may do that here.

I added this to the backlog and we'll take a look ASAP.

[2022-06-06 23:23] dylburger commented on #3001
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-06 23:23] dylburger commented on #2997
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-06 23:23] #3001 closed

[2022-06-06 23:23] dylburger commented on #2981
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-06 23:25] dylburger commented on #2981
Sorry @raphaelvarieras , Pipedream workflows gone awry!

[2022-06-06 23:33] dylburger commented on #2908
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:36] dylburger commented on #2810
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-06 23:42] #2661 closed

[2022-06-06 23:44] #2608 closed

[2022-06-06 23:48] dylburger commented on #2800
@jcortes Can you verify if #2543 is also fixed with this? I believe that may have been a duplicate ticket, but I figured we should address with this work just in case.

[2022-06-06 23:49] dylburger commented on #2800
Either way, can you close that ticket when you wrap up this PR, as well?

[2022-06-06 23:49] dannyroosevelt commented on #2880
@alecwills FYI I'm still talking with Cognito, but here was their initial response:

[2022-06-06 23:51] dylburger commented on #2662
Duplicate, closing

[2022-06-06 23:51] #2662 closed

[2022-06-06 23:52] dylburger commented on #2437
We're testing this internally and plan to release it to the public soon

[2022-06-06 23:56] #2391 closed

[2022-06-07 00:00] dylburger commented on #2339
@LucBerge I apologize for the delay in getting back to you. I'm closing this issue because it'll be solved by #193, which is on our near-term backlog.

For now, you can use the Google Drive Node.js SDK, iterating over the files in a `for` loop.

[2022-06-07 00:00] #2339 closed

[2022-06-07 00:25] dylburger commented on #2922
@aroslov

[2022-06-07 00:35] dylburger commented on #2324
Tracking Instagram at #445

[2022-06-07 00:52] dylburger commented on #2209
@dzg In v2 workflows, [code steps](https://pipedream.com/docs/code/nodejs/) are now Pipedream components. This means you can copy and paste component code from one workflow to another, and it will carry the configuration over.

Triggers and actions can always be selected from the new step menu.

Let me know if that helps!

[2022-06-07 00:52] #2209 closed

[2022-06-07 01:03] dylburger commented on #2164
@chrigi Recent improvements make this use case simpler. You can do approach #1 with [Pipedream data stores](https://pipedream.com/docs/data-stores/), which are accessible across workflows. Specifically, you would have two workflows:

1. Write new items to a data store
2. Respond to `GET` requests, reading items from the data store and returning a well-formed RSS feed

Given the current Pipedream p

[2022-06-07 01:03] #2164 closed

[2022-06-07 01:18] mc25573 commented on #2845
my issue was after finishing a workflow, if I went back to edit, the cron expression would just be the default one. it seems to be working now though.

[2022-06-07 01:41] GTFalcao commented on #2808
The current PostgreSQL actions do not seem to use SSL in their connections, which would be a requirement for this `rejectUnauthorized` parameter. @michelle0927 might have more info on whether this can be implemented or was intentionally not added when first creating these actions.

https://github.com/PipedreamHQ/pipedream/blob/ebb632093a2010d7b839790b85098cb4603cc22b/components/postgresql/postgres

[2022-06-07 02:41] dylburger commented on #2845
Great, thanks @mc25573 !

[2022-06-07 02:41] #2845 closed

[2022-06-07 02:53] dylburger commented on #1872
@thatguychrisw We've improved the flow for updating actions. Any time you edit a workflow, you'll see a red **Update** button at the top-right of any component that has an updated published component.

The UI listens for updates when you have a tab open, as well, so you don't need to refresh the page to register updates when you're developing.

Let me know if that helps!

[2022-06-07 02:53] #1872 closed

[2022-06-07 03:08] dylburger commented on #1551
We should address #2995 with this, as well

[2022-06-07 03:09] dylburger commented on #2995
We should address #1551 with this, as well

[2022-06-07 03:36] dylburger commented on #1439
This is done!

[2022-06-07 03:36] #1439 closed

[2022-06-07 03:42] dylburger commented on #1390
This is done!

[2022-06-07 03:42] #1390 closed

[2022-06-07 03:53] #1321 closed

[2022-06-07 03:59] dylburger commented on #1258
Duplicate of #2069

[2022-06-07 03:59] #1258 closed

[2022-06-07 04:00] alecwills commented on #2880
@dannyroosevelt Yes I had a response on the 4th June from their helpdesk saying

[2022-06-07 04:19] dylburger commented on #1943
@ecobisi Could you give our new `$.flow.suspend` functionality a try?

In a Node.js code step, you can use it like so:

[code]

Since the step only suspends at the end of the run method, you can pass the `resume_url` and `cancel_url` to your service. Then you can resume the workflow as soon as the third party job is done.

The `resume_url` accepts `POST` requests, so if you `POST` this data:

[cod

[2022-06-07 04:19] #1943 closed

[2022-06-07 04:20] dylburger opened #3071 "[FEATURE] Add `$.flow.suspend` docs"
See https://github.com/PipedreamHQ/pipedream/issues/1943#issuecomment-1148177375

[2022-06-07 04:21] dannyroosevelt commented on #2880
I encourage you to push them to prioritize either letting Pipedream access their API or having them prioritize the work. User requests carry the most weight!

[2022-06-07 04:23] dylburger commented on #2914
Thank you very much for the feedback, @douglassjohnandrew . We're tracking attachment deletion at #1246, and I shared the rest of the feedback with the team.

[2022-06-07 04:23] dylburger commented on #2914
Tracking duplicate attachment filenames at #1245

[2022-06-07 04:26] dylburger commented on #2914
@douglassjohnandrew re: this feedback:

[Data stores](https://pipedream.com/docs/data-stores/) let you save any JSON-serializable data (like HTML) that you can access and modify across workflows. Have you tried that as a solution?

[2022-06-07 04:32] dannyroosevelt commented on #2878
@Hassan-Abbas-SQA is this ready for release?

[2022-06-07 04:43] dannyroosevelt commented on #2403
@feyzullah is this in progress?

[2022-06-07 04:48] dannyroosevelt commented on #1895
@PatelN123 it's in active development now, since you're subscribed to the ticket you'll receive updates as the work progresses.

[2022-06-07 05:25] alecwills commented on #2880
Yes I replied with a suggestion that given they have integrated with some others already, then doing so with Pipedream should be very straightforward. And given many of their competitors already have done so, I suggested they might like to prioritise!

[2022-06-07 05:37] #1035 closed

[2022-06-07 05:39] #1014 closed

[2022-06-07 05:46] dylburger commented on #838
For now, we provide list-based unsubscribes for these emails as a mechanism for disabling them.

[2022-06-07 05:46] #838 closed

[2022-06-07 05:48] #818 closed

[2022-06-07 05:49] dylburger commented on #797
We're now tracking each of these issues in separate tickets, so I'm closing this larger ticket

[2022-06-07 05:49] #797 closed

[2022-06-07 05:56] #546 closed

[2022-06-07 05:56] #539 closed

[2022-06-07 06:01] dylburger commented on #301
We'll address as a part of #216, which is on the near-term backlog

[2022-06-07 06:01] #301 closed

[2022-06-07 06:10] dylburger commented on #104
@rcmontrose Since it's been a while since you opened this, I'm curious if this is still an issue for you, or if you've solved this problem in another way?

[2022-06-07 06:12] #143 closed

[2022-06-07 06:14] dylburger commented on #156
This is done! You'll see a clear error at the top of the Pipedream UI now.

[2022-06-07 06:14] #156 closed

[2022-06-07 06:22] #191 closed

[2022-06-07 10:31] chrigi commented on #2164
@dylburger Thanks a lot, yes, I think this fulfills my request.

[2022-06-07 12:17] matheusdea opened #3072 "Nectar CRM [APP]"
**NectarCRM / SaaS CRM**

**Link to developer documentation**
https://github.com/ColmeiaSolucoes/nectarcrm-api

Manage contacts
Manage tasks and appointments
Manage sales opportunities

[2022-06-07 13:21] Hassan-Abbas-SQA commented on #2878
@dannyroosevelt  Yes it is ready for release

[2022-06-07 13:35] #2849 closed

[2022-06-07 14:16] cwishxp commented on #2878
@andrewjschuang  @Hassan-Abbas-SQA  thanks all for the great assistance! It helps a lot for the automation I planned! Thanks all and sorry for my delayed response

[2022-06-07 14:19] ZypherZeek opened #3074 "Coinbase Commerce [APP]"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-06-07 16:22] dannyroosevelt commented on #1424
This is ready for release!

[2022-06-07 18:24] weirdalsuperfan opened #3079 "[APP] Amplenote"
**Name of app / service**

Amplenote

**Link to developer documentation**

https://www.amplenote.com/api_documentation

**Is lack of support preventing you from building workflows, or do you have a workaround?**

Lack of support is preventing me from building workflows

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger

[2022-06-07 20:28] dannyroosevelt commented on #3072
Hi @matheusdea FYI here is a basic integration for Nectar CRM: https://pipedream.com/apps/nectar_crm/

[2022-06-07 20:28] dylburger commented on #3072
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-07 21:31] dannyroosevelt commented on #3079
@weirdalsuperfan I've submitted a request for approval to Amplenote, to enable an OAuth integration. I'll let you know as soon as we hear back!

[2022-06-07 21:47] #1028 closed

[2022-06-07 22:15] dylburger commented on #862
Note that this may require apphook changes.

[2022-06-07 22:15] dylburger commented on #1368
Note that this may require apphook (internal) changes.

[2022-06-07 22:31] dannyroosevelt opened #3080 "[BUG] Error from Linear Search Issues action"
I get this error when trying to run the Linear Search Issues action:
[code]

![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/172493939-4fc1a934-e468-46d8-9f75-2558539e2318.png)

[2022-06-07 22:37] hfreitasbr opened #3081 "Oauth2.0 Public Module"
**Name of app / service**
Oauth2.0 Public Module

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**
No workaround. I need this to some projects we have today.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests

[2022-06-07 22:48] sergioeliot2039 commented on #3081
Hi @hfreitasbr , thanks for the request! We have this already in our backlog, please follow up heref or notifications, if you'd like https://github.com/PipedreamHQ/pipedream/issues/163

Duplicate, closing.

[2022-06-07 22:48] #3081 closed

[2022-06-07 23:08] dannyroosevelt commented on #2893
This is ready for release!

[2022-06-08 00:13] GTFalcao commented on #1054
@dylburger is this implemented as an app on Pipedream? I haven't found any currently implemented apps with a name matching `phone`.

[2022-06-08 00:16] #2893 closed

[2022-06-08 00:46] dylburger commented on #1054
@dannyroosevelt I see that the phone.com app is admin-only. Do you happen to know what the status of that is?

[2022-06-08 00:47] dylburger commented on #1054
If it's not easy, we can mark this as blocked and come back to it when the app is integrated.

[2022-06-08 01:22] zalmanlew commented on #3016
#3083

[2022-06-08 01:34] dannyroosevelt commented on #896
This is ready for release!

[2022-06-08 02:27] #896 closed

[2022-06-08 03:09] lupionpe opened #3085 "[FEATURE] Google Task description parameter"
**Is your feature request related to a problem? Please describe.**
Now when a create a task I am not able to input the description parameter

**Describe the solution you'd like**
Include description parameter

**Do you have a workaround?**
No

**Comparable features in other tools?**
Description on Google Calendar

**Additional context**
No

[2022-06-08 03:11] lupionpe opened #3086 "[FEATURE] ID and URL from Linear Created Issue"
**Is your feature request related to a problem? Please describe.**
When an issue is created on Linear it does not inform the issue ID or its URL

**Describe the solution you'd like**
Give back this informations

**Do you have a workaround?**
No

**Comparable features in other tools?**
No

**Additional context**
No

[2022-06-08 03:13] lupionpe opened #3087 "[ACTION] Figma comment notification trigger"
**Is there a specific app this action is for?**
Figma

**Please provide a link to the relevant API docs for the specific service / operation.**
https://www.figma.com/developers/api#comments

[2022-06-08 03:38] lupionpe opened #3088 "[TRIGGER] Comment trigger on Linear app"
**Is there a specific app this action is for?**
Linear
**Please provide a link to the relevant API docs for the specific service / operation.**
https://developers.linear.app/docs/sdk/fetching-and-modifying-data

[2022-06-08 05:26] vunguyenhung commented on #1963
Hello @vfxturjo, we're investigating this, we will update in this thread whenever there's any updates!

[2022-06-08 05:27] dylburger commented on #1963
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-08 06:55] vunguyenhung commented on #1963
Hello, I have investigated this issue, and the closest Discord feature for integrating requested source is [Discord Gateway Message Delete using WebSockets](https://discord.com/developers/docs/topics/gateway#message-delete). As for now Pipedream Source does not support WebHook, so I will mark this issue as blocked until Pipedream source can support it or Discord provide another approach for gettin

[2022-06-08 11:39] lcaresia commented on #2910
@dannyroosevelt

This issue and [this pull](https://github.com/PipedreamHQ/pipedream/pull/3084) are the same thing, but both are in the columns, can you check this to remove one?

[2022-06-08 12:34] vunguyenhung commented on #2018
Hello @ctrlaltdylan, I'm couldn't reproduce this issue using your information in the description. Here's the step I have taken:
1. I created a [sample app](https://github.com/vunguyenhung/pipedream/pull/1) having one source and one action using `graphql` and `graphql-request` deps
2. Then on `pipedream/components`, I run `pd dev <path>` both the action and the source
3. I observed that the `pd dev

[2022-06-08 13:00] ctrlaltdylan commented on #3062
Thanks for the correction @noahlocke-uw !

[2022-06-08 13:08] ctrlaltdylan commented on #2018
@vunguyenhung this bug was filed before there was some work done before builder v2 and the changes to the pnpm install commands on deployed components. If you're unable to reproduce then I'd say the bug is fixed. Thanks for taking a look!

[2022-06-08 13:08] #2018 closed

[2022-06-08 13:09] vellames-turing commented on #3062
Humm, I was able to upload a 13mb image https://upload.wikimedia.org/wikipedia/commons/3/3d/LARGE_elevation.jpg

[2022-06-08 13:11] ctrlaltdylan commented on #925
@dannyroosevelt I can see that the scaffolding for a few Facebook apps are complete, are we just waiting on some kind of Facebook side integration approval?

[2022-06-08 13:53] lcaresia commented on #983
@niteshsharoff Hello, can you give me a documentation link ou a example what exactilly is a record on Infusionsoft? Thanks!

[2022-06-08 14:30] vellames-turing commented on #3062
Sure, np

[2022-06-08 15:06] dylburger commented on #3079
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-06-08 15:08] dylburger commented on #3088
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-08 15:12] dylburger commented on #3087
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-08 15:29] vunguyenhung commented on #3086
Hello @lupionpe, I observed that currently Linear Created Issue trigger returns both ID and URL, is this what you want?

![Linear_created_issue](https://user-images.githubusercontent.com/18277920/172656484-10e3cb85-05bd-4768-8d84-6a262197b620.png)

[2022-06-08 15:40] dylburger commented on #3085
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-06-08 15:43] dylburger commented on #3085
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-08 16:48] dannyroosevelt commented on #2910
You have better context on those 2 issues, feel free to remove one that we don't need.

[2022-06-08 16:56] ecobisi commented on #1943
Thanks, @dylburger

I have just tried the new `$.flow.suspend()` function and, while I believe it is okay for some usage scenarios, I think its design requires the end user to set up a subsequent step just to handle the resuming data and eventually post-process it (think about projecting the `resumeData` JSON graph into something easier to work with in future steps, for example).

**Resuming withi

[2022-06-08 17:07] ecobisi opened #3091 "[APP] Verifalia"
**Name of app / service**

Verifalia

**Link to developer documentation**

Documentation: https://verifalia.com/developers
JavaScript SDK: https://github.com/verifalia/verifalia-js-sdk

**Is lack of support preventing you from building workflows, or do you have a workaround?**

We have a workaround.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here

[2022-06-08 17:13] lupionpe commented on #3086
It exists as the trigger from created issues, but does not when the actions is create issue: https://pipedream.com/apps/linear-app/actions/create-issue

What I am asking is the feedback that issues was created and what is the id of the created issue

[2022-06-08 18:02] dylburger commented on #3079
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-08 18:06] dannyroosevelt commented on #1054
@dylburger I created the shell yesterday but I'm waiting to hear back from the company re: approving our OAuth app.

@GTFalcao it's not configured as an app yet, so you can't start building it quite yet. I've marked it as blocked until then.

[2022-06-08 19:03] dannyroosevelt commented on #3091
@ecobisi thanks for submitting the request! I've just added Verifalia as an integrated app:
https://pipedream.com/apps/verifalia

You'll see the app directory and corresponding app file in our repo shortly.

By the way, let me know if you'd like to see a different test request in the app's scaffolding or any other changes.

[2022-06-08 19:14] dylburger opened #3094 "[FEATURE] Allow `$.flow.suspend` to resume within the same step"
See [this comment](https://github.com/PipedreamHQ/pipedream/issues/1943#issuecomment-1150163768) for details.

What I would like to achieve, if possible of course, would be a suspension which allows to be resumed within the calling component. Maybe a win-win solution, from a user experience standpoint, could invoke a new resume() function within the calling component itself, like the following:

[

[2022-06-08 19:16] dylburger commented on #1943
@ecobisi makes complete sense! Resumption within the same component is on our backlog. I created a public issue for that at #3094.

We have not discussed multiple suspensions within the same step, but I'll also bring that up to the team.

[2022-06-08 19:23] vexersa opened #3095 "[BUG] Wordpress.org - Create Post - [SyntaxError: Invalid regular expression: /^([^\/:<>\*\?"\|]+(?:\/[^\/:<>\*\?"\|]+)?$/: Unterminated group]"
**Describe the bug**
When attempting to create a new post using the Wordpress.org "create_post" step, an error prevents the step from completing correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create and connect a self-hosted Wordpress site "create_post" action
4. Attempt to run the step and create a new post on the linked Wordpress site
5. You should see error: [SyntaxError: Inva

[2022-06-08 19:38] vexersa commented on #3095
I've added two sites to Pipedream now, one works, the other doesn't and presents this error.

[2022-06-08 23:01] julian-techzip opened #3098 "[BUG] SOQL Salesforce action broken"
**Describe the bug**
SOQL strings that have a '=' in the string break the uriEncoding.

This is in this component:

https://github.com/PipedreamHQ/pipedream/blob/master/components/salesforce_rest_api/actions/salesforce-soql-search/salesforce-soql-search.mjs

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new SOQL action.
2. Create a valid SOQL query that has an equals sign in it, e.

[2022-06-08 23:09] dannyroosevelt commented on #2910
This is ready for release!

[2022-06-08 23:10] #2910 closed

[2022-06-08 23:29] dylburger commented on #3007
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-09 00:16] #2461 closed

[2022-06-09 02:11] dannyroosevelt commented on #2903
This is ready for release!

[2022-06-09 03:02] vunguyenhung commented on #3086
I observed that the Linear Create issue action:
- returns `id`
- does not return `url`
![screenshot (26)](https://user-images.githubusercontent.com/18277920/172752254-992d70d8-2b6b-4dd3-8c38-c91c151506b2.png)

Checking furthermore, I observed that this is because Linear SDK only returns the `id` but not `url` (more detail [here](https://github.com/linear/linear/blob/master/packages/sdk/src/_genera

[2022-06-09 07:30] SamirTalwar commented on #2910
Is this going to be magically fixed for all users of the RSS source, or do we need to do something?

[2022-06-09 09:49] alysonturing commented on #2910
From what I know, The user need to recreate the source to update it to the new version

[2022-06-09 12:06] ecobisi commented on #3094
Thank you, @dylburger and team.

I am authoring a long-running _logical_ step and would need to choose whether to split it into two components (one to init the step and another to handle its resume) now or just wait for this feature to be released, so that I can deploy just one component, with the latter being a much more _natural_ option to the end user's eyes, I believe.

I am sorry if I appear

[2022-06-09 12:20] ecobisi commented on #3091
@dannyroosevelt thank you!

First of all, we would need to change the authentication mechanism for the app, so that it accepts a username / password credentials pair instead of an OAuth token, please.

We would also need to make the following adjustments to the web page, please:

1. change the logo image;
2. change the summary shown sideways;
3. change the sample code.

Is this something we can ch

[2022-06-09 12:25] #1520 closed

[2022-06-09 13:03] #2903 closed

[2022-06-09 13:18] ctrlaltdylan opened #3100 "[ACTION] Slack - Block Kit Designer Action"
**Is there a specific app this action is for?**

Slack

**Please provide a link to the relevant API docs for the specific service / operation.**

The existing _Slack - Send Message with Block Kit_ expects a prior Node.js code step to generate the JSON structure of a Slack message.

It would be much more user friendly to create an action that allowed building of blocks through props.

Take Slack's

[2022-06-09 13:46] ctrlaltdylan opened #3101 "[BUG] _Wordpress.org - Create Post_ Autodiscovery failing"
**Describe the bug**

When attempting to use the  _Wordpress.org - Create Post_ action I receive an error in the underlying `wpapi.js` library claiming autodiscovery failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new workflow
2. Configure a new _Wordpress.org - Create Post_ action
3. Run the workflow
4. See `Autodiscovery failed` message

**Expected behavior**
I expect to b

[2022-06-09 14:32] #2870 closed

[2022-06-09 14:38] vellames opened #3104 "Update People Data Labs Version"
Please check [slack thread](https://pipedream-users.slack.com/archives/G01K0RGR1QR/p1654655338285389) for more info

[2022-06-09 15:17] vunguyenhung commented on #3100
Confirm that the _Slack - Send Message with Block Kit_ action requires JSON input
![image](https://user-images.githubusercontent.com/18277920/172881921-77a6a4dd-d37b-4a29-ad51-4f108d4e0409.png)

Though, I would suggest that we instruct user to use [Slack's native Block Builder](https://app.slack.com/block-kit-builder) to produce the JSON and just simply copy the JSON into the Pipedream action. Sin

[2022-06-09 15:31] vunguyenhung commented on #3098
Hello @julian-techzip, thank you for bringing this to our attention.

We're aware of the problem and have created a [Github Issue here](https://github.com/PipedreamHQ/pipedream/issues/2671) where we'll provide updates, so please keep an eye on that for updates. Thanks 🙏

[2022-06-09 15:31] #3098 closed

[2022-06-09 15:36] michelle0927 commented on #3101
@ctrlaltdylan When you set up your account in Pipedream, did you enter the url as https://niocoin.info or niocoin.info?
<img width="679" alt="Screen Shot 2022-06-09 at 11 35 26 AM" src="https://user-images.githubusercontent.com/10889229/172887161-3b00e2d2-5eb5-45b4-a408-fffcd5d43a8f.png">

[2022-06-09 15:49] vunguyenhung commented on #3095
Hello @vexersa, may I ask for Wordpress version of Site A and Site B? Are they using the same Wordpress version?

[2022-06-09 16:00] dannyroosevelt commented on #3086
@vunguyenhung makes perfect sense! Would you mind creating a ticket for that action and adding it to the board in the To Do column?

[2022-06-09 16:12] dannyroosevelt commented on #3100
Copy/pasting from their block builder won't totally work for our Block input actually, but it's very close. It looks like their payload includes an outer key, which breaks our input, so users will have to first remove that.
[code]

[2022-06-09 16:12] dannyroosevelt commented on #3100
I think it's a great idea to more closely embed some type of this functionality in our Slack actions, I just need to think a bit more about how that'd work. I created an internal ticket so we can track this there as well.

[2022-06-09 16:23] vunguyenhung opened #3108 "[ACTION]"
**Is there a specific app this action is for?**
Linear - Get Issue by ID

**Please provide a link to the relevant API docs for the specific service / operation.**
Linear GraphQL Query: https://github.com/linear/linear/blob/master/packages/sdk/src/_generated_documents.graphql#L6361-L6368
I would like to have built in action that using the GraphQL query similar to the below custom code
![image](http

[2022-06-09 16:23] dylburger commented on #3108
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-09 16:24] vunguyenhung commented on #3086
@dannyroosevelt, I have created an issue here: https://github.com/PipedreamHQ/pipedream/issues/310 🙏

[2022-06-09 16:26] ctrlaltdylan commented on #3101
@michelle0927 good question. This is from a user report in the Slack. I'm not sure if it's configured for the naked domain for includes the protocol.

Which format is the component expecting?

[2022-06-09 16:29] michelle0927 commented on #3101
Since the instructions show leaving out the protocol, the components expect the url to be the naked domain.

[2022-06-09 16:51] dannyroosevelt commented on #3091
When you actually go through the auth process you'll see you enter username/password, which Pipedream then uses to request an access token from Verifalia.

Unfortunately these changes are not user-accessible today, but we plan to address that in the future. Until then, please let me know the changes you'd like to see here (or you can email `integrations@pipedream.com` with the details if you'd pre

[2022-06-09 16:54] dannyroosevelt commented on #3108
To the dev who works on this: make sure this follows the same structure as the other Linear actions, and supports both the `linear` and `linear_app` apps. For example: https://github.com/PipedreamHQ/pipedream/blob/master/components/linear/actions/create-issue/create-issue.mjs

[2022-06-09 16:55] dannyroosevelt commented on #3086
Thank you @vunguyenhung!

@lupionpe Let us know if you are unblocked for now and feel free to follow along with the above ticket.

[2022-06-09 18:12] dannyroosevelt commented on #3104
This is ready for release!

[2022-06-09 18:32] dannyroosevelt commented on #925
Yea I don't have context on this one but I'm working on finding out more.

[2022-06-09 18:38] #3104 closed, assigned to nobody

[2022-06-09 18:50] dylburger commented on #2676
This should be completed! Please let us know if you see any issues

[2022-06-09 18:50] #2676 closed

[2022-06-09 19:06] Shadder-1-5 opened #3111 "canvas"

[2022-06-09 19:25] dannyroosevelt opened #3112 "[BUG] When I delete an auth provision for a source that is tied to a workflow, the workflow then 404s when I open it"
This user may have encountered the same bug: https://pipedream-users.slack.com/archives/CPTJYRY5A/p1654730257845259

Here is my workflow in my personal acct: https://pipedream.com/@danny/log-closed-linear-tickets-to-gsheets-changelog-p_k2CaWjB/inspect

[2022-06-09 19:27] sergioeliot2039 commented on #3111
Hi @Shadder-1-5  , there is an integration already done for Canvas, https://pipedream.com/apps/canvas

But feel free to reopen if you are looking for a different app that incidentally has the same name.

[2022-06-09 19:27] #3111 closed

[2022-06-09 22:28] dannyroosevelt commented on #3062
This is ready for release!

[2022-06-10 00:09] dannyroosevelt opened #3114 "Refactor MySQL actions to use additionalProps to support dynamic columns"
App: `mysql`

Instead of users having to select columns and separately entering an array of values to map to those columns via a separate prop, we should render columns dynamically using additionalProps.

### Actions to update
- Create Row
- Update Row
- Any other actions that pull in columns, but I think that's all of them

[2022-06-10 08:32] vexersa opened #3116 "[BUG] Typo on Notion.so App Page"
**Describe the bug**
Small typo on Notion app description page:

"Query Databse..." should be "Query Database..."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://pipedream.com/apps/notion)
2. See error

**Expected behavior**
"Query Databse..." should be "Query Database..."

**Screenshots**
![image](https://user-images.githubusercontent.com/7994227/173025084-f626db29-9faf-4e72-

[2022-06-10 10:09] vexersa commented on #3095
@vunguyenhung

Both sites are v6.0

[2022-06-10 10:44] ecobisi commented on #3091
I am following up via email, thank you.

[2022-06-10 10:44] #3091 closed

[2022-06-10 12:02] zalmanlew commented on #3116
@vexersa you can actually create a pull request to fix it
https://github.com/PipedreamHQ/pipedream/blob/master/components/notion/actions/query-database/query-database.mjs

[2022-06-10 13:26] zalmanlew commented on #3016
@raphael1807 this is now implemented from #3083

[2022-06-10 13:46] dannyroosevelt commented on #1095
This is ready for release!

[2022-06-10 14:36] #3016 closed, assigned to nobody

[2022-06-10 15:05] dannyroosevelt commented on #1895
This is ready for release!

[2022-06-10 15:07] dylburger commented on #3116
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-10 15:09] #1895 closed

[2022-06-10 15:14] dannyroosevelt commented on #3037
This is ready for release!

[2022-06-10 15:24] #3037 closed

[2022-06-10 15:28] dannyroosevelt commented on #3080
This is ready for release!

[2022-06-10 15:31] #3080 closed

[2022-06-10 15:57] dannyroosevelt commented on #3116
Thanks for flagging, @vexersa, I just pushed out a quick patch for that.
![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/173105071-0fdfcb26-555c-4b99-a66e-9a7c656011b6.png)

[2022-06-10 15:57] #3116 closed

[2022-06-10 16:41] #1095 closed

[2022-06-10 17:36] dylburger commented on #3094
@ecobisi We were chatting a lot about this feature internally, and @casret shipped an MVP I'd love for you to try and give feedback on.

You can now call `$.flow.rerun` from within a step:

[code]

If you need to keep track of additional state between runs, the `context` argument (`{ hello: "world"}` passed to `$.flow.rerun`) is also exposed in `$.context.run` between runs.

The final argument to

[2022-06-10 18:05] ecobisi commented on #3094
Thank you, @dylburger and @casret - this looks promising!

I am trying it but can't have my component to resume correctly; there is a `TEST_HANDLE` thing in the `resume_url` which appears to be very suspicious to my eyes `https://api.pipedream.com/v1/sources/p_brCQdW8/resume/TEST_HANDLE`.

Am I missing something here or does the MVP need to be fully deployed somehow?

[2022-06-10 18:14] ecobisi commented on #3094
Okay - I have just noticed `resume_url` works only if the workflow is deployed. In test mode it doesn't and return the `TEST_HANDLE` mentioned above.

I will keep trying this new feature and share my feedback here. Many thanks, guys!

[2022-06-10 19:47] ecobisi commented on #3094
A great job overall, congrats @dylburger @casret and team!
Just a couple of things which I believe could be improved:

1. If `$.flow.rerun()` / `delay()` / `suspend()` is called there seems to be no way to abort the underlying suspension operation initiated by `pause()` and continue with the _normal_ flow, in the event a suspension in no more needed. Apparently, deleting `data.pause` should do the

[2022-06-10 19:57] zalmanlew commented on #2734
Just to add something I noticed, this happens as well when leaving to static response. Every time I open the workflow editor the status code is gone (and I need to enter it again).

[2022-06-10 20:07] dylburger opened #3123 "[FEATURE] Move Google Sheets example to docs / marketplace"
https://pipedream.com/docs/v1/examples/adding-rows-to-google-sheets/#changing-complex-data-to-the-row-format-expected-by-google-sheets

We should probably move this to the `google_sheets` component dir so it's exposed on the Marketplace, when we ship support for that.

[2022-06-10 20:13] dannyroosevelt commented on #2734
Yea thanks for the additional info. I was able to verify as well and we've added it to the team's backlog to address.

[2022-06-11 21:15] lcaresia commented on #3114
@michelle0927 Can you link the PR here? Thanks!

[2022-06-11 22:01] michelle0927 commented on #3114
https://github.com/PipedreamHQ/pipedream/pull/3122

[2022-06-11 23:29] dylburger commented on #3051
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-11 23:29] #3051 closed

[2022-06-11 23:29] dylburger commented on #3043
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-13 14:28] dannyroosevelt commented on #1303
This is ready for release!

[2022-06-13 14:47] #1303 closed

[2022-06-13 15:20] #3101 closed

[2022-06-13 15:34] dannyroosevelt commented on #1531
This is ready for release!

[2022-06-13 15:35] #1531 closed

[2022-06-13 16:04] alexander-mart opened #3129 "[BUG] clickup-update-task set watchers to task instead of assignees"
**Describe the bug**
`clickup-update-task` action set watchers to task instead of assignees.

https://github.com/PipedreamHQ/pipedream/blob/master/components/clickup/actions/update-task/update-task.mjs

**To Reproduce**
Steps to reproduce the behavior:
1. Add Clickup → Update Task action to workflow
2. Set `list_id`, `task_id` params
3. Set `assignees` param, for example:
[code]
4. Run workflow
5.

[2022-06-13 16:36] alexander-mart commented on #3129
This manual code works correctly:

[code]

[2022-06-13 16:42] ctrlaltdylan opened #3130 "[BUG] Google Drive - Replace File still on v0.0.4 instead of v0.0.5"
**Describe the bug**
The latest Google Drive fixes were not released after they were merged:

<img width="873" alt="CleanShot 2022-06-13 at 12 41 25@2x" src="https://user-images.githubusercontent.com/2694734/173403015-69246ff0-77be-407c-81ac-dca12163a5a1.png">

They should have been updated to `v0.0.5` with this PR merge:

https://github.com/PipedreamHQ/pipedream/pull/3090

@vellames-turing can yo

[2022-06-13 17:05] vellames-turing commented on #3130
Humm, I just updated the `upload-file`. I will do the same for `replace-file`

[2022-06-13 17:19] alexander-mart commented on #3129
:thinking:  May be it is bug on Clickup server side?
Manual code isn't always works :(

[2022-06-13 17:48] dannyroosevelt commented on #3043
### Triggers
- New Task
- Updated Task
- Completed Task

### Actions
- Create Task
- Update Task
- Complete Task

[2022-06-13 20:00] luancazarine commented on #889
@dylburger I saw that there are two discord apps, which one should I use for this source?

[2022-06-13 20:24] dylburger commented on #889
Can you actually coordinate with @dannyroosevelt ? We're making some changes to our Discord apps and I want to make sure he gives you the correct answer.

[2022-06-13 20:29] julian-techzip opened #3134 "[BUG] Salesforce API 20.0 is retired; some Salesforce REST actions are using it"
**Describe the bug**

Salesforce has retired version 20 of their API.  Some Salesforce REST actions, such as "Create Record", still use it:
components/salesforce_rest_api/actions/salesforce-create-record/salesforce-create-record.mjs

Salesforce supports versions 31 and up now.

https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/api_rest_eol.htm

**To Reproduce**
Steps to repr

[2022-06-13 20:31] #3134 closed

[2022-06-13 20:38] julian-techzip commented on #2283
Summer comes early from Salesforce!  v20 endpoints are now busted.

I swapped in v55.0 and rest calls worked fine on the endpoints I used with the "run any API" action.

[2022-06-13 22:04] nxndps opened #3135 "Dialpad"
**Dialpad API**

[**Dialpad Developer Reference**](https://developers.dialpad.com/reference)

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I have a workaround and can write directly however an integration would allow for better authentication support.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here o

[2022-06-13 22:12] #2665 closed

[2022-06-13 22:16] dannyroosevelt opened #3136 "[APP] Render"
**Name of app / service**
Render

**Link to developer documentation**
https://render.com/docs/api

[2022-06-13 22:38] dannyroosevelt commented on #3135
Thanks for submitting the request! It looks like you're reaching out on behalf of Dialpad, is that right? I just submitted a request for an OAuth app, are you able to get that approved?

Then we can get you unblocked to publish built-in actions and triggers for the community if you're interested.

[2022-06-13 23:29] dylburger commented on #3033
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-13 23:29] #3033 closed

[2022-06-13 23:29] dylburger commented on #2981
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-13 23:34] Hassan-Abbas-SQA commented on #1023
@michelle0927 can you please help me find out whats the issue?
![image](https://user-images.githubusercontent.com/104946677/173464266-3bc81b8c-3ce8-4281-b4d5-8939bf7c3a92.png)

[2022-06-13 23:59] sergioeliot2039 commented on #1023
i bet @michelle0927 could extend more, but essentially, that error says the data for possible options on prop `team` is incorrect. maybe check "Props" on the components api documentation https://pipedream.com/docs/v1/components/api/#props

[2022-06-14 00:01] dannyroosevelt commented on #889
Actually I see this source: https://github.com/PipedreamHQ/pipedream/blob/master/components/discord_bot/sources/new-guild-member/new-guild-member.mjs

But it isn't published:
https://pipedream.com/apps/discord-bot#popular-discord-bot-triggers

I'm looking into this.

[2022-06-14 00:16] weirdalsuperfan opened #3137 "[APP] Toggl Track"
**Name of app / service**

Toggl

**Link to developer documentation**

https://github.com/toggl/toggl_api_docs

**Is lack of support preventing you from building workflows, or do you have a workaround?**

Lack of support is preventing me from building workflows

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue te

[2022-06-14 01:00] pdapikey commented on #3137
Hi @weirdalsuperfan  , there is an integration already done for Toggl Track, see https://pipedream.com/apps/toggl
Note that the Toggl app on the App Store points to Toggl Track endpoints.

@dannyroosevelt Perhaps we should rename this app on the App Store -- Toggl was rebranded to Toggl, see this blog post from the parent company Trackhttps://toggl.com/blog/toggl-rebrand-toggltrack

[2022-06-14 01:37] michelle0927 commented on #1023
I can look into it more tomorrow, but I wonder if it could have to do with the type of account. The Microsoft Teams API only works for paid or developer accounts, not regular free accounts. If it is a developer account you're using, maybe try reconnecting the account in Pipedream? There were some scopes recently added.

[2022-06-14 01:38] weirdalsuperfan commented on #3137
@pdapikey I see...how can I set up triggers to listen for events from Toggl with that? I searched for Toggl under "sources" and it didn't show up. When I try to use the app you linked it starts a draft of a workflow, but it still requires a trigger.

[2022-06-14 02:20] sergioeliot2039 commented on #3137
Thanks for the context.

There are webhooks documentation at Toogl API reference.
Are you able to add the webhook you need to Toogl? If so, [this quickstart](https://pipedream.com/docs/quickstart/#add-an-http-webhook-trigger) should point you in the right direction to set that up.

Btw this is the same user as `pdapikey`,

[2022-06-14 02:37] sergioeliot2039 opened #3138 "[TRIGGER AND ACTION] Toggl"
App: toggl
https://github.com/toggl/toggl_api_docs
https://github.com/toggl/toggl_api_docs/blob/master/webhooks.md

**Triggers**
New time entry
Time entry started
Time entry updated

**Actions**
Get running time entry
Get time entry details
Get time entries

[2022-06-14 02:39] sergioeliot2039 commented on #3137
We'll also add a ticket to the team's backlog to develop built-in triggers for Toggl so you can enable this more easily moving forward. You can [track that work here](https://github.com/PipedreamHQ/pipedream/issues/3138)

[2022-06-14 07:12] Hassan-Abbas-SQA commented on #1023
@michelle0927 thanks for letting me know iam currently using the free account I'll give it a try with developer account

[2022-06-14 09:25] Hassan-Abbas-SQA commented on #1023
@michelle0927 All of the Triggers works perfectly fine, just need minor change in the description of "new-team-member" it is "Emit new event when a new channel is created within a team" it should be "Emit new event when a new member is added to the channel within a team"

[2022-06-14 11:36] Clausinho opened #3139 "[BUG] Wordpress.org create user action fails when role is specified"
**Describe the bug**
Whenever I try to add a role to the specific wordpress "create user" step, I get an error.
Whenever I do not fill out the role, it works. It also fails, when the array is equal to "".

(the error message is never expanded though, i.e. if the user already exists)
**To Reproduce**
Steps to reproduce the behavior:
1. add a new wordpress "create_user" action
2. Fill out the requir

[2022-06-14 13:26] ctrlaltdylan opened #3140 "MySQL authentication instructions reference a broken link"
**Describe the bug**
The MySQL authentication instructions reference a broken link:

https://dev.mysql.com/doc/connectors/en/apis-php-mysqli.quickstart.html

![Screenshot 2022-06-13 at 15 12 39](https://user-images.githubusercontent.com/2694734/173588330-9a60c746-b4f0-4ead-b4da-c97be8404e3a.png)

** Context **

https://pipedream-users.slack.com/archives/CN1BUB92B/p1655154776428349?thread_ts=165419

[2022-06-14 14:47] alysonturing commented on #2801
I tried to register myself to their platform and it wasn't possible, so I tried through the developer partnership program but they didn't provided me an account to get access to their API

[2022-06-14 15:52] dannyroosevelt commented on #889
Confirming this is done: https://pipedream.com/apps/discord-bot/triggers/new-guild-member

[2022-06-14 15:52] #889 closed

[2022-06-14 16:28] michelle0927 commented on #1023
@Hassan-Abbas-SQA Oops. 😄 I updated the description with this commit - https://github.com/PipedreamHQ/pipedream/pull/3078/commits/bea9ba56cdf069b7f9f81ef9c8c14c2ce585ed7a

[2022-06-14 16:40] dannyroosevelt commented on #1023
This is ready for release!

[2022-06-14 16:44] Hassan-Abbas-SQA commented on #1086
@dylburger no description added?

[2022-06-14 16:54] #1023 closed

[2022-06-14 17:00] dannyroosevelt commented on #803
This is ready for release!

[2022-06-14 17:01] #803 closed

[2022-06-14 17:22] andrewjschuang opened #3144 "[FEATURE] automatic logging in this.$emit calls"
This ticket should address #3 in https://github.com/PipedreamHQ/pipedream/issues/3005.

Adding a `debug = true` param in `$emit` should resolve this.

[2022-06-14 18:23] dannyroosevelt commented on #865
This is ready for release!

[2022-06-14 18:40] #865 closed

[2022-06-14 19:53] dannyroosevelt commented on #3135
@nxndps thanks -- I sent a follow up re: refresh logic to Gabriel over email (not sure if that's you or not). Other than that the integration is live: https://pipedream.com/apps/dialpad

Is your team interested in developing built-in triggers and actions so customers can use Dialpad without have to write code? If so, this is the best place to get started: https://pipedream.com/docs/components/#dev

[2022-06-14 20:03] Childishooddreamzzz opened #3145 "Wayback donation"
https://github.com/matter-labs/zksync-dapp-checkout/commit/e45ebac4ae8b862c7ce579d5762d9190e29bf94a

[2022-06-14 20:04] Childishooddreamzzz commented on #3145
Right place?

[2022-06-14 20:05] #3145 closed

[2022-06-14 20:08] dannyroosevelt commented on #3140
@ctrlaltdylan any idea what a good link be to help users connect their MySQL creds? We can update that in the /admin/apps UI.

[2022-06-14 22:26] js07 opened #3148 "[TRIGGERS] Slack: new & updated components"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
Slack

New Sources:
- **New Mention** | Triggers when a username or specific word is mentioned in a channel.
- **New Saved Message** | Triggers when you save a message.
- **New Reaction Added** | Triggers when a reaction is added to a message in a channel.
- **New Direct Message**: Triggers on new D

[2022-06-14 22:30] js07 commented on #1010
I created a separate issue, https://github.com/PipedreamHQ/pipedream/issues/3148, to support a subset of these sources which should be unblocked.

[2022-06-14 22:42] nxndps commented on #3135
I will follow up with the team internally from here but yes, having something simple for customers is a goal. The CLI works for this as well. Thanks for the pointer.

[2022-06-14 22:42] #3135 closed

[2022-06-14 23:07] dannyroosevelt opened #3149 "[Triggers] Dialpad"
**Is there a specific app this action is for?**
`dialpad`

**Please provide a link to the relevant API docs for the specific service / operation.**
https://developers.dialpad.com/docs

### Triggers
- Updates to contact
- New contact created
- New call
- New SMS

### Actions
- ?

[2022-06-14 23:29] dylburger commented on #3074
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-14 23:29] dylburger commented on #2914
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-14 23:29] #2914 closed

[2022-06-14 23:29] dylburger commented on #104
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-15 02:30] dylburger opened #3151 "[FEATURE] Cancel delay / suspension and proceed with normal flow"
Currently `$.flow.{delay,rerun,suspend}` provide a `resume_url` and `cancel_url`, but we also need a way to resume the underlying execution, in the event that a suspension is no longer needed. See https://github.com/PipedreamHQ/pipedream/issues/3094#issuecomment-1152679868

[2022-06-15 02:34] dylburger commented on #3094
@ecobisi I hear you on the use case. I'm tracking \#1 in a separate ticket at https://github.com/PipedreamHQ/pipedream/issues/3151 .

Are you seeing a total end-to-end time of 20 seconds between the HTTP request to the `resume_url` and the time the workflow resumes? Do you see this behavior on a new workflow? i.e. do you have a specific case where we can reproduce the behavior?

[2022-06-15 06:56] #3071 closed

[2022-06-15 10:16] dannyroosevelt commented on #3006
This is ready for release!

[2022-06-15 11:41] #976 closed

[2022-06-15 14:26] #3006 closed

[2022-06-15 14:38] andrewjschuang commented on #3006
@valendinks @nirurin [these are the updates](https://github.com/PipedreamHQ/pipedream/pull/3126) to the Notion actions, including a new **Create Page From Database** that should solve your issue.

All defined database properties can be selected through the UI.
We currently support **To Do** and **Paragraph** children block types only, so if you need specific ones for your workflow you can [request

[2022-06-15 15:15] lcaresia commented on #1513
Added a action `search-post`, need test too.

[2022-06-15 15:46] dannyroosevelt commented on #1474
This is ready for release!

[2022-06-15 15:55] vunguyenhung opened #3157 "Salesforce new actions and refactor"
**Is there a specific app this action is for?**
Salesforce (REST API)

**Please provide a link to the relevant API docs for the specific service / operation.**
## Action
- [Post a Message to Chatter Feed](https://developer.salesforce.com/docs/atlas.en-us.chatterapi.meta/chatterapi/quickreference_post_feed_item.htm)
- [Add Lead to Campaign](https://salesforce.stackexchange.com/a/55419)
- [Add Conta

[2022-06-15 15:55] dylburger commented on #3157
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-15 16:25] dylburger opened #3159 "Describe the use cases for variables scoped outside of components / handlers"

[2022-06-15 16:55] Hassan-Abbas-SQA commented on #3129
@alexander-mart Hello i was trying to reproduce that bug but seems like i can’t get the list of tasks see the screenshots below
![image](https://user-images.githubusercontent.com/104946677/173883279-fed8b597-40ac-4d85-be40-6ac553e64f8b.png)
![image](https://user-images.githubusercontent.com/104946677/173883315-544d2233-8568-4b95-abad-c78a74b89cbc.png)

[2022-06-15 16:57] grillinmuffins opened #3160 "[BUG] Webflow collection actions (get collections, get collection items, etc) returns "No Matching Options""
**Describe the bug**
Though I have a published CMS site with a published CMS collection with items, the step configuration says there are "No matching options"

**To Reproduce**
Steps to reproduce the behavior:
1. Connect webflow account
2. Create any action that includes collections or collection items
3. Try to select the collection in the action step
4. See "no matching options"

**Expected beh

[2022-06-15 17:25] TheBestMoshe opened #3161 "[BUG] Internal test"
This is an internal test for a Pipedream workflow 🔥

[2022-06-15 17:26] #3161 closed, assigned to nobody

[2022-06-15 18:21] marcelocecin opened #3163 "[APP] Automa"
**Name of app / service**
Automa

**Link to developer documentation**
https://docs.automa.site

**Is lack of support preventing you from building workflows, or do you have a workaround?**
https://zapier.com/apps/zapier-chrome-extension/integrations
https://community.zapier.com/product-updates/introducing-the-updated-zapier-chrome-extension-7104

**Are there specific actions, or triggers, you'd lik

[2022-06-15 19:19] Hassan-Abbas-SQA commented on #3129
@dannyroosevelt confirmed the bug user was facing ,Assignees ids set to task watchers, not assignees as expected.
![image](https://user-images.githubusercontent.com/104946677/173907263-816425f0-49de-4057-84b2-b53331aaafa8.png)

[2022-06-15 20:08] dannyroosevelt commented on #2283
Closed by https://github.com/PipedreamHQ/pipedream/pull/2764

[2022-06-15 20:08] #2283 closed

[2022-06-15 21:17] CarefulCrab opened #3164 "When new Twitch clip is created, post message to Discord channel."
Hi I would like to request a function that posts a message to Discord channels whenever a new clip is created for the Twitch channel specified by the user. Thank you.

[2022-06-15 22:15] dannyroosevelt commented on #2734
@zalmanlew both of these issues should now be fixed! Please let me know if you run into either issue again.

[2022-06-15 22:15] #2734 closed

[2022-06-15 23:21] Hassan-Abbas-SQA commented on #3130
@vellames-turing this error came when i set upload_type to media but rest of the options worked fine
![image](https://user-images.githubusercontent.com/104946677/173958055-ea6a0560-d87b-48ec-9061-4e126b55ab69.png)

[2022-06-16 04:20] dylburger opened #3166 "Document Raw HTTP format / `steps.trigger.raw_event`"

[2022-06-16 06:51] DilanAthukorala commented on #3108
Verification Completed

[2022-06-16 06:52] dannyroosevelt commented on #3108
This is ready for release!

[2022-06-16 07:33] dannyroosevelt commented on #1551
This is ready for release!

[2022-06-16 14:16] dannyroosevelt commented on #2874
This is ready for release!

[2022-06-16 15:06] ctrlaltdylan commented on #3140
Ah ok, I didn't see this content in the admin apps, but I also expected it to be longer than a sentence.

I think the MySQL documentation is actually pretty terrible.

I think we can write our own:

[2022-06-16 15:11] dannyroosevelt commented on #2808
This is ready for release!

[2022-06-16 15:38] #2808 closed

[2022-06-16 15:42] dannyroosevelt commented on #3140
Updated. Feel free to make any changes you want!

[2022-06-16 15:42] #3140 closed

[2022-06-16 16:02] cfjedimaster opened #3168 "[FEATURE] Support making workflow attachments web accessible"
**Is your feature request related to a problem? Please describe.**
Imagine I've got a HTTP workflow that's meant to be an API used by web sites. If I want to put a web front end to it, I need to either:

a) modify the workflow to look for something in the request to know when to respond with HTML versus the API
b) make a new workflow just for the html (or use another service)

**Describe the solut

[2022-06-16 17:10] SamirTalwar commented on #2910
Looks like it's still broken on my end. It worked last week but not this one.

[2022-06-16 17:32] dylburger commented on #2910
@SamirTalwar is it still emitting events in the wrong order, or are you seeing some different behavior? Do you have example logs / items that aren't emitted correctly?

And just to confirm, is it still on [this feed](https://monospacedmonologues.com/index.xml)?

[2022-06-16 17:37] Hassan-Abbas-SQA commented on #2910
@SamirTalwar have you tried creating new source? tried with different browsers like Safari, Chrome, Firefox? can you please try that and let us know if you still see the error and share logs with us and some more informative stuff would be very helpful

[2022-06-16 18:34] SamirTalwar commented on #2910
I have tried deleting and recreating the source, both on 9th June and just now. However, it clearly hasn't worked; I am not seeing the changes to _rss.app.ts_ from #3084. Are these changes actually deployed?

Recreating the source has made the latest item show up, but it seems to be fairly random.

I appreciate that you folks need some input but don't you have access to the logs already? The feed

[2022-06-16 18:35] SamirTalwar commented on #2910
(I haven't tried with different browsers but I cannot see how this would be relevant to getting the correct version of the RSS source.)

[2022-06-16 19:04] dylburger commented on #2910
@SamirTalwar It wasn't clear to me that this was on the same workflow. We deal with many support issues and are constantly jumping in and out of context, so we may not get it right every time. I appreciate the patience as we investigate!

The new source indeed was not published. We're re-publishing now and working on a better way to catch these cases in the future! I'll test once it's out, and you

[2022-06-16 19:29] Hassan-Abbas-SQA commented on #1422
@michelle0927 we should show user's name in the Chat Prop instead of conversation id
![image](https://user-images.githubusercontent.com/104946677/174149665-edf8b055-9e34-4242-95bc-3b0aa7bcd5d0.png)

[2022-06-16 19:40] dannyroosevelt opened #3170 "[Enhancement] Improve visibility for component publishing successes and failures"
We need to fix the workflow that alerts the team when we publish new components to the registry. Specifically, we need to solve these problems:
- Alert the user who merged the PR and on-call PR reviewer when a component failed to publish (and why)
- Alert the Pipedream team whenever any new component is successfully published to the registry
- Let the community know when we publish new components

[2022-06-16 20:19] dannyroosevelt commented on #866
This is ready for release!

[2022-06-16 21:36] #866 closed

[2022-06-16 21:37] lcaresia commented on #1430
@Hassan-Abbas-SQA I made some updates, you can teste the New Mention trigger, about the `new-organization` trigger you can skip for now.

[More context here](https://github.com/PipedreamHQ/pipedream/pull/2938)

[2022-06-16 22:40] Hassan-Abbas-SQA commented on #1890
@RishTheFish21  i have created a youtube channel with Turing account and then i subscribed it with my personal youtube account which has a proper channel and maintained with some videos and trigger catch that subscriber but when i tried with different person’s accounts that does not have youtube channels trigger is not catching them , 5 users subscribed to my channel but trigger got only one which

[2022-06-16 22:48] bush4u commented on #3043
I changed the status to blocked because $auth did not return the access_token.

[2022-06-16 23:02] bush4u commented on #3043
I was able to get the issue rsolved

[2022-06-16 23:29] dylburger commented on #3100
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-16 23:29] dylburger commented on #3086
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-16 23:29] #3086 closed

[2022-06-16 23:36] dannyroosevelt commented on #3043
What was the issue?

[2022-06-16 23:46] bush4u commented on #3043
The mistake came from me actually. I was referencing the wrong keys in $auth. All is good at the moment

[2022-06-17 00:07] Hassan-Abbas-SQA commented on #3164
@CarefulCrab sir we already have twitch triggers as you can see in the screenshot below and we also have the discord actions to send message to discord channel, you can use combination of this trigger and action to accomplish your task, let me know if this helps
<img width="1213" alt="image" src="https://user-images.githubusercontent.com/104946677/174197351-d7f37f8c-852c-4080-8dfb-ebce9a265574.png

[2022-06-17 00:24] Hassan-Abbas-SQA commented on #3160
@grillinmuffins this issue has been confirmed from QA Team iam moving this issue to project backlog soon a developer pick this up and start fixing this issue
<img width="1016" alt="image" src="https://user-images.githubusercontent.com/104946677/174198837-bd9d1eff-28ce-4da2-abed-6fcfd54bc34e.png">

[2022-06-17 00:38] dylburger commented on #3040
We've added this issue to our backlog. You can follow this issue for updates!

[2022-06-17 02:20] dylburger opened #3172 "How do I run a workflow to poll the status of an API more than once every 15 seconds?"

[2022-06-17 02:32] vellames-turing commented on #1890
I had the same problem, I have 253 subscribers and youtube data API just returned 99. I tested directly on Youtube Data API and I had the same results. Looks like this is the default behavior. @Hassan-Abbas-SQA Probably youtube just count other youtube channels as you said, nice catch!

[2022-06-17 07:11] vunguyenhung opened #3173 "[BUG] Salesforce (REST API) shows duplicated actions"
**Describe the bug**
Per user reported [here](https://pipedream-users.slack.com/archives/CPTJYRY5A/p1655444011189639), there are 2 duplicated "Update Record" Salesforce (REST API) action. I'm able to reproduce the bug on my side.

![Screen Shot 2022-06-17 at 14 07 10](https://user-images.githubusercontent.com/18277920/174244648-d28c054e-ce6b-42fe-9b83-7cdc0ef529ba.png)

Checking the latest code, I

[2022-06-17 07:12] u007 opened #3174 "[FEATURE] postgresql custom query to find row"
**Is your feature request related to a problem? Please describe.**

missing postgresql custom query to lookup data

**Describe the solution you'd like**
find a row in postgresql works, but it only allow single field. there should allow multiple condition. this is another feature request

**Do you have a workaround?**
no work around, abandoned the idea on pipedream

**Comparable features in other t

[2022-06-17 10:41] dannyroosevelt commented on #1890
This is ready for release!

[2022-06-17 11:50] dannyroosevelt commented on #3114
This is ready for release!

[2022-06-17 12:30] vellames-turing commented on #1890
/approve

[2022-06-17 12:55] vellames-turing commented on #2679
@ctrlaltdylan Looks like this is already fixed, right?

[2022-06-17 13:24] vunguyenhung commented on #753
Sorry @dannyroosevelt @jcortes, I missed your messages 24 days ago. Since @jcortes has implemented remaining actions and link to this issue so I will use this issue to track 🙏. I will keep track of the notifications better next time

[2022-06-17 14:01] anondev-sudo opened #3176 "[BUG] HTTP request error"
I want to make workflow on pipedream to schedule github action using workflow dispatch, but I am getting error.

I used custom_request for it

![image](https://user-images.githubusercontent.com/85408287/174313358-cbf60d19-cc3f-4b60-8fff-b11b198228e4.png)

[2022-06-17 14:16] vellames-turing commented on #3130
@Hassan-Abbas-SQA Could you please try again with the recent fix? Thanks

[2022-06-17 15:48] #3114 closed

[2022-06-17 15:49] dannyroosevelt commented on #3176
@anondev-sudo I think the endpoint you're using probably needs to be `https://api.github.com` instead of `https://github.com`, since that is the web URL, which looks like it's expecting to handle authentication via cookies.

Let me know if that works!

[2022-06-17 16:03] vunguyenhung commented on #2981
Hello @raphaelvarieras, we will ship this Zoom Phone component first for you to use.

During your usage, if you have any issue, kindly ping us directly on Pipedream Users Slack @Leo, or create a new issue on this repo. Many thanks!

cc @dannyroosevelt

[2022-06-17 16:04] dannyroosevelt commented on #2981
This is ready for release!

[2022-06-17 16:07] #2981 closed

[2022-06-17 16:12] #3173 closed

[2022-06-17 16:17] dylburger commented on #3112
This should be completed! Please let us know if you see any issues

[2022-06-17 16:17] #3112 closed

[2022-06-17 17:30] cfjedimaster opened #3178 "[FEATURE] Enable custom resume requests"
**Is your feature request related to a problem? Please describe.**
Based on the just announced pause/suspend features, I asked on Slack what it looked like when you resume a workflow. Danny shared this picture:

![image](https://user-images.githubusercontent.com/393660/174348788-8320aa68-a17a-4d48-b4b0-eeff6e6ad680.png)

While this works, I can see folks needing nicer UI/messages/etc for workflows

[2022-06-17 18:36] dannyroosevelt commented on #3130
This is ready for release!

[2022-06-17 19:12] dannyroosevelt commented on #1422
This is ready for release!

[2022-06-17 19:16] vellames-turing commented on #3130
/approve

[2022-06-17 19:20] #1422 closed

[2022-06-17 20:03] dannyroosevelt commented on #158
@marcoaleixo we finally shipped the actions and triggers for Microsoft Teams! Check them out here:
https://pipedream.com/apps/microsoft-teams

[2022-06-17 20:03] #158 closed

[2022-06-17 20:22] dannyroosevelt commented on #3163
@marcelocecin can you tell me more about your use case, so that we can figure out how Automa would fit in?

[2022-06-17 20:22] #1551 closed

[2022-06-17 20:39] bush4u commented on #3157
/approve

[2022-06-17 20:40] #3157 closed

[2022-06-17 20:50] bush4u commented on #3157
/approve

[2022-06-17 20:50] bush4u commented on #3157
Version error fixed

[2022-06-17 21:39] bush4u commented on #3043
@dannyroosevelt , I need your help with the source tasks
New Task
Updated Task
Completed Task

TickTick does not have webhook APIs making the Source type, polling.

However, I cannot see an API on ticktick to get all tasks.
I am done with the action tasks. Can I go ahead and open a PR?

[2022-06-17 22:08] dannyroosevelt commented on #3043
Yea sounds good @bush4u, thanks

[2022-06-17 22:46] CarefulCrab commented on #3164
Sorry, what I mentioned was that I was looking for a function that sends a message to a Discord channel whenever a new clip is generated by any user on a specific **channel**. In your screenshot containing the "New Clips" option, it says that it "Emits an event when there is a new clip for the **specified GAME**", not specified **CHANNEL**. So I assume the that function is not precisely what I'm l

[2022-06-17 22:56] douglassjohnandrew commented on #2914
Apologies for the late response, I don't know why Github doesn't inform me when someone comments on my issue. Your data stores solution would work great for me, I would have never thought of that myself!

It's really kind of incredible that Pipedream/you let us provide feedback like this, and it's very much appreciated. Keep doing what you do!

[2022-06-18 13:26] anondev-sudo commented on #3176
![image](https://user-images.githubusercontent.com/85408287/174439763-571bb708-10ba-43ac-9bd4-954c265f0875.png)
Not really

[2022-06-18 16:10] dannyroosevelt opened #3182 "[FEATURE] I want to rename existing Data Stores"

[2022-06-18 16:22] dannyroosevelt commented on #3176
That message is coming from GitHub's API and seems to indicate an issue with the URL. Can you share the full URL you're using to make a request? Or you can enable the workflow to share with Support (click the 3 dots at the top right of your workflow, open Settings, then enable the "Support" toggle) and paste the workflow URL here, so we can take a closer look.

[2022-06-18 16:44] ecobisi commented on #3094
@dylburger I believe that was a transient issue which I can't replicate anymore, possibly on my own testing code. I have retried several times so far and everything appears to be super fast.

Thanks!

[2022-06-18 18:00] anondev-sudo commented on #3176
Post to `https://github.com/user/repo-name/dispatches/` and  `https://api.github.com/user/repo-name/dispatches/`

[2022-06-18 21:16] Hassan-Abbas-SQA opened #3184 "[Trigger] New Twitch trigger whenever a new clip is created for the Twitch channel specified by the user"
Request For a New Trigger : Emit an event whenever a new clip is created for the Twitch channel specified by the user.

[2022-06-18 21:18] Hassan-Abbas-SQA commented on #3164
Hi i have requested on your behalf for the new trigger that you needed here is the ticket link https://github.com/PipedreamHQ/pipedream/issues/3184 you can track of its status

[2022-06-18 21:18] #3164 closed

[2022-06-18 23:11] dylburger commented on #3094
Great, thanks for confirming! Let us know if you see it again.

[2022-06-18 23:11] #3094 closed

[2022-06-19 08:13] fawaf opened #3185 "[ACTION] twitter follow"
**Is there a specific app this action is for?** twitter

**Please provide a link to the relevant API docs for the specific service / operation.**
https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/follow-search-get-users/api-reference/post-friendships-create

[2022-06-19 12:49] joelharrison opened #3186 "WhatsApp"
I want to build a bridge between chat apps like WhatsApp and my project management app BASECAMP so I don’t have to retrain my people on where to have conversations

[2022-06-19 15:45] ecobisi opened #3187 "[BUG] The word "require" in string literals and comments causes Node code steps to throw in test mode and the Pipedream API to return an HTTP 500 status code upon publishing"
**Describe the bug**
There seems to be an issue with the regexp which performs the automatic import of dependencies for components and Node code steps, as it throws whenever it finds the word "require" in the source, no matter if it is in a comment section or in a string literal.

**To Reproduce**
*Steps to reproduce the behavior in the workflow designer (scenario 1)*:
1. Create a Node code step;

[2022-06-19 15:50] Defozo opened #3188 "[BUG] Can't add event to Google Calendar with date formatted like this: "2022-06-19T15:43:47.274Z""
**Describe the bug**
I can't add event to Google Calendar with the date: "2022-06-19T15:43:47.274Z".

**To Reproduce**
Steps to reproduce the behavior:
1. Create a pipe with Google Calendar as action.
2. Select Create Event.
3. Put "2022-06-19T15:43:47.274Z" into Event Date and Event End Date.
4. See the error

**Expected behavior**
I wanted to have created an event in Google Calendar that lasts 0

[2022-06-19 18:57] sergioeliot2039 commented on #3186
Hi @joelharrison, thanks for the request! We have this already in our backlog, please follow up here for notifications, if you'd like https://github.com/PipedreamHQ/pipedream/issues/2896

As of BASECAMP, you might have seen already our integration at https://pipedream.com/apps/basecamp

There are a few unofficial WhatsApp chat apps available for example:
Chat API for WhatsApp -- https://pipedream.

[2022-06-19 18:57] #3186 closed

[2022-06-19 22:08] daniellangnet commented on #2169
Definitely needed in v2, but should also be good for Pipedream's organic growth

[2022-06-20 06:59] dannyroosevelt commented on #1138
This is ready for release!

[2022-06-20 07:24] vexersa commented on #3095
Thanks for the update let me see if I am able to replicate.

On Mon, 13 Jun 2022 at 15:36, Leo ***@***.***> wrote:

[2022-06-20 07:38] dannyroosevelt commented on #791
This is ready for release!

[2022-06-20 07:48] dannyroosevelt commented on #1423
This is ready for release!

[2022-06-20 10:26] ajedwards opened #3190 "[APP] Aircall"
**Name of app / service**

Aircall

**Link to developer documentation**

https://developer.aircall.io/api-references/

[2022-06-20 10:55] TapioPM opened #3191 "[BUG] with template for upload CSV"
**Describe the bug**
CSV upload. Quand on download le csv pour "city" => bug dans les propositions de choix du driver. Agriculture, Forestery and Other Land Use (AFOLU) est déparé en  "Forestery and Other Land Use (AFOLU) et Agriculture"
**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'Upload csv'
2. Click on 'Download template'
3. Open excel
4. try to select driver

**Screenshots**
![

[2022-06-20 12:50] vellames-turing commented on #3184
I notice the twitch is using default `axios`. I will change to pipedream axios, so we need to retest it, but in the end, this app will be totally up to date with our patterns.
Cc: @dannyroosevelt

[2022-06-20 14:13] #1138 closed

[2022-06-20 14:39] alysonturing commented on #2910
Just opened a new PR adding support for JSON Feed URLS, and also fixing the sorting on RSS sources, it should help the issues pointed here.
https://github.com/PipedreamHQ/pipedream/pull/3192

[2022-06-20 14:43] alysonturing commented on #1603
@todsac gave me access to a new account, this issue is not blocked anymore

[2022-06-20 14:52] #1423 closed

[2022-06-20 15:59] #1890 closed

[2022-06-20 16:33] dylburger commented on #3185
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-20 16:45] DilanAthukorala commented on #3188
@Defozo I am able to reproduce this issue - unable to create event with UTC date time format.

[2022-06-20 16:46] dylburger commented on #3174
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-20 16:49] #2964 closed

[2022-06-20 16:50] dylburger commented on #3191
@TapioPM This doesn't look like a bug report for https://pipedream.com, so I'm closing! Let me know if you have a specific issue with Pipedream that we can look into for you

[2022-06-20 16:50] #3191 closed

[2022-06-20 16:56] DilanAthukorala commented on #3187
@ecobisi I am able to reproduce this issue.

[2022-06-20 17:01] #791 closed

[2022-06-20 18:02] vellames-turing commented on #3184
As far as I researched, unfortunately, twitch has no native [webhook](https://dev.twitch.tv/docs/cli/event-command) for this. The only way would be using the [get clips endpont](https://dev.twitch.tv/docs/api/reference#get-clips). The problem with this endpoint is that the clips are returned in order of most viewed and I did not find a way to order by newest.
The solution I have in my mind would b

[2022-06-20 19:31] ecobisi commented on #3151
As a workaround which has some limitations - most notably the fact that the workflow editor does not (yet?) support flow suspensions properly - one could just issue a POST against `resume_url` and simulate a callback request.

[2022-06-20 20:43] dylburger commented on #3188
Thanks for the request @Defozo . I've added this to the backlog for the team to take a look at.

[2022-06-20 22:15] Hassan-Abbas-SQA commented on #3043
@bush4u on Create New Task Action : i have provided the start and the end date but seems like dates were not setup with the new task, task is in no date section
<img width="964" alt="image" src="https://user-images.githubusercontent.com/104946677/174683594-0ee95786-7ef1-4f78-9fa4-713977c0f9d8.png">
<img width="627" alt="image" src="https://user-images.githubusercontent.com/104946677/174683629-8bd6

[2022-06-21 00:38] dylburger commented on #3042
We've added this issue to our backlog. You can follow this issue for updates!

[2022-06-21 05:06] dylburger commented on #3174
That’s a very interesting idea. Not today. All contributions are open source and available to all Pipedream users.

[2022-06-21 08:10] dannyroosevelt commented on #1342
This is ready for release!

[2022-06-21 08:17] vunguyenhung commented on #864
Hello @todsac, as discussed with @dannyroosevelt, we agree to ship this Lusha component first for customer to use, then monitor if any customer faced any issue. Then if there's a bug then we can have a paid account to investigate.

cc @lcaresia @jcortes

[2022-06-21 08:18] dannyroosevelt commented on #864
This is ready for release!

[2022-06-21 08:31] veli-gasparovic opened #3198 "[BUG] Cannot remove "Create single record" Airtable fields"
The new Airtable integration automatically pulls all the fields from the selected table, but I cannot find a way to remove/disable some. Some Airtable fields can be automatically generated (e.g. Created At) so calling the API even with those set to EMPTY generates an error.

[2022-06-21 12:45] #1342 closed

[2022-06-21 13:31] ghost opened #3201 "Octoparse"
**Name of app / service**
Octoparse
**Link to developer documentation**
https://openapi.octoparse.com/en-US/
**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**
When a new set of data i

[2022-06-21 13:34] ctrlaltdylan commented on #3062
@vellames-turing hoping they will! I've asked them in the community forum for an example, hopefully we can get one or at least they can describe the exact size so we can reproduce.

[2022-06-21 14:17] ctrlaltdylan commented on #3062
@vellames-turing , @noahlocke-uw describes the file as ~7.5 megabytes and it's a CSV file.

https://pipedream.com/community/t/google-drive-replace-file-uploadtype-param/2551/12

Sounds like it's private data, but I think any file over 5 megabytes _should_ reproduce the bug.

[2022-06-21 14:18] vellames-turing commented on #3062
Humm, I was able to upload a 13mb image file, probably the problem is with the file or with `csv`

[2022-06-21 14:22] noahlocke-uw commented on #3062
[0.5MB-raw.csv](https://github.com/PipedreamHQ/pipedream/files/8949744/0.5MB-raw.csv)
[7.5MB-raw.csv](https://github.com/PipedreamHQ/pipedream/files/8949745/7.5MB-raw.csv)

@ctrlaltdylan @vellames-turing I've attached two files. The one that is failing is the 7.5MB csv file. If I do the exact same workflow with the 0.5MB csv file it succeeds. When I attempt to use the 7.5MB csv file using the `upl

[2022-06-21 14:35] michelle0927 commented on #3188
@lcaresia Is this the correct PR? - https://github.com/PipedreamHQ/pipedream/pull/3199

[2022-06-21 14:44] #1513 closed

[2022-06-21 14:45] #864 closed

[2022-06-21 14:48] bush4u commented on #3043
Kindly remove the quote around the dates. That should work

[2022-06-21 14:58] vellames-turing commented on #2818
Humm, looks like the problem is more complex. Looks like be related with files with a large amount of rows. I have a spreadsheet with 20k rows and I was not even able to deploy the source

`
Error: Range ('pg4'!PG4) exceeds grid limits. Max rows: 24321, max columns: 26
    at Gaxios._request (/var/task/node_modules/gaxios/src/gaxios.ts:158:15)
    at processTicksAndRejections (internal/process/tas

[2022-06-21 15:17] Hassan-Abbas-SQA commented on #3043
@bush4u you can see simple without date and with tasks are being created but does not show at ticktick account but it was working fine last night for me but not now
<img width="1129" alt="image" src="https://user-images.githubusercontent.com/104946677/174834602-bbc74d51-566d-4441-9863-dba7b8959869.png">
<img width="1129" alt="image" src="https://user-images.githubusercontent.com/104946677/17483580

[2022-06-21 15:38] dannyroosevelt commented on #3043
This is ready for release!

[2022-06-21 15:53] ctrlaltdylan opened #3202 "[BUG] Twilio - SMS reply (instant) missing vital documentation step"
**Describe the bug**
The Twilio SMS replies trigger is missing documentation required for setup.

The user needs to set their Twilio account's **Integration** settings like so below:

![CleanShot 2022-06-21 at 11 10 26](https://user-images.githubusercontent.com/2694734/174843527-1a4d7b9f-ba4d-4dbf-b791-c3bf2824e454.png)

It appears by default replies are dropped, so even though the source is prope

[2022-06-21 15:55] DilanAthukorala commented on #3198
Hi @veli-gasparovic, I tried to replicate the scenario to create a single record without entering values to some fields - (including automatically generated fields like 'created time') but I was able to create records by setting those fields to EMPTY. Could you please provide more details about the error you observed and steps to reproduce?

[2022-06-21 16:06] vellames-turing commented on #2818
Looks like we have another bug, but this one looks like to be related to Google Sheets. I tested a spreadsheet where the page name was `pg4` and I had the previous error, so I found [this post](https://stackoverflow.com/questions/49821711/gspread-error-code-400-range-namename-exceeds-grid-limits). Looks like Google Sheets has some problems with numbers in the page name, I renamed the page from `pg

[2022-06-21 16:12] vellames-turing commented on #2818
I was not able to reproduce it from a new spreadsheet, only changing the row counting directly from the code as you mentioned. The row count is updated using `getSpreadsheetValues` function which did not present any inconsistency during my tests. Probably we have a pretty specific case to trigger this bug.
As a solution, I added one new validation avoiding that the `newRowCount` be greater than th

[2022-06-21 16:15] vellames-turing commented on #3062
Could you please share the raw URL generated by S3 with me?

[2022-06-21 16:35] ngr900 commented on #203
I see Pipedream as a potential godsend for prototypes & some MVPs, but this is a crucial prerequisite before I could actually use it in commercial work for anything that requires more than a few workflows, especially when working in a team. To me that effectively relegates it to pre-prototype, internal and personal use, so I'm really glad this issue is in the works!

Have you settled on any detail

[2022-06-21 17:41] #2874 closed

[2022-06-21 17:53] lcaresia commented on #3188
@michelle0927 Yes, I linked now!

[2022-06-21 18:22] vellames-turing commented on #3062
Huummm, it still working for me.
@Hassan-Abbas-SQA could you please try to test these files as well? Maybe there is some specific condition that I cant see

[2022-06-21 18:29] noahlocke-uw commented on #3062
I'll try an entirely fresh workflow for good measure

[2022-06-21 18:33] noahlocke-uw commented on #3062
Brand new workflow, same steps, same error:

![image](https://user-images.githubusercontent.com/62952615/174872953-9b90e9f3-4b4f-48bc-b80c-b091d7974470.png)

[2022-06-21 18:35] noahlocke-uw commented on #3062
But if I take the raw csv data and shave it down to below 5MB:

![image](https://user-images.githubusercontent.com/62952615/174873383-988a5102-3d14-4979-a696-8938b154d59f.png)

[2022-06-21 19:49] noahlocke-uw commented on #3062
Fixed! I changed the CURL to `--data-binary` and it works now

[2022-06-21 19:50] noahlocke-uw commented on #3062
FYI before I was using:

`curl --data @data.csv https://pipedream-endpoint.com`

now I'm using

`curl --data-binary @data.csv https://pipedream-endpoint.com`

[2022-06-21 21:35] noahlocke-uw commented on #3062
yes

[2022-06-21 21:46] #3062 closed

[2022-06-21 21:47] js07 commented on #3184
@vellames-turing Does Twitch support getting clips created within a time interval smaller than 1 day using the `started_at` and `ended_at` parameters? E.g., get clips starting from 1 hour ago, rather than 1 day ago. Then store the `created_at` timestamp of the most recently created clip and request only newer clips on following runs of the source.

[2022-06-21 23:29] dylburger commented on #3137
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-21 23:29] #3137 closed

[2022-06-22 00:27] dannyroosevelt commented on #415
This is ready for release!

[2022-06-22 00:38] dylburger commented on #3072
We've added this issue to our backlog. You can follow this issue for updates!

[2022-06-22 07:53] veli-gasparovic commented on #3198
It seems it's a problem specific to a table I have. I tried creating a new table, and the same setup works. However, when trying to add a "create single record" step associated with the problematic table, i'm getting this error now:
![image](https://user-images.githubusercontent.com/75835024/174974724-2ded4358-2306-4a27-84ff-1438f94df070.png)

I managed to work around, so just letting you know if

[2022-06-22 10:22] axonasif commented on #2169
Had created my workflow in v2 just to realize that it doesn't support sharing, been searching for this everywhere but no clue except this issue. I wouldn't probably figure this out unless I had found this issue.
Ended up recreating in v1 API with the cost for extra time & efforts 🥲

[2022-06-22 12:17] dannyroosevelt commented on #1048
This is ready for release!

[2022-06-22 14:19] parisetflorian opened #3208 "[FEATURE] Migration assistant from V1 to V2"
**Is your feature request related to a problem? Please describe.**
I've currently around 40 v1 workflows running. It would be a big time saver if you could migrate them automatically to V2.

**Describe the solution you'd like**
When a V1 workflow is open, a button offers to migrate to V2.

[2022-06-22 14:39] iRinG-RU opened #3210 "[APP]"
**Name of app / service** Wildberries

**Link to developer documentation** https://suppliers-api.wildberries.ru/swagger/index.html#/Marketplace/get_api_v2_orders

**Is lack of support preventing you from building workflows, or do you have a workaround?**Really need no support and a complete guide

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or

[2022-06-22 15:11] #415 closed

[2022-06-22 15:11] #1472 closed

[2022-06-22 15:11] #3063 closed

[2022-06-22 15:59] vunguyenhung opened #3212 "[FEATURE] Improve JIRA actions and triggers"
## The `Transition` prop should allow user to select available transitions
The `transition` prop is requiring user to input the transition manually, for example
![Screen Shot 2022-06-22 at 22 28 32](https://user-images.githubusercontent.com/18277920/175070839-70b53dc3-e3ae-419d-bec5-6d9402c468e6.png)
To have the actions more user-friendly, we need to allow user select the transition from available

[2022-06-22 16:13] dylburger commented on #3198
@veli-gasparovic Is there any chance you can make a copy of this table, remove any sensitive data, and share it with dylan@pipedream.com? I'd love to have an example we can use to reproduce if you're able!

[2022-06-22 16:42] sergioeliot2039 commented on #3210
HI @iRinG-RU Thanks for submitting your request!

This is Sergio I am a contractor with Pipedream.com and I am collaborating with app integrations.

Regarding your request with Wildberries.ru, I have a couple of questions:
1. Can you confirm the app's website is https://seller.wildberries.ru/login/en?redirect_url=/ ?
See [https://suppliers-api.wildberries.ru](https://suppliers-api.wildberries.ru/s

[2022-06-22 17:59] alysonturing commented on #729
Hi @zalmanlew I noticed that you opened a Pull Request for this task... but I wonder... shouldn't you assign the task to yourself and then move it to the column `Ready for PR Review` ?

[2022-06-22 18:00] zalmanlew commented on #729
@alysonturing I cannot assign things to myself or change statuses on the board. 🤷‍♂️

[2022-06-22 19:07] dannyroosevelt commented on #1086
This is ready for release!

[2022-06-22 20:03] dannyroosevelt commented on #2939
This is ready for release!

[2022-06-22 20:04] #2939 closed

[2022-06-22 22:49] #3043 closed

[2022-06-22 23:15] justabuzz opened #3218 "[BUG] Workflow Total Duration miscalculated when using a Delay step"
**Describe the bug**
In order to implement a delay between two legs of a workflow I have, I had set up 2 different workflows with a delay between them, as advised by your docs. The sum of the total duration of the 2 workflows was ~2 seconds.

Recently you released the Delay step, so I merged the two workflows and added a Delay step between the two parts of the workflow. I didn't add any additional

[2022-06-23 00:38] dylburger commented on #3088
We've added this issue to our backlog. You can follow this issue for updates!

[2022-06-23 00:38] dylburger commented on #3085
We've added this issue to our backlog. You can follow this issue for updates!

[2022-06-23 01:35] dylburger commented on #2169
@axonasif sorry for the bad experience there. Can you tell me more about your sharing use case? i.e. did you want to share a workflow with another individual user, or make the workflow public?

[2022-06-23 01:38] dylburger opened #3220 "[APP] Fedex (BYO OAuth)"
[This user](https://pipedream.com/community/t/help-connecting-to-fedex-api-via-oauth/2658/3) needs to connect to Fedex with their own OAuth client. We need to develop a Fedex OAuth application that accepts a custom client ID / secret.

[2022-06-23 01:53] daniellangnet commented on #2169
Chiming in here. For us the use-case is to share a workflow with an
individual outside user. A lot of times a customer, for whom we built a
custom webhook receiver and we want to turn it over to them or show it to
them as an example implementation

On Wed, Jun 22 2022 at 6:35 PM, Dylan J. Sather ***@***.***>
wrote:

[2022-06-23 02:53] zalmanlew commented on #2169
@dylburger I will add to this, my most common use case for sharing is also for collaboration / sharing with customers.

Being able to make a workflow public is nice, but not a critical feature for myself.

[2022-06-23 02:56] axonasif commented on #2169
Hey 👋, I wanted to share my workflow with a teammate.
Also, there seems to be no automatic way for moving/sharing a workflow to an org account, learned I'll have to email for that.

[2022-06-23 03:32] dylburger commented on #2169
@daniellangnet @zalmanlew makes total sense! Thanks for sharing.

@axonasif Yes, we're happy to help with that migration - email us and we can talk details!

[2022-06-23 06:03] unglaublicherdude opened #3221 "[APP] Verdict-as-a-Service (Malware-Scan by G DATA)"
**Name of app / service**

Verdict-as-a-Service (short VaaS)

**Link to developer documentation**

https://github.com/GDATASoftwareAG/vaas
https://github.com/GDATASoftwareAG/vaas/tree/main/typescript

**Is lack of support preventing you from building workflows, or do you have a workaround?**

I am a developer of the App.

**Are there specific actions, or triggers, you'd like to see for this app? P

[2022-06-23 10:08] anzejiang opened #3223 "Error: "500" /api/ruler/1/api/v1/rulesv"
The /api/rule/1/api/v1/rules interface returns a 500 error and keeps requesting this interface repeatedly

[2022-06-23 10:27] anzejiang commented on #3223
API returns message :"{"message":"unexpected content type from upstream. expected YAML, got text/html; charset=utf-8"}"

[2022-06-23 11:35] #3188 closed

[2022-06-23 13:04] dannyroosevelt commented on #2944
This is ready for release!

[2022-06-23 13:07] lcaresia commented on #3072
@dannyroosevelt I asked for a key to integrate with them, when I have a response I will remove the blocked tag.

[2022-06-23 14:26] #1086 closed

[2022-06-23 15:52] ctrlaltdylan opened #3226 "[BUG] Google People (Contacts) Authentication not approved"
**Describe the bug**
When attempted to connect a Google Contacts account, the OAuth handshake is denied.

The app still needs to be approved by Google:

![CleanShot 2022-06-23 at 11 52 18](https://user-images.githubusercontent.com/2694734/175341803-7a9b949a-2a2f-425d-9922-099ae398205e.png)

[2022-06-23 16:24] vunguyenhung opened #3227 "[BUG] Notion Update Page action shows error when set Page ID as expression"
**Describe the bug**
Notion Update Page action shows error when set Page ID as expression taken the value from event {{steps.trigger.event.id}}

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workflow, add a HTTP Body Only trigger
2. Send a HTTP Request to the trigger API, with the body `{"id": "<Your notion page ID>"}`
4. Add "Notion: Update Page" action, configure the Page ID to u

[2022-06-23 16:54] vunguyenhung opened #3228 "[BUG] JIRA - Can not load new site data when connecting existing account with the new site"
**Describe the bug**
When connecting a JIRA account, user will be able to select which site to connect to
![image](https://user-images.githubusercontent.com/18277920/175350687-2eb2cb7e-1418-40c8-a318-d8850802c6e7.png)

After the user select a site, the user expect the JIRA action (.i.e Create Issue) will pull Projects, Issues data related to that site. But when user reconnect the same account but

[2022-06-23 18:45] Hassan-Abbas-SQA commented on #3149
@dannyroosevelt this ticket requires a paid account should we move it to ready for release?

[2022-06-23 18:49] iRinG-RU commented on #3210
<img width="762" alt="Снимок экрана 2022-06-23 214404" src="https://user-images.githubusercontent.com/108010177/175374781-cebd9bea-0dcb-402f-9c33-ccd64fdc9fc0.png">
To get an API key, you need to generate a token in your account settings. I am attaching a screenshot of the window.

[2022-06-23 19:18] sergioeliot2039 commented on #2997
Hey Parth, I drop you an email to dani to parth 15 at gmail dot com because the email addresses you disclosed were hidden by GitHub, so perhps you can reply back there? either with correct emails addresses (instead of hidden) or for kick starting the process for getting CleverTap trial access. Thanks!

[2022-06-23 23:19] dylburger opened #3230 "[BUG] The compute time quota exceeded banner isn't closable"
Clicking on the X doesn't dismiss the banner.

<img width="1140" alt="image (7)" src="https://user-images.githubusercontent.com/242668/175430488-9a462796-9c83-47b6-9930-a47e6234bfa4.png">

[2022-06-24 00:44] mqsley opened #3231 "[ACTION] Add contact sendgrid"
**Is there a specific app this action is for?**
Sendgrid
**Please provide a link to the relevant API docs for the specific service / operation.**
https://docs.sendgrid.com/api-reference/contacts/add-or-update-a-contact

[2022-06-24 00:45] #3231 closed

[2022-06-24 08:10] StevenJPx2 opened #3233 "[ACTION] Add Update Invoice to the Quickbooks API"
**Is there a specific app this action is for?**
Quickbooks

**Please provide a link to the relevant API docs for the specific service / operation.**
https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/invoice#sparse-update-an-invoice

[2022-06-24 14:43] dannyroosevelt commented on #1430
This is ready for release!

[2022-06-24 15:12] #1430 closed

[2022-06-24 15:29] michelle0927 commented on #3087
The title of this issue is a little confusing. It does say ACTION, but then requests a trigger. My interpretation would be that what's wanted is a trigger/source that emits an event when a new comment is created. I'd use a webhook with the event type - FILE_COMMENT. https://www.figma.com/developers/api#webhooks_v2

@lupionpe Can you elaborate on what's being requested in this issue?

@luancazarine

[2022-06-24 16:00] luancazarine commented on #2671
I'm trying to connect to salesforce but this error appears

Pipedream failed to connect to your account.
Please contact integration-errors@pipedream.com and provide this error ID: f12b3d6011e34e9ea43cfb79f0b90dd6

[2022-06-24 16:22] dylburger commented on #3233
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-24 20:55] Hassan-Abbas-SQA commented on #3139
@michelle0927
<img width="1129" alt="image" src="https://user-images.githubusercontent.com/104946677/175666076-f2492fca-64c3-4679-84b4-e4c242ed3194.png">

[2022-06-24 21:45] euinor opened #3238 "[ACTION] Ticktick search for Projects"
**Is there a specific app this action is for?**
This request is for the TickTick app
Currently, with the V1 API, in order to update or complete tasks you need the Project ID. But the V1 API provides no methods to search for Projects (or Tasks for that matter...)

**Please provide a link to the relevant API docs for the specific service / operation.**
There is a V2 API but it is undocumented. For e

[2022-06-24 21:46] euinor opened #3239 "[TRIGGER] Ticktick new/updated tasks"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
Is it possible to add Triggers for the TicktTck integration?
For example, on new tasks, updated tasks, completed tasks etc.

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**
Sadly the existing V1 API documentation doesn't state how this

[2022-06-24 22:32] dannyroosevelt commented on #3139
This is ready for release!

[2022-06-24 23:29] dylburger commented on #3163
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-24 23:29] #3163 closed

[2022-06-25 07:18] StevenJPx2 commented on #3233
That's awesome, I would love to do it myself! But how do I integrate it with the current process for Quickbooks?

[2022-06-25 19:53] tg-bot-ap opened #3241 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-06-25 19:55] ApiTelegram opened #3242 "[ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-06-25 19:56] tg-bot-ap opened #3243 "[APP]"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-06-25 19:56] tg-bot-ap opened #3244 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you have a workaround?**
Are you able to tackle the problem with an existing workaround, or can you not move forward without this featur

[2022-06-25 20:00] sergioeliot2039 commented on #3243
Hi @ApiTelegram can you please let us know if you're able to get your hands on any documentation? we'll happily check out if an integration might work, but without that we're unfortunately blocked on moving forward.

As for your GitHub handle, in case you are looking for Telegram Bot API -- https://pipedream.com/apps/telegram-bot-api
Is this is what you are looking for?

[2022-06-25 23:29] dylburger commented on #3176
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-26 06:47] u007 commented on #3174
got this error when declaring a method:
[code]
[code]

[2022-06-26 06:49] u007 commented on #3174
if i use the full query, i get other error:
[code]

[code]

[2022-06-26 06:50] u007 commented on #3174
will there be typescript support?

[2022-06-26 07:18] u007 commented on #3174
ok i found the issue was async issue for methods, but im still getting:
[code]

[2022-06-26 14:51] treestonemedia commented on #3228
Thank you @vunguyenhung

[2022-06-26 18:30] dylburger commented on #3174
@u007 we support TypeScript components. Take a look at [these docs](https://pipedream.com/docs/components/typescript/).

Re: your error, would you mind creating a PR with your latest code so we can see it? Or share the full code of your component here and the `pd` commands you're using to publish it?

[2022-06-26 18:31] dylburger commented on #3233
Yes! Take a look at [these docs](https://pipedream.com/docs/components/guidelines/#process) to see the full process for submitting components. When you open a PR, it'll go to the top of our review queue and someone on the team will take a look and give you feedback.

[2022-06-26 23:07] dannyroosevelt commented on #3176
Hi @anondev-sudo, apologies for the delay -- are you still stuck on this issue, or did you get it resolved?

[2022-06-26 23:07] dannyroosevelt commented on #3149
yes

[2022-06-26 23:33] dannyroosevelt commented on #3149
This is ready for release!

[2022-06-27 02:43] dannyroosevelt commented on #3212
Great work on this, @vunguyenhung! We'll get those additional scopes added to our integration.

[2022-06-27 03:00] dannyroosevelt opened #3246 "[FEATURE] hello, world"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you have a workaround?**
Are you able to tackle the problem with an existing workaround, or can you not move forward without this featur

[2022-06-27 03:05] dannyroosevelt opened #3247 "[BUG] Replaying an event displays stale step overview info in inspect view"
This appears to just be an issue with how we're displaying the step overview, and not an issue with executing stale code.

[2022-06-27 03:07] dannyroosevelt commented on #3247
Tracking internally here: https://linear.app/pipedream/issue/PD-1235/replaying-an-event-displays-stale-step-overview-info-in-inspect-view

[2022-06-27 03:52] dylburger commented on #3246
This should be completed! Please let us know if you see any issues

[2022-06-27 03:52] #3246 closed

[2022-06-27 04:53] anondev-sudo commented on #3176
It still wasn't resolved

[2022-06-27 11:35] lcaresia commented on #3042
@feyzullah I finished the action for search tweets in lists, you just need paginate the result.

[2022-06-27 11:48] lcaresia commented on #3227
@dannyroosevelt I will set this as blocked because a bug in Pipedream Runtime.

[2022-06-27 12:07] mzrnsh opened #3248 "Ability to view log for failed Python step"
When a deployed workflow fails in production, the Python step doesn't show the results section.

Results are included in production, during a successful run, and are included in workflow editor both during successful and failed runs.

Let's deliberately cause an error to see this in action:

## In workflow editor
![image](https://user-images.githubusercontent.com/10742145/175936649-f5ebb8da-9d4f-4

[2022-06-27 12:23] vellames-turing commented on #3184
Looks like it does. I will try to do that. Thanks!

[2022-06-27 13:28] #753 closed

[2022-06-27 15:03] dannyroosevelt commented on #887
This is ready for release!

[2022-06-27 15:18] dylburger commented on #3221
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-27 15:19] dylburger commented on #3190
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-27 15:19] #3241 closed

[2022-06-27 15:26] FedericaPS opened #3249 "URGENTE - generazione file xml - agenzia 8279"
alcune fatture dell'agenzia 8279 hanno uno stato "Errore elaborazione"
esempio fattura n. 46 di cui allego xml

riprocessando il file su Aruba esce il seguente messaggio:

_00444 | Non c'è corrispondenza tra i valori indicati nell'elemento 2.2.1.14 o 2.1.1.7.7 e quelli dell'elemento 2.2.2.2 (tutti i valori di natura dell'operazione presenti nelle linee di dettaglio di una fattura o nei dati di cas

[2022-06-27 15:29] dylburger commented on #3239
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-27 15:29] dylburger commented on #3238
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-27 15:32] #3244 closed

[2022-06-27 15:39] vunguyenhung commented on #3248
Hello @mzrnsh, thanks for raising this issue. I'm able to reproduce your issue
![FireShot Capture 037 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277920/175978762-6bad3820-12c7-4e7e-8770-23e029c45d3d.png)

We will discuss on your issue. Any updates will be made on this Github issue 🙏

[2022-06-27 15:41] #3249 closed

[2022-06-27 15:58] dannyroosevelt commented on #3176
Can you go ahead and enable the workflow to share with Support? (click the 3 dots at the top right of your workflow, open "Settings", then enable the "Support" toggle) Then paste the workflow URL here, so we can take a closer look.

Thank you!

[2022-06-27 16:05] andrewjschuang commented on #460
@dylburger @dannyroosevelt
According to the docs, to create/submit a Cloud Function, we would have to use the Firebase CLI, thus not being able to do it via a component trigger.

[2022-06-27 16:08] TanukiFin opened #3250 "[TRIGGER] new following of user"
new following of user

[2022-06-27 17:41] AlexeyArtemev opened #3251 "[BUG] Mailjet send_message method is not working"
**Describe the bug**
Send_Message method from mailjet action is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workflow
2. Use a mailjet integration with "Send an e-mail" option
3. See an error after trying to send a mail

**Expected behavior**
Mail in my mailbox

**Additional context**
[code]

[2022-06-27 19:11] runasand opened #3252 "[APP] VirusTotal"
**Name of app / service**
VirusTotal

**Link to developer documentation**
https://developers.virustotal.com/reference/overview

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Can come up with a workaround that allows me to query the VT API

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Acti

[2022-06-27 22:31] dannyroosevelt opened #3254 "[BUG] Error when creating Dropbox > New File source"
![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/176046888-48f2cce3-b378-46e6-82fa-4243e7aa2146.png)

[2022-06-27 23:29] dylburger commented on #3095
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-27 23:29] #3095 closed

[2022-06-27 23:53] dannyroosevelt commented on #3160
This is ready for release!

[2022-06-28 00:04] Hassan-Abbas-SQA commented on #3129
@michelle0927 async function still doesn’t work
<img width="1129" alt="image" src="https://user-images.githubusercontent.com/104946677/176059369-0f2d3606-e4af-4065-9f77-8eda20ffbbdb.png">

[2022-06-28 00:12] Hassan-Abbas-SQA commented on #3129
@michelle0927 on updating the task (seetting up assignee ) iam getting internal server error
<img width="1129" alt="image" src="https://user-images.githubusercontent.com/104946677/176060206-4c702804-7da7-4512-bdc6-0b52b5f89f4b.png">

[2022-06-28 00:21] js07 opened #3255 "[FEATURE] Evaluate custom expression in async options & additionalProps"
**Is your feature request related to a problem? Please describe.**
When I enter a [custom expression](https://pipedream.com/docs/workflows/steps/using-props/#entering-expressions) for a prop (e.g., `{{steps.trigger.event.id}}`), its value in `async options()` for another prop is the expression string (e.g., `"{{steps.trigger.event.id}}"`) rather than the evaluated expression (e.g., `123454321`).

[2022-06-28 00:26] #3170 closed

[2022-06-28 00:40] dylburger opened #3256 "[FEATURE] ServiceNow integration should support any hostname"
Currently, the Pipedream ServiceNow integration assumes ServiceNow instances are hosted on service-now.com, which isn't the case. I should be able to enter any custom hostname when connecting a new ServiceNow account.

[2022-06-28 00:46] #3160 closed

[2022-06-28 01:15] dannyroosevelt commented on #460
Ah too bad, yes sounds like it in that case.

[2022-06-28 01:15] #460 closed

[2022-06-28 06:25] vexersa commented on #3095
I can confirm that this works in the v2 workflow.

[2022-06-28 06:50] dannyroosevelt commented on #3148
This is ready for release!

[2022-06-28 06:59] dannyroosevelt commented on #3138
This is ready for release!

[2022-06-28 11:40] Drysque opened #3258 "[FEATURE] Add params prop in SendInBlue send_transactional_email"
**Is your feature request related to a problem? Please describe.**
For the `SendInBlue` app, the `send_transactional_email` action doesn't have the `params` prop, which is needed to customize the content of the email.

**Describe the solution you'd like**
I'd like the `send_transactional_email` action to have a `params` props. This will allow me to get variables from previous steps.

**Do you have

[2022-06-28 12:24] #887 closed

[2022-06-28 12:36] #3138 closed

[2022-06-28 12:36] ctrlaltdylan opened #3260 "[BUG] Google Drive - Create File - when using a file path (under `/tmp/`), uploaded files are always empty"
**Describe the bug**
The Google Drive **Create File** action's file path argument appears to be broken.

When using a valid file in the `/tmp` directory, the corresponding file is created in the Google Drive account but it's contents are empty with 0 bytes.

**To Reproduce**
Steps to reproduce the behavior:
1. Store a file to `/tmp`
2. Create a Google Drive - Create File step
3. Configure it to up

[2022-06-28 13:03] #3148 closed

[2022-06-28 13:08] #729 closed

[2022-06-28 13:22] dannyroosevelt commented on #3227
This is ready for release!

[2022-06-28 13:43] dannyroosevelt commented on #1603
This is ready for release!

[2022-06-28 14:49] vunguyenhung commented on #1406
Hi everyone, all test cases are passed! Ready for release!

Test report
[Pushshift_Reddit_Search_3169.pdf](https://github.com/PipedreamHQ/pipedream/files/9002122/Pushshift_Reddit_Search_3169.pdf)

[2022-06-28 15:06] vunguyenhung commented on #3251
Hello @AlexeyArtemev, thanks for raising this issue. I can reproduce this bug.
![FireShot Capture 050 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277920/176213853-e16ba791-126c-4ace-bece-1642b9fa9856.png)

We will add this to our Component backlog and make updates to this issue 🙏

[2022-06-28 15:07] ctrlaltdylan commented on #3149
@dannyroosevelt just curious on the status of this - Dialpad's actually reached out for an organic blog post. Would be nice to show them an actual marketplace page

[2022-06-28 15:13] vunguyenhung commented on #3250
Hello @TanukiFin, could you fill in the following section for us to better understand your needs?

**Describe the event source. What app is this for, and what event does the trigger correspond to?**
...
**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**
...

[2022-06-28 15:17] dylburger commented on #3258
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-28 16:25] DavidKruesemann opened #3263 "[APP] pretix (ticketing software)"
**Name of app / service**
pretix

**Link to developer documentation**
https://docs.pretix.eu/en/latest/api/index.html

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Using Integromat as a workaround

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open re

[2022-06-28 16:40] vunguyenhung commented on #2818
Hi everyone, all test cases are passed! Ready for release!

Test Report
[Google_Sheet_2818.pdf](https://github.com/PipedreamHQ/pipedream/files/9003014/Google_Sheet_2818.pdf)

[2022-06-28 16:40] dannyroosevelt commented on #2818
This is ready for release!

[2022-06-28 17:02] #2818 closed

[2022-06-28 17:02] #3149 closed

[2022-06-28 17:04] dylburger commented on #3252
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-28 17:10] dylburger commented on #3201
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-28 17:11] dylburger commented on #3263
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-06-28 18:05] jrbrandon opened #3264 "[BUG] UTC timezone formatting in "Schedule" trigger timestamp needs a trailing "Z" (iso8601 format)"
**Describe the bug**
The [iso8601 page on WikiPedia](https://en.wikipedia.org/wiki/ISO_8601#Coordinated_Universal_Time_(UTC)) states "If the time is in UTC, add a Z directly after the time without a space." However when I select UTC as the timezone in the Schedule trigger the timestamp does not contain the trailing Z. I noticed this when trying to compare this value with the timestamp returned by

[2022-06-28 20:11] dannyroosevelt commented on #3040
Sorry for the delay on this @vellames-turing , that error returns this info, which is a strange error:
[code]

I am able to reproduce and I think this is an issue on Zenkit's end. I've reached out to their team to help debug.

[2022-06-28 20:43] dannyroosevelt commented on #3088
@andrewjschuang does it make sense for you to tackle this while you're working on https://github.com/PipedreamHQ/pipedream/issues/2947?

[2022-06-28 21:15] Hassan-Abbas-SQA commented on #3085
@alysonturing i still can’t see the description prop
![image](https://user-images.githubusercontent.com/104946677/176289050-fc27cabd-435a-4182-b099-55268fff2afa.png)

[2022-06-28 22:41] arilei opened #3266 "[TRIGGER] On completed Asana task by tag"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
For the Asana app, when a task is completed, but by tag instead of project.

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**
https://developers.asana.com/docs/events

[2022-06-28 22:54] bush4u commented on #3088
@dannyroosevelt , just wanted to clarify.
I had a clarification on this issue with Jacob and he stated that actual task is
New Comment | Emit new event when a comment is created

Kindly note that this has been done.
Are there more events I should look into, since the issue is not that elaborate?

[2022-06-28 23:00] dannyroosevelt commented on #3088
Great, thanks! FYI take a look at how @andrewjschuang developed the other webhook triggers, for 2 specific things he did:
- automatically fetch historical events using the GET endpoints when creating the source, so users don't have to wait for new events when building workflows using this trigger
- support both `linear` and `linear_app` apps (same app, just different auth strategies)

[2022-06-28 23:27] bush4u commented on #3088
@dannyroosevelt
I followed the other triggers, and yes, linear and linear_app have separate auth strategies.

[2022-06-28 23:33] dannyroosevelt commented on #3088
To confirm, are you able to support both of the bullets I listed?

[2022-06-29 00:29] bush4u commented on #3088
The second point had been addressed.

I have carefully looked into this,
**automatically fetch historical events using the GET endpoints when creating the source, so users don't have to wait for new events when building workflows using this trigger**
I cannot see the where historic events are fetched automatically.

However, what I have done is when creating the source (hooks.activate())

- A get

[2022-06-29 08:19] Drysque commented on #3258
Hello, thanks for the quick response!

Unfortunately, I don't have the time and confidence to edit the action myself.
I'm in the process of creating a support ticket, and I just saw that they have [a Zapier integration](https://help.sendinblue.com/hc/en-us/articles/209580465-Using-Zapier-to-integrate-an-app-with-Sendinblue). Sorry for missing this documentation, I will update the issue **Comparabl

[2022-06-29 10:49] andrewjschuang commented on #3088
Looking at the code, it is correctly supporting both `linear` and `linear_app` apps.

@bush4u currently the triggers are not fetching and emitting historical events; it is a new strategy that we are employing. You would have to implement this in the `deploy()` hook. So when the trigger is deployed, it should immediately make some GET requests instead of just waiting for new events. You can check h

[2022-06-29 13:00] dannyroosevelt commented on #3251
This is ready for release!

[2022-06-29 13:08] AugustDev commented on #1735
Why issue is closed, it still does not work.

[2022-06-29 13:31] huevoncito opened #3269 "[BUG] Postgres connection failure on Heroku Postgres instance"
**Describe the bug**
When connecting to a postgres database, receiving error "Connection terminated unexpectedly". The connection strings work in the command line and through Datagrip. There are no IP restrictions on the db. I have tried deleting and reconnecting sources to no avail. It connected successfully once and retrieved past events, but subsequent events I added to the db were not picked u

[2022-06-29 13:36] dannyroosevelt commented on #2671
This is ready for release!

[2022-06-29 14:00] ctrlaltdylan opened #3270 "[BUG] Monday.com - Create Item - "Board ID must be an integer""
Bug report from a customer trying to use the *Monday.com - Create Iteam* action:

## Screenshot

![Screen Shot 2565-06-29 at 17 56 00](https://user-images.githubusercontent.com/2694734/176455530-1709441c-1a47-4466-afb6-6029a892c5e9.png)

[2022-06-29 15:18] vunguyenhung commented on #3269
Hello @huevoncito, thanks for raising this issue. I'm trying to reproduce your issue but couldn't. May I ask for the following information on your side:
- Number of connections on your database when the source is executed or when you fetching the table, you can query using the following SQL statement:
[code]
- The connection limit of your database. You can query this value using the following SQL

[2022-06-29 15:53] dylburger commented on #3266
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-06-29 16:14] huevoncito commented on #3269
Thanks for your very quick reply, @vunguyenhung. It's showing 500 max connections with 142 activated.

I just removed all sources and tried to build a new workflow. Within that workflow, I added a new source. This is what it shows. I will investigate further to see if the problem may be originating on our side.

![Screen Shot 2022-06-29 at 12 11 16](https://user-images.githubusercontent.com/428352

[2022-06-29 16:16] vunguyenhung commented on #3269
Hello @huevoncito, I'm able to reproduce this issue using Heroku Postgres instance
![image (4)](https://user-images.githubusercontent.com/18277920/176485299-bcdcc7ea-97b9-4893-a42e-c2eb07925edb.png)

I will escalate this issue to our component dev! We will make any update into this Github issue 🙏

[2022-06-29 16:22] #3129 closed

[2022-06-29 16:46] vunguyenhung commented on #3269
Hello again @huevoncito, as a workaround for now when the issue is not fixed on our side, I suggest to use [ElephantSQL](https://www.elephantsql.com/), I have tested and it works fine :pray:

[2022-06-29 17:17] raphaelvarieras opened #3272 "[APP] Namely"
**Name of app / service**
Namely

**Link to developer documentation**
https://developers.namely.com/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
No workaround at the moment

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

-

[2022-06-29 17:35] huevoncito commented on #3269
Got it @vunguyenhung. Thank you for the very quick support. Really appreciate it.

[2022-06-29 17:41] dannyroosevelt commented on #3272
@raphaelvarieras do you have a contact there you can put me in touch with? I don't see any way to create an account so we can configure an OAuth app.

[2022-06-29 18:23] dannyroosevelt commented on #1054
@GTFalcao this is now live -- you should have a directory for `phone_com/` in `/components/` shortly.

[2022-06-29 18:47] #3087 closed

[2022-06-29 18:54] bush4u commented on #3088
Done

[2022-06-29 18:56] raphaelvarieras commented on #3272
Yes, I am working on this. My understanding is that Namely might get back to me with the name of a resource who would help building this.

[2022-06-29 19:03] #3139 closed

[2022-06-29 19:26] vellames-turing commented on #3260
Sure, first I created a personal code:
[code]

After this I added the `create file` action and on `file path` I filled with `/tmp/mobile.png`, the used `upload type` was `media`

[2022-06-29 20:26] Hassan-Abbas-SQA commented on #3270
@vellames-turing it should return an object instead of only id (complete api reponse)
<img width="998" alt="image" src="https://user-images.githubusercontent.com/104946677/176538171-d8842b7d-d762-4800-b19f-cec6403b0352.png">

[2022-06-29 20:30] vellames-turing commented on #3270
Changed for all actions

[2022-06-29 20:39] Hassan-Abbas-SQA commented on #3270
@vellames-turing i can't see any changes
<img width="998" alt="image" src="https://user-images.githubusercontent.com/104946677/176540276-9da848fb-0edb-4fc0-8fbc-d6053eb3dd97.png">

[2022-06-29 20:40] vellames-turing commented on #3270
How exactly are you testing? Are you creating a personal action?

[2022-06-29 21:27] Hassan-Abbas-SQA commented on #3270
checkout to the latest branch code , pd-scripts publish actionName and then create a new workflow and test these are the steps

[2022-06-29 23:29] dylburger commented on #3198
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-29 23:29] #3198 closed

[2022-06-29 23:34] crwallace commented on #182
+1

[2022-06-30 00:43] dannyroosevelt opened #3274 "[Updates] Fix references to "summary""
There are a lot of `$.export` references to `"summary"`, which do not get the intended UX treatment, it should be `"$summary"` instead. We should fix all of these (and increment the relevant action versions).

[2022-06-30 12:25] dannyroosevelt commented on #3270
This is ready for release!

[2022-06-30 12:43] dannyroosevelt commented on #3274
This is ready for release!

[2022-06-30 12:43] #3270 closed

[2022-06-30 13:14] ctrlaltdylan commented on #3260
@vellames-turing correct in my case I was trying to use an attachment. I _thought_ I was reading the file and encoding it correctly. But here are my steps:

## Read Attachment
[code]

## Store Attachment to `/tmp`

[code]

It's a bit roundabout, but I was just trying to play nice with the *Google Drive - Upload File* action which only accepts a `/tmp/` pathed file.

[2022-06-30 13:21] andrewjschuang opened #3277 "[Enhancement] Differentiate Newly Published Components from Updated Components"
The workflow that alerts the team when we publish new components to the registry should also be able to differentiate newly published components from updated components.

[2022-06-30 13:25] dannyroosevelt commented on #2519
This is ready for release!

[2022-06-30 15:23] vellames-turing commented on #3260
I will take a look :)

[2022-06-30 15:52] atopeca opened #3279 "[APP] Prestashop"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-06-30 16:10] #2519 closed

[2022-06-30 16:25] vellames-turing commented on #2679
@ctrlaltdylan

[2022-06-30 16:37] ctrlaltdylan commented on #2679
Sorry @vellames-turing my Github notifications are out of control.

I believe this is fixed, thanks for staying on top of this!

[2022-06-30 16:37] #2679 closed

[2022-06-30 16:39] vellames-turing commented on #2679
np! tks!

[2022-06-30 16:56] ctrlaltdylan opened #3281 "[ACTION] Pipedream - Create Subscription"
**Is there a specific app this action is for?**

Creating a Subscription on a Pipedream account.

**Please provide a link to the relevant API docs for the specific service / operation.**

https://pipedream.com/docs/api/rest/#subscriptions

* [Create a Subscription](https://pipedream.com/docs/api/rest/#listen-for-events-from-another-source-or-workflow)
* [Delete a Subscription](https://pipedream.co

[2022-06-30 17:29] sergioeliot2039 commented on #3279
Main website: https://www.prestashop.com/es
Developers: https://devdocs.prestashop.com/
CRUD and REST docs: https://devdocs.prestashop.com/1.7/webservice/getting-started/

[2022-06-30 19:13] AlexeyArtemev commented on #3251
The bug remains

[2022-06-30 19:13] AlexeyArtemev commented on #3251
![image](https://user-images.githubusercontent.com/53113374/176759254-f68f1c3a-65eb-46a6-8b72-47f53132efcd.png)

[2022-06-30 19:25] bush4u commented on #3251
I think this is a version issue

[2022-06-30 19:39] michelle0927 commented on #1145
@dylburger It looks like the [metadata API](https://airtable.com/api/meta) requires exposing a client secret. The Airtable actions do retrieve the tables' schemas, but the methods are not available to sources/triggers. Should this be labeled as blocked?

[2022-06-30 19:57] dannyroosevelt opened #3284 "Calendly"
### App
`calendly_v2`
https://developer.calendly.com/

### Triggers
- Event created
- Event canceled

[2022-06-30 19:58] michelle0927 commented on #3251
@bush4u You'll need to bump the versions of any components affected by the change that was made in the app file.

[2022-06-30 19:59] dannyroosevelt opened #3285 "Zoho Mail"
### App
Zoho Mail

### Triggers
- New email

### Actions
- Create new task
- Send email

[2022-06-30 20:03] bush4u commented on #3251
Okay. I just did that.

[2022-06-30 20:07] bush4u commented on #3251
@michelle0927 , I bumped up the minor version, is that okay

[2022-06-30 20:09] michelle0927 commented on #3251
@bush4u Sure. The components won't recognize a change to the app file unless the version is bumped. I assume that's why the error is still there. The component is still using the previous version of the app file.

[2022-06-30 20:14] dylburger commented on #1145
I think so @michelle0927 . It sounds like we'd need to do some work to expose the metadata to the source runtime in the same way we did the work for actions. CC @dannyroosevelt and @js07 since they worked on the actions more closely.

[2022-06-30 21:05] dannyroosevelt opened #3286 "Ghost.org (Admin API)"
### App
Ghost.org (Admin API)
https://ghost.org/docs/admin-api/

### Triggers
- Member created
- Member deleted

### Actions
- Create member
- Update member

[2022-06-30 21:34] dannyroosevelt opened #3288 "Ghost.org (Content API)"
### App
Ghost.org (Content API)
https://ghost.org/docs/content-api/

### Triggers
- Page published
- Post published

### Actions
- Find author
- Create post

[2022-06-30 21:36] dannyroosevelt opened #3289 "Stack Exchange"
### App
Stack Exchange
https://api.stackexchange.com/

### Triggers
- New answer
- New question

### Actions

[2022-06-30 21:39] dannyroosevelt opened #3290 "Box"
### App
Box
https://developer.box.com/reference/

### Triggers
- New file
- New folder
- New event (the user should be able to pick an event from the activity stream)

### Actions
- Upload file
- Find file
- Create text file

[2022-06-30 21:47] dannyroosevelt opened #3291 "YouTube (Data API)"
### App
YouTube (Data API)
https://developers.google.com/youtube/v3

### Triggers
Will develop the triggers in https://github.com/PipedreamHQ/pipedream/issues/3487

### Actions
- List videos
- List playlist
- Get channel statistics
- List activities
- Update playlist

[2022-06-30 22:03] theJenix opened #3293 "[BUG] Unable to set up Netlify New Form Submission trigger"
**Describe the bug**
When I attempt to set up a Netlify New Form Submission trigger, it never receives an example event via the web hook, and there is an error in Source log in Pipedream.

**To Reproduce**
Steps to reproduce the behavior:
1. From the Pipedream left-hand nav bar, click on "Sources"
2. Click on "+ New"
3. In "Search for an App", type "Netlify"
4. Click Netlify in the search box
5. S

[2022-06-30 22:05] #3185 closed

[2022-06-30 22:12] #3085 closed

[2022-06-30 22:29] dannyroosevelt opened #3294 "[Workflow] Recreate (and fix) the "ready for release" workflow"
We currently have an internal workflow that notifies devs when GitHubs issues are moved to the "Ready for Release" column.

There are some gaps we need to fix, so we should just recreate it in the `pd-component-dev` workflow, so the dev team can take it over.

Known improvements to make:
- Right now it @mentions the issue assignee on Slack, but it should @mention the PR author if possible
- For us

[2022-06-30 22:48] dannyroosevelt commented on #3294
Ok every week when we determine the current on-call reviewer, we'll also now update the data store record in the `pd-component-dev` org: https://pipedream.com/data-stores/ds_REu31G

[2022-06-30 23:26] dannyroosevelt commented on #1145
@js07 do you know what would be involved in this?

[2022-06-30 23:29] dylburger commented on #3223
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-30 23:29] dylburger commented on #3210
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-30 23:29] #3223 closed

[2022-06-30 23:29] dylburger commented on #2997
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-06-30 23:35] dannyroosevelt opened #3295 "Amplenote"
Amplenote
https://www.amplenote.com/api_documentation#auth

### Trigger
- Completed task

### Action
- Insert a task ("Add a content action to the note")

[2022-06-30 23:36] dannyroosevelt commented on #3079
@weirdalsuperfan we have a basic integration live:
https://pipedream.com/apps/amplenote/

We'll get this added to the backlog to develop the action and trigger you requested, and we'll track that work here: https://github.com/PipedreamHQ/pipedream/issues/3295

[2022-06-30 23:36] #3079 closed

[2022-07-01 00:48] GTFalcao commented on #938
@vunguyenhung as we spoke earlier, I tested the actions multiple times and had no problems, so I'm moving it to `Ready for QA` again - if the issue persists, let's stay in touch and compare our inputs to understand what's happening

[2022-07-01 00:55] js07 commented on #1145
I think this would involve some backend work to get the credentials used to make Airtable Metadata API calls to the source runtime, in a similar way to the runtime for actions.

[2022-07-01 01:10] dannyroosevelt commented on #938
This is ready for release!

[2022-07-01 02:51] iRinG-RU commented on #3210
What other information is required from me? I answered Sergio's question

[2022-07-01 03:13] dylburger commented on #3210
Sorry for the issue close @iRinG-RU , this is driven by a workflow. I’ve reopened the issue

[2022-07-01 14:05] vunguyenhung opened #3297 "[BUG] Sendgrid - Failed to Send email single recipient when set Reply to Email prop"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workflow, add action SendGrid - Send email single Recipient
2. Set the `Reply To Email` and `Reply To Name`, similar the image below
![FireShot Capture 101 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277

[2022-07-01 14:18] andrewjschuang commented on #3297
There's a [user-submitted PR](https://github.com/PipedreamHQ/pipedream/pull/3278) that addresses this. I'll link it here.

[2022-07-01 14:25] weirdalsuperfan commented on #3079
Thank you!

[2022-07-01 15:07] nordseo opened #3298 "Support passing markdown to Notion components"
**Notion.so**

**[Link to developer documentation: Block-type-object](https://developers.notion.com/reference/block#block-type-object)**

**We would like to be able to format the data sent to Notion with markdown, defined by Notion's block types. No workaround as of yet.**

**Basic markdown formatting for headings, bold, italic, links, line breaks, (etc) would be useful to start. Notion provides a

[2022-07-01 15:13] vunguyenhung commented on #3293
Hello @theJenix, thank you for raising this issue! I'm able to reproduce your issue on my side
![FireShot Capture 111 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277920/176921631-ad673ee6-cbed-42d5-a1d8-c44bd93293c7.png)

![FireShot Capture 110 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercon

[2022-07-01 15:55] arilei commented on #3266
Thank you for your responses, could you share the code for the asana triggers already done to use as an example when coding my own?
Thank you!

[2022-07-01 16:02] dannyroosevelt commented on #3210
@iRinG-RU here is a basic integration:
https://pipedream.com/apps/wildberries

[2022-07-01 16:02] dylburger commented on #3210
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-07-01 16:05] dannyroosevelt commented on #3298
Here is the context [from Slack](https://pipedream-users.slack.com/archives/CPTJYRY5A/p1656682807155879):

[2022-07-01 16:22] js07 opened #3299 "[TRIGGER] Slack New Saved Message"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
Triggers when you save a message.

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**
https://api.slack.com/events/star_added

A Slack **New Star Added** source was created in https://github.com/PipedreamHQ/pipedream/pull/3217. **New Star

[2022-07-01 16:28] #938 closed

[2022-07-01 17:10] #3251 closed

[2022-07-01 17:16] AlexeyArtemev commented on #3251
![Screenshot_2022-07-01-20-15-52-748_com.android.chrome.jpg](https://user-images.githubusercontent.com/53113374/176940709-9c4ba114-9b07-40d0-b011-cd13b5943f65.jpg)
👀

[2022-07-01 17:20] AlexeyArtemev commented on #3251
Sorry, forgot to update
Yet there's another issue
![Screenshot_2022-07-01-20-19-34-292_com.android.chrome.jpg](https://user-images.githubusercontent.com/53113374/176941244-3270ecf1-98c9-4517-85de-3b653e1a9473.jpg)

[2022-07-01 17:25] andrewjschuang commented on #3298
There's a lib - [tryfabric/martian](https://github.com/tryfabric/martian) - that looks promising, as [suggested here in Slack](https://pipedream-users.slack.com/archives/CPTJYRY5A/p1656693228968419?thread_ts=1656682807.155879&cid=CPTJYRY5A).

[2022-07-01 17:33] AlexeyArtemev commented on #3251
0.0.2

[2022-07-01 17:47] dannyroosevelt commented on #3251
@AlexeyArtemev Thanks for confirming. I was able to successfully send a message just now using that version of the action:
![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/176945325-4c94e74c-5c26-4547-95fb-af01474ec31b.png)

Looking at [Mailjet's documentation](https://dev.mailjet.com/email/guides/send-api-v31/), it looks like a 401 response from their API corres

[2022-07-01 18:03] dylburger commented on #3266
@arilei yes! Take a look at the code [here](https://github.com/PipedreamHQ/pipedream/tree/master/components/asana/sources)

[2022-07-01 19:48] croveapp opened #3302 "[BUG] Configuration error in Crove's update document action when document id from previous step is used"
**Describe the bug**
While configuring update document action of Crove's integration if we use the document id from the previous step of the workflow it shows some configuration error. In update document action dynamic fields are being populated with the help of entered document id, but when instead of manually adding the document id we use document id from the previous step no dynamic fields are

[2022-07-01 20:40] dannyroosevelt commented on #3302
I actually can't get the prop fields after Document ID to load at all, even when selecting an existing document from the list, via async options. @croveapp are you able to get the `update_document` action working when _not_ referencing a dynamic ID?

[2022-07-01 20:46] croveapp commented on #3302
There needs to be some variables in your document for the fields to load dynamically. You can create variables in your document from crove document editor. You can refer this on how to create variables in documents [https://help.crove.app/variables/adding-variables/](url)

@dannyroosevelt

[2022-07-01 20:54] dannyroosevelt commented on #3302
I'm running into a strange condition where I've now added variables to my document but when selecting the document using that action, no other props are rendering for me and I'm still able to test the step:
![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/176966614-65ae8a69-de01-4d1b-b34a-1161f6991eba.png)

In this case I am expecting my variables to load, or pro

[2022-07-01 21:03] croveapp commented on #3302
Have you added variable to your document as well ? You have to drag the variables from the right side bar into your document and then save the document.
Like this
![image](https://user-images.githubusercontent.com/106083306/176967491-3f563e8c-d019-4a73-9d3b-b3d914c04a52.png)

The dynamic field will load in the workflow like this
![image](https://user-images.githubusercontent.com/106083306/17696759

[2022-07-01 21:04] dannyroosevelt opened #3303 "[BUG] I want to select multiple teams from Linear triggers"
I have to select 1 teamId to watch, but I want to select multiple teamIds. For the [teamId prop](https://github.com/PipedreamHQ/pipedream/blob/master/components/linear_app/linear_app.app.mjs#L25) that is in the current sources, we should use `string[]` type instead of `string[]`.

![image](https://user-images.githubusercontent.com/20780753/176967585-3e31113c-5e76-46c4-8f88-7bb821fe25cb.png)

[2022-07-01 21:08] dannyroosevelt commented on #3302
Got it, thanks : )

Regarding your original issue, this is a known constraint right now, but I'm curious to understand more about your use case. If you're referencing the `documentId` dynamically via the inbound trigger, wouldn't you expect the configuration to change across executions? Can you you tell me more about what you're trying to do?

[2022-07-01 21:18] croveapp commented on #3302
Yes, so in crove we can generate new documents from the templates the document generated have all the variables as defined in the template. We have a trigger document_created which is fired whenever a new document from the template is generated. We want to fire the update_document action whenever document created trigger is triggered. As the generated document have same variables as defined in tem

[2022-07-01 22:11] dannyroosevelt commented on #3302
Got it, thanks. We're chatting internally about the best way to approach your use case. Stay tuned.

[2022-07-02 23:29] dylburger commented on #3243
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-07-02 23:29] #3243 closed

[2022-07-03 14:48] MrZxzx09 commented on #3302
need link plaese hheee..

[2022-07-03 19:42] iRinG-RU commented on #3210
Good evening! Sorry for the long answer, a lot of work. Let's try your work.
I will be happy to convey your proposal for partnership with Wildberries. Do you have a presentation for a partner?

[2022-07-03 23:24] LucBerge opened #3305 "[FEATURE] Add icons in drop down menu"
**Is your feature request related to a problem? Please describe.**
When a prop uses the `options` property, it would be nice to have an icon inline with each labels. For instance, when choosing in a list of countries, we could have the flags. Currency symbols for currencies...etc
The objective is to make the UI more user friendly.

**Describe the solution you'd like**
[The doc says:
](https://pipe

[2022-07-04 00:53] dylburger commented on #3305
@LucBerge Since labels support UTF-8, could you prepend the label with a character like:

🇺🇸 USD
🇬🇧 GBP
…

That character set is extensive and offers flags and many other icons, so I’m curious if that would solve your use case.

[2022-07-04 01:22] dylburger commented on #3305
Yes I hear you. I’m trying to think creatively to see if the existing label model will support. We could support Markdown in labels to also support icons, and more.

[2022-07-04 02:30] LucBerge commented on #3305
Yep ! This issue is just a feature proposition. Up to you to implement it or not.

[2022-07-04 13:35] vunguyenhung opened #3306 "[Bug] Twist OAuth flow is broken"
**Name of app / service**
https://twist.com

**Link to developer documentation**
https://developer.twist.com/v3/

Currently, we already have [a PR implementing actions for Twist app](https://github.com/PipedreamHQ/pipedream/pull/1337), but due to [an issue on the Oauth flow](https://github.com/PipedreamHQ/pipedream/pull/1337#issuecomment-1170010454) that we couldn't test & release it.

This issue

[2022-07-04 13:36] dylburger commented on #3306
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-07-04 14:13] ramsaimp opened #3307 "[ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-07-04 16:03] sergioeliot2039 commented on #3306
Hi @vunguyenhung, do you go by Leo on our [Pipedream-Users Slack space](https://join.slack.com/t/pipedream-users/shared_invite/zt-1burk0o2u-6TkKJtiubIn27JMWZic0oQ)?

Anyway, I removed the "added to app backlog" label - we use this when the app needs to be submitted to the [app store](https://pipedream.com/explore) using the [submit an app form](https://pipedream.com/submit-an-app) and ultimately a

[2022-07-04 16:13] lcaresia commented on #3202
@DilanAthukorala Can you describe step by step how to access this config screen?

Thanks, I will move this to blocked for now!

[2022-07-04 16:14] sergioeliot2039 commented on #3306
Hey Leo!  I just saw after your reply the context provided by the [Issue Comment](https://github.com/PipedreamHQ/pipedream/pull/1337#issuecomment-1170010454) which you opportunely linked to.

Looks like Apps & Integrations Backlog is the right place (and thus the "added to app backlog" label) most suitable after all.
I have amended back as it was. Sorry for the pivoting

[2022-07-04 19:23] alysonturing commented on #3254
Sure, I'm checking...

[2022-07-04 23:29] dylburger commented on #3176
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-07-04 23:29] #3176 closed

[2022-07-05 00:37] LoganTraceur commented on #3255
I also have this problem. Thanks to the Pipedream team for pointing me to this github issue.
I am very interested to see how it develops

[2022-07-05 00:53] GTFalcao commented on #3289
@dannyroosevelt there are currently three StackExchange triggers:
- New Answers for Specific Questions
- New Answers from Specific Users
- New Question for Specific Keywords

Would these two new triggers be more generic versions then?
- emit event for a new answer to _any_ existing question, rather than selecting one or more questions or users to filter with;
- emit event for _any_ new question po

[2022-07-05 01:44] #3307 closed

[2022-07-05 05:40] Hassan-Abbas-SQA commented on #3254
@alysonturing seems like it is not triggering events for .paper files but rest works fine for me

[2022-07-05 08:05] Drysque commented on #3258
SendInBlue support basically said no.

You can close this until someone is willing to do it.
Do you think I should get in contact with the one who made the app's integration in the first place ?

[2022-07-05 08:53] nachocab opened #3308 "[APP] Meetup"
**Name of app / service**: Meetup

**Link to developer documentation**: https://www.meetup.com/api/

[2022-07-05 12:45] ctrlaltdylan commented on #1955
Cases when users are hitting the rate limit of Twitter 1.1 OAuth:

* https://pipedream.com/community/t/how-to-add-dm-into-trigger/2078/7

[2022-07-05 12:54] #3254 closed

[2022-07-05 12:56] alysonturing commented on #3254
@Hassan-Abbas-SQA @dannyroosevelt since it's not working as it should for .paper files, shouldn't we create a new bug for fixing this? feel free to assign it to me if you want

[2022-07-05 13:03] Hassan-Abbas-SQA commented on #3254
I'm creating a new ticket and assign it to you @alysonturing

[2022-07-05 15:19] nachocab opened #3312 "[APP] Google Maps Platform"
**Name of app / service**: Google Maps Platform

**Link to developer documentation**: https://developers.google.com/maps/documentation/places/web-service/overview

[2022-07-05 15:38] GTFalcao commented on #3290
@feyzullah have you started working on this issue, or may I start it?

[2022-07-05 15:39] feyzullah commented on #3290
Hi @GTFalcao I started this yesterday

[2022-07-05 16:29] massettim opened #3314 "[ACTION] Link a YouTube Video in Telegram message"
Anyone who posts a video on YouTube and has a community on Telegram.

Should be required only the Telegram information you already have

and the videoId from Youtube https://stackoverflow.com/questions/51956099/how-to-get-video-url-with-youtube-apiv3

[2022-07-05 17:37] dylburger commented on #3258
@Drysque We'll get this on our backlog for our team so someone can take a look. Thanks for following up with SendInBlue.

[2022-07-05 17:38] #2472 closed

[2022-07-05 18:28] Hassan-Abbas-SQA opened #3316 "[BUG] Event not triggering when creating a .paper file in Dropbox > New File source"
Source:  New File in DropBox not triggering any event on creating a new .paper file but works fine for rest of the file types

[2022-07-05 21:25] dannyroosevelt commented on #3136
I'm looking into which actions and triggers would make most sense to support, and I'll get it on the project board after that.

[2022-07-05 23:29] dylburger commented on #3250
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-07-05 23:29] #3250 closed

[2022-07-06 00:34] #3277 closed

[2022-07-06 04:50] dylburger commented on #3312
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-07-06 13:05] jladams69 opened #3319 "add a value to a database in notion, for every tweet like?"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-07-06 14:17] dannyroosevelt commented on #3281
This is ready for release!

[2022-07-06 14:53] vunguyenhung commented on #3005
Hello everyone, I couldn't test this changes on my side by publishing a test component importing the new axios code
![image](https://user-images.githubusercontent.com/18277920/177579606-c1f465f3-8725-42b0-a98f-6e1e06fe2c68.png)
![image](https://user-images.githubusercontent.com/18277920/177579668-77a04efd-8369-463e-b64a-45c75eae10d5.png)

Per discussion with @andrewjschuang,  it is not possible to

[2022-07-06 15:29] lcaresia commented on #3295
@dannyroosevelt I did not find a way to code the `Completed Task Trigger`, I block this task or continue just with the action?

[2022-07-06 15:41] ctrlaltdylan commented on #2346
Here's the hidden documentation for pushing numbers to the Smirrl API:

https://help.smiirl.com/article/292-how-can-i-get-my-counter-id-and-token-for-zapier-api

[2022-07-06 15:49] ctrlaltdylan commented on #3260
@vellames-turing ah obviously. Thanks for the pointer.

I don't know why my custom components didn't work. I must be misunderstanding base64 encoding/decoding somewhere.

[2022-07-06 15:57] dannyroosevelt commented on #3289
Oops, I missed those -- thanks for confirming. No action required.

[2022-07-06 15:57] #3289 closed

[2022-07-06 16:34] #3005 closed

[2022-07-06 17:08] andrewjschuang commented on #3005
`@pipedream/platform v1.0.0` functioning correctly:

- passing `debug: true` to `@pipedream/platform/axios` exports the request config and the response

![Screen Shot 2022-07-06 at 1 47 22 PM](https://user-images.githubusercontent.com/15385076/177605391-264981fe-a41b-414c-9248-71d18bf5ef94.png)

- passing `body` to `@pipedream/platform/axios` results in `ConfigurationError`

![Screen Shot 2022-07-

[2022-07-06 17:12] dannyroosevelt commented on #3294
This is ready for release!

[2022-07-06 17:19] andrewjschuang opened #3322 "[TEST] Ready for Release Workflow"
No assignees in this issue. When moved to Ready for Release column, should tag on-call reviewer.

[2022-07-06 17:29] #3322 closed

[2022-07-06 17:29] #3294 closed

[2022-07-06 19:40] dannyroosevelt opened #3323 "Add Pipedream app to Shopify marketplace"
https://apps.shopify.com/services/app_submissions/ba97abd5e7b70f50603b79dea00717e3/edit_listing/en

[2022-07-06 19:57] dannyroosevelt opened #3324 "[BUG] Segment actions are all missing the name property in the component code"
It looks like `name` inadvertently got replaced to `label` in a recent refactor: https://github.com/PipedreamHQ/pipedream/pull/2483/files

[2022-07-06 20:42] andrewjschuang opened #3330 "[ACTIONS/TRIGGERS] for dev-components workflows"
Actions and sources for dev-components workflows

- GitHub Action - Get Reviewers and Approvals for PR or Commit SHA
- GitHub Source - New Project Card in Column (either moved or created)
- Slack Action - Send Large Message (3001+ characters)
- Pipedream Action - Get Published Component Info (app, key, version, action or source)

[2022-07-06 21:44] jcortes commented on #3288
Hi @dannyroosevelt about the triggers I think they are already implemented:
* [post-published](https://github.com/PipedreamHQ/pipedream/blob/master/components/ghost_org_admin_api/sources/post-published/post-published.mjs)
* [page-published](https://github.com/PipedreamHQ/pipedream/blob/master/components/ghost_org_admin_api/sources/page-published/page-published.mjs)

So I think the only missing com

[2022-07-06 21:47] dannyroosevelt opened #3331 "[ACTION] HTTP: Return HTTP Response"
App: `http`

Action: Return HTTP Response
Props:
- status: int, default 200; required
- headers: object; optional
- body: any; optional

See our docs on how to structure the code: https://pipedream.com/docs/workflows/steps/triggers/#http-responses

Make sure to include a note in the description that this require an HTTP Trigger with "Return a custom response from your workflow" selected as the "HT

[2022-07-06 21:56] dannyroosevelt commented on #3288
Thanks Jorge, sorry for the confusion

[2022-07-06 22:37] dannyroosevelt opened #3332 "[Refactor / Improvement] Add GET request to certain Instant Webhook-Based Sources"
**Problem:**
Many of our webhook-based sources (Telegram Bot for example), require users to manually trigger an eligible event to get picked up by the trigger, in order for a test event to show appear when they're building a new workflow. This is not always obvious to the user, so when they can't figure out how to do this, sometimes they give up.

**Solution:**
We should do this automatically for

[2022-07-06 23:34] dannyroosevelt opened #3333 "[TRIGGER] telegram_bot_api"
Part of https://github.com/PipedreamHQ/pipedream/issues/3332

[2022-07-06 23:35] dannyroosevelt opened #3334 "[TRIGGER] github"
Part of #3332

[2022-07-06 23:36] dannyroosevelt opened #3335 "[TRIGGER] trello"
Part of #3332

[2022-07-06 23:36] dannyroosevelt opened #3336 "[TRIGGER] bitbucket"
Part of #3332

[2022-07-06 23:37] dannyroosevelt opened #3337 "[TRIGGER] jotform"
Part of #3332

[2022-07-06 23:38] dannyroosevelt opened #3338 "[TRIGGER] stripe"
Part of #3332

[2022-07-06 23:38] dannyroosevelt opened #3339 "[TRIGGER] webflow"
Part of #3332

[2022-07-06 23:39] dannyroosevelt opened #3340 "[TRIGGER] microsoft_outlook"
Part of #3332

[2022-07-06 23:39] dannyroosevelt opened #3341 "[TRIGGER] discord"
Part of #3332

[2022-07-06 23:40] dannyroosevelt opened #3342 "[TRIGGER] zoom"
Part of #3332

[2022-07-06 23:40] dannyroosevelt opened #3343 "[TRIGGER] google_calendar"
Part of #3332

[2022-07-06 23:40] dannyroosevelt opened #3344 "[TRIGGER] woocommerce"
Part of #3332

[2022-07-06 23:49] dannyroosevelt commented on #3040
@vellames-turing FYI the authentication error is now fixed

[2022-07-06 23:59] dannyroosevelt commented on #983
### App
`infusionsoft`
https://developer.infusionsoft.com/docs/rest/

### Triggers
- New payment
- New invoice
- New appointment
- New order

### Actions
- Get contact
- Get company
- Create invoice
- Add product to invoice

[2022-07-07 00:05] dylburger opened #3345 "[BUG] QA two event sources"
Specific issues to investigate:

- The `twitch-new-follower` event source never appears to emit any events, so it might not work correctly. Can someone confirm whether they're able to reproduce the issue? If so, we'll need to fix.
- The `notion-new-database` source appears to throw errors and fail to emit under certain conditions. Can we QA that to make sure it works end-to-end?

[2022-07-07 00:36] andrewjschuang commented on #3332
This is implemented in Gorgias [here](https://github.com/PipedreamHQ/pipedream/pull/2974/files#diff-e658b6f8707f232549331c465959d375bca3423885dc6acd2f7a7eb38496da44).

[2022-07-07 02:35] vunguyenhung opened #3346 "[BUG] [Source] Twitch: New Follower is not emitting events"
**Describe the bug**
The Twitch New Follower event source never appears to emit any events

**To Reproduce**
Steps to reproduce the behavior:
1. I created 2 Twitch accounts: vunguyenhung and hungvturing
![image](https://user-images.githubusercontent.com/18277920/177676310-d351aa9f-7fb8-47c7-8286-f3484b9ae100.png)
![image](https://user-images.githubusercontent.com/18277920/177676381-2f6c2e93-55b6-4

[2022-07-07 02:39] vunguyenhung opened #3347 "[BUG] [Source] Notion: New Database is not emitting events"
**Describe the bug**
Notion: New Database source is not emitting events

**To Reproduce**
Steps to reproduce the behavior:
1. I run `pd dev` on the Notion New Database source in order to see detailed log
![image](https://user-images.githubusercontent.com/18277920/177678516-f8ce257d-fb28-4be2-a58b-60bf22a001dd.png)
2. On Notion, I created 2 Notion Databases:
![image](https://user-images.githubuserc

[2022-07-07 02:41] vunguyenhung commented on #3345
Hello @dylburger, I can reproduce those 2 issues on my side

I have compose my findings in the test report here
[BUG_QA_two_event_sources_3345_0930.pdf](https://github.com/PipedreamHQ/pipedream/files/9059867/BUG_QA_two_event_sources_3345_0930.pdf)

---
I have created 2 issues here to track each bug separately, could you check when you have time?
- https://github.com/PipedreamHQ/pipedream/issues/33

[2022-07-07 02:51] au135447 opened #3348 "[APP] Workflow Max"
**Name of app / service**
Workflow Max

**Link to developer documentation**
https://www.workflowmax.com/api/v3/lead-methods

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Lack of support does prevent me from building workflows

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigg

[2022-07-07 03:07] zalmanlew commented on #3331
Adding that the `status` int should have a minimum of 100 and a maximum of 599
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status

[2022-07-07 03:13] dylburger commented on #3345
Thanks for reviewing @vunguyenhung , closing this issue!

[2022-07-07 03:13] #3345 closed

[2022-07-07 03:45] GTFalcao commented on #2995
This needs to be tested with an Enterprise account, or a similar account that is able to create custom schemas, as per the documentation linked on the first comment of this issue.

I can successfully fetch the (empty) list of custom schemas from my account, but am unable to create new custom schemas to move forward with this.

[2022-07-07 04:07] dylburger opened #3351 "[BUG] QA Zoho CRM components that use `@pipedream/platform` axios"
A user reported [an issue with a Zoho CRM source](https://pipedream-users.slack.com/archives/CPTJYRY5A/p1657164953938499) in public Slack. I noticed we were using `@pipedream/platform` axios in the event source and passing `this` to the first argument in the `listModules` method ([see this diff](https://github.com/PipedreamHQ/pipedream/pull/3349/files)), but passing `this` in sources to `@pipedrea

[2022-07-07 04:49] nodakjones opened #3352 "Create Payment"
**Is there a specific app this action is for?**
Quickbooks

**Please provide a link to the relevant API docs for the specific service / operation.**

https://developer.intuit.com/app/developer/qbo/docs/api/accounting/most-commonly-used/payment

[2022-07-07 09:44] gcamach0 commented on #3341
Hi, I would like to on this one, you think. Can I give it a try?

[2022-07-07 12:34] lcaresia commented on #3303
@dannyroosevelt There is no way to listen only the selected teams, you just can listen a **specific team** or **all public teams**.

To listen all public teams you just need stay the `Team ID` field empty, I will just explain this in the field description, like this:

`The identifier or key of the team that will be listen, still this empty to listen all public teams.`

What you thing?

[2022-07-07 12:38] andrewjschuang commented on #3351
We are using `this` as a fallback if `$ is null`; it should just ignore and not break anything. I think the error that happened in the Zoho Source is because `@pipedream/platform/axios` already extracts `data` and returns it.

So this code would not have data defined:
`const { data } = await axios(this, config); // @pipedream/platform`

It should have been:
`const data = await axios(this, config);

[2022-07-07 12:44] andrewjschuang commented on #3351
I've recently updated `@pipedream/platform` axios [here](https://github.com/PipedreamHQ/pipedream/blob/master/platform/lib/axios.ts#L116) (v1.0.0). If `this` is passed as the `step` in a source, it will just append the message to `this`, doing nothing.

It could make sense to change the function to:
[code]

[2022-07-07 12:56] bigMzz opened #3354 "[TRIGGER] Random item from RSS feed"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
Just need a random item selection from rss feed items. doesnt matter when it is posted or anything. just a random selection for every X minutes.
it will be very useful for telegram bots which needed to post something from a feed daily or hourly

**Please provide a link to the relevant API docs for t

[2022-07-07 14:41] #3281 closed

[2022-07-07 16:14] Hassan-Abbas-SQA commented on #3314
@massettim Can you please specify what specific action or trigger that you want that would be very helpful

[2022-07-07 16:43] dannyroosevelt commented on #3341
Definitely! Please check out #3332 for context, and if you have any questions, [our docs](https://pipedream.com/docs/components/quickstart/nodejs/sources/#quickstart-source-development) are a good place to get started, and the #contribute channel in our [community Slack](https://join.slack.com/t/pipedream-users/shared_invite/zt-11sazmsg0-oS2VW~mZfhtk3XfEEvb~JA) is the best place to ask for help.

[2022-07-07 17:28] michelle0927 commented on #3347
Databases in Notion have to be shared with the user's Pipedream integration to be accessible. When setting up a Notion account in Pipedream, the user selects which databases to share:
<img width="567" alt="Screen Shot 2022-07-07 at 12 48 31 PM" src="https://user-images.githubusercontent.com/10889229/177834006-662425ab-c78d-4674-9c91-bdf83c5caa70.png">

When creating new databases in Notion, they c

[2022-07-07 17:31] andrewjschuang commented on #3351
Looking at the history of these components, they were legacy-converted that used standard `axios` and were updated to use `@pipedream/platform/axios`. There seems to be some inconsistencies in the way `data` is being handled, so it would be great if these components were QA'd. Moving to QA column

[2022-07-07 17:36] rdohms opened #3358 "[ACTION] SurveyMonkey Get Response details (with Answers)"
We can get the response, but that API call only returns metadata, the `/details` endpoint that returns actual answer data is not available.

Ref: https://developer.surveymonkey.com/api/v3/#api-endpoints-get-surveys-survey_id-responses-response_id-details

[2022-07-07 19:25] gcamach0 commented on #3341
Thanks I'll let you know any updates

[2022-07-07 20:45] dannyroosevelt commented on #3331
Good call @zalmanlew, thank you!

[2022-07-07 21:38] dannyroosevelt commented on #3336
@bush4u we should implement this approach in any Bitbucket source that is webhook-based. Does that help?

[2022-07-07 21:41] dannyroosevelt commented on #3303
If you can listen to a specific team, can't we write some custom logic to listen to any one of the team IDs the user specifies?

[2022-07-08 08:18] jladams69 commented on #3319
I am looking for a method the retrieve the analytics for a tweets likes, retweets, comments and engagements directly into a notion workspace

[2022-07-08 08:43] Hassan-Abbas-SQA commented on #3319
alright then @jladams69 do you need trigger or an action?

[2022-07-08 12:48] ctrlaltdylan opened #3365 "[BUG] Airtable - Update Record - "Unknown configuration error""
**Describe the bug**
When using the Airtable "update_record" action, I often get "Unknown configuration error - please refresh fields and try again."

**To Reproduce**
Steps to reproduce the behavior reported by the [customer](https://app.frontapp.com/open/msg_11so5x3b):

* Error appears to occur after selecting Table, and will occur indiscriminately across selecting multiple tables
* Issue appear

[2022-07-08 13:11] vishnureddy70 opened #3366 "[ACTION]"
,"message_id":"79f1cf33-7018-404c-9fe7-cc15fa5e0898","timestamp":"2022-05-07T10:

**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-07-08 13:11] vishnureddy70 opened #3367 "[ACTION]"
,"message_id":"79f1cf33-7018-404c-9fe7-cc15fa5e0898","timestamp":"2022-05-07T10:

06:13.909591Z"},"message":{"intent":{"fulfillment":{"start":{"location":{}},"end

**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-07-08 13:15] vishnureddy70 opened #3368 "[ACTION]"

[2022-07-08 13:21] vishnureddy70 opened #3369 "[ACTION]"
57-867a-b41843d5621b","message_id":"79f1cf33-7018-404c-9fe7-cc15fa5e0898","times
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-07-08 13:21] vishnureddy70 opened #3370 "[ACTION]"
57-867a-b41843d5621b","message_id":"79f1cf33-7018-404c-9fe7-cc15fa5e0898","times
tamp":"2022-07-08T18:48:19.851987387"},"message":{"ack":{"status":"NACK"}},"erro
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-07-08 13:23] #3369 closed

[2022-07-08 13:23] #3370 closed

[2022-07-08 13:23] #3367 closed

[2022-07-08 13:24] vishnureddy70 opened #3371 "[ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-07-08 13:24] #3371 closed

[2022-07-08 13:26] vishnureddy70 opened #3372 "[ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-07-08 13:29] #3372 closed

[2022-07-08 13:33] vishnureddy70 opened #3373 "[ACTION]"
,"message_id":"79f1cf33-7018-404c-9fe7-cc15fa5e0898","timestamp":"2022-05-07T10:

**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-07-08 13:38] #3373 closed

[2022-07-08 13:40] vishnureddy70 opened #3374 "[ACTION]"
% Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-07-08 13:51] vishnureddy70 opened #3375 "[ACTION]"
% Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-07-08 14:11] #3374 closed

[2022-07-08 14:11] #3375 closed

[2022-07-08 16:01] #91 closed

[2022-07-08 19:11] fantasiummedia commented on #3220
Hi @dylburger,

Any update on this? If I can help at all setting this up let me know!

[2022-07-08 23:29] dylburger commented on #2997
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-07-08 23:36] Kingdomnomics opened #3381 "access token"

[2022-07-09 11:56] ctrlaltdylan opened #3383 "[BUG] Shopify Partner - API version needs updated"
**Describe the bug**

The Shopify API version defined in the source is no longer valid:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create any Shopify Partner source

<img width="1530" alt="CleanShot 2022-07-09 at 07 54 33@2x" src="https://user-images.githubusercontent.com/2694734/178104530-74c14dd9-7f52-4f90-9c57-17ca03c01d24.png">

**Solution**
Update API version in the client

[2022-07-09 12:56] sealinkslogisticst opened #3384 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**