[2022-04-08 07:37] ruie commented on #209
+1

[2022-04-08 09:36] giondo commented on #216
no update yet?
I would be great to have conditionals steps
so we can perform different actions with diff integrations depending on the trigger

[2022-04-08 10:14] dannyroosevelt commented on #1879
@andrewjschuang this is ready for release!

[2022-04-08 17:28] ctrlaltdylan commented on #2389
Hi @philwolstenholme - thanks for the suggestion. We've added a brand new source to the Dev.to component to support listening to new articles on your account:

https://github.com/PipedreamHQ/pipedream/pull/2451

It should be available as a trigger now, if you'd like to give it a try :)

[2022-04-08 20:43] dannyroosevelt opened #2583 "[Enhancement] Filter action"
I want to filter a workflow based on a number of different conditions. For example, if value A != value B, stop execution.

I've created a [non-functional draft PR](https://github.com/PipedreamHQ/pipedream/pull/2582) that includes the scaffolding as a guide for implementation, along with Zapier's filter app:
https://zapier.com/help/create/customize/add-conditions-to-zaps-with-filters

[2022-04-10 22:36] dylburger opened #2586 "[APP] Xero Practice Manager"
https://developer.xero.com/documentation/api/practice-manager/overview-practice-manager/

[2022-04-11 02:02] dylburger commented on #216
@giondo No update on this yet, but it's near the top of our backlog after we finish #220 (currently our #1 most-requested feature).

[2022-04-11 06:09] dannyroosevelt commented on #1510
@feyzullah this is ready for release!

[2022-04-11 10:44] SemaphoreOxalis opened #2591 "[ACTION] create/update Joomla4 article"
**Is there a specific app this action is for?**
Joomla!4 CMS

**Please provide a link to the relevant API docs for the specific service / operation.**
https://docs.joomla.org/J4.x:Joomla_Core_APIs#Content

[2022-04-11 11:43] dannyroosevelt commented on #1511
@vellames-turing this is ready for release!

[2022-04-11 12:00] #1511 closed

[2022-04-11 15:28] EnGlamdring commented on #216
@dylburger +1 I'm doing multiple flows right now to handle this and it's driving me nuts. Thanks!

[2022-04-11 16:20] dannyroosevelt commented on #2586
This is configured and is just pending approval from Xero.

[2022-04-11 16:22] dylburger commented on #2591
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-04-11 17:49] dannyroosevelt opened #2592 "[BUG] Not able to add ActiveCampaign: New Contact Added to List (Instant)"
First reported by a [user in Slack here](https://pipedream-users.slack.com/archives/CMZG4EBJ9/p1649615333039559)
![image](https://user-images.githubusercontent.com/20780753/162799245-b6c812b6-b79a-4509-ba53-5b044c8d0f7d.png)

[2022-04-11 19:08] dannyroosevelt commented on #2387
Closing this out since we're tracking in https://github.com/PipedreamHQ/pipedream/issues/1481

[2022-04-11 19:08] #2387 closed

[2022-04-11 19:10] dannyroosevelt commented on #2443
@maxyedid we're going to tackle this work as a part of https://github.com/PipedreamHQ/pipedream/issues/1481, so I'm going to close out this ticket (feel free to follow 1481 for updates!)

[2022-04-11 19:10] #2443 closed

[2022-04-11 20:20] MartenHirsch opened #2596 "Import Data into Dynamics 365 fields"
I want to take data that customers provide us in Jotform and import the data into the appropriate fields in Dynamics 365.  Dynamics 365 has out of the box entities/tables with fields but we use mostly custom entities/tables.  So i need to be able to push the data into those custom entity fields.

Here is some information on custom entities/tables.  https://docs.microsoft.com/en-us/power-apps/maker

[2022-04-11 21:31] dannyroosevelt commented on #2592
@andrewjschuang this is ready for release!

[2022-04-11 21:32] #1037 closed

[2022-04-11 21:32] #1482 closed

[2022-04-11 21:33] #2592 closed

[2022-04-11 21:53] dannyroosevelt commented on #925
Another +1 from a customer in Slack

[2022-04-11 23:23] dylburger commented on #2545
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-04-11 23:23] #2545 closed

[2022-04-11 23:41] zalmanlew commented on #203
Any news on this? It's becoming increasingly important in my use case. Especially as I add more and more workflows, for many different projects.
I agree that folders is the way to handle it.
I was pretty happy with the way Zapier did it (it was basically the only thing they did right 😉)

[2022-04-12 00:17] dylburger commented on #203
No immediate news, but this is still on the backlog for 2022. We just hired a few more engineers, so I believe the pace of releases is likely to increase!

[2022-04-12 00:25] dylburger commented on #2519
We've added this issue to our backlog. You can follow this issue for updates!

[2022-04-12 00:40] dannyroosevelt opened #2599 "[BUG] Not able to create source -- Google Sheets: New Row Added"
This appears to happen with 1 spreadsheet specifically, for this user. Not all API calls fail for this spreadsheet however, they are able to access the spreadsheet properties. Context from Slack: https://pipedream-users.slack.com/archives/CMZG4EBJ9/p1649717873040829

![image](https://user-images.githubusercontent.com/20780753/162855491-b608e663-d765-4739-8b9d-dea1e9b93a21.png)

[2022-04-12 02:15] dylburger commented on #2578
@dannyroosevelt Do you still need this?

[2022-04-12 02:17] dylburger commented on #2530
I noticed when helping a user that we still show a success message even if the value written is `undefined`. In that case we don't write the value to the DB. @dannyroosevelt Is that intentional behavior in the data store itself, or is that not expected? If it's expected then I would include some code to check for that case in the action and return an error to the user.

[2022-04-12 07:54] dannyroosevelt commented on #2147
@jcortes this is ready for release!

[2022-04-12 09:04] RahulVishK opened #2602 "convertToPixel is not working for radar chart"
option = {
  title: {
    text: 'Basic Radar Chart'
  },
  legend: {
    data: ['Allocated Budget', 'Actual Spending']
  },
  radar: {
    // shape: 'circle',
    indicator: [
      { name: 'Sales', max: 6500 },
      { name: 'Administration', max: 16000 },
      { name: 'Information Technology', max: 30000 },
      { name: 'Customer Support', max: 38000 },
      { name: 'Development', max: 52000

[2022-04-12 13:37] ndtreviv opened #2603 "Stripe - Find Product from checkout.session.completed event"
# Overview
An action that takes data from a Stripe event listener and finds the associated product details on stripe given the checkout session.

# How
At the moment this is possible using individual stripe API actions.

First, get the checkout session line items from the `checkout.session.completed` event's object ID:

[code]

Second, get the price of the first line item (this could not be the fi

[2022-04-12 13:56] ctrlaltdylan opened #2604 "[FEATURE] Sharing Sources"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to share sources across PD accounts, just like sharing v1 workflows.

**Describe the solution you'd like**

**Do you have a workaround?**

At this time no.

**Additional context**

Requested by DevRev.

[2022-04-12 13:57] Viaflow-Tech opened #2605 "[Pessoa Desenvolvedora RPA | Júnior]"
## Nossa empresa

APAIXONADOS POR TECNOLOGIA E INSPIRADOS PARA TRANSFORMAR!
Na Viaflow, somos um time apaixonado por tecnologia. E somos GPTW!
Isso é resultado de um time que acredita que TODOS somos responsáveis por construir um ambiente cada vez mais incrível para se trabalhar.
Aqui, nós acreditamos que empresas de sucesso se diferenciam pelos seus talentos e uso de tecnologias inovadoras. Acred

[2022-04-12 16:10] dylburger commented on #2604
Duplicate of #266

[2022-04-12 16:10] #2604 closed

[2022-04-12 16:12] dylburger commented on #2603
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-04-12 16:23] #2605 closed

[2022-04-12 16:30] adarik opened #2606 "[APP]"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-04-12 16:31] #2606 closed

[2022-04-12 18:25] #2602 closed

[2022-04-12 18:35] cfjedimaster opened #2608 "[BUG] Move Data Stores Limits doc"
A small thing, but the notes for DS limitations (https://pipedream.com/docs/code/nodejs/using-data-stores/#data-store-limitations) currently live under the code portion of working with data stores. I think it should be under the *core* DS docs at https://pipedream.com/docs/data-stores/. That being said (grin), I'd keep the supported data types (https://pipedream.com/docs/code/nodejs/using-data-sto

[2022-04-12 18:44] dannyroosevelt commented on #2608
@ctrlaltdylan -- this is a good point. the limitations probably belong in both places. wdyt?

[2022-04-12 18:46] ctrlaltdylan commented on #2608
I dig it! Thanks again for another helpful suggestion @cfjedimaster 🍻

[2022-04-12 22:30] dannyroosevelt commented on #2578
yea I'm still hacking on a workflow that's related to this. I'll give you $5 if you can figure out how to get linked PR(s) from a given GH issue...

[2022-04-12 22:31] #2147 closed

[2022-04-12 23:10] dannyroosevelt commented on #2530
Good catch -- that is not expected.

[2022-04-13 00:23] dannyroosevelt opened #2610 "[Updates] Linear Actions and Triggers"
The components are shared between `linear` and `linear_app`.

### Triggers
- Add optional prop to both triggers for `team`, `project` (use async options)

### Actions
- Handle pagination (the user should not have to configure after/before/first/last)
- Update "Search issues" action and add the below optional props (with async options if possible):
  - team
  - project
  - assignee
  - label

[2022-04-13 16:14] johndbritton opened #2611 "[APP] Multiple RSS Feeds"
**Name of app / service**

Multiple RSS feeds

**Link to developer documentation**

This is the same as RSS, but allowing for an arbitrary number of feeds to be input.

**Is lack of support preventing you from building workflows, or do you have a workaround?**

I have a workaround, to create one source for each RSS feed, but with dozens of feeds it's very busy in the UI.

**Are there specific acti

[2022-04-13 16:34] andrewjschuang commented on #2610
@dannyroosevelt is there a reason for this app to be separated? Can we join them?

[2022-04-13 17:04] andrewjschuang commented on #2610
Oh, `linear_app` uses API key and `linear` uses OAuth

[2022-04-13 18:03] devang-kredx commented on #216
I'd like to keep logic of different branches of a workflow separated and clean so that it's easier to track and debug (rather than managing branching in the code itself and then having if-else statement in every subsequent block)

[2022-04-13 22:29] tekacs opened #2615 "[APP] Google Keep"
**Name of app / service**

Google Keep

**Link to developer documentation**

https://developers.google.com/keep/api/reference/rest/

**Is lack of support preventing you from building workflows, or do you have a workaround?**

Without building a source here, there isn't really a way to request the scopes associated with Google Keep via OAuth... I think? So I'm stopping until this is done, currently

[2022-04-13 23:03] sergioeliot2039 commented on #2615
Integrating Google Keep requires to use OAuth 2.0 protocol for authentication.
Check [Google Keep quickstart](https://developers.google.com/keep/api/guides/quickstarts-overview). This
links to Google''s [Authentication and authorization overview](https://developers.google.com/workspace/guides/auth-overview) which discusses Oauth 2.0 authentication

[2022-04-13 23:17] dannyroosevelt commented on #2403
@murffious we just completed a basic integration with Pinterest:
https://pipedream.com/apps/pinterest

[2022-04-13 23:17] dylburger commented on #2403
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-04-14 00:43] tekacs opened #2616 "[BUG] Autocomplete dropdown is cut off if the code area is smaller than the dropdown"
**Describe the bug**
When using the autocomplete dropdown in a code (Node, but probably anything?) area, it's cut off by the containing editor area, which means that if you haven't typed enough lines, it expands below the editor area and is cut off visually.

**To Reproduce**
1. Create a new Node block
2. Type `$.send.`
3. Observe that the autocomplete dropdown is cut off -- and you can select (by

[2022-04-14 00:53] dylburger commented on #2616
Thanks for raising. I can reproduce and we're taking a look.

[2022-04-14 00:55] dylburger commented on #2611
Thank you for raising, @johndbritton ! We are tracking at #253 . I just moved that ticket a bit higher on our backlog to see if we can get to it soon!

[2022-04-14 00:55] #2611 closed

[2022-04-14 13:49] ctrlaltdylan opened #2620 "[BUG] Workflow attachments aren't available in v2 Node.js code steps"
**Describe the bug**

Files uploaded to workflows via attachments in the settings are not available in the `steps.trigger.context.attachments` object.

Documented in detail on the internal bug board: https://linear.app/pipedream/issue/PD-804/workflow-attachments-are-not-present-in-stepstriggercontextattachments

[2022-04-14 16:24] vellames-turing commented on #2530
Starting here

[2022-04-14 17:45] dylburger opened #2623 "Docs: Homebrew install"

[2022-04-14 18:11] #2389 closed

[2022-04-14 23:23] dylburger commented on #2575
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-04-14 23:23] #2575 closed

[2022-04-14 23:23] dylburger commented on #2573
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-04-14 23:23] #2573 closed

[2022-04-14 23:23] dylburger commented on #2553
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-04-14 23:23] #2553 closed

[2022-04-14 23:49] dannyroosevelt opened #2624 "[Actions and Triggers] Close"
App: `close`
https://developer.close.com/

## Triggers
- New lead
- Lead status changed
- New opportunity

## Actions
- Search leads
- Create a lead
- Update a lead

[2022-04-14 23:51] dannyroosevelt commented on #2575
@rmeyer231 FYI you can track this work on our backlog here: https://github.com/PipedreamHQ/pipedream/issues/2624

[2022-04-15 16:03] dannyroosevelt opened #2626 "[ACTION] Config helper action"
Let's put this under `helper_functions` for now.

This action should just take any type of input and simply export the value, so users don't have to write custom code to define variables they need to reference.

For example:
[code]

[2022-04-15 19:14] DilanAthukorala commented on #1488
Verification completed.
FYI: Unable to test actions that require paid subscription.

[2022-04-15 19:14] dannyroosevelt commented on #1488
@lcaresia this is ready for release!

[2022-04-15 21:06] dannyroosevelt commented on #2583
@andrewjschuang this is ready for release!

[2022-04-15 21:06] dannyroosevelt commented on #2583
@andrewjschuang this is ready for release!

[2022-04-15 21:13] #2583 closed

[2022-04-15 22:15] dylburger commented on #212
We just shipped a way to pin package versions in Node.js code steps! See https://pipedream.com/docs/code/nodejs/#pinning-package-versions for more details (reproducing below), and let us know if you have any questions / feedback on the implementation.

We're still considering exposing the existing version of dependencies in a more clear way, so let us know if there are other related features you'd

[2022-04-15 22:15] #212 closed

[2022-04-15 22:26] tekacs commented on #2037
Would love to see this. For any serious production use, this is a necessity.

A stopgap would be to disable the ability to reset or set password on my account, since I'm authenticated in using Github which has 2FA.

If I could 'turn off' password authentication, then Github's 2FA would adequately protect my account. As it stands, I suspect that someone could reset password to get around this and t

[2022-04-16 15:23] dannyroosevelt commented on #2626
Original request came from public Slack here: https://pipedream-users.slack.com/archives/CN1BUB92B/p1650033779970799

[2022-04-17 17:07] dylburger opened #2633 "New Language: Rust"
I'd like to run Rust in code steps, like I can for Node, Go, Python, etc.

[2022-04-18 05:53] DilanAthukorala commented on #1458
@andrewjschuang
Observing error when trying to deploy app into Pipedream
![image](https://user-images.githubusercontent.com/102980146/163761794-9780c837-aae3-4df1-ae96-47b43a3ef009.png)

[2022-04-18 12:56] andrewjschuang commented on #1458
Hey Dilan, this happens because all the imports summed up goes beyond Pipedream's size limit. Hadn't been able to think of a solution until now, but it will take some heavy refactoring of the directory files/structure

[2022-04-18 14:28] #2518 closed

[2022-04-18 18:12] l1574 opened #2638 "avivalcris.onmicrosolft.onmicrosolft.com"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-04-18 18:30] dylburger commented on #2638
@l1574 Thanks for the request. Can you tell me what the specific service is that you're trying to integrate, and more information about your use case?

[2022-04-18 18:32] lcaresia commented on #1496
Blocked for now, need a paid account.

[2022-04-18 18:36] lcaresia commented on #631
Blocked for now, need integrate the Google Form as a app first.

[2022-04-18 18:50] bush4u commented on #1537
I got this error while trying to connect to **Xero accounting account**

<img width="1004" alt="image" src="https://user-images.githubusercontent.com/68253993/163859036-713f3b1f-0764-453f-91d6-1cf0fe794080.png">
![image](https://user-images.githubusercontent.com/68253993/163859100-13322e64-54b9-471e-8e15-5ce4867ca3da.png)

[2022-04-18 20:21] raphaelvarieras opened #2639 "[APP] Zuora"
Zuora

https://www.zuora.com/developer/api-reference/

Action or trigger would be new ZOQL query record or full query results, as well as particular events like invoice generated, subscription created, amended, etc.

[2022-04-18 21:00] dylburger commented on #1537
@bush4u Can you try again? Xero just helped us increase this limit.

[2022-04-18 21:26] dannyroosevelt commented on #2639
Thanks for submitting the request, @raphaelvarieras. We've started the integration process but are waiting on a response from Zuora so we can create an account and create an OAuth app.

[2022-04-19 00:35] dannyroosevelt opened #2643 "[Refactor] Filter actions"
We should make a couple changes to the current Filter action:

1. Add an optional "Reason" prop, and set the `default` to `Condition met for exiting [or continuing] workflow`
2. Break out the current Filter action into 3 different actions and get rid of the `continue` prop:
- "Continue workflow based on a condition" (`filter-continue-workflow-condition`)
- "End workflow based on a condition" (`fil

[2022-04-19 00:38] dylburger commented on #2524
We've added this issue to our backlog. You can follow this issue for updates!

[2022-04-19 01:15] dylburger commented on #2616
@tekacs this should be fixed! Thanks for raising.

<img width="578" alt="Screen Shot 2022-04-18 at 6 15 20 PM" src="https://user-images.githubusercontent.com/242668/163900814-4ecf3b87-89f5-4070-a8b8-2178fbf365d0.png">

[2022-04-19 01:15] #2616 closed

[2022-04-19 02:05] dannyroosevelt commented on #1039
@lcaresia this is ready for release!

[2022-04-19 02:33] dannyroosevelt commented on #1483
@michelle0927 this is ready for release!

[2022-04-19 02:33] dannyroosevelt commented on #1034
@michelle0927 this is ready for release!

[2022-04-19 03:32] dannyroosevelt commented on #1528
@vellames-turing this is ready for release!

[2022-04-19 05:13] rlarson7 opened #2645 "[APP]"
**Name of app / service**
Soundcloud

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-04-19 10:08] dannyroosevelt commented on #1530
@jcortes this is ready for release!

[2022-04-19 10:59] jakeknowsgoats opened #2646 "Shopify New Draft Order[ TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
This is for Shopify, i need to grab data from my Drafts, https://automate.io/ allows me to grab data from the "New Draft Order" which is what i need but they only update data every 5 minutes need it faster then that.

**Please provide a link to the relevant API docs for the specific service / operat

[2022-04-19 11:52] #1528 closed

[2022-04-19 14:07] Mlongori48 opened #2648 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-04-19 15:27] dannyroosevelt commented on #2648
Hi @Mlongori48 is there a specific trigger or app you were looking for?

[2022-04-19 16:04] #1034 closed

[2022-04-19 16:04] #1483 closed

[2022-04-19 17:27] bush4u commented on #1521
Also, on the task "List Bitlinks | Retrieves all Bitlinks for a given group", I think it would be fair if we can have an action to "Retrieve Groups" too. This will enable users have access to group ID, in case they neeed to retrieve Bitlinks for a given group

[2022-04-19 18:30] dannyroosevelt commented on #1521
Context in public Slack: https://pipedream-users.slack.com/archives/C01E5KCTR16/p1650392963643229?thread_ts=1650392356.813099&cid=C01E5KCTR16

[2022-04-19 19:26] dannyroosevelt commented on #1485
@andrewjschuang this is ready for release!

[2022-04-19 19:43] #1485 closed

[2022-04-19 19:56] vellames-turing commented on #2530
So, I guess I finished it. I tested for all @feyzullah  scenarios and some others. Everything looks good.
About the `undefined`.:
When a user sends an empty value using the constructor, the value will be changed to `null`. The key will be preserved but the value will be `null`. I think this is an interesting behavior since if the user really wants to delete the key, it can use the `delete` action.

[2022-04-19 20:12] dannyroosevelt commented on #2643
Can we add a case sensitivity `additionalProp` for all below **text** conditions? (and implement the associated logic accordingly)

[code]

[2022-04-19 21:09] dannyroosevelt commented on #2643
And for the `end-workflow` action, let's make the following changes:
[code]
And add an optional prop that must evaluate to `true` for execution to stop. You're basically duplicating the existing End app from here (with a slight update to the name and label): https://github.com/PipedreamHQ/pipedream/tree/master/components/end
[code]
Then you can also trash the `/end` dir from `/components`, and we'

[2022-04-19 22:19] dannyroosevelt opened #2652 "[BUG] async options failing on Stripe -- Retrieve Payout action"
![image](https://user-images.githubusercontent.com/20780753/164111009-7652df7b-1844-487a-a32b-b70ba4f29226.png)

[2022-04-19 22:26] dannyroosevelt opened #2653 "this is a draft issue"

[2022-04-19 22:42] dannyroosevelt opened #2654 "test issue"
hello, world

[2022-04-20 00:19] marcoaleixo commented on #158
Is this still being developed? :D

[2022-04-20 00:25] dannyroosevelt commented on #2643
Also, can you remove `filter` from path for all these actions? Otherwise they show up in the UI as the below:
![image](https://user-images.githubusercontent.com/20780753/164122233-11642adf-db00-48d7-9b5e-fc296e2e56a2.png)

But they should be this:
![image](https://user-images.githubusercontent.com/20780753/164122256-460dbe9d-cd21-4eb7-82c5-ef7efffd2426.png)

[2022-04-20 05:04] nahtnam opened #2656 "[APP] Email Octopus"
**Name of app / service**
Email octopus

**Link to developer documentation**
https://emailoctopus.com/api-documentation

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Yes, I would like to build a webhook -> email octopus integration

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and

[2022-04-20 07:41] 4epexa opened #2657 "Workflows Folders or tags"
Hi team!

I have many workflows for different clients, projects and tasks. It is very inconvenient to search for the right workflow.
It would be convenient to have folders or tags for sorting workflows.

![image](https://user-images.githubusercontent.com/57490820/164175952-ccc48fd0-05ad-4a54-ba38-0a1e850e73e3.png)

[2022-04-20 10:06] rodenp commented on #318
Consistent response time is important to me and it would be great if i did not have to use any workarounds to keep the connection warm.
The beauty of pipedream lies in being able to create any workflow exactly tailored to your needs.
This is awesome.
However i have recently come across this issue of cold starts, since my workflow is currently not being triggered often enough.
My use case involves

[2022-04-20 17:42] dannyroosevelt opened #2660 "[BUG] Zoom Trigger not working"
I am using the Zoom > Custom Event trigger and am not getting events to show up as I'd expect.

This is a screenshot of a meeting I started and joined, so I'd expect to get at least 2 events, but nothing shows in the logs
![image](https://user-images.githubusercontent.com/20780753/164290556-62b04731-be04-497c-8ae7-41af2afd902f.png)

[2022-04-20 17:43] dylburger commented on #2657
Thanks for raising @4epexa ! We're tracking in #203 if you don't mind following that issue.

[2022-04-20 17:43] #2657 closed

[2022-04-20 17:45] #2654 closed

[2022-04-20 17:45] #2653 closed

[2022-04-20 18:40] #1488 closed

[2022-04-20 18:52] bluemonday1 opened #2661 "Lucid Charts"
**Lucid Charts**

**https://developer.lucid.co/api/v1/#overview**

**Is lack of support preventing you from building workflows, or do you have a workaround?** This is not an issue.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!** Request and Post

[2022-04-20 18:56] #106 closed

[2022-04-20 18:56] #1530 closed

[2022-04-20 19:02] dylburger opened #2662 "[APP] Splunk"

[2022-04-20 19:04] sergioeliot2039 commented on #2662
I recently marked this as blocked on the App Store project list, because its authentication scheme is Basic + Bearer.
](https://openpath.readme.io/docs/using-the-api#using-the-login-api)https://www.splunk.com/en_us/blog/tips-and-tricks/splunk-rest-api-is-easy-to-use.html?msclkid=3a5b0a03c01b11ec868c08cb55c73973

[2022-04-20 19:08] dannyroosevelt commented on #2661
It looks like Lucidchart needs to grant us access to enable an integration with their API -- we've submitted a request and will update this ticket when we hear back.

[2022-04-20 22:27] dannyroosevelt commented on #1039
@lcaresia this is ready for release!

[2022-04-21 03:38] dannyroosevelt commented on #2527
@DilanAthukorala there are some meaty updates to the Slack send message actions in this one -- want to pair on it? Could be good to go through the process together.

[2022-04-21 03:41] DilanAthukorala commented on #2527
@dannyroosevelt Ok cool, I'll work on it today.

[2022-04-21 04:27] aroslov opened #2664 "Slack Events API"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

Ability to handle any Slack events to build bots that support homepage and button interactions. As a minimum, the integration should support responding to a challenge.

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

https://api.slac

[2022-04-21 04:39] aroslov opened #2665 "[APP] Google BigQuery Insert Rows"
**Name of app / service**

Google BigQuery

**Link to developer documentation**

https://cloud.google.com/bigquery/docs/write-api

**Is lack of support preventing you from building workflows, or do you have a workaround?**

Yes, preventing

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open reques

[2022-04-21 05:28] dannyroosevelt commented on #158
We have a [basic integration](https://pipedream.com/apps/microsoft-teams) in place with Microsoft Teams today, which will let make authenticated request to their API, and the we have a set of pre-built actions and triggers in the queue to be developed.

We'll get you an update on those asap.

[2022-04-21 07:09] accellier commented on #2198
@dannyroosevelt just confirming this issue still persists. Let me know if I can assist with anything on this side.

[2022-04-21 12:15] dannyroosevelt commented on #1480
@feyzullah this is ready for release!

[2022-04-21 13:10] ctrlaltdylan opened #2668 "[BUG] Python mapping imports fail when package names contain a "." character"
**Describe the bug**

To import modules where the package name differs from the PyPi name, we include it a custom mapping to allow Python steps in workflows to use the package.

For example:

[code]

In a Python code step actually maps to the `ShopifyAPI` package.

However, this custom mapping breaks with packages with `.` characters in their name, such as `google.big-query`.

## Upstream Issue

T

[2022-04-21 15:46] ctrlaltdylan opened #2671 "[BUG] SalesForce SOQL Integration using wrong encoding"
**Describe the bug**
[A customer has found an encoding bug in our SF app integration
](https://pipedream.com/community/t/salesforce-soql-integration-syntaxerrorunexpected-token-fix/2246)

**Fix that needs to be applied**

What happened is that in the Salesforce webhook URL query has equal sign “=” reserved. And the javascript function “encodeURI()” creates an error in the source code:
http://piped

[2022-04-21 16:18] feyzullah commented on #1028
All event sources are also asked in [this issue](https://github.com/PipedreamHQ/pipedream/issues/415) . Can be closed.

[2022-04-21 16:23] feyzullah commented on #415
I could not create sources for sprints and projects. It should be because only the above triggers are allowed for Connect and OAuth2.0 apps.
* jira:issue_created
* jira:issue_updated
* jira:issue_deleted
* comment_created
* comment_updated
* comment_deleted
* issue_property_set
* issue_property_deleted

They say, *Limitations apply to the REST API in order to guarantee stability and performance of

[2022-04-21 17:18] dannyroosevelt opened #2672 "[BUG] Slack trigger -- "Ignore bots" prop only ignores messages from Pipedream Bot"
The `ignoreBot` prop in the Slack trigger ignores messages sent via a Pipedream bot, but not messages from other bots like Zapier or Linear.

![GIF 2022-04-21 at 10 17 17 AM](https://user-images.githubusercontent.com/20780753/164515433-3b4eeb06-303e-4a6f-ae70-29c6c6b05175.gif)

[2022-04-21 17:19] dannyroosevelt commented on #2672
@lcaresia You just spent a lot of time in the Slack code -- can you check this out when you get a chance?

[2022-04-21 18:08] dannyroosevelt commented on #1464
@michelle0927 this is ready for release!

[2022-04-21 18:10] #1464 closed

[2022-04-21 19:22] dannyroosevelt commented on #2530
Thanks, Cassiano. I raised the `await` issue w/ the team, and we're also discussing the `null` vs `undefined` question.

[2022-04-21 20:47] jcortes commented on #2660
@dannyroosevelt after some time of testing I realized the same happened to me and it was because I was using two different Zoom accounts and connected the wrong account in PD. So maybe that's what is happening to you too. Do you mind making sure you are using the right account in both platforms? and test again. Thanks!

[2022-04-22 00:38] dylburger commented on #2570
We've added this issue to our backlog. You can follow this issue for updates!

[2022-04-22 03:18] tekacs opened #2676 "[FEATURE] In Editor v2, allow Deploy (override) without Test?"
**Is your feature request related to a problem? Please describe.**
As it stands, making a change to previously-failed steps in the v2 editor enforce that you must Test the step before Deploy-ing it.

There exist a fair few cases in which running the Test is side-effecting and it's reasonably possible to isolate that the change that's been made to the workflow is reasonable (e.g. a small configurat

[2022-04-22 14:49] dannyroosevelt commented on #1039
@lcaresia this is ready for release!

[2022-04-22 15:29] ctrlaltdylan opened #2679 "[BUG] Jotform new submission source emitting duplicate events"
**Describe the bug**
The **Jotform - New Submission** source is emitting redundant multiple events.

**To Reproduce**

Create a new workflow with the new submission trigger, enter in a Jotform submission on the form and receive multiple events per submission:

<img width="474" alt="CleanShot 2022-04-22 at 11 28 59@2x" src="https://user-images.githubusercontent.com/2694734/164746160-c91725ca-2318-4

[2022-04-22 16:30] cfjedimaster opened #2680 "[BUG] Can't copy text from Logs"
**Describe the bug**
In the V2 editor, if you console.log something a bit big, such that it can expand/collapse, and you try to select text from it so you can copy it to your clipboard, you can't because when you click and select, and then let go of the mouse button, the selection collapses.

https://user-images.githubusercontent.com/393660/164756099-8f46e836-d78f-4308-bd6d-31741943a758.mp4

**Des

[2022-04-22 19:14] #1039 closed

[2022-04-22 23:06] pkfrank opened #2686 "[ACTION] Add "Find or Create Record" support for Airtable"
**Is there a specific app this action is for?**
Airtable

**Request**
* Zapier allows you to "Find or Create Record" which essentially prevents duplicate entries
* It looks like Pipedream ships with the ability to "Create" OR "Update" (but no the integrated action that would allow you to easily do both)

<img width="920" alt="Screen Shot 2022-04-22 at 4 04 44 PM" src="https://user-images.githubuse

[2022-04-23 15:46] raphaelvarieras opened #2689 "[FEATURE] Extend Oauth Scope with Hubspot to Custom Objects"
When using a bearer token with Hubspot, API calls into custom objects come back with error:

`This app hasn't been granted all required scopes to make this call. Read more about required scopes here: https://developers.hubspot.com/scopes.`

I've had to switch to API key requests in order to accomplish what I wanted with custom objects.

[2022-04-23 23:25] dylburger opened #2690 "[FEATURE] Configurable timeouts for event sources"
I'd like to increase the maximum execution timeout of an event source like I can for workflows

[2022-04-23 23:41] dylburger commented on #2157
Closing since `$checkpoint` has been replaced with [data stores](https://pipedream.com/docs/data-stores/).

[2022-04-23 23:41] #2157 closed

[2022-04-23 23:43] dylburger commented on #2689
@raphaelvarieras Do you happen to know which scope was required for your specific API request? Which endpoint were you using? Just want to make sure we add the correct one for you.

[2022-04-23 23:45] dylburger commented on #2376
@ctrlaltdylan Are you still able to reproduce this? @andrewjschuang recently did some work on AWS actions so I'm curious if that refactor addressed this.

[2022-04-23 23:48] dylburger commented on #1104
Closing since we've changes the Logs UI in v2. If this is still an issue in v2, we can address in another ticket

[2022-04-23 23:48] #1104 closed

[2022-04-23 23:49] dylburger commented on #2680
Thank you! Yes, this is a pain. I raised with the team and I'm hoping we can fix soon

[2022-04-23 23:51] dylburger commented on #2664
@aroslov I hear you! We are planning to improve our Slack sources soon and we'll review the events for interactions specifically. We have an open ticket at #862 tracking this, so feel free to follow there.

[2022-04-23 23:51] #2664 closed

[2022-04-23 23:54] dylburger commented on #2676
@tekacs I completely hear you! We have heard this feedback consistently and are considering changes to this flow. We'll update this ticket when we do that.

[2022-04-23 23:55] #2638 closed

[2022-04-23 23:55] dylburger commented on #2623
Done: https://pipedream.com/docs/cli/install/#homebrew

[2022-04-23 23:55] #2623 closed

[2022-04-23 23:57] dylburger commented on #2686
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-04-24 00:04] dylburger commented on #2596
@MartenHirsch Thanks for the request! Are you familiar with Node.js? Since we support an integration with the [Dynamics 365 API](https://pipedream.com/apps/dynamics-365-business-central-api), you can:

1. Add a new step in your workflow
2. Search for "Dynamics 365"
3. Select the first option in the list:

<img width="924" alt="Screen Shot 2022-04-23 at 7 00 36 PM" src="https://user-images.githubus

[2022-04-24 00:06] dylburger commented on #2578
Looks like it may not be directly supported but here are some workarounds: https://stackoverflow.com/questions/60717142/getting-linked-issues-and-projects-associated-with-a-pull-request-form-github-ap

[2022-04-24 00:07] dylburger commented on #2493
This has shipped!

[2022-04-24 00:07] #2493 closed

[2022-04-24 00:08] dylburger commented on #2515
@cfjedimaster We recently fixed some z-index issues that I believe may have corrected this. Can you check to see if it's still an issue? If so I'll let the team know.

[2022-04-24 00:12] l1574 opened #2691 "FLUO DE TRABAJO[ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-04-24 00:15] l1574 commented on #2691
FLUJO DE TRABAJO

[2022-04-24 00:38] dylburger commented on #2691
@l1574 Can you tell me specifically what app / action you'd like to see?

[2022-04-24 00:41] dylburger commented on #2576
@onlytanmoy Thanks for reaching out and sorry for the delay. We do support at https://pipedream.com/support - would you mind reaching out on our Slack / Discourse forums, and someone from our team will get back to you there? Thank you.

[2022-04-24 00:41] #2576 closed

[2022-04-24 13:00] raphaelvarieras commented on #2689
I was merging custom objects, so using this specific endpoint:
`https://api.hubapi.com/crm/v3/objects/{my custom object id}/merge`

[2022-04-24 14:11] huzaifahj commented on #2620
I'm facing this issue, any updates please?

[2022-04-25 01:48] herbera1 opened #2695 "Can't make date overdue from mobile"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. on mobile go to site AMCE
2. scan barcode for Dark Room
3. Give an override date of 2016
4. Makes due in January 2022

**Expected behavior**
to change the date to 2016

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete

[2022-04-25 01:54] #2695 closed

[2022-04-25 12:03] dannyroosevelt commented on #2381
@js07 this is ready for release!

[2022-04-25 12:31] dannyroosevelt commented on #2345
@js07 this is ready for release!

[2022-04-25 13:07] cfjedimaster commented on #2515
LGTM (so closing, hope that's cool)

[2022-04-25 13:07] #2515 closed

[2022-04-25 16:47] #2345 closed

[2022-04-25 23:09] Giuan0 commented on #2229
done @vellames-turing

[2022-04-26 00:38] dylburger commented on #2591
We've added this issue to our backlog. You can follow this issue for updates!

[2022-04-26 05:45] dylburger commented on #192
[Data Stores](https://pipedream.com/docs/data-stores/) support this! You can read / write to a data store from across workflows.

[2022-04-26 05:45] #192 closed

[2022-04-26 05:49] dylburger commented on #200
We have not seen another request for this feature in roughly two years. Since then, we've also shipped https://pipedream.com/apps . I'm closing this issue, but if anyone has feedback about the search UX, feel free to let us know.

[2022-04-26 05:49] #200 closed

[2022-04-26 05:56] dylburger commented on #127
With the new workflow builder, we've shipped some improvements to the responsive design of the UI. As we groom our backlog, I realized this ticket is too general, so I'm closing it.

If anyone observes a specific issue with the responsive design of the site, please raise a specific issue and we can review!

[2022-04-26 05:56] #127 closed

[2022-04-26 05:57] #105 closed

[2022-04-26 06:00] dannyroosevelt commented on #2198
Hey Paul, very sorry for the delay and continued issues -- I'm going to surface this to the team again this week so we can identify next steps.

[2022-04-26 06:01] dylburger commented on #358
Closing since the flow for executing tests has changed in the v2 builder

[2022-04-26 06:01] #358 closed

[2022-04-26 06:02] #530 closed

[2022-04-26 06:05] dylburger commented on #665
This should be solved by #220

[2022-04-26 06:06] dylburger commented on #668
We now display the error from our API / Stripe clearly in the event of a payment failure

[2022-04-26 06:06] #668 closed

[2022-04-26 06:08] dylburger commented on #790
This is done!

[2022-04-26 06:08] #790 closed

[2022-04-26 06:11] dylburger commented on #990
Closing since we've changed the model for testing in the v2 builder

[2022-04-26 06:11] #990 closed

[2022-04-26 06:13] dylburger commented on #1015
Closing since we support via custom events

[2022-04-26 06:13] #1015 closed

[2022-04-26 06:17] dylburger commented on #1369
Timer-based emitters now have a well-defined interface across event sources and workflows! Example:

[code]

[2022-04-26 06:17] #1369 closed

[2022-04-26 06:19] dylburger commented on #1589
Will technically be solved by #1943

[2022-04-26 06:19] #1589 closed

[2022-04-26 06:20] #1608 closed

[2022-04-26 06:20] #1735 closed

[2022-04-26 06:21] dylburger commented on #1826
Danny wrote a doc for this some time back: https://pipedream.com/docs/components/guidelines/#use-summary-to-summarize-what-happened

[2022-04-26 06:21] #1826 closed

[2022-04-26 06:24] #2005 closed

[2022-04-26 06:25] dylburger commented on #2021
@ctrlaltdylan Have you noticed this again?

[2022-04-26 06:25] #2034 closed

[2022-04-26 06:31] dylburger commented on #2665
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-04-26 08:09] Mause opened #2707 "[APP] Loomio"
**Name of app / service**
Loomio

**Link to developer documentation**
https://www.loomio.org/help/api

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Yes, I wish to create actions that use Loomio auth and integration without duplicating that for each action I write

**Are there specific actions, or triggers, you'd like to see for this app? Please let us

[2022-04-26 09:12] crutch12 commented on #2149
bump

[2022-04-26 09:14] crutch12 commented on #2149
https://github.com/harrisiirak/cron-parser supports it
Interface shows correct result, but "Save and continue" fails with "Cron Invalid cron expression for $.interface.timer"

![image](https://user-images.githubusercontent.com/19373212/165266242-9bec3467-139a-4c17-b566-b8e6951bb822.png)

[2022-04-26 09:18] crutch12 commented on #2149
Duplicate of https://pipedream.com/community/t/how-can-i-make-cron-run-on-the-last-sunday-of-the-month/1847

[2022-04-26 14:21] dannyroosevelt commented on #1020
@dylburger this is ready for release!

[2022-04-26 15:27] lcaresia commented on #1526
I don't finded in new API version (v2.0) the route to make action **Submit a Form**.

[2022-04-26 15:52] #2021 closed

[2022-04-26 16:56] dannyroosevelt commented on #2707
Hi @Mause let us know if you're able to get your hands on any documentation and we'll happily check out if an integration might work, but without that we're unfortunately blocked on moving forward.

[2022-04-26 17:00] sergioeliot2039 commented on #2707
@dannyroosevelt I just requested API access, documentation to Loomio -- hopefully they'll revert and unblock this integration.

[2022-04-26 18:03] dylburger commented on #984
Paid plans (Pro / Team / Enterprise) now support 1,000 events per workflow! See https://pipedream.com/docs/limits/#event-execution-history .

We're planning further updates here to let you store even more history. Stay tuned for updates!

[2022-04-26 18:03] #984 closed

[2022-04-26 18:32] dannyroosevelt commented on #2643
@andrewjschuang why don't you go ahead and get this published now since we just announced it (and I've been testing them), then @DilanAthukorala you can still run through QA after it's out

[2022-04-26 18:41] andrewjschuang commented on #2643
@dannyroosevelt can you approve the fix I pushed yesterday to the PR?

[2022-04-26 18:58] dannyroosevelt commented on #2643
Done

[2022-04-26 18:59] #2643 closed

[2022-04-26 19:00] dannyroosevelt commented on #2255
@lcaresia this is ready for release!

[2022-04-26 19:58] #2255 closed

[2022-04-26 20:55] dannyroosevelt commented on #2198
Hey Paul, we just made a subtle modification to our integration with the Canvas API that we're hopeful will resolve the issues you've been running into, however, you'll need to re-authenticate with your Canvas account in order for the changes to take effect.

To do that,
1. Go to https://pipedream.com/accounts and search for Canvas
2. Click the 3 dots at the right end of the row, then click "Recon

[2022-04-26 22:14] andrewjschuang commented on #1458
@DilanAthukorala fixed the issues!

[2022-04-26 23:23] dylburger commented on #2648
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-04-26 23:23] #2648 closed

[2022-04-27 00:38] dylburger commented on #2603
We've added this issue to our backlog. You can follow this issue for updates!

[2022-04-27 00:52] accellier commented on #2198
Fantastic - thank you Danny and team.
Will monitor and hopefully put this one to bed.
Appreciate your assistance.

[2022-04-27 02:50] Mause commented on #2707
Okay, looks like it is actually documented after all - https://github.com/loomio/loomio/blob/master/app/views/help/api.html.haml (not sure where this is hosted though)

[2022-04-27 02:59] Mause commented on #2707
Okay, the docs live here: https://www.loomio.org/help/api

[2022-04-27 03:23] dannyroosevelt commented on #2707
Perfect -- thanks, @Mause!

Here is a basic integration with Loomio:
https://pipedream.com/apps/loomio/

Let us know if you need help or guidance getting started with building out the actions!

[2022-04-27 04:00] #1020 closed

[2022-04-27 06:35] ndtreviv commented on #2603
Hey, the actions I contributed previously fulfil this request, so I'm going to close this.

[2022-04-27 06:35] #2603 closed

[2022-04-27 11:09] andrewjschuang commented on #1506
Depends on #2302.

[2022-04-27 11:10] dannyroosevelt commented on #2536
@js07 this is ready for release!

[2022-04-27 14:37] pierpippo opened #2717 "AVM FRITZ!Box Tools issue in HA core 2022.4.7"
### Discussed in https://github.com/PipedreamHQ/pipedream/discussions/2716

<div type='discussions-op-text'>

<sup>Originally posted by **pierpippo** April 27, 2022</sup>
Hi, I upgrade to home Assistant Core 2022.4.7 but AVM FRITZ!Box Tools doesnt work. If I try to reinstall it I insert correct IP, User name and password but It says Unkown error and I can't install it.
How can i solve the issue?
T

[2022-04-27 15:11] dylburger commented on #2717
This looks like an issue with Home Assistant and not Pipedream - is that right? Please reach out to the Home Assistant team at https://www.home-assistant.io/

[2022-04-27 15:11] #2717 closed

[2022-04-27 16:17] dannyroosevelt commented on #2524
Let's trim that list down in order to get started more quickly:

### Triggers
Node joined/left network
Node online
Node offline

### Actions
Retrieve all networks (or an individual one)
Retrieve all nodes in a network (or an individual one)
Retrieve user details

[2022-04-27 18:28] vellames-turing commented on #2570
@lcaresia Can you please link the PR to this issue?

[2022-04-27 19:00] #2381 closed

[2022-04-27 19:14] zalmanlew commented on #2524
### Triggers - Endpoints
All the triggers can be handled via polling the **GET** `/network/:network_id/member` endpoint. Then just comparing it with the last fetch to identify which nodes have now joined/left the network as well as which nodes are online/offline.
When triggering the event, it should also fire the entire JSON object of the respective node along with the event, like this you can per

[2022-04-27 19:15] lcaresia commented on #2570
@vellames-turing Of course, sorry.

[2022-04-27 20:52] laduke commented on #2524
The `lastAuthorizedTime` property might help for finding new members that need to be authorized for the first time.

You can't really tell if a node "left". Only that it's lastOnline is getting older.

online/offline is just `lastOnline` in the last 3 minutes.

hope that's helpful

[2022-04-27 20:56] sergioeliot2039 commented on #2707
Thanks Mause, Danny!

Loomio team replied to my inquiry and provided this extra link of documentation,
https://help.loomio.com/en/user_manual/groups/integrations/api/
Perhaps it is helpful too.

[2022-04-27 21:24] zalmanlew commented on #2524
@laduke interesting point, I was actually thinking that left the network was more like _removed_ from the network by the admin. I guess we can skip that trigger for now.

[2022-04-28 00:38] dylburger commented on #2403
We've added this issue to our backlog. You can follow this issue for updates!

[2022-04-28 15:47] dannyroosevelt commented on #1026
@michelle0927 this is ready for release!

[2022-04-28 15:58] todsac opened #2724 "[New components] Gorgias"
App: `gorgias`
Docs: https://developers.gorgias.com/reference/introduction

### Triggers
- Ticket created
- Ticket updated
- Ticket message created

### Actions
 - Create ticket
 - List tickets
- Create customer
- Retrieve a customer
- Update a customer

These are some lower priority ones that could potentially also be interesting:
- Retrieve a (satisfaction) survey
- Create a macro
- Update a tic

[2022-04-28 16:49] #1026 closed

[2022-04-28 19:31] andrewjschuang commented on #1487
Updating the checklist:

 - Create Document from Template: #2436 - thanks for the contribution!
 - Insert an Image to a Document - #2725
 - Replace an Image with a New Image - #2725
 - Replace a Text in a Document - #2725

Actions:

  - [x]  **Create Document from Text** | Create a new document from text. Also supports limited HTML
  - [x]  **Upload Document** | Copy an already-existing file from

[2022-04-28 19:45] dannyroosevelt commented on #448
@michelle0927 this is ready for release!

[2022-04-28 20:58] #448 closed

[2022-04-28 22:49] dannyroosevelt commented on #2530
@vellames-turing we are going to be updating the `data_store` API to handle everything async, but we can't ship that change until all the `set` and `get` calls are updated to `await`. Can you add that change in?

[2022-04-28 22:55] andrewjschuang opened #2729 "[BUG] Google Sheet Missing Dependency package.json"
**Describe the bug**

Google Sheets `package.json` is missing required dependency `@pipedream/platform`

[2022-04-28 23:33] drakeballew commented on #925
Hey y'all, just want to add some color here. I'm a customer - very limited dev experience but can sling a few lines of spaghetti every now and then. I'm a Pipedream free tier customer and love the product, but for me, I was/am working on validating an idea and needed to use FB ads to do so.

There are a bunch of types of FB ads, and Lead Ads are just one - they are basically forms. The more import

[2022-04-29 12:38] dannyroosevelt commented on #1879
@andrewjschuang this is ready for release!

[2022-04-29 12:40] #1879 closed

[2022-04-29 15:39] vellames-turing commented on #1526
@lcaresia Could you please link the PR here?

[2022-04-29 18:13] chmr25 opened #2732 "[stormglass.io]"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-04-29 18:15] sergioeliot2039 commented on #2732
Hi @chmr25 let us know if you're able to get your hands on any documentation and we'll happily check out if an integration might work, but without that we're unfortunately blocked on moving forward.

[2022-04-29 18:21] chmr25 commented on #2732
I guess I can configure it myself by sending a request in python.
Thanks anyway, if i find something i will let you know :)

[2022-04-29 18:27] sergioeliot2039 commented on #2732
I just googled and I think you mean stormglass that has this https://docs.stormglass.io/#/
is this is the integration you need?

[2022-04-29 18:30] chmr25 commented on #2732
Yes.
But I can send my own request and explore your platform a bit more. I can come back if I find something else :smile:

[2022-04-29 18:30] #2732 closed

[2022-04-29 18:33] sergioeliot2039 commented on #2732
I had to ask the question -- sometimes we get spammy app request, or there is ambiguity with the app name that is requested.

[2022-04-29 18:34] chmr25 commented on #2732
I understand! No worries!

[2022-04-29 20:39] cfjedimaster opened #2733 "[BUG] Can't copy code from the "view" of V2 workflows"
**Describe the bug**
If you are looking at a V2 workflow and are NOT in Edit mode, while you can see code, if you select and CTRL+C/CMD+C, it won't copy to the clipboard.

[2022-04-29 22:19] #2530 closed

[2022-04-29 22:54] zalmanlew opened #2734 "[BUG] HTTP Trigger Response reverts after a deploy"
**Describe the bug**
V2 editor - trigger is set to HTTP Request and the response is set to return static/200/204.
After deploying (and sometimes while editing) the workflow, the http response gets reset to "Return static..."

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new V2 workflow
2. Set trigger as HTTP Request
3. Set response to `Return HTTP 204 No Content`
4. Add a Step
5.

[2022-04-29 22:56] zalmanlew commented on #2733
Can confirm, was able to reproduce. You also don't have any right click options expected when copying text.

[2022-04-30 01:02] bush4u commented on #1537
Clarification is needed on the subscription trigger.

- Get subscription API return a 404 not found.
- I felt i needed to subscribe to apps first, but the endpoint still returns 404 Error

API Doc  https://developer.xero.com/documentation/api/xero-app-store/subscriptions/#get-subscription

I am done with all the tasks except this.

[2022-04-30 04:21] traliotube opened #2736 "[APP] Voice Monkey"
**Name of app/service**

Voice Monkey

**Link to developer documentation**

https://voicemonkey.io/docs

**Is lack of support preventing you from building workflows, or do you have a workaround?**

Yes, it used to send announcements to Alexa, I don't have a workaround

**Are there specific actions or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger is

[2022-04-30 08:30] tarun20024 opened #2737 "[APP]amzon"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-04-30 13:21] sergioeliot2039 commented on #2737
Hi @tarun20024 I tried looking for an app named "amzon" and I am unable to find any. For instance "amzon.com" redirects to Amazon, for which we have an integration, see it here: https://pipedream.com/apps/amazon amzon.com.mx redirects to a different random website each time you go to it. So I am unable to identify the app you need.

Let us know if you're able to point us to the right app's website

[2022-04-30 18:51] oakrc opened #2738 "[SOURCE] Google Classroom 2nd set of sources requested"
**Name of app / service**
Google Classroom
**Link to developer documentation**
https://developers.google.com/classroom
**Is lack of support preventing you from building workflows, or do you have a workaround?**
Yes, I could not find any triggers for Google Classroom
**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issu

[2022-04-30 19:10] sergioeliot2039 commented on #2738
Previously
* New assigment created
was requested on #2333
Related: https://github.com/PipedreamHQ/pipedream/issues/2333
 This request adds up:
* Assignment due date changed
* Assignment marked as done
* Assignment receives new private comment

Perhaps we should close 2333 and let this issue 2738 overtake on it (?)

[2022-05-01 12:17] qiuzilay opened #2741 "[BUG] Can't create Google Sheets "New Row Added (Instant)" Trigger"
**Describe the bug**
my workflow that was working normally 3 days ago suddenly had a problem today. After checking the log, found that the problem was in the Trigger. Trigger can't even be recreated.

TypeError: Cannot read property 'rowCount' of undefined
at file:///var/task/user/google_sheets/google_sheets.app.mjs:264:29
at Array.map (<anonymous>)
at Object.getWorksheetLength (file:///var/task/u

[2022-05-01 15:13] dannyroosevelt commented on #2229
@Giuan0 this is ready for release!

[2022-05-01 20:24] dannyroosevelt commented on #1444
@jcortes this is ready for release!

[2022-05-01 23:23] dylburger commented on #2691
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-05-01 23:23] #2691 closed

[2022-05-01 23:23] dylburger commented on #2596
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-05-01 23:23] #2596 closed

[2022-05-02 13:41] dannyroosevelt commented on #1529
@lcaresia this is ready for release!

[2022-05-02 14:00] #1500 closed

[2022-05-02 15:04] dannyroosevelt commented on #1487
@andrewjschuang this is ready for release!

[2022-05-02 15:33] #1487 closed

[2022-05-02 15:56] ctrlaltdylan commented on #2733
To add some more reproducible details to this card.

You must have a deployed workflow containing a code step. You open the **inspector** of the workflow, and you cannot use `CMD+A` to select the code contents of a code step nor can you use `CMD+C` to copy the manually selected contents to copy the code.

[2022-05-02 16:42] michelle0927 commented on #1617
@SeanFeldman I wonder if instead of an action, this would be better as a source/trigger using an [Inbound Parse Webhook](https://docs.sendgrid.com/api-reference/settings-inbound-parse/create-a-parse-setting)? As an action, would the email be coming from a previous step in the workflow?

[2022-05-02 16:49] SeanFeldman commented on #1617
@michelle0927 that's what I've ended up going with. It works really well.

[2022-05-02 16:49] #1617 closed

[2022-05-02 18:19] #2660 closed

[2022-05-02 19:17] dannyroosevelt opened #2746 "[ACTION] Data Store Actions"
**Is there a specific app this action is for?**
`data_stores`

 ### New actions
- List keys in Data Store: `await this.db.keys()`
- Delete all keys in a Data Store: `await this.db.clear()` (include a note about this being an irreversible change, so use with caution)
- Check existence of keys: `await this.db.has(key)` (returns true/false)

### Updates to existing actions
- Can we use async options

[2022-05-02 19:20] ctrlaltdylan commented on #2746
Get multiple keys with one action possible?

[2022-05-02 19:31] dannyroosevelt commented on #2746
We should be able to return multiple key-values in a single action, I don't see why not (cc @vellames-turing )

[2022-05-02 19:47] ctrlaltdylan opened #2747 "[ACTION] Postmark - send an email with a template ID"
**Is there a specific app this action is for?**

Postmark

**Please provide a link to the relevant API docs for the specific service / operation.**

https://postmarkapp.com/developer/api/templates-api

Currently we only offer 1 action with Postmark, and it accepts a Text or HTML body.

Postmarks has a templating system, where we can instead expose data from the workflow to the templating system, s

[2022-05-02 19:53] dannyroosevelt commented on #2747
@ctrlaltdylan are there specific actions you'd want to see that you think make sense? If you have use cases in mind, feel free to call them out explicitly to make it easier for the dev to get started.

[2022-05-02 20:50] #2578 closed

[2022-05-02 22:24] #2229 closed

[2022-05-02 22:24] #1529 closed

[2022-05-02 22:41] #1444 closed

[2022-05-03 02:55] dannyroosevelt opened #2748 "[APP] signNow"
**Name of app / service**
signNow

**Link to developer documentation**
https://docs.signnow.com/docs/signnow/YXBpOjQwMDY0MDM3-signnow-api-reference

The shell of the integration is done, just waiting on signNow to respond so we can finish integrating.

[2022-05-03 03:11] dylburger commented on #125
Another failing package: https://github.com/microsoft/PhoneticMatching#example

[2022-05-03 05:03] dylburger commented on #187
This has been released! See [our built-in **Delay** actions](https://pipedream.com/docs/workflows/built-in-functions/#delay-actions) to pause a workflow with no code, or [see the docs on `$.flow.delay`](https://pipedream.com/docs/code/nodejs/delay/) to see how to delay workflows programmatically in Node.js!

[2022-05-03 05:03] #187 closed

[2022-05-03 12:52] ctrlaltdylan commented on #2747
@dannyroosevelt updated the title of this issue to include the specific action name, but the URL in the body of my first comment links to the specific API endpoint that should be included in the action.

[2022-05-03 15:34] alysonturing commented on #1535
**Digital Ocean** requires other authentication method for **Spaces** different from the rest of their environment.
Because they use the same protocol as S3,
They're asking for `accessKey` and  `secretKey` instead of `oauth_access_token`

<img width="612" alt="image" src="https://user-images.githubusercontent.com/103650302/166485093-da1eba2b-97e8-4a1f-91b2-8bf90443a602.png">

[2022-05-03 16:23] dannyroosevelt commented on #2689
Hi @raphaelvarieras sorry for the delay.

In looking through HubSpots's docs, it seems like we should have the write scopes enabled, but obviously something is not right. If go [here](https://developers.hubspot.com/docs/api/crm/crm-custom-objects), click on the "Objects" tab, then scroll down to the section, "Merge two objects with same type", you can see the scopes they're looking for.

Here are

[2022-05-03 16:29] #2524 closed

[2022-05-03 17:30] 1rforti opened #2753 "[APP] stramlabs and OBS Studio"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-05-03 17:33] sergioeliot2039 commented on #2753
Hi @1rforti

can you confirm if these are the apps you are looking to integrate?

[2022-05-03 17:34] sergioeliot2039 commented on #2753
stramlabs  -- typo for streamlabs -- website: https://streamlabs.com/
OBS Studio -- website: https://obsproject.com
please

[2022-05-03 18:42] raphaelvarieras commented on #2689
No worries and thanks for looking into it. Happy to connect you with our CSM at Hubspot if you need clarifications on their docs. Alternatively, they also have a dev slack here: hubspotdev.slack.com

[2022-05-03 19:02] #2610 closed

[2022-05-03 21:28] dannyroosevelt commented on #2747
Actually it looks like this will be resolved by https://github.com/PipedreamHQ/pipedream/issues/2747, so I'll close this ticket and we can track there

[2022-05-03 21:28] #2747 closed

[2022-05-03 21:33] dannyroosevelt commented on #1662
@jcortes I see the linked PR -- what's the state of this?

[2022-05-03 22:27] dannyroosevelt commented on #2689
Yea please feel free to connect me with your CSM there, happy to chat with them. If email is best, you can add me directly -- `danny@pipedream.com`. That Slack link looks like it only permits signing in for users who are already members of the Slack workspace, so I can't get in there.

[2022-05-03 22:53] dannyroosevelt opened #2761 "test issue"

[2022-05-03 22:58] tomrob765 commented on #209
+1 (!)

Can't wait to do this straight from Pipedream! My workaround is using the API from this site: https://htmlcsstoimage.com/ - which works quite well to their credit

[2022-05-03 22:59] dannyroosevelt opened #2762 "another issue"

[2022-05-03 22:59] dannyroosevelt opened #2763 "test"

[2022-05-03 23:48] raphaelvarieras commented on #2689
Done - and I think you can join the slack community here: https://developers.hubspot.com/slack

[2022-05-04 00:32] bush4u commented on #1474
Find Record | Finds a record of a specified Salesforce object by a field and value you choose. Optionally, create one if nona are found. - Done

_Find Record(s) | Finds a record of a specified Salesforce object by a field and value you choose (with line-item support)_ -  Taken out

Find a Record by Query | Finds a Salesforce object using a Salesforce Object Query (SOQL) WHERE clause - Exists https

[2022-05-04 00:34] dannyroosevelt commented on #1474
Thanks, Tosin. What is that status? Is this ready for PR review?

[2022-05-04 00:35] bush4u commented on #1474
Yes

[2022-05-04 00:37] dannyroosevelt commented on #1474
Great, please go ahead and drag it to the "Ready for PR Review" column.

[2022-05-04 14:25] ctrlaltdylan commented on #2747
@dannyroosevelt awesome! I didn't notice the open PR my bad.

Here's the link to the PR in case future googlers end up here: https://github.com/PipedreamHQ/pipedream/issues/1527

[2022-05-04 14:45] eupn commented on #2633
See also https://github.com/eupn/pipedream-rs/

[2022-05-04 16:33] isaiahtaylor opened #2770 "[APP] Paytrace.net"
**Name of app / service**
Paytrace.net

**Link to developer documentation**
https://developers.paytrace.com/support/home#14000041395

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Not blocking, it just means I have to do Oauth manually.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action

[2022-05-04 17:04] dannyroosevelt commented on #2770
@isaiahtaylor thanks for submitting the request!

I've configured the OAuth integration, you can check it out here:
https://pipedream.com/apps/paytrace/

Note that we weren't able to gain access to an account for testing purposes, so please let me know if this is working for you or if you run into any issues.

Also, based on their documentation, I wasn't able to find any basic "informational" type

[2022-05-04 17:20] dannyroosevelt commented on #2689
@raphaelvarieras I got in touch with someone in their Slack and added the scopes I _think_ we need -- can you go ahead and give it a try?

Note that you'll need to re-authenticate by clicking the "Reconnect" button next to your HubSpot account provision, either within a workflow step or on pipedream.com/accounts.

[2022-05-04 17:26] isaiahtaylor commented on #2770
.....

I'M SPEECHLESS. That was like a 45 minute turnaround on an integration request. ARE YOU KIDDING ME?? ON A GITHUB TICKET??. I am in shock. I have never seen any tech company operate like Pipedream. Please stop whatever you are doing right now and pat yourself on the back for being a FLIPPING AMAZING CREW.

I tested the integration, and it works perfectly. @dylburger I will absolutely reach o

[2022-05-04 17:38] #1465 closed

[2022-05-04 18:13] raphaelvarieras commented on #2689
Confirmed.

I tested without reconnecting and still got the Forbidden error, then reconnected, confirmed on this screen:

<img width="584" alt="image" src="https://user-images.githubusercontent.com/6558178/166796699-42f05f54-6467-47ad-ba9a-9fb11c9f8c63.png">

And then running the workflow again resulted in a 200.

Thanks!

[2022-05-04 19:03] andre-brunetta opened #2771 "[APP] Google Play"
**Name of app / service**
Google Play

**Link to developer documentation**
https://developers.google.com/android-publisher/api-ref/rest/v3/reviews

**Is lack of support preventing you from building workflows, or do you have a workaround?**
It's preventing

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue template

[2022-05-04 19:37] andrewjschuang commented on #926
Hey @Giuan0, I grabbed this issue from the backlog but just noticed that you worked on the Raindrop actions. Are you currently working on this source?

[2022-05-04 19:51] Giuan0 commented on #926
Hey @andrewjschuang

[2022-05-04 19:53] Giuan0 commented on #926
Hey @andrewjschuang
No, you can proceed further with this source

[2022-05-04 23:23] dylburger commented on #2707
I'm closing this since the app is integrated, but let us know if you have any issues or questions about the integration

[2022-05-04 23:23] #2707 closed

[2022-05-04 23:28] #1421 closed

[2022-05-04 23:32] dannyroosevelt commented on #2771
Thanks for submitting, @andre-brunetta. FYI Google has an incredibly onerous and lengthy approval process for configuring new apps and scopes, so we'll get this in the queue but it unfortunately will not be a fast turnaround.

[2022-05-04 23:35] dannyroosevelt commented on #2689
Nice! Glad we got it sorted out!

[2022-05-04 23:35] #2689 closed

[2022-05-04 23:46] dannyroosevelt opened #2774 "[BUG] Update host domain for Brex components"
At some point it seems Brex swapped their domain from `platform.brexapps.com` to `platform.brexapis.com`.
https://developer.brex.com/docs/quickstart/#2-make-your-first-api-call

`brex` components should be: `https://platform.brexapis.com`
`brex_staging` should be: `https://platform.staging.brexapps.com`

[2022-05-04 23:56] isaiahtaylor opened #2776 "[APP] Shopmonkey"
**Name of app / service**
Shopmonkey

**Link to developer documentation**
https://developer.shopmonkey.io/reference/authentication

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Manual auth / API usage

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to ope

[2022-05-05 00:03] isaiahtaylor opened #2777 "[APP] Delighted"
**Name of app / service**
Delighted

**Link to developer documentation**
https://app.delighted.com/docs/api

**Is lack of support preventing you from building workflows, or do you have a workaround?**
This is an optimization, I'm getting by fine with Webhooks and JS.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger is

[2022-05-05 00:15] dannyroosevelt commented on #2776
Same deal as Paytrace -- we weren't able to easily get access to the API (looks like Shopmonkey has to enable it for my account first), so please let me know if this actually works!
https://pipedream.com/apps/shopmonkey/

[2022-05-05 00:22] sergioeliot2039 commented on #2777
Hi @isaiahtaylor , there is an integration already done for Delighted, https://pipedream.com/apps/delighted

[2022-05-05 01:14] vunguyenhung commented on #1542
I have tested the related PR here: https://github.com/PipedreamHQ/pipedream/pull/2731

Verified with the following test cases:
## 1. Google Sheets - Create a new SpreadSheet manually
Google Sheet
![Screen Shot 2022-05-05 at 07 58 14](https://user-images.githubusercontent.com/18277920/166850389-7bf779e9-1c92-42b1-a1f4-0c50813e5e11.png)

PipeDream console
![Untitled SpreadSheet](https://user-images.

[2022-05-05 01:17] #1542 closed

[2022-05-05 04:28] #2774 closed

[2022-05-05 06:05] Jyoticaa opened #2781 "RASA"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-05-05 13:20] doron580 opened #2783 "Triggers and actions for WooCommerce"
**WooCommerce**

**https://woocommerce.github.io/woocommerce-rest-api-docs/#introduction**

**lack of support**

**Serch orders, Serch customers, Get new order notification**

[2022-05-05 14:04] vunguyenhung commented on #1036
Hi, I'm verifying this issue, there're some failed cases. @lcaresia could you help to check?

### New Task (Instant). Failed
Steps to reproduce:
- On Asana, create a workspace, create a project
- On the local machine, checkout the [PR branch](https://github.com/PipedreamHQ/pipedream/pull/2487), then `pd dev components/asana/sources/new-task/new-task.mjs`
- When the source is deployed, access Asana

[2022-05-05 14:42] isaiahtaylor commented on #2777
Ah, yes there is. Thank you.

[2022-05-05 14:42] #2777 closed

[2022-05-05 14:49] ctrlaltdylan opened #2784 "[FEATURE] I would like to be able to replay all events or easily bulk select multiple events to replay in the workflow inspector"
**Is your feature request related to a problem? Please describe.**

In the case my deployed workflow fails multiple times, after I fix the issue I would like to easily replay all of these events.

**Describe the solution you'd like**

A similar button to the **DELETE ALL EVENTS** as well as a way to easily bulk select all events with a failed status to replay.

**Do you have a workaround?**
Clicki

[2022-05-05 14:56] dannyroosevelt commented on #2783
Thanks for the request, @doron580!

We have a set of triggers and actions for WooCommerce that we're about to publish: [here are the sources](https://github.com/PipedreamHQ/pipedream/issues/1030), [here are the actions](https://github.com/PipedreamHQ/pipedream/issues/1473).

Would you be open to trying them out and providing feedback? That way we can publish them asap.

[2022-05-05 14:58] dannyroosevelt commented on #2781
Thanks for the request. Is this the API you're looking for?
https://rasa.com/docs/rasa-x/pages/http-api#tag/

If not can you please provide some guidance?

[2022-05-05 15:05] doron580 commented on #2783
Hi,

That sounds great.
Yes let me try them and give you feedback.

Thanks.

[2022-05-05 15:08] #1030 closed

[2022-05-05 15:53] ctrlaltdylan opened #2796 "[BUG] Customer.io ported actions missing $ argument to axios"
**Describe the bug**
Customer.io actions not including $ to axios calls for context.

The legacy code mod neglected to update the axios call to include the `$` scope.

[2022-05-05 16:00] #2796 closed, assigned to andrewjschuang

[2022-05-05 18:46] dannyroosevelt commented on #1505
@andrewjschuang this is ready for release!

[2022-05-05 18:48] dannyroosevelt commented on #1521
@bush4u this is ready for release!

[2022-05-05 19:16] andrewjschuang commented on #1505
@dannyroosevelt can you approve the PR for me so I can merge it?
Thanks

[2022-05-05 19:42] bush4u commented on #1521
![image](https://user-images.githubusercontent.com/68253993/167013170-91aa68c5-97b6-44f2-9446-4d0277cebe55.png)

[2022-05-05 20:49] doron580 commented on #2783
Thanks, I'll try them out and let you know.

I have another question.
Can you recommend to me a place where I can find Developers that know
Pipedream and write code in Node.js and Python?

Thanks.

On Thu, May 5, 2022 at 6:10 PM Danny Roosevelt ***@***.***>
wrote:

[2022-05-05 21:06] dannyroosevelt commented on #2783
Absolutely -- I recommend posting some information on what you're looking for in our [community forum here](https://pipedream.com/community/c/hire-an-expert/13) -- that will also cross-post to our #jobs channel in our community Slack.

[2022-05-05 21:17] doron580 commented on #2783
Awesome, thanks!

On Fri, May 6, 2022 at 12:06 AM Danny Roosevelt ***@***.***>
wrote:

[2022-05-05 22:39] alysonturing commented on #253
@Hassan-Abbas-SQA I believe that you mistakenly removed me from assignees list, I'm adding myself again

[2022-05-06 00:24] dylburger opened #2800 "[BUG] RingCentral sources fail to emit events reliably"
We've heard a few reports of RingCentral sources failing to emit events when new events are generated. See https://pipedream-users.slack.com/archives/CN1BUB92B/p1651770948644189 for more information.

Sources tested:

* New call
* New missed call
* New call recording

Other users report the source working for a couple of days days, but the sources don't appear to receive incoming events when new e

[2022-05-06 00:51] Hassan-Abbas-SQA commented on #253
Yes, pardon me

On Fri, 6 May 2022, 3:39 am Alyson Freitas, ***@***.***>
wrote:

[2022-05-06 01:39] #1505 closed

[2022-05-06 02:14] Hassan-Abbas-SQA commented on #253
@alysonturing
<img width="1140" alt="image" src="https://user-images.githubusercontent.com/104946677/167055401-0e038269-9da0-4f51-b1ff-56e2ee66d0ce.png">
i think there should be validation of url list implemented in this trigger to see if its getting the valid url list or not instead of showing Econnrefused Error we can show user a invalid list of urls error

[2022-05-06 03:28] andrewjschuang commented on #1262
Closing as this was addressed in #2186

[2022-05-06 03:28] #1262 closed

[2022-05-06 03:59] dannyroosevelt commented on #253
@dylburger this is ready for release!

[2022-05-06 04:17] dannyroosevelt commented on #253
@dylburger this is ready for release!

[2022-05-06 04:33] dannyroosevelt commented on #253
@dylburger this is ready for release!

[2022-05-06 04:40] dannyroosevelt commented on #253
@alysonturing this is ready for release!

[2022-05-06 11:17] Syodeyz opened #2801 "[SOURCE] ReCharge sources - new subscription, new cancelled subscription"
**Name of app / service**
      ReCharge
**Link to developer documentation**
      https://developer.rechargepayments.com/
**Is lack of support preventing you from building workflows, or do you have a workaround?**
   I am using the custom interval trigger right now, and what I want is to listen to the trigger from Recharge.
**Are there specific actions, or triggers, you'd like to see for this app

[2022-05-06 13:24] #253 closed

[2022-05-06 15:31] zalmanlew opened #2804 "[TRIGGER] Fix ZeroTier Online/Offline Trigger"
The current ZeroTier trigger for node online/offline is using the `unique` dedupe parameter.

The issue with this is that it checks for unique values across the entire object. If another value like `clock` or `ipAssignments` change it will trigger the event again.

For these two triggers, it needs to be updated to only check if the `online` (boolean) state has changed - and ignore all the other ke

[2022-05-06 16:08] sergioeliot2039 commented on #2801
The user is requesting the following sources:
* new activated subscription
* new cancelled subscription

Recharge has webhooks support,
Here are a couple of head ups webhooks endpoints - https://developer.rechargepayments.com/2021-11/webhooks_endpoints
For the requested sources, see Subscription Webhook sections in [Webhooks Explained](https://developer.rechargepayments.com/2021-11/webhooks_explai

[2022-05-06 16:36] dannyroosevelt commented on #2804
@zalmanlew thanks for submitting! The developer who did the original dev work on the other ZeroTier components is out for a bit, but we'll get this added to the queue.

[2022-05-06 16:51] dylburger commented on #2801
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-05-06 17:13] vunguyenhung commented on #1036
Hi @lcaresia and everyone, all test cases has passed! Ready to release!

Refer to the test report here for more information
[Asana_Test_Report.pdf](https://github.com/PipedreamHQ/pipedream/files/8642376/Asana_Test_Report.pdf)

[2022-05-06 17:13] dannyroosevelt commented on #1036
@lcaresia this is ready for release!

[2022-05-06 17:31] #1036 closed

[2022-05-06 18:18] #1521 closed

[2022-05-06 18:22] dannyroosevelt commented on #2249
@michelle0927 this is ready for release!

[2022-05-06 18:48] #2249 closed

[2022-05-06 18:58] dannyroosevelt commented on #1508
@lcaresia this is ready for release!

[2022-05-06 19:33] dannyroosevelt commented on #1481
@lcaresia this is ready for release!

[2022-05-06 19:42] dannyroosevelt commented on #1481
@lcaresia this is ready for release!

[2022-05-06 19:49] dannyroosevelt commented on #1481
@lcaresia this is ready for release!

[2022-05-06 19:52] dannyroosevelt commented on #1508
@lcaresia this is ready for release!

[2022-05-06 23:21] jonparker commented on #216
We would love this feature.

Even the ability to have a simple condition to skip a step.

We have some workflows that have 3 or 4 Slack steps but we aren't able to support proper testing which would require having the workflow use a test Slack account.

Currently the only way to do it is to either have two copies of the one workflow or duplicate and convert all the Slack steps into code steps and

[2022-05-06 23:27] dylburger opened #2808 "[FEATURE] PostgreSQL actions should support optional `rejectUnauthorized` parameter"
I need to set this as a user, so it should be an optional prop. See https://node-postgres.com/features/ssl

[2022-05-07 07:51] Szrky53 opened #2809 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied

[2022-05-07 23:23] dylburger commented on #2737
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-05-07 23:23] #2737 closed

[2022-05-07 23:23] dylburger commented on #2738
I'm closing this since the app is integrated, but let us know if you have any issues or questions about the integration

[2022-05-07 23:23] #2738 closed

[2022-05-08 00:38] dylburger commented on #2686
We've added this issue to our backlog. You can follow this issue for updates!

[2022-05-08 02:15] zalmanlew opened #2810 "[APP] Wave"
### Name of app / service
[Wave Financial](https://waveapps.com/) (accounting / bookkeeping software)

### Link to developer documentation
- https://developer.waveapps.com/hc/en-us/categories/360001114072
- [waveaccounting](https://github.com/waveaccounting) organization on GitHub

### Triggers
- New Invoice Created
- New Customer Created
- Invoice Paid

### Actions
**Read**
- Get Invoice
- Get Cu

[2022-05-09 01:54] dylburger commented on #2800
Along with this work, we should modify the sources to support multiple extensions, where possible / relevant. Currently the RingCentral API accepts a single extension ID for most endpoints, but for at least the timer-based sources, we should be able to iterate over multiple extensions.

Ideally we'd allow customers to listen for events on 1) one or more extensions that they specify or 2) _all_ ext

[2022-05-09 01:58] dylburger commented on #2809
@Szrky53 Were you looking for a specific trigger?

[2022-05-09 09:51] romitijmersma opened #2813 "Toevoegen telefoonnummer en company aan referral[ACTION]"
Toevoegen telefoonnummer en company aan referral programma
telefoonnummer bij aangedragen persoon
company bij aandrager

[2022-05-09 09:54] #2813 closed

[2022-05-09 12:12] mmmoli commented on #220
Would LOVE ❤️ this feature.

We manage code in a monorepo and storing workflows would be 👌  👌 👌

[2022-05-09 13:31] ctrlaltdylan commented on #2804
Just to add more context on the bug.

The problem is that a `dedupe` strategy is being used for this source, but the built in dedupe strategies aren't quite suited for this type of problem.

I recommend using the `$.service.db` instead to keep track of each ZeroTier node and it's current status instead.

For example:

[code]

Please note, this is pseudocode, but the idea is that we emit events _on

[2022-05-09 14:40] Sshuichi opened #2815 "Apple / Google Playstore reviews"
**Name of app / service**
Playstore / Appstore
**Link to developer documentation**
https://developers.google.com/android-publisher/api-ref/rest/v3/reviews
**Is lack of support preventing you from building workflows, or do you have a workaround?**
I think I can do something with Webhooks but would prefer if it's out of the box
**Are there specific actions, or triggers, you'd like to see for this ap

[2022-05-09 16:00] dannyroosevelt commented on #1498
@lcaresia this is ready for release!

[2022-05-09 16:04] dannyroosevelt commented on #2815
@Sshuichi thank you for submitting the request! We're tracking this integration [here](https://github.com/PipedreamHQ/pipedream/issues/2771), so I'm going to close this ticket.

FYI Google has an incredibly onerous and lengthy approval process for configuring new apps and scopes, so we'll get this in the queue but it unfortunately will not be a fast turnaround.

[2022-05-09 16:04] #2815 closed

[2022-05-09 16:05] dannyroosevelt commented on #2771
Another request submitted via https://github.com/PipedreamHQ/pipedream/issues/2815.

[2022-05-09 17:29] vunguyenhung commented on #1458
Hi @andrewjschuang and everyone, all test cases has passed! Ready for release!

Please note that the test exclude the expression and curly brace issue on JSON string input described [here](https://pipedream-users.slack.com/archives/C01E5KCTR16/p1652115042492479). The issue will be fixed in another ticket!

Refer to the test report here for more information
[AWS_Test_Report_9_May_0028.pdf](https://

[2022-05-09 17:54] #1458 closed

[2022-05-09 17:54] #2150 closed

[2022-05-09 18:19] dylburger opened #2818 "[BUG] Google Sheets - New Row Added - when the `oldRowCount` exceeds the current row count, we continue emitting the last row again and again"
I was working with a customer who encountered a strange situation: in `common/new-row-added.mjs`, `this._getRowCount` returned 1051. But the sheet only had ~1020 entries.

The `range` property emitted by the event source looked like this for these events: `Sheet!1050:1021`. We set `range` like so:

[code]

Therefore, it looks like the `lowerBound` exceeds the value of the `upperBound`.

I have not

[2022-05-09 19:23] zalmanlew commented on #2248
This is useful, we can have an `unpublish` command.
[code]

[2022-05-09 19:51] dannyroosevelt commented on #2661
@bluemonday1 we just released a basic integration with Lucid that you can check out here:
https://pipedream.com/apps/lucid/

Are there specific actions or triggers you're looking to use with Lucid?

[2022-05-09 20:28] dannyroosevelt commented on #2624
@feyzullah this is ready for release!

[2022-05-09 22:21] #1498 closed

[2022-05-09 22:50] dannyroosevelt commented on #2624
@feyzullah this is ready for release!

[2022-05-09 23:07] dannyroosevelt commented on #2624
@steps.get_issue_metadata.$return_value.assignee.login this is ready for release!

[2022-05-09 23:13] dannyroosevelt commented on #2624
This is ready for release!

[2022-05-09 23:35] dannyroosevelt commented on #2624
This is ready for release!

[2022-05-09 23:41] #2626 closed

[2022-05-10 03:56] jondkinney commented on #220
This would be great! Looking forward to hearing some updates, hopefully.

[2022-05-10 08:56] Jaydevprajapati commented on #2801
yes i am complete solve your problem

[2022-05-10 13:54] dannyroosevelt commented on #2724
This is ready for release!

[2022-05-10 14:15] andrewjschuang commented on #2724
@dannyroosevelt can you please approve the PR?
Thanks

[2022-05-10 15:14] ctrlaltdylan commented on #2746
@vellames-turing sorry I wasn't clear enough.

I was hoping it would allow the user to define an array of keys, and then return the value of each corresponding key from that particular data store:

[code]

The `$return_value` would be an object with each key & value pair.

Does that help?

[2022-05-10 16:38] #1481 closed

[2022-05-10 16:57] dannyroosevelt commented on #1532
This is ready for release!

[2022-05-10 17:09] dannyroosevelt commented on #1532
This is ready for release!

[2022-05-10 17:49] dannyroosevelt commented on #1494
This is ready for release!

[2022-05-10 19:30] cfjedimaster opened #2829 "[BUG] 404 from Filter API page"
**Describe the bug**
On the FIlter API page (https://pipedream.com/apps/filter), all of the Popular Filter Integrations go to a 404. (To be honest, I only tested 3 or 4 of them, but still... ;)

[2022-05-10 20:06] dannyroosevelt opened #2831 "test issue"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-05-10 20:10] dannyroosevelt commented on #2831
blah /approve foo

[2022-05-10 20:27] dannyroosevelt commented on #2831
another test

[2022-05-10 20:42] dannyroosevelt commented on #2831
test

[2022-05-10 22:07] dannyroosevelt commented on #2198
Hey Paul, what's the latest on this one -- did we fix it??

[2022-05-10 22:36] andrewjschuang commented on #255
@dylburger after some research and study, to create a trigger for a Mongo Atlas via API it is necessary to do it through the Mongo Realm API, and it works a little bit differently. These are the steps that would be needed (via API):

1. Create a Realm API key via Mongo UI
2. Create a auth token with the public/private API key
3. Create a Realm App
4. Create a Realm Function
5. Create a Realm Trigg

[2022-05-10 22:41] andrewjschuang commented on #255
Wait, it seems to be a way to connect via email/password
https://www.mongodb.com/docs/realm/users/create/#create-an-email-password-user

[2022-05-10 22:50] andrewjschuang commented on #1506
@dylburger @ctrlaltdylan I can do the refactoring of #2637 with this issue

[2022-05-10 22:59] raphaelvarieras opened #2835 "[ACTION] RingCentral Download Call Recording"
RingCentral

Download a Call Recording - based on the ContentUri returned by the "New Call Recording" trigger, it would be nice to be able to associate a download call recording action so that the file can downloaded and stored some other place without RingCentral authentication.

[2022-05-10 23:03] dylburger commented on #2835
Per our Slack conversation, it seems like we may need to add scopes

[2022-05-10 23:11] dannyroosevelt opened #2836 "[Enhancement] Notion Actions should render dynamic props based on the page ID"
Context: https://pipedream-users.slack.com/archives/CMZG4EBJ9/p1652208548612299

The expectation is that when I select a `pageId` in the Notion `update-page` action, I should be able to update any other properties / objects / fields I've configured in that page (similar to the Google Sheets > Add Single Row action when there are Headers detected).

These should all be individual optional props tha

[2022-05-10 23:23] dylburger commented on #2753
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-05-10 23:23] #2753 closed

[2022-05-10 23:27] luancazarine commented on #2804
I did several tests and I couldn't replicate this behavior.
the $emit id is based on nodeId and lastOnline(timestamp) so it is not duplicating

[2022-05-10 23:27] dannyroosevelt opened #2837 "[APP] Need to modify the scopes for RingCentral"
Would like to add the `ReadCallRecording` scope

[2022-05-10 23:28] dannyroosevelt commented on #2837
Request submitted to Ring Central dev team

[2022-05-10 23:29] zalmanlew commented on #2804
@luancazarine the `lastOnline` timestamp can (and will be constantly updating) even though the `online` state hasn't changed from its previous state.

This means after some period of time it will emit a new event just from the `lastOnline` being updated, even if it didn't change from `online: true` to `online:false` (or vice-versa)

[2022-05-10 23:39] luancazarine commented on #2804
Do you know how long it takes to happen?
I have my node offline for more than 30 minutes and lastOnline remains the same

[2022-05-10 23:40] todsac commented on #2724
@andrewjschuang - any reason these three actions were not included?

- Create customer
- Retrieve a customer
- Update a customer

[2022-05-10 23:41] zalmanlew commented on #2804
@luancazarine that's because you have your node offline, I guess his is primarily an issue in reverse (as long as your node is ***online***, the `lastOnline` will constantly be updated with the ping time).

If it's going from offline > online then `lastOnline` wouldn't update, _however_ other fields can be updated (manually) and this _shouldn't_ fire the online event. Only the change of the `onlin

[2022-05-10 23:47] andrewjschuang commented on #2724
@todsac nope, just thought not all of them needed to be included. Will work on them!

[2022-05-10 23:51] todsac commented on #2724
Gotcha.  This app is a bit unique as the company (Gorgias) submitted the list so they feel these are important.

[2022-05-10 23:52] dannyroosevelt opened #2838 "[Actions] Gorgias"
App: `gorgias`
https://developers.gorgias.com/reference/introduction

### Actions
- Create customer
- Retrieve a customer
- Update a customer

[2022-05-10 23:52] dannyroosevelt commented on #2724
@andrewjschuang I created a new ticket to track these new actions: https://github.com/PipedreamHQ/pipedream/issues/2838

[2022-05-10 23:54] #2724 closed

[2022-05-11 00:04] luancazarine commented on #2804
@zalmanlew
ok, i understood what is happening.
whenever you update a node's information it is "restarted", so as soon as it comes online again, lastOnline updates.

should the trigger ignore this?
because if the trigger catches at the exact moment the node is "restarted" by some update, you will receive this event too

[2022-05-11 00:38] dylburger commented on #2665
We've added this issue to our backlog. You can follow this issue for updates!

[2022-05-11 03:09] zalmanlew commented on #2804
@luancazarine I don't think this should trigger the node online/offline trigger. The only thing that should trigger the event is the state changing of the `online` key specifically (the other keys are irrelevant for these triggers).

#### Example 1 - Online
- **Previous state**: `online: false`
- **Current state**: `online: true`
- **Result**: this should trigger the `node-online` event

#### Exam

[2022-05-11 10:31] #1532 closed

[2022-05-11 11:13] accellier commented on #2198
Hey Danny - we are still getting occasional 401s on the Canvas API. Seems to be every 2 - 4 days we just get one when the workflow runs. I re-run it and it works fine.

The error is always:

`{
  "errors": [
    {
      "message": "Invalid access token."
    }
  ]
}`

It does seem _less_ frequent, but that may be my imagination.

[2022-05-11 11:29] dannyroosevelt commented on #1576
This is ready for release!

[2022-05-11 13:02] vunguyenhung commented on #2135
Hello @vellames-turing, I have tested this PR and there're some test cases failed or needed improvement. Please check the test report below for more information 🙏
[Sentry_Test_Report_2201.pdf](https://github.com/PipedreamHQ/pipedream/files/8670101/Sentry_Test_Report_2201.pdf)

[2022-05-11 14:07] dannyroosevelt commented on #2527
This is ready for release!

[2022-05-11 16:36] vunguyenhung commented on #1522
Hi everyone, all test cases are passed! Ready for release!

Test Report
[Wordpress_Test_Report_2336.pdf](https://github.com/PipedreamHQ/pipedream/files/8671835/Wordpress_Test_Report_2336.pdf)

[2022-05-11 17:06] #1522 closed

[2022-05-11 18:29] #2527 closed

[2022-05-11 19:57] dannyroosevelt commented on #2586
This has been blocked on Xero's certification requirements. I just checked in with them to see if there are any short term solutions.

[2022-05-11 20:04] dannyroosevelt commented on #2837
Also need `ReadAccounts` it sounds like (per https://pipedream-users.slack.com/archives/G01J50YGJGP/p1652292043736479)

[2022-05-11 20:18] michelle0927 commented on #2804
@luancazarine Can you comment with a link to the PR? Thanks!

[2022-05-11 20:30] dannyroosevelt commented on #1021
This is ready for release!

[2022-05-11 20:35] #1021 closed

[2022-05-11 21:15] luancazarine commented on #2804
Sorry, I moved the wrong task

[2022-05-11 21:20] #2198 closed

[2022-05-11 21:30] luancazarine commented on #2804
@zalmanlew
There is a problem with only validating by status and saving to compare. if the trigger gets offline, and the node switches to online and then to offline again before the next trigger event, it will receive offline again and you will not receive the event

[2022-05-11 21:56] zalmanlew commented on #2804
@luancazarine while that is true, I think that's why it depends how frequently you poll the data.

It's worth noting that ZeroTier [considers](https://github.com/PipedreamHQ/pipedream/issues/2524#issuecomment-1111472548) the machine `online` if `lastOnline` is in the last 3 minutes.
We can include this information in the description of the source.

[2022-05-11 22:26] dannyroosevelt commented on #2831
/approve

[2022-05-11 22:29] #2831 closed

[2022-05-12 01:35] mc25573 opened #2845 "[FEATURE] Cron expression failed to save"
**Is your feature request related to a problem? Please describe.**
The RSS trigger does not show the cron expression I've previously entered while editing. If I save a cron expression and then later come back to edit the trigger, it just shows the default cron expression.

**Describe the solution you'd like**
 I would like the RSS trigger to save the cron expression that I've previously entered.

[2022-05-12 01:37] #1576 closed

[2022-05-12 05:04] dylburger commented on #2680
We've added a new **Copy** button on the right side of each `console.log` statement. If your statement produces multiple lines of output, lines (and all whitespace) should be retained on copy.

https://user-images.githubusercontent.com/242668/167995686-63878926-e065-4bad-bf8b-964e274e4454.mov

[2022-05-12 05:04] #2680 closed

[2022-05-12 12:47] vunguyenhung commented on #2672
Hi everyone, all test cases are passed! Ready for release!

Test report
[Slack_Test_Report_2672.pdf](https://github.com/PipedreamHQ/pipedream/files/8679140/Slack_Test_Report_2672.pdf)

[2022-05-12 12:47] dannyroosevelt commented on #2672
This is ready for release!

[2022-05-12 13:35] vunguyenhung commented on #2591
Hello everyone, I have tested this PR and there're some test cases failed or needed improvement.

Please check the test report below for more information
[Joomla_Test_Report_2760.pdf](https://github.com/PipedreamHQ/pipedream/files/8679480/Joomla_Test_Report_2760.pdf)

[2022-05-12 13:45] #2672 closed

[2022-05-12 14:26] vunguyenhung commented on #2591
Hi everyone, all test cases are passed. Ready for release!

Test report
[Joomla_Test_Report_2760___2124.pdf](https://github.com/PipedreamHQ/pipedream/files/8679866/Joomla_Test_Report_2760___2124.pdf)

[2022-05-12 14:32] SemaphoreOxalis commented on #2591
Thanks we are going to test it and communicate to the community !

[2022-05-12 16:11] vunguyenhung commented on #2135
Hi everyone, all test cases are passed! Ready for release!

Test report
[Sentry_Test_Report_2309.pdf](https://github.com/PipedreamHQ/pipedream/files/8680867/Sentry_Test_Report_2309.pdf)

[2022-05-12 16:25] #2135 closed

[2022-05-12 17:38] dannyroosevelt commented on #2837
Our RingCentral integration has been updated to include both of the above scopes.

[2022-05-12 17:38] #2837 closed

[2022-05-12 19:15] isaiahtaylor opened #2846 "[BUG] Pipedream: 401 Unauthorized"
**Describe the bug**
A Paytrace step is getting 401 Unauthorized today.

**To Reproduce**
Steps to reproduce the behavior:
Use the paytrace "run any code" step.

**Expected behavior**
Expected credentials to refresh :)

**Screenshots**
![image](https://user-images.githubusercontent.com/12981251/168151346-a6c264c6-341e-4075-a9c1-0fa3673b28aa.png)

**Additional context**
Add any other context about

[2022-05-12 19:17] isaiahtaylor commented on #2846
Went into the accounts section and saw that the account was "unhealthy" so I reclicked the buttons. Now it works. So maybe this is also a feature request: when there's an error like that in a workflow, redirect to account section to get the account healthy?

[2022-05-12 19:42] lcaresia commented on #69
@dylburger or @dannyroosevelt Can you give me more details about this task? Thansk!

[2022-05-12 19:51] dannyroosevelt commented on #69
@lcaresia I just updated the ticket with some details and I'm adding `chatbot` as an app right now.

[2022-05-12 21:10] SemaphoreOxalis commented on #2591
I think the best way it to install a J4 and query it with postman. There is a collection : https://documenter.getpostman.com/view/9617873/Szzj9yJy

[2022-05-12 21:12] dannyroosevelt commented on #183
@vellames-turing this is currently blocked on our end right now unfortunately

[2022-05-12 21:38] dannyroosevelt commented on #2591
Thank you. Do you have those additional fields documented? I only see these in the docs:
[code]

[2022-05-12 21:52] SemaphoreOxalis commented on #2591
In the doc it's only an example with some of all the possible fields. With my copy/paste you get all the core fields AND 2 custom fields for the demo (champs-texte-1 and checkbox-fields) If pipedream can have title, description, catid, images->[] and leave us a custom space for where we can define manually other field it could be great instead of asking a field for each.

[2022-05-12 22:34] dannyroosevelt commented on #2591
Can you confirm what type of data `catid` and `images` are expecting? `string` for both?

And do you envision the additional fields as an object where users can enter key-value pairs? We'd like to include explicit instructions for users to navigate this option if possible (ideally with examples to help users configure this field successfully).

[2022-05-12 23:23] dylburger commented on #2783
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-05-12 23:23] dylburger commented on #2781
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-05-12 23:23] #2783 closed

[2022-05-12 23:23] #2781 closed

[2022-05-12 23:23] dylburger commented on #2776
I'm closing this since the app is integrated, but let us know if you have any issues or questions about the integration

[2022-05-12 23:23] #2776 closed

[2022-05-13 03:44] dylburger commented on #2846
@isaiahtaylor yes, that's a great idea. Would you mind raising a separate feature request so we have that tracked?

[2022-05-13 03:44] #2846 closed

[2022-05-13 05:07] andr3selite opened #2849 "Request to add [Action] Woocommerce: Update product(s) information"
It would be great if there could be an action to **update product(s) information** on **Woocommerce**.

https://woocommerce.github.io/woocommerce-rest-api-docs/#update-a-product

[2022-05-13 08:31] SemaphoreOxalis commented on #2591
catid is integer, images is an array. Here a full image array (I have set up a fresh install and create some article) :
` "images": {
                    "image_intro": "https://www.semaphore-communication.fr/j4api/images/joomla_black.png#joomlaImage://local-images/joomla_black.png?width=225&height=50",
                    "image_intro_alt": "Description image",
                    "float_intro":

[2022-05-13 11:05] VI7EN opened #2850 "R"
**R**

**[Link to developer documentation](https://www.r-project.org/)**

**There is a possibility to connect R Scripts?**

Thank you very much in advance

Best regards

Viten

[2022-05-13 13:50] dannyroosevelt commented on #1484
This is ready for release!

[2022-05-13 14:19] dannyroosevelt commented on #2652
This is ready for release!

[2022-05-13 14:37] crutch12 opened #2851 "[BUG] Pipedream doesn't send verify email to my email (pipedream@web-bee.ru)"
**Describe the bug**
Pipedream ignores email if it contains `pipedream`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pipedream.com/auth/signup
2. Pass Email that contains `pipedream` word
3. Account created
4. Check email inbox. There is no verify email! So you cannot add this member to organization, etc.
5. Try add pipedream@web-bee.ru to organization - and no email too.
6.

[2022-05-13 14:47] #2652 closed

[2022-05-13 15:29] dannyroosevelt commented on #1537
This is ready for release!

[2022-05-13 16:42] dylburger commented on #2850
Thanks for the request, @VI7EN ! I hear you and we are planning to extend runtime support for R in the future. We're actually tracking at #2163 if you don't mind following that ticket.

[2022-05-13 16:42] #2850 closed

[2022-05-13 16:49] dylburger commented on #2149
There are other cases here where the package we use for parsing cron expressions in the frontend differs from the backend implementation, so the schedule ends up being different from the schedule displayed in the frontend. We should correct.

[2022-05-13 17:09] dylburger commented on #255
Given the complexity of setting up triggers via API, we're marking this one as `blocked` for now. If any Mongo experts want to work on this, please let us know.

[2022-05-13 17:18] vunguyenhung commented on #2570
Hi everyone, all test cases are passed! Ready for release!

Test report
[Notion_2570_0017.pdf](https://github.com/PipedreamHQ/pipedream/files/8689678/Notion_2570_0017.pdf)

[2022-05-13 17:22] #1484 closed

[2022-05-13 18:22] #1537 closed

[2022-05-13 19:49] charlie-s commented on #220
@sjn001tvh and anyone else that needs it, you can hit https://api.pipedream.com/v1/users/me/workflows (use the `Authorization: Bearer ...` header from the settings page) to download a JSON array of your workflows, including custom code in any components.

[2022-05-13 20:03] cfjedimaster commented on #220
Interesting - so this would be a code view of a complete workflow then? And in theory, we will next have a way to push these back? (Well one at a time. ;) And I assume we will have an endpoint to get one workflow eventually?

[2022-05-13 20:14] charlie-s commented on #220
It's not listed as an endpoint in their REST API docs. I also tried getting a workflow by ID without success. You may find that some POST/PUT requests work, but I wouldn't count on it in terms of creating/updating nested objects and such.

I just don't like the idea of building a complicated workflow that my users will depend on without having version control / backups. So this is better than noth

[2022-05-13 20:37] cfjedimaster commented on #220
Oh - duh - I misread you as someone from PD. :)

[2022-05-13 22:14] dylburger commented on #2849
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-05-13 22:16] dylburger opened #2853 "Note that the conditions in which the Delay action vs. a JavaScript sleep are appropriate"
e.g. if you're just delaying your workflow for 1 second, use:

[code]

if you're using multiple, short delays, that may also be more appropriate, since you'll incur invocations on each resumption of the workflow.

[2022-05-13 22:30] GTFalcao opened #2854 "[ACTION] Kanbanize new actions"
**Is there a specific app this action is for?**
Kanbanize

**Please provide a link to the relevant API docs for the specific service / operation.**
https://demo.kanbanize.com/openapi

### Actions
- Get a list of cards
- Create a card
- Update a card

[2022-05-13 22:58] dylburger opened #2855 "[FEATURE] HIPAA Compliance"
I'd like Pipedream to be HIPAA-compliant

[2022-05-13 23:56] dannyroosevelt commented on #632
This is ready for release!

[2022-05-14 21:18] dannyroosevelt commented on #2656
Thanks for requesting, @nahtnam! FYI we integrated Email octopus here:
https://pipedream.com/apps/emailoctopus/, so you can at least make authenticated requests to their API.

[2022-05-14 21:18] dylburger commented on #2656
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-05-14 21:19] dannyroosevelt commented on #2736
Thanks for the request! FYI here is a basic integration with Voice Monkey:
https://pipedream.com/apps/voice_monkey/

[2022-05-14 21:20] dylburger commented on #2736
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-05-14 21:23] #632 closed

[2022-05-15 10:46] Hassan-Abbas-SQA opened #2857 "[BUG] Raindrop Parse HTML Bookmark File Bug"
**Describe the bug**
Action: Parse HTML Bookmark File | Extracts importable bookmarks from an HTML bookmark file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Parse HTML Bookmark File action
2. Enter Bookmarks url (either an HTML file from gdrive or deployed bookarms html page url)
3. Summary says Successfully parsed bookmark file where debug statusText shows unauthorised error

**Ex

[2022-05-15 11:21] dannyroosevelt commented on #2506
This is ready for release!

[2022-05-15 15:02] Vadorequest opened #2858 "[BUG] SyntaxError: Unexpected token '{' when sending Slack message using "```" (code block)"
**Describe the bug**
Using \`\`\` block generates a bug in Pipedream, although this is valid for code blocks.

\`\`\`
{{steps.trigger.event.fields.uxGlobalFeedbackDetails}}
\`\`\`

Yields:
![image](https://user-images.githubusercontent.com/3807458/168479495-52b1308b-a736-4080-b342-e21ce08a05ec.png)

[code]

**To Reproduce**
Steps to reproduce the behavior:
Send a Slack message using block code.

\

[2022-05-15 15:17] zalmanlew commented on #2858
@Vadorequest this is because it parses the string as JS, you just need to escape the backtick symbol (<code>`</code>).

Your codeblock within **Text** should look like this
[code]

[2022-05-15 17:24] VI7EN commented on #2850
sounds good:) :) Good luck, it would be great!!

El vie, 13 may 2022 a las 18:42, Dylan J. Sather ***@***.***>)
escribió:

[2022-05-15 18:10] Vadorequest commented on #2858
Thanks!

Eventually, I noticed PipeDream didn't fetch more than 200 fields from Airtable (I have 350+ in a single table) so using it for this use case is not possible.

[2022-05-15 18:10] #2858 closed

[2022-05-16 01:59] alysonturing commented on #71
isn't it the same of https://github.com/PipedreamHQ/pipedream/issues/70 ?

[2022-05-16 01:59] alysonturing commented on #70
isn't it the same of https://github.com/PipedreamHQ/pipedream/issues/71 ?

[2022-05-16 03:00] dylburger commented on #70
Yes, this is a duplicate. Thanks

[2022-05-16 03:00] #70 closed

[2022-05-16 07:58] traliotube commented on #2736
hi, I don't know much of the code to make it myself, but I can help, I couldn't get their contact, but I found an API docs sheet:
https://voicemonkey.io/docs
so i think you experts can do it.

Thanks!

[2022-05-16 08:01] traliotube commented on #2736
Oh, but I am not a js expert, and I know many using pipedream are not, in fact, pipedream is a free and better alternative to IFTTT. So most users, like me, might come from IFTTT

[2022-05-16 12:02] dannyroosevelt commented on #1533
This is ready for release!

[2022-05-16 12:23] #1533 closed

[2022-05-16 14:23] #2506 closed

[2022-05-16 15:22] #2804 closed

[2022-05-16 15:53] dannyroosevelt commented on #2643
This is ready for release!

[2022-05-16 16:07] dannyroosevelt commented on #1526
This is ready for release!

[2022-05-16 16:56] dannyroosevelt commented on #1534
This is ready for release!

[2022-05-16 16:56] vellames-turing commented on #73
@dylburger @dannyroosevelt Hey guys, could you help me here? This is closed?

[2022-05-16 17:01] dannyroosevelt commented on #73
Can you create a new issue with the specific actions and triggers and link it here?

[2022-05-16 17:11] #1526 closed

[2022-05-16 17:12] #1534 closed

[2022-05-16 17:21] vellames-turing opened #2862 "[ACTION] BigCommerce"
API:
https://developer.bigcommerce.com/docs/97b76565d4269-big-commerce-ap-is-quick-start
https://developer.bigcommerce.com/api-reference/239aeabf5a786-storefront-carts

Actions

- Get All Products
- Get Product
- Create Product
- Edit Product
- Delete Product

Triggers
Looks like we can have one single source for all possible big commerce webhooks

[2022-05-16 17:22] vellames-turing commented on #73
Ref #2862

[2022-05-16 17:22] dannyroosevelt commented on #2403
### Triggers
- New Board
- New follower
- New pin

### Actions
- Create pin

[2022-05-16 19:54] dannyroosevelt commented on #2591
Thanks. If you're able to document these additional options in your API then we can add the updates to the backlog.

And since all our actions and triggers are [open source](https://github.com/PipedreamHQ/pipedream/blob/master/components/joomla/actions/create-article/create-article.mjs), you're welcome to contribute any improvements you'd like to see!

[2022-05-16 21:40] vellames-turing commented on #2322
Hey, I was not able to reproduce it, but I guess I found the issue :)

[2022-05-16 22:04] Ghryphen opened #2865 "[BUG] data_store returning null"
**Describe the bug**
Im my project, calling this.data_store is returning null. When attempting to call a method on the data_store such as .get, .has, .set it is returning an error Cannot read property '[get/has/set]' of null

I created a new test workflow that uses the most basic data_store usage in order to test to make sure it's not something to do with my workflow. This issue seems to have just

[2022-05-16 22:11] Hassan-Abbas-SQA commented on #2599
Trigger still has previous selected shee1 events data in variables even if i select sheet2 it still shows sheet1's events data (previous sheet's events should be flushed to keep the events data clean).

Uploading Screen Recording 2022-05-17 at 2.48.45 AM.mov…

[2022-05-16 22:19] dylburger commented on #2865
Thanks for reporting @Ghryphen . Validated and we're working to fix.

[2022-05-16 22:28] dannyroosevelt commented on #2599
I don't think the video finished uploading?

[2022-05-16 22:36] dannyroosevelt commented on #2599
Looks like you didn't save the changes to the trigger

[2022-05-16 22:39] Hassan-Abbas-SQA commented on #2599
tried both ways save and unsaved none of them worked for me

https://user-images.githubusercontent.com/104946677/168693786-d2affc8d-20c4-4c92-a396-f61badffc1b8.mov

[2022-05-16 22:41] dannyroosevelt commented on #2733
Confirming this is now fixed in production!

[2022-05-16 22:41] #2733 closed

[2022-05-16 22:45] dannyroosevelt commented on #2599
I don't think that's a bug -- since you are just modifying the source configuration but not creating a _new_ source, we preserve the events.

[2022-05-16 22:46] #2865 closed

[2022-05-16 22:49] Hassan-Abbas-SQA commented on #2599
Alright than ticket is ready for release

[2022-05-16 22:50] dannyroosevelt commented on #2599
This is ready for release!

[2022-05-16 23:23] dylburger commented on #2809
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-05-16 23:23] #2809 closed

[2022-05-17 01:07] vunguyenhung commented on #1501
Hello @lcaresia, I have tested this PR and there're some test cases failed or needed improvement.

Please check the test report below for more information
[Line_1510.pdf](https://github.com/PipedreamHQ/pipedream/files/8704317/Line_1510.pdf)

[2022-05-17 02:32] dannyroosevelt opened #2868 "test"

[2022-05-17 11:10] dannyroosevelt commented on #1457
This is ready for release!

[2022-05-17 12:04] bappy1430 opened #2869 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-05-17 12:07] dannyroosevelt commented on #2746
This is ready for release!

[2022-05-17 12:59] #2746 closed

[2022-05-17 13:42] bsommardahl opened #2870 "[ACTION] Google drive find folders should provide option to filter out trashed items"
I can't find this option in the documentation, but there is an option in the google sdk to filter out trashed files when searching. I need to retrieve a list of files that are visible and not in the trash. The current action doesn't provide this. I plan on submitting a pull request to add this parameter.

This is the closest I could find to documentation: https://stackoverflow.com/questions/160768

[2022-05-17 13:53] dannyroosevelt commented on #1501
This is ready for release!

[2022-05-17 14:05] #2599 closed

[2022-05-17 14:05] #1457 closed

[2022-05-17 14:17] dannyroosevelt commented on #1904
This is ready for release!

[2022-05-17 14:30] #1904 closed

[2022-05-17 15:19] #2869 closed

[2022-05-17 15:58] dannyroosevelt opened #2874 "[Refactor] Clearbit Actions"
**Is there a specific app this action is for?**
`clearbit`

**Please provide a link to the relevant API docs for the specific service / operation.**
https://dashboard.clearbit.com/docs#enrichment-api-company-api-domain-lookup

Clearbit currently returns a 404 when no records are found. Can we catch this case and add a prop that lets the user decide whether they want to handle this as an error or n

[2022-05-17 16:12] dannyroosevelt commented on #2322
This is ready for release!

[2022-05-17 16:18] vunguyenhung commented on #1832
Hello @dylburger @dannyroosevelt, I (and also @jcortes) couldn't test this ticket because Coinbase doesn't support Trade in my country. Could you advice what we should do to proceed?

[2022-05-17 16:24] dannyroosevelt commented on #1832
No worries, Leo -- I'm okay to ship this and we can monitor usage to see if users run into any issues.

[2022-05-17 16:55] #1832 closed, assigned to jcortes, vunguyenhung

[2022-05-17 18:16] #1501 closed

[2022-05-17 21:36] dannyroosevelt commented on #803
@lcaresia are you working on this one?

[2022-05-17 21:36] dannyroosevelt commented on #753
@feyzullah are you working on this one?

[2022-05-17 21:40] feyzullah commented on #753
I was going to work on and left it after realizing Jorge was working on

[2022-05-17 21:42] dannyroosevelt commented on #753
Gotcha -- @jcortes you're on this one? (can you assign yourself if so?)

[2022-05-17 22:33] cebnz commented on #2599
Sorry to say that the fix just released for the Google Sheets: New Row Added problem (#2685/#2599) is still throwing the same fault for my problem.

[2022-05-17 22:41] dannyroosevelt commented on #2599
Oh no! To confirm, have you added this latest version of the New Row Added source? Sources that are already added to workflows will not automatically update to new versions.

[2022-05-17 22:44] cebnz commented on #2599
Yeah... I did consider that and created a whole new workflow. Also tried the version for shared drive -- same result. I've shared the workflow wih support.

[2022-05-17 22:45] Hassan-Abbas-SQA commented on #2599
can you please join

To join the video meeting, click this link: https://meet.google.com/yic-fhqd-zhi
Otherwise, to join by phone, dial +1 669-220-6664 and enter this PIN: 700 408 314#
To view more phone numbers, click this link: https://tel.meet/yic-fhqd-zhi?hs=5

[2022-05-17 22:49] cebnz commented on #2599
sorry i can't really

[2022-05-17 22:50] Hassan-Abbas-SQA commented on #2599
if you can share a video of re-creating the same bug?

[2022-05-17 22:58] Hassan-Abbas-SQA commented on #2599
if you can share a video of re-creating the same bug?

[2022-05-17 22:58] cebnz commented on #2599
There's nothing to show really. It's just the same result as the screenshot at the startt of this thread.

[2022-05-17 23:13] dannyroosevelt commented on #2734
Thanks for the details and video -- we will investigate!

[2022-05-17 23:39] dannyroosevelt commented on #2599
@cebnz is there anything you can tell us about this spreadsheet specifically? Are you able to make a copy of it (without any sensitive information) and share with me directly, so that we can try to troubleshoot and debug?

[2022-05-18 00:33] OsvaldoRino opened #2877 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-05-18 02:04] #2877 closed

[2022-05-18 02:25] cebnz commented on #2599
It's not a bug, it's The Worm. The sheet contains one tab "The Worm" which is actually a chart displaying data from other tabs in the sheet. If I delete that tab, the error goes away. I have a totally minimal example I can provide if required.

[2022-05-18 04:01] dannyroosevelt commented on #2599
That'd be very helpful if you could share an example that helps us reproduce the issue! Feel free to share with `danny@pipedream.com`.

[2022-05-18 06:48] cwishxp opened #2878 "[TRIGGER] Trigger for New Product(s) created in DEAR Systems"
Wish to have a trigger in Pipedream for New Product(s) being created in DEAR Systems,
this is useful for notifying marketing team and retail shop to plan in advance.
Thank you very much.

[2022-05-18 14:18] vunguyenhung commented on #2378
Hello @js07 , I have tested this PR and there're some test cases failed or needed improvement.

Please check the test report below for more information
[Slack_2378.pdf](https://github.com/PipedreamHQ/pipedream/files/8717012/Slack_2378.pdf)

[2022-05-18 14:45] vunguyenhung commented on #2836
Hello @lcaresia , I have tested this PR and there're some test cases failed or needed improvement.

Please check the test report below for more information
[Notion_2836.pdf](https://github.com/PipedreamHQ/pipedream/files/8717265/Notion_2836.pdf)

[2022-05-18 15:23] dannyroosevelt commented on #2836
This is ready for release!

[2022-05-18 15:56] dylburger commented on #2878
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-05-18 16:32] dannyroosevelt opened #2880 "[APP] Cognito Forms"
Not sure if they have a public API beyond just supporting webhooks, but this would be a start: https://www.cognitoforms.com/support/66/data-integration/webhooks

[2022-05-18 16:56] vellames-turing commented on #2874
@dannyroosevelt I will refactor all other actions in order to standardize these actions. Sounds good?

[2022-05-18 17:04] miguelrochefort commented on #1310
This would also enable partial Apple Health support since Google Fit can sync with it.

[2022-05-18 18:39] andrewjschuang commented on #2838
@dannyroosevelt can you see if gorgias can extend my free trial?

[2022-05-18 19:23] sergioeliot2039 commented on #2880
I reached out to Cognito Forms and they commented for now they don't have a public API.

- Hi
-
- At this time we do not have a Public API though this is something we would like to implement in the future.
-
- Currently though it is possible to use one of our Data Integrations, Zapier, Microsoft Power Automate (formerly Flow), or JSON webhooks, to automate sending submission data to other services

[2022-05-18 19:27] dannyroosevelt commented on #2880
Thanks, Sergio. I just sent a request as well.

[2022-05-18 22:18] Hassan-Abbas-SQA commented on #2857
@Giuan0 when i try to parse html file from local temp it showed this warning and also it didn’t showed the desired json output btw from url it worked fine without any warning

![image](https://user-images.githubusercontent.com/104946677/169164748-c0bd6d4a-09a6-450d-957f-ebc9ca1264f3.png)

[2022-05-18 22:26] Hassan-Abbas-SQA commented on #2857
@Giuan0 Bokkmark file url (gdrive shared file) it neither parsed the bookmark file nor showed any error (File is shared to everyone)

![image](https://user-images.githubusercontent.com/104946677/169165561-1bf02750-d062-4b44-9aab-c507817118c5.png)

[2022-05-18 22:40] dylburger opened #2882 "[DOCS] Why would I use Pipedream over X technology (AWS Lambda, etc.)"

[2022-05-18 23:26] Ranked99 opened #2883 "[APP]whatsapp.com"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-05-18 23:38] sergioeliot2039 commented on #2883
Hi @Ranked99 , there is an integration already done for WhatsApp, https://pipedream.com/apps/chat-api-for-whatsapp
Chat API the official WhatsApp API

For WhatsApp actions, would you mind following this issue? https://github.com/PipedreamHQ/pipedream/issues/1496
If the component you are looking for is not contemplated, feel free to create another issue.

[2022-05-18 23:38] #2883 closed

[2022-05-18 23:43] bush4u commented on #1467
Done!
Search Campaigns | Searches for the campaigns
Get a Campaign | Gets metadata of a specific campaign
Get a Campaign Report | Gets a campaign report
Update a Campaign | Updates an existing campaign
Perform a Campaign Action | Performs a campaign action - Not found
Edit a Campaign Template Content | Edits a defined content area of a custom HTML template -To be thoroughly tested
Delete a Campaig

[2022-05-19 02:38] zalmanlew opened #2885 "[BUG] Schedule Trigger is deployed just from saving"
**Describe the bug**
Making any changes to the schedule trigger and hitting **Save** automatically saves _and_ deploys them - even though the user hasn't pressed deploy.

**To Reproduce**
1. create a workflow with the schedule trigger
2. edit the workflow
3. change the schedule to anything
4. hit save / continue
5. workflow has been deployed with the changes

**Expected behavior**
It should only s

[2022-05-19 03:43] Giuan0 commented on #2857
@Hassan-Abbas-SQA you need to

hey @Hassan-Abbas-SQA, you need to provide a URL with a valid bookmark file, the URL you're inputting on your tests is a document viewer.

[2022-05-19 03:46] Giuan0 commented on #2857
Could reproduce this scenario when inputting a file that doesn't exist, this action is now checking the file before proceeding with its execution.

[2022-05-19 04:05] alecwills commented on #2880
Just got linked here from a reply to a welcome to Pipedream email asking what was missing, which I replied to and included Cognito Forms. So I'm guessing this issue was raised on my behalf! I have been using Cognito Forms with Integromat for quite a while and can confirm that while their API isn't public it is comprehensive and includes webhook management as well as form entry create/update/delete

[2022-05-19 04:06] dylburger commented on #1299
@Jordon-L great! Let us know if you need any guidance with the component API.

[2022-05-19 04:13] dylburger opened #2886 "[BUG] Pipedream fails to install firebase-admin package"
Installing the `firebase-admin` package (or any action that imports that package) currently fails. One of the package's dependencies requires peer dependencies, which we don't install.

[2022-05-19 06:25] Jordon-L commented on #1299
Sorry for the extra commits, first time contributing code to an open-source project. Is there a guideline I should follow for commit messages? I've noticed that everyone has the issue number inside round brackets.

[2022-05-19 07:34] dylburger commented on #1299
We don't have a strict convention for commit messages. We squash commits on merge, so I'll generally add a clear comment there (and I don't worry at all about commit messages while developing). In your case, you can just comment on the action you added, and that will be sufficient!

I saw the PR - thanks for getting that turned around so fast. It's at the top of our PRs to review.

[2022-05-19 13:17] ahmadzaki1 opened #2890 "[SOURCE] MAUTIC TRIGGER SETTING"
how to add a mautic event trigger in pipedream?

can anyone help me

[2022-05-19 13:29] vunguyenhung commented on #2729
Hi @andrewjschuang, all test cases are passed! Ready for release!

Test report
[Google_Sheet_2729.pdf](https://github.com/PipedreamHQ/pipedream/files/8729478/Google_Sheet_2729.pdf)

[2022-05-19 13:30] dannyroosevelt commented on #2729
This is ready for release!

[2022-05-19 15:42] sergioeliot2039 commented on #2890
Hi @ahmadzaki1 , thanks for your interest.

It the depends on the trigger you are trying to build.

Can you let us know what is the functionality you are looking for?
For instance, on which Mautic events should the trigger react to?
Some triggers are http based, for this type, triggers are instant and are notified by Mautic to Pipedream via webhooks, take a look [Available webhook actions](https:/

[2022-05-19 15:51] VadimChernik opened #2892 "[BUG] Incorrect Zoho API endpoint URL when using an EU account"
**Describe the bug**
I've gotten an error when tried create new Deal in Zoho CRM.
Code in the response: INVALID_TOKEN.
But after reviewing the sent request, I found that it uses **.com** in the requested URL - https://www.zohoapis.com/crm/v2/Deals
I have encountered a similar problem before. For EU accounts you must use **.eu** in the requested URL.

**Screenshots**
![image](https://user-images.gi

[2022-05-19 16:45] dannyroosevelt commented on #2892
Hey @VadimChernik you can most likely fix this issue if you re-connect your Zoho CRM account. You can either open the a specific step and click on the selected account then "Connect new account", or go to https://pipedream.com/accounts, then "Connect an app" and go through the authentication flow.

The first step of that process will ask you to specify the base URI depending on your region.
![imag

[2022-05-19 16:59] VadimChernik commented on #2892
Hi @dannyroosevelt. Thanks for the quick reply.

I've done it on the first step.
![image](https://user-images.githubusercontent.com/25364834/169355373-05e01ca3-80b1-4498-a5f2-007b137a95c4.png)
Maybe .eu is used for token updates and .com is used for requests?

I use a .com account in another workflow and everything works good.

[2022-05-19 17:21] dannyroosevelt commented on #2892
Can you confirm if you're using a built-in action or a code step? If an action, can you confirm which one so we can check it out?

[2022-05-19 17:48] VadimChernik commented on #2892
I'm using a built-in action - Create Object
![image](https://user-images.githubusercontent.com/25364834/169364688-ec267d69-b3ce-4fff-ac0a-a60947e96092.png)

[2022-05-19 18:12] MCKLtech commented on #2169
+1
This will rapildy become a blocker for us as we regularly need to share workflows with other accounts.

[2022-05-19 18:24] dannyroosevelt opened #2893 "[Actions] People Data Labs"
**Is there a specific app this action is for?**
`people_data_labs`

**Please provide a link to the relevant API docs for the specific service / operation.**
https://docs.peopledatalabs.com/docs/enrichment-api

### Actions
- Enrich company
- Enrich person

[2022-05-19 19:05] dannyroosevelt commented on #2880
That all make sense -- thank you for the background and context! And yes we raised this ticket on your behalf 😄

Re: facilitating an integration, I came to the same conclusion you did -- they seem to have a private API, but have not exposed it to the public, so I sent a request to them to see if we can access on behalf of you and other mutual users. If you have a contact there that you can put us

[2022-05-19 19:19] dannyroosevelt opened #2894 "[BUG] Not respecting region-specific API domain for Zoho components"
We have a number of Zoho apps, each with many actions and triggers.

Zoho's auth implementation requires region-specific endpoints, which are configured as a part of the auth process when users connect their accounts (accessed via `${this.zoho_crm.$auth.api_domain}` for the `zoho_crm` app for example, but the specific syntax may be different for each app).

You can confirm the syntax by adding the

[2022-05-19 19:22] dannyroosevelt commented on #2892
Ah okay, I just confirmed that is indeed a bug -- your suspicion is essentially correct. We're [tracking this here](https://github.com/PipedreamHQ/pipedream/issues/2894) and someone from the team should be able to get this fixed soon. Feel free to subscribe to that ticket and you'll get notified when we ship a fix!

[2022-05-19 19:43] dannyroosevelt opened #2895 "[BUG] Hubspot actions do not support custom properties or required properties"
1.  Right now the existing `hubspot` actions that use `additionalProps` to pull in all relevant properties via `/properties` do not support custom properties (they return an error, as seen below). We should update the relevant actions so that they pull in all custom properties as well.
![image](https://user-images.githubusercontent.com/20780753/169389223-12c7de04-ca07-47a2-bc7d-e8465bfa4d05.png)

[2022-05-19 21:37] dannyroosevelt commented on #2857
This is ready for release!

[2022-05-19 22:01] dannyroosevelt commented on #926
This is ready for release!

[2022-05-19 22:20] dannyroosevelt opened #2896 "[APP] WhatsApp official Cloud API"
WhatsApp just launched their official API:
https://developers.facebook.com/docs/whatsapp/cloud-api/

This is blocked on integrating with Meta's Graph API.

[2022-05-19 22:38] dannyroosevelt opened #2897 "[APP] Need additional scopes for Jira"
A user has requested that we add the `write:board-scope:jira-software` scope to our Jira integration.

[2022-05-20 01:56] feyzullah commented on #2897
When adding that, it would be great if the scopes in [this comment](https://github.com/PipedreamHQ/pipedream/pull/2618#issuecomment-1109863093) are also added

[2022-05-20 02:05] GTFalcao commented on #1527
@andrewjschuang @lcaresia Thank you both for your very thorough reviews. I've checked and replied to all the comments, and significantly improved the code reusability and adherence to the good practices that you've suggested.

[2022-05-20 02:19] alecwills commented on #2880
@dannyroosevelt sorry I don't have contact there. I am a paying customer there, so I can make a support request if that helps? Please let me know if you have a template for that message, or what contact details I could provide beyond pipedream.com, or anything else that might make establishing a relationship between you easier? Thanks.

[2022-05-20 04:22] ahmadzaki1 commented on #2890
thank you for your response.

The response or trigger that I want to build is when someone fills in their name and email on the Mautic form, it will send a notification that someone has filled out the form to the Telegram group.

New User Subscribed with message format:

Name, email, filled form, and time of submitting the form to the group via telegram bot.

It's just that I'm still a bit confuse

[2022-05-20 13:21] vellames-turing commented on #2874
@dannyroosevelt I am moving this to review so we can speed up the process. The code is done, I just cant test it right now.

[2022-05-20 14:11] andrewjschuang commented on #2874
@vellames-turing can you link the PR here please?

[2022-05-20 15:04] vellames-turing commented on #2874
Sorry, done

[2022-05-20 15:37] gustavorps commented on #193
This is what is preventing me from migrating from Integromat

[2022-05-20 16:04] dannyroosevelt opened #2903 "[TRIGGER] Mautic"
App: `mautic`
https://developer.mautic.org/

### Triggers
- New Contact: Triggers when a new contact is created
- Updated Contact: Triggers when an existing contact is updated
- New Form Entry: Triggers when a form is submitted

[2022-05-20 16:11] dannyroosevelt commented on #1038
@bush4u why is this blocked?

[2022-05-20 16:23] bush4u commented on #1038
The webhook endpoints for the two tasks are not clear to me, and I am finding it a bit hard to understand how to go about the triggers.
So I put it on block so I can do more research and have a clearer view of how best to implement the task.

[2022-05-20 16:43] dannyroosevelt commented on #69
This is ready for release!

[2022-05-20 17:16] js07 opened #2904 "[BUG] Error using propDefinition in additionalProps"
I'm trying to use `propDefinition` inside `additionalProps()`. I get an error trying to load the additional props when configuring the component in the builder.

[code]

<img width="450" alt="additionalPropsError" src="https://user-images.githubusercontent.com/19861096/169579036-31014ed8-a71d-4afe-9229-c780e154b5b8.png">

**Additional context**

Slack thread: https://pipedream-users.slack.com/arch

[2022-05-20 17:34] dannyroosevelt commented on #2904
For our internal tracking: https://linear.app/pipedream/issue/PD-1060/propdefinition-not-supported-in-additionalprops

[2022-05-20 18:10] #2857 closed

[2022-05-20 18:25] brunoprado55 opened #2906 "[TRIGGER]"
<?php

// By default, this sample code is designed to get the result from your ActiveCampaign installation and print out the result
$url = 'http://account.api-us1.com';

$params = array(

    // the API Key can be found on the "Your Settings" page under the "API" tab.
    // replace this with your API Key
    'api_key'      => 'YOUR_API_KEY',

    // this is the action that tells the system what f

[2022-05-20 18:51] #69 closed

[2022-05-20 20:02] marcelocecin opened #2907 "[FEATURE] Digest"
**Is your feature request related to a problem? Please describe.**
Do you ever feel tormented by instant notifications? They're supposed to be helpful—but really, they just distract you from more important work.

**Describe the solution you'd like**
Digest captures info from multiple events in your workflows and collects them in a single easily consumed summary that can be sent to any app.

**Comp

[2022-05-20 20:07] marcelocecin opened #2908 "[APP] PixieBrix"
**Name of app / service**
PixieBrix

**Link to developer documentation**
https://docs.pixiebrix.com/developer-guide

**Is lack of support preventing you from building workflows, or do you have a workaround?**
https://zapier.com/apps/zapier-chrome-extension/integrations
https://community.zapier.com/product-updates/introducing-the-updated-zapier-chrome-extension-7104

**Are there specific actions, o

[2022-05-20 21:50] dannyroosevelt opened #2909 "[Help needed] Why is workflow execution not proceeding?"
Workflow is enabled for Support: https://pipedream.com/@ppedruzzi/mercadopago-order-paid-v2-p_dDC7qbr/inspect/29RTdd1AlmVLBTzr77xRSS3YQx4

Context from Slack: https://pipedream-users.slack.com/archives/CPTJYRY5A/p1653075049060899

[2022-05-20 21:57] dannyroosevelt commented on #2907
Actually @marcelocecin, we have a feature that may accomplish what you're trying to do -- [this documentation](https://pipedream.com/docs/examples/waiting-to-execute-next-step-of-workflow) is actually slightly stale (we have it in the queue to get it updated asap), but essentially you can,
1. [Configure an action](https://pipedream.com/apps/helper-functions/actions/schedule-task-in-future) to sche

[2022-05-20 22:03] dannyroosevelt commented on #1038
Can you post in one of the component dev channels so the team can help unblock you?

[2022-05-20 22:15] dannyroosevelt opened #2910 "[BUG] RSS trigger not picking up recent items"
New items are not getting picked up in the RSS trigger.

Workflow (shared w/ Support): https://pipedream.com/@samirtalwar/tweet-blog-posts-p_PACJno3/edit

RSS feed: https://monospacedmonologues.com/index.xml

[2022-05-20 22:35] dannyroosevelt commented on #2880
Thanks, yes -- a request coming from you saying that you'd like to see an integration with Pipedream will likely carry more weight than one coming from us 😄

You can let them know Pipedream is an integration platform for developers, with more than 700 integrated apps and 300k users. We have other similar integrations:
- https://pipedream.com/apps/tally
- https://pipedream.com/apps/jotform
- https:

[2022-05-21 00:57] dannyroosevelt commented on #1169
@Fabian9799 FYI it looks like we now support what you're trying to do -- check out these Twitch actions:
https://pipedream.com/apps/twitch#popular-twitch-actions

[2022-05-21 00:57] #1169 closed

[2022-05-21 05:39] douglassjohnandrew opened #2914 "[FEATURE] - Improvements to attachments"
**Is your feature request related to a problem? Please describe.**

The current attachments feature is good, but there's a few enhancements that I think could help improve the experience. The main inconvenience I'm facing is that when I upload a file with the same filename, I'm thinking that it'll be overwritten, but the file appears twice in the attachments list. I know that internally the file h

[2022-05-21 09:25] jimblizz opened #2915 "[APP] TruePill UK"
**Name of app / service**
Truepill (UK, there is a US equivalent also)

**Link to developer documentation**
https://docs.truepill.co.uk/#getting-started

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Blocked because we're lacking an example of how to do generic OAuth2 authentication for generic HTTP requests.

**Are there specific actions, or triggers,

[2022-05-21 09:27] jimblizz opened #2916 "[APP] Thriva"
**Name of app / service**
Thriva

**Link to developer documentation**
https://docs.thriva.io/docs/authentication

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Blocked because we're lacking an example of how to do generic OAuth2 authentication for generic HTTP requests.

**Are there specific actions, or triggers, you'd like to see for this app? Please

[2022-05-21 09:37] jimblizz opened #2917 "[APP] Generic OAuth2 Client Credentials Flow"
**Name of app / service**
Any service using standards compliant OAuth2 client credentials flow for authentication

**Link to developer documentation**
N/A

**Is lack of support preventing you from building workflows, or do you have a workaround?**
It seems to me that if you were to provide a generic "OAuth2 Client Credentials" app that let you pass the following props/data, you could have Pipedrea

[2022-05-21 09:50] jimblizz opened #2918 "[APP] Semble"
**Name of app / service**
Heydoc

**Link to developer documentation**
http://docs.heydoc.co.uk.s3-website.eu-west-2.amazonaws.com/
https://www.heydoc.co.uk/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
We have not started our build yet, but this is one of the first services we'll need to connect to.

**Are there specific actions, or triggers, you'd l

[2022-05-21 13:07] raphaelvarieras opened #2919 "[APP] ZeroBounce"
ZeroBounce

**Link to developer documentation**
https://www.zerobounce.net/docs/email-validation-api-quickstart#validate_emails__v2__

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I do, I've used the following:
[code]

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue

[2022-05-21 13:39] dannyroosevelt commented on #2528
[This ticket](https://github.com/PipedreamHQ/pipedream/issues/2909) was a result of not being able to see that a step ended due to `$.flow.exit`.

[2022-05-21 13:39] dannyroosevelt commented on #2909
This would have been avoided with displaying `$.flow.exit` in inspect mode.

[2022-05-21 13:39] #2909 closed

[2022-05-21 13:50] dannyroosevelt commented on #2915
Thanks for the request! To confirm, are you looking to use your own client ID and client secret to authenticate? Or would Pipedream have our own app-specific credentials for all users who connect to Truepill via OAuth? (we can support both use cases, the latter is the more common implementation).

[2022-05-21 14:00] jimblizz commented on #2915
Hello,

My understanding of Truepill would be that it would need to be the former as they offer differently configured environments for each customer.

You might find that rather than adding direct support for Truepill as described here, a better approach might be my other suggestion #2917 as this would cover handling auth for all Client Credentials flow based APIs like this one. i.e. even if I we

[2022-05-21 14:01] jimblizz commented on #2916
#2917 may be a better solution, though

[2022-05-21 14:09] dannyroosevelt commented on #2917
This is an interesting and creative ID that I believe we've discussed in the past. I'll definitely assess the feasibility and identify what work would need to be done in order for us to enable a solution like this.

[2022-05-21 14:23] jimblizz commented on #2917
It looks like your integration for "Quipu" uses the client credentials flow, the only difference would be is that you're letting your users supply custom tokens and authorize endpoints so that it can be used generically. This opens up access not only these ones I've requested support for, but any and all private APIs that use this quite common authentication method.

It seems to me that you could

[2022-05-21 14:52] rodenp opened #2920 "[APP] SendX"
**Name of app / service**
SendX

**Link to developer documentation**
https://www.sendworks.com/support/sendx/rest-api

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Would be good if the community could also add new Apps rather than have to reach out to Pipedream to create them.

**Are there specific actions, or triggers, you'd like to see for this app?

[2022-05-21 16:16] jimblizz commented on #2917
I've done some playing around here and realised that the client credentials flow doesn't handle refreshing anyway, so really I can produce option 1 here as a custom action. I have done so and included it below. This works for me testing against an Auth0 account.

You are free to use this code if you want to expand it to something nicer.

[code]

[2022-05-21 16:20] jimblizz commented on #2917
One possible improvement would be to use data stores to cache the resulting token until its expiry.

[2022-05-21 16:45] jimblizz opened #2921 "[APP] Saleor and Saleor Cloud"
**Name of app / service**
Saleor

**Link to developer documentation**
https://docs.saleor.io/docs/3.x/developer/users#authentication
https://saleor.io/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
A workaround here would be to manually manage authentication.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us kno

[2022-05-22 04:39] #2906 closed

[2022-05-22 04:41] dylburger commented on #163
See #2917, as well. This model should support the Client Credentials flow.

[2022-05-22 04:41] dylburger commented on #2917
@jimblizz Totally makes sense. We're tracking at #163 if you'd like to follow that, and I've linked to this ticket to make sure we handle the Client Credentials flow (which we should implicitly).

[2022-05-22 04:41] #2917 closed

[2022-05-22 05:14] ahmadzaki1 commented on #2890
Hello

Thank you for replying to your message.

I tried yesterday with http trigger and mautic webhook , and it worked, great.

thanks for the help sir @dannyroosevelt and sir @sergioeliot2039

[2022-05-22 05:14] #2890 closed

[2022-05-22 05:24] Jordon-L commented on #2391
Hi, I would like to try fixing this.

[2022-05-22 08:44] onlytanmoy commented on #2506
This has broken again 😒
Here is the screenshot of the most recent source logs: https://imgur.com/a/4EVLZkN
Please fix it, thanks!

[2022-05-22 10:45] aroslov opened #2922 "[BUG] JSON payload corrupted with new lines"
**Describe the bug**
When using a POST request with JSON body and variables substitution, Pipedream incorrectly handles \n in strings.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a POST request step
2. In Configure / Body select json
3. Use this a payload with variable like this:
[code]
5. JSON actually generated by Pipedream and sent in the POST request contains a new line mid st

[2022-05-23 03:04] dannyroosevelt commented on #2922
Thanks for reporting, @aroslov I see the same issue on my end. I've raised this with the team internally and we'll investigate.

[2022-05-23 03:09] dannyroosevelt commented on #2506
@onlytanmoy yes can you please file a bug and someone from the team will check it out!

[2022-05-23 06:46] onlytanmoy opened #2925 "[BUG] Reddit-NEW SAVED POST BY USER-broken again!"
Hiya, this has broken again 😒
Previous similar bug filed here https://github.com/PipedreamHQ/pipedream/issues/2506
Here is the screenshot of the most recent source logs: https://imgur.com/a/4EVLZkN
Please fix it, thanks!

[2022-05-23 06:47] onlytanmoy commented on #2506
@dannyroosevelt Thanks mate, new issue created https://github.com/PipedreamHQ/pipedream/issues/2925

[2022-05-23 07:00] dylburger commented on #2171
This should be done!

<img width="933" alt="Screen Shot 2022-05-22 at 10 59 52 PM" src="https://user-images.githubusercontent.com/242668/169761803-eba38f1f-02bc-4335-b308-72e9f387b9f6.png">

[2022-05-23 07:00] #2171 closed

[2022-05-23 08:04] Hassan-Abbas-SQA commented on #2925
@onlytanmoy can you please explain the steps to reproduce this issue?

[2022-05-23 12:01] marcelocecin commented on #2907
hi Danny
I will try to implement
thanks

[2022-05-23 12:01] #2907 closed

[2022-05-23 12:19] alecwills commented on #2880
OK submitted.

On Sat, 21 May 2022 at 08:35, Danny Roosevelt ***@***.***>
wrote:

--
Alec Wills BSc PhD MClinHyp MNLP CMGoAH
Mind Coach
***@***.***
m: 0458 875 498    t:07 3184 8183    f:07 3184 8184
https://lifezest.health
<https://www.facebook.com/lifezesthealth>
<https://www.instagram.com/lifezesthealth/> @lifezesthealth

[2022-05-23 12:56] dannyroosevelt commented on #2836
This is ready for release!

[2022-05-23 12:56] vunguyenhung commented on #2836
Hi everyone, all test cases are passed! Ready for release!

Test report
[Notion_2836_1949.pdf](https://github.com/PipedreamHQ/pipedream/files/8754663/Notion_2836_1949.pdf)

[2022-05-23 12:57] pedropedruzzi commented on #2528
Additional note: as users already see `$.flow.exit` alerts during workflow editing/testing (screenshot below), they might get confused by not seeing a similar alerts in inspector.

<img width="340" src="https://user-images.githubusercontent.com/240791/169824251-4e93eebd-81e9-4435-bdf9-05be07df4399.png">

[2022-05-23 13:16] dannyroosevelt commented on #2378
This is ready for release!

[2022-05-23 13:19] vunguyenhung commented on #2378
Hello @js07, all test cases are passed! Ready for release!

Test report
[Slack_2378_2015.pdf](https://github.com/PipedreamHQ/pipedream/files/8754804/Slack_2378_2015.pdf)

[2022-05-23 13:53] dannyroosevelt commented on #75
This is ready for release!

[2022-05-23 13:54] DilanAthukorala commented on #71
Verification completed and no issues observed.

[2022-05-23 13:54] dannyroosevelt commented on #71
This is ready for release!

[2022-05-23 14:03] #71 closed

[2022-05-23 14:04] #75 closed

[2022-05-23 14:42] ctrlaltdylan commented on #2910
The source with the reported issue is using the `rss_new-item-in-feed` v0.0.1, but I believe the newest version 0.0.2 might have fixed the bug.

Advising the customer to recreate the source.

I was unable to recreate the bug in a v0.0.2 version of the component.

[2022-05-23 15:37] dannyroosevelt commented on #2925
@Hassan-Abbas-SQA let me know if you are able to reproduce the issue -- that'd be helpful for the investigation.

[2022-05-23 16:07] ctrlaltdylan commented on #2910
Adding in example problem workflow.

I believe the problem may be a _misordering_ of events, not that the RSS feed isn't emitting new events:

![CleanShot 2022-05-23 at 12 05 38@2x](https://user-images.githubusercontent.com/2694734/169861253-19c91c21-3ddc-45d8-a7a7-07c5bbb7b792.png)

![CleanShot 2022-05-23 at 12 05 22@2x](https://user-images.githubusercontent.com/2694734/169861266-44d6d761-c266-4d

[2022-05-23 16:29] ctrlaltdylan commented on #2910
It _might_ be that the `feedparser` reading this XML feed is ordering in alphabetical order on the `guid` property

The `guid`'s in chronological order:

* `https://monospacedmonologues.com/2022/05/lessons-from-a-failed-startup-corporate-values/`
* `https://monospacedmonologues.com/2022/05/lessons-from-a-failed-startup-do-research/`
* `https://monospacedmonologues.com/2022/05/how-to-drive-fast/`

[2022-05-23 16:43] ctrlaltdylan commented on #2910
@alysonturing does this make sense?

I'm not as familiar with the `feedparser` module, is it possible that it's using the `guid` property as a primary ID and sorting it before parsing each item to the the `readable` function?

[2022-05-23 17:24] parisetflorian opened #2929 "Videoask [APP]"
**Name of app / service**
Videoask

**Link to developer documentation**
https://documenter.getpostman.com/view/291373/SWTEdwrG#intro

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Requires oAuth with access tokens

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue temp

[2022-05-23 19:03] dannyroosevelt opened #2930 "[ACTION] Update additional Notion actions to use additionalProps"
Similar to [this work](https://github.com/PipedreamHQ/pipedream/issues/2836), we should extend the same functionality to the remaining Notion actions where it makes sense (Create Page at a minimum).

[2022-05-23 19:23] vellames-turing commented on #1202
As inspiration, maybe we can check [react final form field validator](https://codesandbox.io/s/github/final-form/react-final-form/tree/master/examples/field-level-validation)

[2022-05-23 19:43] croveapp opened #2931 "[APP] Crove"
**Name of app / service**
Crove

**Link to developer documentation**
https://crove.stoplight.io/docs/crove-external-integrations-api/46b38f624d360-crove-api

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Manual auth / API usage

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trig

[2022-05-23 23:23] Hassan-Abbas-SQA commented on #1527
In action: Send an email > HTML body must be required to receive "New Email Opened" trigger events.
please update the hints for this scenario

[2022-05-24 00:37] GTFalcao commented on #1527
To make sure the user is not caught off-guard by this [limitation documented by Postmark](https://postmarkapp.com/developer/user-guide/tracking-opens#limitations), I've updated the descriptions for the following props:

[Source: new email opened] Track opens by default
[Action: send single email] HTML Body
[Action: (both)] Track opens

@Hassan-Abbas-SQA

[2022-05-24 00:40] dannyroosevelt commented on #1527
This is ready for release!

[2022-05-24 02:08] dannyroosevelt commented on #938
@vellames-turing are you working on this one?

[2022-05-24 03:14] vellames-turing commented on #938
I was, but I am in the PR rotation this week, I will move it to TO DO column

[2022-05-24 06:07] charanjit-singh commented on #2931
Hi @dannyroosevelt, This is Charanjit from crove.app. We've given you temporary access to generate API keys. https://v2.crove.app/workspace/api-keys

[2022-05-24 10:19] #1477 closed

[2022-05-24 12:48] dannyroosevelt commented on #576
This is ready for release!

[2022-05-24 12:51] dannyroosevelt commented on #1248
This is ready for release!

[2022-05-24 13:04] acti0nm4n opened #2933 "[APP] Nexudus"
**Name of app / service**
Nexudus

**Link to developer documentation**
https://developers.nexudus.com/reference

**Is lack of support preventing you from building workflows, or do you have a workaround?**
No, using Node to directly call API

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open reque

[2022-05-24 13:32] dannyroosevelt commented on #1535
This is ready for release!

[2022-05-24 13:43] #1535 closed

[2022-05-24 14:02] dannyroosevelt commented on #1523
This is ready for release!

[2022-05-24 15:57] vunguyenhung commented on #753
Reopen, since the related PR just added an action Create Image. The remaining actions still TODO

[2022-05-24 16:12] ctrlaltdylan opened #2935 "[BUG] Mongo "Search Documents" action's filter prop formatting issue"
**Describe the bug**
The Mongo search action does not parse the passed prop string back into a JSON object.

Mongo's Query Language works with objects, but the serialization of the `filter` prop is causing the query to pass as a string.

Conditions to test with:

`{ key: { $exists: true } }`

`{ key: null }`

They should be passed to the `mongodb` client as objects in order to function properly.

[2022-05-24 16:13] ctrlaltdylan opened #2936 "[BUG] MongoDb "search-documents" action misspelled"
The `search_documents.mjs` action is misspelled as `search_ducuments.mjs`:

https://github.com/PipedreamHQ/pipedream/blob/master/components/mongodb/actions/search-documents/search-ducuments.mjs

[2022-05-24 16:26] dannyroosevelt commented on #2936
Make sure to address this issue at the same time: https://github.com/PipedreamHQ/pipedream/issues/2935

[2022-05-24 16:38] #2536 closed

[2022-05-24 17:13] dannyroosevelt opened #2939 "[New triggers and action] Demio"
**Is there a specific app this action is for?**
Demio

**Please provide a link to the relevant API docs for the specific service / operation.**
https://publicdemioapi.docs.apiary.io/#

### Triggers
- Webinar participant joins webinar
- New webinar registration
- Webinar updated

### Actions
- Create registration for webinar
- List events
- Get event details

[2022-05-24 17:39] #1248 closed

[2022-05-24 17:42] #1523 closed

[2022-05-24 18:02] ctrlaltdylan opened #2942 "[BUG] MongoDB insert new document "parseBoolean" type safety broken."
**Describe the bug**

When **Parse Booleans** is enabled on the insert new document action, there's an issue where the passed field is an object not a string, causing an uncaught error:

https://github.com/PipedreamHQ/pipedream/blob/f318685db4df9ec75da5ecf93bac5d2627409949/components/mongodb/mongodb.app.mjs#L311

Full conversation:

https://pipedream.com/community/t/errors-with-webhook-to-mongo/24

[2022-05-24 19:24] dannyroosevelt commented on #2838
This is ready for release!

[2022-05-24 19:25] dylburger commented on #2931
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-05-24 19:50] Defozo opened #2943 "[BUG] Google Sheets API returns 404 when sheet name contains '/'"
**Describe the bug**
Google Sheets API returns 404 when sheet name contains '/'

**To Reproduce**
Steps to reproduce the behavior:
Add Google Sheets API with '/' in the name of the sheet

**Expected behavior**
No errors

**Desktop (please complete the following information):**
 - OS: Windows 11
 - Browser Chrome

[2022-05-24 20:14] dannyroosevelt opened #2944 "[Actions + Triggers] Squarespace"
**Is there a specific app this action is for?**
Square Space (`squarespace`)

**Please provide a link to the relevant API docs for the specific service / operation.**
https://developers.squarespace.com/commerce-apis/overview

### Triggers
- New or updated product
- New or updated order
- New or updated transaction

### Actions
- Create product
- Get product
- Get order

[2022-05-24 20:14] dannyroosevelt commented on #2944
Note that the app is in the process of getting integrated, will update this ticket when it's live

[2022-05-24 20:35] ctrlaltdylan opened #2946 "[BUG] Notion "Page Updates" source infinite timeout error"
**Describe the bug**
When a user's Notion database has many updates to process, the source can timeout before event emission and updating of the latest ran timestamp is completed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Notion database
2. Set up a "Updated Page" source
3. Create many changes within the polling window
4. Observe the maximum execution timeout error, and the db

[2022-05-24 20:43] jcortes commented on #753
@dannyroosevelt and @vunguyenhung  just to make sure we are in the same page. The remaining actioins are?
[code]

[2022-05-24 21:13] Hassan-Abbas-SQA commented on #2925
@dannyroosevelt saving posts works fine, on saving multiple comments from already saved post i got this error , and after getting this error save post events started throwing errors now not even able to save more posts anymore as well
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/104946677/170133150-b2e9dc4a-9f86-43fc-bc64-7b2ac5b4203a.png">

[2022-05-24 21:21] dylburger commented on #2886
This should be fixed

[2022-05-24 21:21] #2886 closed

[2022-05-24 21:40] dannyroosevelt commented on #2897
Added `write:board-scope:jira-software`.

Re: Feyzo's comment, we modified the scope of the work for that ticket to not require those additional scopes.

[2022-05-24 21:40] #2897 closed

[2022-05-24 21:44] dannyroosevelt commented on #2943
Thank you for reporting, @Defozo -- are they specific actions/triggers/endpoints you're trying to use that are failing in these cases?

[2022-05-24 22:02] #1527 closed

[2022-05-24 22:27] dannyroosevelt opened #2947 "[TRIGGER] Update Gorgias Sources to use webhooks instead of polling endpoints"
We should update Gorgias sources to use HTTP webhooks instead of polling endpoints.
https://developers.gorgias.com/reference/the-integration-object

However, this may be a good opportunity to preserve the ability to also fetch historical events upon source creation.

[2022-05-24 22:40] #1299 closed

[2022-05-24 23:26] Defozo commented on #2943
I tested this with the action "Add Single Row" from Google Sheets.

[2022-05-24 23:40] dannyroosevelt commented on #2943
Thanks for the info, I see the same. We will check this out!
![image](https://user-images.githubusercontent.com/20780753/170149149-fae4c922-603d-4474-9988-556838e71f9b.png)

[2022-05-25 00:38] dylburger commented on #2801
We've added this issue to our backlog. You can follow this issue for updates!

[2022-05-25 09:07] huzaifah-esm opened #2950 "[BUG] Timeout in workflows not being respected"
**Describe the bug**
My timeout is set to 750s but consistently seeing workflows being timed out after 30s.

[code]

**Screenshots**
<img width="86" alt="image" src="https://user-images.githubusercontent.com/79848772/170225726-f0b81c17-6900-4213-99b8-0e1cd4c89ec6.png">
<img width="251" alt="image" src="https://user-images.githubusercontent.com/79848772/170225751-282bff60-0f36-4dee-9418-4a82182c0d8

[2022-05-25 13:20] ctrlaltdylan commented on #2950
Hi @huzaifah-esm, sorry once events are deleted they are unrecoverable. I'm not going to be able to inspect those further.

But if this does happen again, please share the event ID and we'll happily take a look.

[2022-05-25 14:03] #2838 closed

[2022-05-25 14:22] dannyroosevelt commented on #2646
This is ready for release!

[2022-05-25 14:43] dannyroosevelt commented on #2894
This is ready for release!

[2022-05-25 15:41] ctrlaltdylan opened #2954 "[BUG] MongoDB :: Create new Document - forces lowercase & appends an `s` character to collection"
**Describe the bug**
When using the Create New Document action, the selected collection name isn't respected and the document is inserted into a collection name that's lowercased & appended with an `s`.

If you attempt to insert a document into a collection named `People` for example, a new collection is created called `peoples` and the document is inserted into this new collection.

**To Reproduc

[2022-05-25 16:18] dannyroosevelt commented on #761
This is ready for release!

[2022-05-25 16:24] #761 closed

[2022-05-25 16:29] AlexeyArtemev opened #2955 "[BUG]"
**Describe the bug**
1.`Code was still running when the step ended` warning using the MongoDB integration in one workflow
2. The same MongoDB integration becomes unusable in other workflows

**To Reproduce**
Use MongoDB app's `search documents` option in the workflow
Test it with any Atlas DB deployments
Repeat in another workflow

**Expected behavior**
1. No warnings
2. No errors while using one

[2022-05-25 16:50] dannyroosevelt opened #2956 "[BUG] Mailgun Send Email action not listing all options in domain prop"
A user is expecting to see additional domains listed here:
![image](https://user-images.githubusercontent.com/20780753/170317787-0e08fa50-48d5-4ce4-92d1-4939973fa292.png)

https://github.com/PipedreamHQ/pipedream/blob/master/components/mailgun/actions/send-email/send-email.js

[2022-05-25 16:59] js07 commented on #2741
This bug seems to occur when a spreadsheet includes a tab of type 'OBJECT'. Reported in this slack thread: https://pipedream-users.slack.com/archives/CMZG4EBJ9/p1653444877581219

[2022-05-25 17:02] dannyroosevelt opened #2957 "[FEATURE] I want to see additional context about specific events in the event list in the inspector"
There is additional context I'd like to see surfaced in the event list. For example:
- Did not complete execution because `reason for ending execution`
- (for executions that used `$.flow.delay()`): Event still running / delayed for 20 minutes due to xyz condition

This additional context will help me more easily scan my list of events to I can more easily identify specific events where I may need

[2022-05-25 17:04] AlexeyArtemev opened #2958 "[ACTION] Add an option to set chat permissions in the Telegram bot app"
**Is there a specific app this action is for?**
Yes, Telegram Bot, but i would like to see some instruments to change chat parameters(permissions and slowmode in particular, but there's no botAPI method for slowmode)

**Please provide a link to the relevant API docs for the specific service / operation.**
https://core.telegram.org/bots/api#setchatpermissions

[2022-05-25 17:04] dannyroosevelt commented on #2528
FYI we added support for surfacing when steps ended execution in the step overview in Inspect mode. These are not yet surfaced in the event list, so I've created a [new ticket](https://github.com/PipedreamHQ/pipedream/issues/2957) to track that specific work.

![image](https://user-images.githubusercontent.com/20780753/170320208-ccd96e60-f3af-4a38-a0bf-d45010e9a408.png)

[2022-05-25 17:04] #2528 closed

[2022-05-25 17:06] #2894 closed

[2022-05-25 17:10] dylburger commented on #2931
That’s great!

[2022-05-25 17:40] dannyroosevelt commented on #2892
FYI @VadimChernik this should be fixed! Please make sure to update the Zoho CRM action you're using and let me know if this resolves your issue!

[2022-05-25 17:46] dannyroosevelt commented on #2958
Thanks for the request!

Setting chat permissions seems like it'd make sense as its own built-in action. But as you mentioned, I don't see any way to **set** `slow_mode` in the API, so unless there's another solution, we won't be able to support that method.

[2022-05-25 17:47] dannyroosevelt commented on #2958
By the way all our actions are open source and [hosted on GitHub](https://github.com/PipedreamHQ/pipedream) -- are you interested in [building out the Set Chat Permissions action](https://pipedream.com/docs/components/quickstart/nodejs/actions/)?

[2022-05-25 17:59] VadimChernik commented on #2892
Hi @dannyroosevelt,

Thanks for the update.

I've created the connection from scratch, but I got the same result - Invalid Token.
It looks like the request URL hasn't changed.
![image](https://user-images.githubusercontent.com/25364834/170331065-8eb2eb35-03d3-4278-9e42-d4c615ca7bfc.png)

[2022-05-25 18:06] AlexeyArtemev commented on #2958
As I can see from the quickstart page, actions can be wrote only on JS, and i don't have any expertise at it
though i can assist in development since i have a working python script which changes the chat permissions and thus have at least a little knowledge of working with TG bot API

[2022-05-25 18:17] bentyla opened #2960 "[APP]"
**Name of app / service**
Quick Base

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Yes

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**
New record
Modified Record
Deleted Record
Create recor

[2022-05-25 18:18] dannyroosevelt commented on #2892
Ah I see what happened -- we published the fix to most of the other Zoho CRM actions, but missed this one 🤦🏻‍♂️

I just patched the remaining actions -- can you update the action and try again?
![image](https://user-images.githubusercontent.com/20780753/170338009-17c5231a-e184-48f8-a635-031ea1bba8d7.png)

[2022-05-25 18:19] #2960 closed

[2022-05-25 18:25] ctrlaltdylan commented on #2955
Hi @AlexeyArtemev ,

Thanks for the detailed bug report, but I'm unable to reproduce on my own MongoDB powered workflows.

The error may signal the issue: `Cannot destructure property 'username' of 'this.$auth' as it is null.`

Are you certain that your MongoDB credentials are populated? You can verify this by opening the **Connected Accounts** area and **Reconnect** your MongoDB account. It will

[2022-05-25 18:26] AlexeyArtemev opened #2962 "[BUG] MongoDB app can't find any objects in the collection with specific name"
**Describe the bug**
MongoDB app can't find any objects in a collection named "personnel". The return value is empty
Also it creates another collection named the same way but with "s" at the end

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection named "personnel"
2. Fill it with at least 1 object. As far as i'm concerned, the object content is irrelevant
3. Try to search doc

[2022-05-25 18:28] VadimChernik commented on #2892
Yeah, it worked.
![image](https://user-images.githubusercontent.com/25364834/170339356-b8b7bf68-75cc-405d-8eb7-eddc883e5625.png)

Thanks :thumbsup:

[2022-05-25 18:41] #2892 closed

[2022-05-25 18:51] dannyroosevelt opened #2963 "[Updates] Add create record if not found in Has Key to Data Store Action"
Extend [this functionality](https://github.com/PipedreamHQ/pipedream/blob/master/components/data_stores/actions/get-record/get-record.mjs#L27) to [has-key](https://github.com/PipedreamHQ/pipedream/blob/master/components/data_stores/actions/has-key/has-key.mjs) action.

We should also probably update the name/key of that action to be more descriptive: "Check if key exists"

[2022-05-25 19:04] dannyroosevelt opened #2964 "[ACTION] Telegram Bot -- Set Chat Permissions"
**Is there a specific app this action is for?**
`telegram_bot_api`
https://core.telegram.org/bots/api#setchatpermissions

Set Chat Permissions action
- Should be able to list chats or usernames
- Specify permissions to enable from this list https://core.telegram.org/bots/api#setchatpermissions

[2022-05-25 19:05] dannyroosevelt commented on #2958
No problem. I've added [this ticket](https://github.com/PipedreamHQ/pipedream/issues/2964) to the team's backlog -- feel free to subscribe and follow along if you'd like to receive updates on the status!

[2022-05-25 19:05] #2958 closed

[2022-05-25 19:05] dannyroosevelt commented on #2964
Requested from a user: https://github.com/PipedreamHQ/pipedream/issues/2958

[2022-05-25 19:10] ctrlaltdylan commented on #2962
@AlexeyArtemev I think we need to replace the underlying Mongoose ORM with just the plain Node library.

Sorry my workaround didn't work.

I suggest using the **Use any MongoDB API** Action. Then you can customize the query directly and bypass these problems:

[code]

I updated the code scaffolding to perform the query you're looking to do.

[2022-05-25 19:49] ctrlaltdylan opened #2965 "[BUG] MongoDB refactor"
**Describe the bug**

The current MongoDB component has a few issues noticed by customers and staff alike:

* https://github.com/PipedreamHQ/pipedream/issues/2954
* https://github.com/PipedreamHQ/pipedream/issues/2955
* https://github.com/PipedreamHQ/pipedream/issues/2962
* https://github.com/PipedreamHQ/pipedream/issues/2935
* https://github.com/PipedreamHQ/pipedream/issues/2942

Some of these wi

[2022-05-25 20:33] dannyroosevelt commented on #2965
@michelle0927 tagging you in case you want to work on this, since I think you worked on the other MongoDB component. Feel free to assign yourself if you want, otherwise someone else can grab it.

[2022-05-25 21:48] dannyroosevelt opened #2967 "Rev Google Sheets Components"
This bug fix was not published to the impacted components since their versions were not rev'd:
https://github.com/PipedreamHQ/pipedream/pull/2685/files

[2022-05-25 22:02] ericmorand opened #2968 "OUCH!"
Enough said, right?

![image](https://user-images.githubusercontent.com/125664/170374704-e92a8149-0e33-4dc8-af88-723ed43b9472.png)

[2022-05-25 22:22] tjk commented on #2968
If the issue is that node is not a language -- we obviously agree :). Fix going out now with a couple new options. Thanks!

Please let us know if there is more to this issue or if anything else comes up. Cheers.

[2022-05-25 22:22] #2968 closed

[2022-05-25 22:51] #2741 closed

[2022-05-26 02:04] accellier opened #2970 "[APP] Weworkbook"
**Name of app / service**
Weworkbook

**Link to developer documentation**
Docs are here https://api.weworkbook.com/ but behind credentials (can be supplied to Pipedream Dev).
Here is a PDF print out of the OAUTH2 authentication endpoints and a simple GET request available for testing:
https://drive.google.com/file/d/1hLzD2KJ_nHXezoZ1U2TLBoOUbK5QnX2c/view?usp=sharing

**Is lack of support preventin

[2022-05-26 03:12] pd-component-development commented on #2970
Thanks for submitting and for the links.

Do you envision supplying your own account-specific client ID and client secret when authenticating? Or will there be a Pipedream app that are used for all users of the Pipedream<>Weworkbook integration?

[2022-05-26 03:15] dannyroosevelt commented on #2970
Thanks for submitting and for the links.

Are you envisioning supplying your own user-specific client ID and client secret? Or should Pipedream manage the IDs within a Pipedream app for Weworkbook?

[2022-05-26 03:47] accellier commented on #2970
Hey Danny. Appreciate the prompt response.
Yes we can create our own user-specific client ID and client secret in the Weworkbook API's GUI and enter them in when we authenticate for the first time - is this what you mean?

[2022-05-26 03:55] accellier commented on #2970
In the Weworkbook API's UI, when you create a new Client App it asks for a name and a redirect URL (application's authorization callback URL). I guess Pipedream will need to give that to the authenticating user somehow.

[2022-05-26 04:28] dannyroosevelt commented on #2970
Let me know if this works for you as a basic integration to get you started: https://pipedream.com/apps/weworkbook/

[2022-05-26 04:44] accellier commented on #2970
That's fantastic Danny - works nicely so far!
We will build some basic integrations and monitor.
Appreciate such a fast build - thank you!

[2022-05-26 04:44] #2970 closed

[2022-05-26 08:15] ericmorand commented on #2968
Thanks a lot. It was a troll issue obviously. Your tool is amazing - I discovered it yesterday - but I couldn't resist. 😂

[2022-05-26 10:49] SamirTalwar commented on #2910
I'm not sure I follow why the order would matter; it seems to be using the "unique" dedup strategy. Is there something that would deduplicate older values regardless?

[2022-05-26 11:21] AlexeyArtemev opened #2972 "[BUG] Telegram trigger is pushing daily invocations to the limit"
**Describe the bug**
An instance of telegram channel trigger eats all the limits during the initialization

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workflow
2. Use telegram bot as a trigger
3. Select channel updates as an event listener
4. See infinite load until the limit is reached

**Expected behavior**
I've expected to not exceeding my limits by creating a trigger

**Scre

[2022-05-26 11:23] AlexeyArtemev commented on #2972
The problem appears during the trigger creation process only
![image](https://user-images.githubusercontent.com/53113374/170478507-c5ebbd37-e7c5-4808-90fd-dc83c38df863.png)

[2022-05-26 13:27] fsozer opened #2973 "monday.com"
**Name of app / service**
monday.com / webhook

**Link to developer documentation**
https://api.developer.monday.com/docs

**Is lack of support preventing you from building workflows, or do you have a workaround?**
yes it is .I don't have any workaround.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates

[2022-05-26 15:36] ctrlaltdylan commented on #2965
Just want to say thanks again @michelle0927 for building the components, I'm a big Mongo fan and clearly it's already getting use from customers.

I think you put it in a great effort into the formatting / parsing logic, just trying to offer a way that leads to less work and code in the long run.

Let me know if I can help answer and questions about the Mongo client, I have used it way too much ov

[2022-05-26 16:16] sergioeliot2039 commented on #2973
Hi @fsozer , there is an integration already done for Monday.com, https://pipedream.com/apps/monday
In that link you can see the available actions
![image](https://user-images.githubusercontent.com/25184117/170529551-c413c9af-08e8-48d5-a538-c69911f6b941.png)

Can you please check them and let us know if what you need is already there or if you see pending actions to create that you need?

[2022-05-26 16:52] dannyroosevelt commented on #2972
Thanks for submitting the report, @AlexeyArtemev, and sorry you're running into issues with this source.

We aren't able to reproduce the specific issue, but we were able to verify the errors in the logs for the source you created (FYI you can [see these here](https://pipedream.com/sources/dc_gzu0yqO/logs)).

Can you tell us more about the bot configuration? Is it already an admin of various chann

[2022-05-26 17:00] ctrlaltdylan commented on #2972
@AlexeyArtemev just to add another question to @dannyroosevelt 's, how many channels is your bot a member of?

This source generates a webhook that subscribes to _all_ channels that your bot is subscribed to, so if there are 500 messages in the various channels your bot is subscribed to after you've created the source, then you'd hit your invocation limit.

[2022-05-26 17:06] AlexeyArtemev commented on #2972
No, he wasn't an admin of any channel, only chats
As i can see from the losg, the problem is that the app tried to get not channels, but chats instead:
`Cannot read property 'chat' of undefined`
and the bot has several chats with up to 95.000 members, so it's not a surprise to get such an error with invocations

IMHO the problem occured because the bot has no channels which it subscribed to, so th

[2022-05-26 17:23] AlexeyArtemev commented on #2972
@ctrlaltdylan the problem might as well occur if the parsed object defined wrong. There is a chat property in the body object, and yet the error says that the app can't locate it

[2022-05-26 17:36] ctrlaltdylan commented on #2972
@AlexeyArtemev  Thank you! That was the missing piece, I'm a Telegram noob can't you tell 😆

But I still wasn't able to reproduce the problem.

I don't have any errors in the Channel Updates Telegram source when I added it to a group chat.

And to clarify, the source works by creating a webhook on Telegram, so every new event will trigger the source. And it appears that it's only subscribing to ch

[2022-05-26 17:56] #2935 closed

[2022-05-26 17:56] #2936 closed

[2022-05-26 18:48] ctrlaltdylan commented on #2972
Thanks for the steps @AlexeyArtemev but no luck.

I also turned of Privacy Mode on the bot, hoping that would trigger the bug.

Maybe we have some terminology mix up, I'm adding my bot to a **Group**. Is that what you mean by a chat or maybe something different?

[2022-05-26 18:57] AlexeyArtemev commented on #2972
Yes, by chat I mean group(both terms are being used by telegram, one in the API and one in the actual apps(desktop, web and mobile))

[2022-05-26 19:39] dannyroosevelt commented on #1506
This is ready for release!

[2022-05-26 19:43] ctrlaltdylan commented on #2972
Thanks for clarifying @AlexeyArtemev just trying to be specific!

Really appreciate you working with us to narrow this down. We've just shipped a new version of the Telegram New Channel Update source:

https://github.com/PipedreamHQ/pipedream/pull/2978

It doesn't _fix_ the bug persay, but it will give us better debugging information to possibility help narrow down the cause.

It throws an error y

[2022-05-26 19:50] #2134 closed

[2022-05-26 19:54] AlexeyArtemev commented on #2972
@ctrlaltdylan thanks for invoices, but first of all i need to delete current source - it creates more and more load somehow
![image](https://user-images.githubusercontent.com/53113374/170566776-5f483874-2234-4ccd-b218-99ea38009dfc.png)

[2022-05-26 21:02] Jordon-L commented on #2461
Hi, I would like to take on this issue. Since the endpoints can have multiple combinations of parameters would requiring the user to select the parameters they want to use be good?

[2022-05-26 21:12] dannyroosevelt commented on #2461
Great! I think the most relevant parameters should be used as `props` for each action. And I think most of them are probably optional.

[2022-05-26 21:20] dannyroosevelt commented on #2835
The scopes issue is resolved.

[2022-05-26 21:24] dannyroosevelt commented on #1548
https://pipedream.com/apps/netlify/triggers/new-form-submission

[2022-05-26 21:24] #1548 closed

[2022-05-26 21:25] #2967 closed

[2022-05-26 21:26] dannyroosevelt commented on #2925
This is ready for release!

[2022-05-26 21:27] dannyroosevelt commented on #1342
https://developer.moneybird.com/

### Triggers
- New Contact
- New Quote
- New Sales Invoice

### Actions
- Create Contact
- Create Sales Invoice
- Create Quote

[2022-05-26 21:35] dannyroosevelt commented on #1095
https://help.getharvest.com/api-v2/

### Triggers
- New Timesheet Entry
- New Invoice

### Actions
- Start Time
- Stop Timer
- Create Timesheet Entry

[2022-05-26 21:43] #812 closed

[2022-05-26 21:45] dannyroosevelt commented on #801
closing in favor of https://github.com/PipedreamHQ/pipedream/issues/803

[2022-05-26 21:45] #801 closed

[2022-05-26 21:46] Hassan-Abbas-SQA commented on #2943
@dannyroosevelt works fine now
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/104946677/170585359-71bb47c6-da1a-40f3-91d0-c34dded080db.png">

[2022-05-26 21:47] dannyroosevelt commented on #2943
Great! Let's ship it!

[2022-05-26 21:49] dannyroosevelt commented on #2943
This is ready for release!

[2022-05-26 21:53] #2835 closed

[2022-05-26 21:58] #2943 closed

[2022-05-26 21:58] #1506 closed

[2022-05-26 22:48] raphaelvarieras opened #2981 "[TRIGGER] Zoom Phone"
Zoom phone:

https://marketplace.zoom.us/docs/api-reference/zoom-phone-api

[2022-05-26 22:49] raphaelvarieras opened #2982 "[APP] Zoominfo"
ZoomInfo

https://api-docs.zoominfo.com/#intro

Desired actions would be:
- look up contact
- look up company
- etc

[2022-05-26 23:00] dannyroosevelt commented on #2981
Hey @raphaelvarieras are there specific trigger events you'd like to see from the Zoom Phone API?

[2022-05-26 23:08] raphaelvarieras commented on #2981
I would suggest the following as a good starting place:

- new call recording for a user
- new call recording in account
- new voicemail for a user
- new voicemail in account

[2022-05-26 23:45] jeffdechambeau opened #2983 "[BUG] All Browserless invocations throw 401 error in v2 workflows"
**Description**
v2 workflows throw 401 errors for all Browserless calls.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://browserless.io and get an api key
2. Create a v2 workflow
3. Search for Browserless
4. Choose/select any preset
5. Populate with prop for API key
6. Hit test
7. Experience bug

**Expected behavior**
That's probably beyond the scope of this ticket, suffice it

[2022-05-27 01:16] bush4u commented on #1038
![image](https://user-images.githubusercontent.com/68253993/170608948-8b3b9e13-8a0e-4f79-a085-3fe0b098d409.png)

Teams endpoint has been deprecated.
https://developer.atlassian.com/cloud/bitbucket/rest/api-group-teams/

Task **Watch a Team | Triggers when an event occurs from any repository belonging to the team account.** could not be implemented

[2022-05-27 07:52] CandyOrate opened #2985 "HTTP Response"
**HTTP Response**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-05-27 13:11] ctrlaltdylan commented on #2972
Hi @AlexeyArtemev , good point - can you delete the source then recreate it? You hopefully haven't hit your limit for today so we can see the error logs.

[2022-05-27 13:16] AlexeyArtemev commented on #2972
Sure thing, @ctrlaltdylan, but I use your great service for automation in a non-profit organisation which relies on it heavily, so first of all I need to make sure that the business day is over. I'll create a new source after 19:00 UTC and send an update to this thread

[2022-05-27 13:56] #2925 closed

[2022-05-27 16:03] sergioeliot2039 commented on #2985
Hi @CandyOrate let us know if you're able to get your hands on any documentation and we'll happily check out if an integration might work, but without that we're unfortunately blocked on moving forward.

[2022-05-27 16:07] sergioeliot2039 commented on #2985
@CandyOrate for an example of a good app request here in Pipedream, with links to developer documentation, and other details, plesae see this one done for Crove.app https://github.com/PipedreamHQ/pipedream/issues/2931

[2022-05-27 16:16] zergcore opened #2986 "[TRIGGER] Replies of user on a list"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

I would like to get the replies of users included on a list, and I don't know how to do it without making a connection with each user account and watch their tweets. The app is to watch the actions of accounts linked to a marketing company. This trigger is a twitter one.

[2022-05-27 17:18] dannyroosevelt commented on #2986
Hi @zergcore thanks for submitting the request! This is a great question for the community to help out with -- I'd recommend posting this question to the #help or #general channels in our [public Slack](https://join.slack.com/t/pipedream-users/shared_invite/zt-11sazmsg0-oS2VW~mZfhtk3XfEEvb~JA) or in our [community forum on Discourse](https://pipedream.com/community).

[2022-05-27 17:18] #2986 closed

[2022-05-27 19:09] AlexeyArtemev commented on #2972
@ctrlaltdylan I can't reproduce it anymore
As far as i'm concerned, the channel trigger works as it should(at least it doesn't waste any invocations anymore)

[2022-05-27 20:50] GTFalcao commented on #302
### If you're here because you need to receive data from IFTTT, for the time being, I suggest using an http request Pipedream source, triggered by an http request action on IFTTT.

Blocking this issue due to the following restriction:

IFTTT sends events to a dedicated API URL, and it requires specific endpoint structures - such as {{api_url_prefix}}/ifttt/v1/webhooks/{{type}}/{{event}}. So the us

[2022-05-27 20:55] jeffdechambeau commented on #2983
Thanks @dannyroosevelt -- that's the step, yes.

I just tried again but am still having the same error.

I deleted and re-added the steps to check, but no dice.

please lmk if I can provide any additional useful context.

[2022-05-27 23:41] dannyroosevelt commented on #2922
@aroslov you should be able to avoid this by escaping the `\n` in the body:
`"text": "Name:\\n {{steps....display_name}}"`

I've confirmed that works on my end.

[2022-05-27 23:45] dannyroosevelt commented on #2983
Hm that's strange. This is what I see:
![image](https://user-images.githubusercontent.com/20780753/170800734-bfbaff50-1496-412f-98aa-bd00c35c0453.png)

Is this the code you're trying?
[code]

[2022-05-28 00:38] dylburger commented on #2849
We've added this issue to our backlog. You can follow this issue for updates!

[2022-05-28 17:16] jeffdechambeau commented on #2983
Here's a screen recording of me creating a new workflow and adding the default browserless step, configuring it and hitting test:

Here's the code so you don't have to freezferame:

`    // See the browserless docs for more info:
    // https://docs.browserless.io/
    const puppeteer = require('puppeteer-core')

    const browser = await puppeteer.connect({
      browserWSEndpoint: `wss://chrome.

[2022-05-28 17:17] jeffdechambeau commented on #2983
Sorry, this is my first ever github ticket.

[2022-05-28 23:23] dylburger commented on #2915
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-05-29 00:38] dylburger commented on #2656
We've added this issue to our backlog. You can follow this issue for updates!

[2022-05-29 09:23] aroslov commented on #2922
Thanks for the workaround @dannyroosevelt however I believe that the behavior is both inconsistent (requiring either `\\n` or `\n` depending on presence of variables) and undocumented, therefore requires a proper fix.

[2022-05-29 13:03] raphaelvarieras opened #2995 "[TRIGGER] New or updated Custom Object"
This would be the same as the existing object added or updated trigger, except it would have support for custom objects, which come with their own special objectTypeId:

https://developers.hubspot.com/docs/api/crm/crm-custom-objects

[2022-05-30 11:56] parthdani opened #2997 "CleverTap"
**CleverTap**

**[Link to developer documentation](https://developer.clevertap.com/docs/upload-user-profiles-api)**

[2022-05-30 13:46] #576 closed

[2022-05-30 16:26] andrewjschuang commented on #2947
Thanks @DilanAthukorala for helping me find three bugs in the Integrations (webhooks) API, reported in this [comment](https://github.com/PipedreamHQ/pipedream/pull/2974#issuecomment-1141325561).

@dannyroosevelt @dylburger I'm tagging this issue as blocked.

[2022-05-30 16:39] AlexErmak0v opened #3001 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
Find streams by title in category
**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-05-30 16:46] dingle8906 commented on #3001
ok

[2022-05-30 16:52] vellames-turing commented on #73
@dannyroosevelt Looks like we can move this to `Done`?
Cc: @luancazarine

[2022-05-30 17:09] lcaresia commented on #2939
@dannyroosevelt

I can't found a way to do this triggers:

  So I will make a PR without this, and after I do this if possible.

[2022-05-30 17:29] luancazarine commented on #73
It's OK for me

[2022-05-30 17:54] sergioeliot2039 commented on #2997
HI @parthdani  Thanks for submitting your request! It looks like API access requires a paid account or going through a demo, so we are waiting for CleverTap to reach out -- are you able to grant us temporary access to the API so we can verify the authentication implementation?

Otherwise you can also try setting up the app here: https://pipedream.com/submit-an-app (this is an early alpha UI, so pl

[2022-05-30 20:37] dannyroosevelt commented on #3001
@AlexErmak0v can you elaborate on what trigger you're looking for? What app / API are you trying to trigger your workflow on?

[2022-05-30 20:41] dannyroosevelt commented on #2915
Thanks for the info @jimblizz, we have this on our backlog to integrate.

[2022-05-31 00:38] dylburger commented on #2736
We've added this issue to our backlog. You can follow this issue for updates!

[2022-05-31 04:41] dylburger opened #3005 "[FEATURE] Move @pipedream/platform axios to this monorepo, add debug flag"
This ticket captures a few items:

- We should move [the `@pipedream/platform` library ](https://github.com/PipedreamHQ/platform) to this monorepo, publish with pnpm, etc.
- We should add support for a `debug` flag. See below thread from Slack for context:

---

1. The output of the core API method used to fetch the data, so we see what the API returned. For webhook-based sources this may not be r

[2022-05-31 10:03] valendinks opened #3006 "[ACTION] Add entry to Notion database"
**Is there a specific app this action is for?**
Notion

**Please provide a link to the relevant API docs for the specific service / operation.**
https://developers.notion.com/reference/post-page

**Description**
Presently, it's only possible to add subpages to a Notion page.
Ideally, the same integration can also add entries to a database, but would require to query the database first for the data

[2022-05-31 10:19] gnafb opened #3007 "Dux Soup"
Dux Soup

https://support.dux-soup.com/article/115-remote-control-by-example?_ga=2.34229666.2003896055.1653754434-1859966774.1653754434&_gl=1*uu4e9n*_ga*MTg1OTk2Njc3NC4xNjUzNzU0NDM0*_ga_3S51ZK5XPY*MTY1Mzk5MTE4Ni4xMS4xLjE2NTM5OTIxNDguNTQ.

Requires encryption of jsSHA. When attempting to create encryption in Pipedream code block does not work

Any of the remote control commands. Currently having to

[2022-05-31 11:20] dannyroosevelt commented on #2854
This is ready for release!

[2022-05-31 11:22] #2854 closed

[2022-05-31 11:58] dannyroosevelt commented on #2963
This is ready for release!

[2022-05-31 12:54] #2963 closed, assigned to andrewjschuang, DilanAthukorala

[2022-05-31 13:32] ctrlaltdylan commented on #2983
HI @jeffdechambeau ,

Just to add some color, unless otherwise specified in the import, Pipedream will automatically download the latest version of the dependencies listed in the require/import statements.

I was able to use browserless by replacing the `puppeeter-core` dependency with the normal `puppeteer` dependency:

[code]

Could you replace your code with this snippet above and let us know i

[2022-05-31 14:33] dylburger commented on #3006
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-05-31 14:57] dannyroosevelt commented on #2895
This is ready for release!

[2022-05-31 15:19] #2895 closed

[2022-05-31 15:45] jeffdechambeau commented on #2983
Hey Dylan @ctrlaltdylan thank you for the snippet. Unfortunately no dice:

<img width="445" alt="Screen Shot 2022-05-31 at 11 45 05 AM" src="https://user-images.githubusercontent.com/1578544/171214853-9233a9f3-de47-4596-b19e-0e0f0ca9ab82.png">

[2022-05-31 15:53] ctrlaltdylan commented on #2983
Thanks for sharing your results @jeffdechambeau but unfortunately I'm not able to reproduce with the same code.

It's silly, but could you double check there aren't any newlines or extra / missing characters from your Browserless.io API key in your **Connected Accounts** in your Pipedream dashboard?

![Uploading CleanShot 2022-05-31 at 11.52.08@2x.png…]()

Also, it might be worth logging into the

[2022-05-31 16:38] dannyroosevelt commented on #1467
This is ready for release!

[2022-05-31 16:44] jeffdechambeau commented on #2983
@dylburger I was able to get it working, by not using any prop functionality.

I believe the issue may be with the props injection logic: if I define the apiKey locally in the function and then insert it into the request string, it works. Similarly if I hardcore the entire API request url, it works. When I add back the prop ref, it fails.

I also checked for hidden whitespace but but strings are e

[2022-05-31 16:46] #1467 closed

[2022-05-31 18:37] sergioeliot2039 commented on #3007
HI @gnafb.Thanks for submitting your request! It looks like API access requires a paid account -- are you able to grant us temporary access to the API so we can verify the authentication implementation?

Otherwise you can also try setting up the app here: https://pipedream.com/submit-an-app (this is an early alpha UI, so please let me know if you run into any issues).

[2022-05-31 19:02] aaroncampos opened #3011 "[BUG] Error being thrown in Fauna source when listening for new documents"
**Describe the bug**
I created a Fauna source, listening for new/removed documents in a collection, but no events are exposed to the action.  In looking at the source logs, it looks like there's an error in the underlying system/action code.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Fauna source and point it at a DB and collection to collect new documents from
2. S

[2022-05-31 19:32] ctrlaltdylan commented on #3007
Hi @gnafb

To add to @sergioeliot2039 request for credentials, can you also please provide a code sample of your current implementation of a code step trying to integrate with this API? It would help us troubleshoot where the issue could be.