[2022-08-05 04:37] DilanAthukorala commented on #3932
@mimkorn Thanks for reporting this issue. We are able to reproduce the issue and our team will look into this.

[2022-08-05 04:56] DilanAthukorala commented on #3935
@ReaLadge Thanks for reporting this issue, Could you please provide more details of your workflow with some screenshots of your configuration. Also please let us know how frequently you are triggering the Create Tweet action (Number of hits per month, per day, per hour).

@dylburger This seems like a intermittent issue which was previously observed as well according to - https://github.com/Pipedre

[2022-08-05 08:13] favouritehu commented on #617
Im Using Zoho flow Zoho flow Have Dash Bord To visualize task History how to do so in pipe dream
<img width="1375" alt="Screenshot 2022-08-05 at 1 43 23 PM" src="https://user-images.githubusercontent.com/80187559/183033374-9d745dac-ca9a-45d4-ba7f-89c1ae32eefb.png">

[2022-08-05 09:54] wspies commented on #1655
@dylburger, Thanks for the update. If you need any testing, I'm more then happy to help.

[2022-08-05 12:02] andrewjschuang commented on #3877
Hi @ljdatasci, are you currently working on this?

[2022-08-05 12:19] ljdatasci commented on #3877
Yes.  I'm adding a method to extract the database property ids and paginate them in the action, so that the user can select from a list of property ids by name.

[2022-08-05 12:34] andrewjschuang commented on #3877
Cool, feel free to move the card [in the project](https://github.com/PipedreamHQ/pipedream/projects/1) to **Ready for PR Review** when you submit the PR!

[2022-08-05 12:47] andrewjschuang commented on #3448
Testing with a production account, I've encountered an issue:

**new-voicemail-message**

For some reason, if the voicemail message does not contain a phone number, it will crash. Therefore I added a code that will continue to process the event even though there is no phone number.

![Screen Shot 2022-08-05 at 9 46 39 AM](https://user-images.githubusercontent.com/15385076/183080199-e492cd48-d1eb-4

[2022-08-05 14:39] Hassan-Abbas-SQA commented on #3865
@lcaresia on Create Lead Action the response should be a json not an HTML
<img width="1036" alt="image" src="https://user-images.githubusercontent.com/104946677/183100188-bb27799a-e762-40d4-b038-fcac6be6d816.png">

[2022-08-05 16:03] #3448 closed

[2022-08-05 18:28] dylburger commented on #3939
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-08-05 19:33] ljdatasci commented on #3877
I have some questions about async options.  Do you have time to discuss my changes on the my fork of the repo https://github.com/ljdatasci/pipedream?

[2022-08-05 21:23] GiZmoFalcon commented on #3006
I'm facing an issue here where the UI shows the properties selected, I can fill the value for each property,

<img width="794" alt="image" src="https://user-images.githubusercontent.com/16624267/183203956-d47f8d73-43f8-4c8d-a855-e8f487fb6546.png">

but it errors out after running saying ```property.map.value``` is not a function.

And in the "inputs" section of the request, I see that the property

[2022-08-06 18:12] dylburger opened #3946 "[ACTION] Airtable Create / Update record actions should make API requests in batches of at most 10 items"
[See this Slack thread](https://pipedream-users.slack.com/archives/CPTJYRY5A/p1659793925176569) for more details on the issue. Ideally our Airtable actions would handle this chunking logic for us

[2022-08-06 23:29] dylburger commented on #3911
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-08-06 23:29] #3911 closed

[2022-08-07 01:05] ReaLadge commented on #3935
@DilanAthukorala I haven't been on in a couple days but it seems to be working again now. I'll post again if the issue comes back up.

Basically I just use the v2 workflow with the GitHub New Push trigger that sends 3 variables to a Create Tweet step along with other steps like notion and discord. As far as how much I've posted onto twitter from pipedream, it would be like roughly 15 times or less

[2022-08-07 01:05] #3935 closed

[2022-08-07 17:51] abmetal opened #3947 "[APP]"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-08-07 17:55] abmetal commented on #3947
![i286541539345384450 _szw1280h1280_](https://user-images.githubusercontent.com/57646137/183304402-6e8ba9e8-0596-41c7-b535-679fe181646f.jpg)

[2022-08-07 18:27] Rustyboss1 opened #3949 "[ACTION]Rustyboss1 PBTC"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-08-07 21:52] Maguendra opened #3950 "ClickUp"
**Name of app / service** : ClickUp

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!** : I would like to be able to use Clickup as a trigger. For

[2022-08-07 22:26] sergioeliot2039 commented on #3950
@Maguendra thanks for the request!

ClickUp supports webhooks (see Webhooks on the left navigation menu on the ClickUp documentation --https://clickup.com/api)
So you could use Pipedream triggers to respond to ClickUp webhook notifications -- https://pipedream.com/docs/workflows/steps/triggers/#http

Is this a workaround for your use case?

[2022-08-07 23:29] dylburger commented on #3871
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-08-07 23:29] #3871 closed

[2022-08-08 03:56] tridentcreative opened #3951 "Sendle[APP]"
**Name of app / service**
Sendle

**Link to developer documentation**
https://developers.sendle.com/reference/welcome

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I don't have a work around currently

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to ope

[2022-08-08 03:58] dylburger commented on #3951
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-08 05:06] LucBerge opened #3952 "[FEATURE] Trigger a workflow with a form"
**Is your feature request related to a problem? Please describe.**
Sometimes, I would like my client to fill a form that will then trigger a workflow and do some stuff. Just like a HTTP request trigger does.

**Describe the solution you'd like**
Why don't you create a custom form type trigger ? It is already possible to define the fields type and description with props.

**Do you have a workaround

[2022-08-08 05:39] AlexeyArtemev opened #3953 "[FEATURE] Data store export"
**Describe the solution you'd like**
Options to export a data store as CSV and JSON

**Do you have a workaround?**
No digital workaround is available at the moment

[2022-08-08 13:13] vunguyenhung commented on #630
Good day @feyzullah, I'm just checking in, how is the progress of this ticket?

[2022-08-08 13:14] vunguyenhung commented on #3649
Hello @vellames @feyzullah bosses, I see similarities between this issue and the issue that @feyzullah is working on https://github.com/PipedreamHQ/pipedream/issues/630. Could we decide who will take this app?

[2022-08-08 13:18] vunguyenhung commented on #3397
Good day @jcortes @js07, the PR for this issue has been in Ready for PR review for a while. May I ask for the next action to move this forward?

[2022-08-08 13:24] feyzullah commented on #630
Hi @vunguyenhung please see [this comment](https://github.com/PipedreamHQ/pipedream/issues/3649#issuecomment-1208121704). I can leave this to @vellames if he wants too. This issue has only one action more, sources are the same.

[2022-08-08 13:24] vunguyenhung commented on #3649
Noted @feyzullah! @feyzullah @vellames bosses I think let's have this Github issue as the main ticket for tracking and delete the old one that @feyzullah worked on.

[2022-08-08 13:26] vunguyenhung commented on #630
@feyzullah if you have made progress on this, could you create a PR and link it to the Github Issue https://github.com/PipedreamHQ/pipedream/issues/3649? It would help @vellames to speed up the progress I think. Also it would be great if you have the paid account for testing as @vellames is currently blocked by it.

[2022-08-08 13:27] vunguyenhung commented on #630
I will close this Github issue since there's another Github issue https://github.com/PipedreamHQ/pipedream/issues/3649 that replace it 🙏

[2022-08-08 13:27] #630 closed

[2022-08-08 13:30] feyzullah commented on #630
@vunguyenhung I don't have a paid account but I have some progress. I will talk to @vellames about the progress

[2022-08-08 13:30] vunguyenhung commented on #630
Thank you so much @feyzullah!

[2022-08-08 13:49] ctrlaltdylan commented on #3953
Hi @AlexeyArtemev

You can export your data from your data store using a workflow!

That way you can automatically back up or export your data store data to your email, google drive, google sheet, or database of choice.

Just use the built in actions and triggers to interact with your data store and the data within.

You can even start with a HTTP trigger and return your data store's data as a JSO

[2022-08-08 13:51] AlexeyArtemev commented on #3953
Didn't even think about that option, thanks!

[2022-08-08 13:55] ctrlaltdylan commented on #3877
PR here: https://github.com/PipedreamHQ/pipedream/pull/3945

[2022-08-08 13:58] vunguyenhung commented on #3953
Hello @AlexeyArtemev, I have made a Node.js step to export data store as JSON that you can refer to as the image below
![image](https://user-images.githubusercontent.com/18277920/183434923-531a09ef-4ead-4186-9684-2b61d96895c4.png)

Here's the code
[code]

Then you can add another Node.js step to response the JSON (note that you will need to use HTTP Webhook trigger)
![image](https://user-images.gi

[2022-08-08 14:03] ctrlaltdylan commented on #3953
@vunguyenhung thanks for making a sample component! Very helpful.

Yes I think that's a good idea, but I would make sure to add in the documentation for this component that the workflow's memory consumption will be affected by this action, since we'd be exposing the entire data store's contents into the workflow.

But in general, users are keeping their data store usage low, but that little warnin

[2022-08-08 14:06] vunguyenhung commented on #3953
@ctrlaltdylan thanks for you input! Yes sure I'm going create another Github issue!

[2022-08-08 14:14] vunguyenhung opened #3957 "[ACTION] Data Store: Get all"
**Is there a specific app this action is for?**
Pipedream Data Store. I would like to get all data in a data store.

For example, given a data store below
![FireShot Capture 483 - Data Stores - Pipedream - pipedream com](https://user-images.githubusercontent.com/18277920/183438180-283aabce-cc4d-46cc-b98c-f26d37052406.png)

In the action, I would like to select a data store, then executing the acti

[2022-08-08 14:16] vunguyenhung commented on #3953
Hello everyone, I have created [another Github issue](https://github.com/PipedreamHQ/pipedream/issues/3957) to track further development regarding this request. @AlexeyArtemev kindly subscribe to [the new Github issue](https://github.com/PipedreamHQ/pipedream/issues/3957) for updates if you would like.

For now I will close this Github issue 🙏

[2022-08-08 14:16] #3953 closed

[2022-08-08 14:23] ctrlaltdylan opened #3958 "[BUG] elmah.io - New Error source missing polling parameters"
**Describe the bug**

elmah.io Founder has found missing polling parameters on the newly created **New Error** source on Pipedream.

**Additional context**
PR opened by elmah.io - https://github.com/PipedreamHQ/pipedream/pull/3956

[2022-08-08 14:24] #3958 closed

[2022-08-08 14:28] andrewjschuang commented on #3006
Hi @GiZmoFalcon, thanks for the request! Can you [open a bug issue](https://github.com/PipedreamHQ/pipedream/issues/new?assignees=&labels=bug&template=bug_report.md&title=%5BBUG%5D+) please?

[2022-08-08 14:30] bacherjo commented on #193
Hey ctrlaltdylan, you made my day! This is an excellent solution to the missing iterator feature in pipedream!
Thank you!
Johannes

[2022-08-08 15:33] ctrlaltdylan opened #3959 "[ACTION] *Notion - Search Pages* include `filter` object prop (and others)"
**Is there a specific app this action is for?**

Notion

**Please provide a link to the relevant API docs for the specific service / operation.**

The existing Search Pages only includes a prop for the `query` term. But as a user, I'd like to be able to use the `filter` object to filter arbitrary rules like only return pages or only return databases:

https://developers.notion.com/reference/post-s

[2022-08-08 15:39] alysonturing commented on #3494
I also successfully created the source `Github: New Card in Column` on my personal account, with personal Github Project. **But with further investigation, I became aware that the webhook endpoint answers: `404 Resource not found` when you don't have enough administrative permissions.**

- So I'd say it's not a bug, we simply doesn't have permissions to create webhooks into pipedream's organizatio

[2022-08-08 15:42] alysonturing commented on #3494
@andrewjschuang @vunguyenhung
with the previous informations, how we can proceed with this task, should I close it?

[2022-08-08 15:51] vunguyenhung commented on #3494
Hello @alysonturing, thank you for checking! I think we can improve our error message to inform the user that their connected Github account might not have enough permissions. For example, the error message can be:
[code]

[2022-08-08 15:52] alysonturing commented on #3494
I agree with that

[2022-08-08 15:59] #3778 closed

[2022-08-08 16:00] andrewjschuang commented on #3494
It's strange because Danny gave the `pd-component-dev` org account the required permissions, but it still can't create the webhook for the project. I've added you to the org, can you please check on that?

[2022-08-08 16:27] alysonturing commented on #3494
I tried again with my account, I'm part of the pipedream's organisation, still doesn't work... Can you check my permissions to create webhooks?

[2022-08-08 17:32] #3855 closed

[2022-08-08 18:13] ctrlaltdylan opened #3960 "[ACTION] Notion - Get Database"
**Is there a specific app this action is for?**

Notion

**Please provide a link to the relevant API docs for the specific service / operation.**

https://developers.notion.com/reference/retrieve-a-database

Without support for this endpoint, there's no way to discover a Notion database's properties without coding an HTTP request manually.

[2022-08-08 18:23] andrewjschuang commented on #3960
There is a [Retrieve Database](https://pipedream.com/apps/notion/actions/retrieve-database) action. Or would `async options()` for database properties be required?

[2022-08-08 18:29] ctrlaltdylan commented on #3960
Ah true. But the async options weren't working for me in my case, that's what lead me down this path to using the **Retrieve Blocks** action to find the block ID, then attempt to find the database properties.

For more context, I only allowed Pipedream access to one page, and under that page I created a database.

The result is that the async options never load:

![CleanShot 2022-08-08 at 14 27 17

[2022-08-08 18:33] andrewjschuang commented on #3960
Can you try reauthing the account with Pipedream? Notion disables access to newly created databases, I'm not sure if this would resolve the issue

[2022-08-08 18:44] dylburger commented on #3946
Thanks for hunting that down. I asked the user to confirm but it sounds like we may be OK. I'll leave the ticket open in case there's some subtle issue specific to his use case, and will comment if that's the case (or close).

[2022-08-08 18:47] ctrlaltdylan commented on #3960
Thank you @andrewjschuang ! That did the trick!

I'm making some video content around the Notion components, but it might help to add this to the **Retrieve Database** `README.md#Troubleshooting` section

[2022-08-08 18:49] #3960 closed

[2022-08-08 19:03] andrewjschuang commented on #3960
How can I add this to that section?

[2022-08-08 19:08] ctrlaltdylan commented on #3960
Sorry, I don't think we announced it well, but now `README.md`'s are supported at the app, source & action component levels.

Here's an example of an action that has a `Troubleshooting` section:

https://github.com/PipedreamHQ/pipedream/blob/master/components/hubspot/actions/add-contact-to-list/README.md

That `Troubleshooting` section will also appear in that app's documentation in the public mar

[2022-08-08 19:44] ctrlaltdylan opened #3961 "[BUG] Documentation Title links broken on some pages"
**Describe the bug**

Vuepress isn't linking to title pages predictably as reported here:

https://pipedream.com/community/t/component-api-reference-doc-link-broken/2967

[2022-08-08 23:12] cristiandarie-inki commented on #318
Same here. We use such a workflow to display data on demand for users, and having them to wait for about 10 seconds as it happens right now is not acceptable.

[2022-08-08 23:16] sergioeliot2039 commented on #3252
Hi there @runasand, sorry about the delay on updating, VirusTotal has been integrated -- https://pipedream.com/apps/virustotal

[2022-08-08 23:20] sergioeliot2039 commented on #3385
Just in case someone needed this in the future, here is SMTP2GO app integrated -- https://pipedream.com/apps/smtp2go

[2022-08-08 23:34] sergioeliot2039 commented on #3951
Hi @tridentcreative , here is a basic integration https://pipedream.com/apps/sendle
but it is untested. Can you please test it with your API credentials and let us know if you see any issues?

[2022-08-08 23:45] sergioeliot2039 commented on #3480
Hi @fakel , here is a basic integration -- [Etherscan](https://pipedream.com/apps/ethereum)

[2022-08-09 00:44] sergioeliot2039 commented on #3509
Hey @TimSkells , I checked on your Connecteam app request, it looks like the API is available on Enterprise plan only.

As per their pricing page

Do you have API access yourself? If so could you please try adding it at https://pipedream.com/submit-an-app (this is in early Alpha, so let us know if you run into any issue), or otherwise do you have API Key you could share and revoke once the integra

[2022-08-09 01:11] sergioeliot2039 opened #3964 "[ACTIONS, TRIGGERS]"
Tricount

Actions:

Add an expense
Modify an expense
Delete an expense

Trigger:

New expense

[2022-08-09 01:13] sergioeliot2039 commented on #3964
This is blocked for now, and can be resumed once Tricount opens their API programme again.

See this GitHub [comment for context ](https://github.com/PipedreamHQ/pipedream/issues/3924#issuecomment-1204369973)

[2022-08-09 01:14] sergioeliot2039 commented on #3924
I created a separated issue for tracking the requested actions, trigger: https://github.com/PipedreamHQ/pipedream/issues/3964

[2022-08-09 02:37] dylburger opened #3965 "async options debugging in the JS console"

[2022-08-09 10:48] wspies commented on #1655
@dylburger any update on this? We would really like to get our first workflows up and running using Exact Online but this issue is blocking us for now.

[2022-08-09 14:05] pataquets opened #3966 "SMTP2Go: send email action"
**Is there a specific app this action is for?**
SMTP2GO

**Please provide a link to the relevant API docs for the specific service / operation.**
https://apidoc.smtp2go.com/documentation/#/POST%20/email/send

[2022-08-09 14:37] vunguyenhung commented on #3959
I confirm that the current `Find Page` action only include `Page Title` prop, which is the `query` param in the API.
![Screen Shot 2022-08-09 at 21 32 31](https://user-images.githubusercontent.com/18277920/183676185-301c203f-8273-42b2-97dc-0910a61a5de3.png)

We can add `filter`, and `sort`, `pageSize` and `cursor` as optional props.

[2022-08-09 15:02] vunguyenhung commented on #3966
I confirm that currently there's no action on SMTP2GO app
![image](https://user-images.githubusercontent.com/18277920/183685770-8171f7d1-f148-43cd-afd3-db8369394b45.png)

We need to add send email action

[2022-08-09 15:02] dylburger commented on #3966
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-08-09 15:10] #3334 closed

[2022-08-09 15:27] #3699 closed

[2022-08-09 16:40] vellames commented on #3820
I am blocked due Tumblr error.
When I am trying to create an account:

[code]

I am putting this on hold for some days until Tumblr fix the error

[2022-08-09 17:21] vellames commented on #3801
@jverce  Are we talking about this Sympla? https://www.sympla.com.br/

[2022-08-09 17:23] vellames commented on #79
@dylburger Could you please provide more details?

[2022-08-09 20:26] #3446 closed

[2022-08-09 20:51] sergioeliot2039 opened #3972 "[TRIGGER] ClickUp sources"
**App**
ClickUp

**Sources**
New Task
Updated Task
New Folder
New List

Webhooks available, see API docs at https://jsapi.apiary.io/apis/clickup20/introduction/faq.html
Updated Task requested by user at https://github.com/PipedreamHQ/pipedream/issues/3950

[2022-08-09 20:52] dylburger commented on #3972
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-08-09 21:49] gcamach0 commented on #3341
I have time to work on this, but I don't know how can I help regarding the bot token situation.

[2022-08-09 22:41] jduckles opened #3975 "[BUG] Custom cron expressions not behaving as expected"
A cron expression like:
[code]
has a correct natural language description of:
"At 08:00 AM, **between day 1 and 7 of the month**, and on Wednesday"

But executed erroneously for me today, the 10th day of the month. I had expected the next time this could be true was the first Wednesday in September.

Steps to reproduce the behavior:
1. Create a "cron schedule" trigger
2. Enter an expression like a

[2022-08-09 23:15] jduckles commented on #3975
Further digging looks like `cron-parser` upstream is the issue:

[code]
Output:
[code]

[2022-08-09 23:27] jduckles commented on #3975
Ugh, this is apparently the expected behaviour 😭 per: https://superuser.com/questions/428807/run-a-cron-job-on-the-first-monday-of-every-month

[2022-08-09 23:27] #3975 closed

[2022-08-10 00:00] sergioeliot2039 opened #3976 "[TRIGGER] Monday.com sources"
**App**
Monday.com

**Sources**
New Board
New User
New Item in Board
Any Column Value Updated
Specific Column Value Updated

As a head ups -- New Board, New User may be polled based sources. Webhook based for others
API docs: https://api.developer.monday.com/docs/basics

User just requested adding sources on Monday.com https://github.com/PipedreamHQ/pipedream/issues/3911

[2022-08-10 00:02] sergioeliot2039 commented on #3911
We created a issue for Monday.com sources, follow if you'd like https://github.com/PipedreamHQ/pipedream/issues/3976

[2022-08-10 00:20] sergioeliot2039 opened #3977 "[ACTION] Wildberries actions"
**App**
Wildberries

**Actions**
List Orders
Update Order Status
List Order Stickers
Get Order Stickers as PDF

This is after the user request in https://github.com/PipedreamHQ/pipedream/issues/3210
API docs at https://suppliers-api.wildberries.ru/swagger/index.html#/
For API Key, user provided one for testing in the issue above

[2022-08-10 00:23] sergioeliot2039 commented on #3210
Hi @iRinG-RU
I created an issue for tracking the action that you requested, see it at https://github.com/PipedreamHQ/pipedream/issues/3977
One favor, could you please verify if these are the actions you need?
I saw you indicated

but the API URl you included points to the "List assembly tasks (orders)", which I include in the new issue. Is this the one you need? Note that there are other "upload"

[2022-08-10 00:36] sergioeliot2039 opened #3979 "[ACTIONS, TRIGGERS] Aircall new components"
**App**
Aircall

**Actions**
get call

**Sources**
new call ended
new tag added
new note added

Aircall API docs at: https://developer.aircall.io/api-references/
This was requested by users at https://github.com/PipedreamHQ/pipedream/issues/3190

[2022-08-10 00:37] sergioeliot2039 commented on #3190
Hi  @ajedwards, @raphaelvarieras
I created a separated issue for Aircall components, you can follow there, if you'd like https://github.com/PipedreamHQ/pipedream/issues/3979

[2022-08-10 01:35] sergioeliot2039 opened #3980 "[ACTIONS, TRIGGERS] Razorpay new components"
**App**
Razorpay

**Actions**
Fetch Payment
Fetch Multiple Payments

**Sources**
Authorized Payment
Captured Payment
Failed Payment
Dispute Created on Payment

**Please provide a link to the relevant API docs for the specific service / operation.**
API docs at https://razorpay.com/docs/api
Webhooks available for sources
Requested by user on issue https://github.com/PipedreamHQ/pipedream/issues/350

[2022-08-10 01:36] sergioeliot2039 commented on #3503
For anyone interested on Razorpay components, please feel free to follow here https://github.com/PipedreamHQ/pipedream/issues/3503

[2022-08-10 01:37] pataquets commented on #3966
I'm aware of these alternatives, but I'm not in for any. I don't have the time not the skills.
I was expecting that a listed service was more a "ready to use" than a "do it yourself".

[2022-08-10 02:19] sergioeliot2039 opened #3981 "[ACTION] Zoho Cliq actions"
**App**
Zoho Cliq

**Actions**
Post Message To User
Post Message In Channel
Post Message To Bot
Post Message In Chat

API docs at: https://www.zoho.com/cliq/help/restapi/v2/#cliq_rest_api
Zoho Cliq actions were requested by user on the issue https://github.com/PipedreamHQ/pipedream/issues/3506

[2022-08-10 02:23] sergioeliot2039 opened #3982 "[ACTION] Zoho Catalyst"
**App**
Zoho Catalyst

**Actions**
Add New User
Add New User to an Existing Organization
Get Current User
Get Specific User
Reset User Password
Logout User

API docs at: https://catalyst.zoho.com/help/api/introduction/overview.html
Zoho Catalyst actions were requested by user on the issue https://github.com/PipedreamHQ/pipedream/issues/3506

[2022-08-10 10:32] Nikhill-Gaikwad opened #3983 "I am facing issue regarding Addition of Two Numbers using c language"
I am a beginner in learning c language
 I am facing some issue while doing addition of numbers in vs code
i am getting my result correct but the main problem that i am facing is some weird numbers that are coming can you tell me how to fix it

#include <stdio.h>

int main ()
{

int a;
int b;
int c;

printf("Enter the Value of First Number %d",a);
scanf ("%d",&a);

printf("Enter the value of second

[2022-08-10 10:45] #3983 closed

[2022-08-10 12:55] vellames commented on #3824
@dylburger This app also need a premium account

[2022-08-10 13:49] vunguyenhung commented on #3966
Noted @pataquets, I've added the ticket to Pipedream component backlog. Kindly subscribe to this Github issue for any updates 🙏

[2022-08-10 14:34] dylburger commented on #3982
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-10 14:35] vunguyenhung commented on #3982
Currently there's no Zoho Catalyst app in our Pipedream directory, hence I will add this to our App backlog
![image](https://user-images.githubusercontent.com/18277920/183928942-8b069bc0-9e73-421c-9261-c15f2c089cee.png)

[2022-08-10 14:37] vunguyenhung commented on #3982
Sorry, I observed that there's another [Github issue for Zoho Catalyst here](https://github.com/PipedreamHQ/pipedream/issues/3888). I will remove this from app backlog and add to Component backlog

[2022-08-10 14:39] vunguyenhung commented on #3981
I've added this ticket to our Component backlog, though this ticket is blocked until [Zoho Cliq app is integrated](https://github.com/PipedreamHQ/pipedream/issues/3889)

[2022-08-10 14:46] vunguyenhung opened #3985 "[APP] Razorpay"
**Name of app / service**
Razorpay

**Link to developer documentation**
API docs at https://razorpay.com/docs/api
Webhooks available for sources

**Is lack of support preventing you from building workflows, or do you have a workaround?**
The user has found a workaround

Requested by user on issue https://github.com/PipedreamHQ/pipedream/issues/3503

[2022-08-10 14:47] dylburger commented on #3985
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-10 14:47] vunguyenhung commented on #3980
Hello @sergioeliot2039, I noticed that there's no Github issue for this in App backlog so I have [created one here](https://github.com/PipedreamHQ/pipedream/issues/3985) and added it to our app backlog, could you review when you have time?

[2022-08-10 14:48] ctrlaltdylan opened #3986 "[FEATURE] Self serve additional Team member seats"
**Is your feature request related to a problem? Please describe.**

As a Teams customer, I'd like to be able to add additional seats to my org without having to contact support.

**Describe the solution you'd like**

I'd like the ability to add or remove additional seats from my account outside of the included five seats.

**Do you have a workaround?**

To contact support and ask to have our addit

[2022-08-10 14:48] vunguyenhung commented on #3980
This ticket is blocked until Razorpay app is integrated [per this Github issue](https://github.com/PipedreamHQ/pipedream/issues/3985)

[2022-08-10 14:50] vunguyenhung commented on #3979
I have added this ticket to our Component backlog, though it is blocked until [Aircall is integrated](https://github.com/PipedreamHQ/pipedream/issues/3190)

[2022-08-10 16:12] lcaresia commented on #3839
/approve

[2022-08-10 16:19] #3839 closed

[2022-08-10 16:22] #3847 closed

[2022-08-10 17:18] wspies commented on #682
+1

[2022-08-10 19:27] sergioeliot2039 opened #3988 "[TRIGGER] Streak new sources"
**App**
Streak

**Sources**
Box Changed Stage
Box Changed Pipeline
Completed Task
Email Address Detected On Box
New Box
New Comment
New Contact
New Task
New Task Due
Updated Box
Updated Contact

As per the documentation, all sources can be implemented as webhook based.
API, webhooks docs available at https://streak.readme.io/reference/webhooks
This was requested by potential Teams users, as per th

[2022-08-10 19:53] markshust opened #3989 "[BUG] Only first 20 data stores are shown in dropdown of workflow step"
**Describe the bug**
After adding more than 20 data stores, only those first 20 are selectable when adding a step to the workflow:

<img width="1077" alt="Screen Shot 2022-08-10 at 3 11 29 PM" src="https://user-images.githubusercontent.com/437029/184007576-4d670343-27b5-4127-8975-85811061ee35.png">

I do have a data store named transaction_payloads, however it says there are no matching options. W

[2022-08-10 21:42] dylburger opened #3990 "[BUG] Cannot delete data stores in a Pipedream organization"
To reproduce:

1. Switch to your org context
2. Create a new data store
3. Delete the data store and refresh the page. You'll see the data store is still present

[2022-08-11 07:37] sjn001tvh opened #3991 "yahoo.com/mail api"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-08-11 07:45] sjn001tvh commented on #3991
I would like to initiate a workflow that triggers when a specific email is received in my yahoo.com email account.

[2022-08-11 08:38] breaknanger opened #3992 "[App] WIX"
**Name of app / service**
WIX API

**Link to developer documentation**
https://dev.wix.com/api/rest/getting-started

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Yes, I need to integrate my contacts from Mail Chimp with my WIX members.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action

[2022-08-11 12:44] #3646 closed

[2022-08-11 12:54] vellames commented on #3801
To create an event on Sympla, Its necessary for manual approval. Waiting for Sympla

[2022-08-11 14:38] vunguyenhung commented on #3991
Hello @sjn001tvh, you can use IMAP trigger for this case, follow the steps below:
1. On your Yahoo mail, follow this [article from Yahoo](https://in.help.yahoo.com/kb/SLN15241.html) to create an App Password. Then copy the app password and temporarily store it somewhere
2. Create a new workflow, add Pipedream IMAP Trigger
![Screen Shot 2022-08-11 at 21 27 33](https://user-images.githubusercontent.

[2022-08-11 14:38] #3991 closed

[2022-08-11 14:40] dylburger commented on #3992
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-11 14:41] vunguyenhung commented on #3992
I confirm that currently there's no wix app integrated
![Screen Shot 2022-08-11 at 21 40 47](https://user-images.githubusercontent.com/18277920/184159954-ad29cb88-593e-4124-90a3-3bae358f85a9.png)

[2022-08-11 14:43] vunguyenhung opened #3993 "[ACTION] Wix Contact and Member actions"
**Is there a specific app this action is for?**
[Create Contact](https://dev.wix.com/api/rest/contacts/contacts/contacts-v4/create-contact)
[Get Contact](https://dev.wix.com/api/rest/contacts/contacts/contacts-v4/get-contact)

**Please provide a link to the relevant API docs for the specific service / operation.**
https://dev.wix.com/api/rest/contacts and https://dev.wix.com/api/rest/members

[2022-08-11 14:44] vunguyenhung commented on #3993
This ticket is blocked until Wix app is integrated https://github.com/PipedreamHQ/pipedream/issues/3992

[2022-08-11 14:56] vunguyenhung commented on #3989
Hello @markshust, I'm Leo the Pipedream integration QA here. I can reproduce your issue
![FireShot Capture 502 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277920/184163385-4dae0dbc-be29-4829-99f5-fa9fcacff291.png)
![FireShot Capture 502 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com

[2022-08-11 17:25] bhawanraj commented on #3989
unsubscribe
<https://github.com/notifications/unsubscribe-auth/A2G5FYMKEZELH5XXN3IHHB3VYUICTANCNFSM56FYB2PQ>

On Thu, Aug 11, 2022 at 8:26 PM Leo ***@***.***> wrote:

--
Thanks & Regards,
Er. Ram Bhawan
+91-9779067755

[2022-08-11 23:11] LucBerge opened #3996 "[APP] Booking.com"
**Name of app / service**
Booking.com

**Link to developer documentation**
https://connect.booking.com/user_guide/site/en-US/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
No

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

Tr

[2022-08-12 01:20] dylburger commented on #3996
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-12 02:02] sergioeliot2039 commented on #3996
This is blocked because currently Booking.com is not accepting new partnership through Connectivity API aka Booking is not onboarding new partners for now:

![image](https://user-images.githubusercontent.com/25184117/184270322-ac4d3ed0-21bb-46bc-8ddf-66bc5011a8ca.png)

In order to use Booking.com Connectivity App, when you look into the documentation API it says

In order to create a test property

[2022-08-12 02:15] sergioeliot2039 opened #3997 "[TRIGGER] Booking.com New Booking"
**App**
Booking.com

**Sources**
New Booking

API docs at https://connect.booking.com/user_guide/site/en-US/#
This is blocked until we get Booking.com Connectivity API integrated first https://github.com/PipedreamHQ/pipedream/issues/3996
which is not possible for they are not open to new partnerships at the moment of creating this issue.

[2022-08-12 02:19] sergioeliot2039 commented on #3996
@LucBerge as per the previous comment, Booking is not accepting new partnership. If you have an account, are you open to share details for the sake of creating the integration?

Otherwise you can also try setting up the app here: https://pipedream.com/submit-an-app (this is an early alpha UI, so please let me know if you run into any issues).

Btw, I created I new issue for tracking component deve

[2022-08-12 04:52] LucBerge commented on #3996
Well, maybe it's more than just blocked...

---

I don't see how pipedream can implement existing and new Booking.com functionalities in an end-user friendly way

[2022-08-12 11:03] timkley opened #3998 "[BUG] Mattermost Source is not connectable"
**Describe the bug**
When trying to connect a Mattermost instance as new account the error message "Unable to find the requested app" appears:
![image](https://user-images.githubusercontent.com/6104339/184327436-dee124e6-949d-4caa-9089-72a9a32dd5f3.png)

I'm pretty sure the problem is that no OAuth application was configured in Mattermost. Unfortunately I couldn't find any information how this sho

[2022-08-12 13:46] andrewjschuang commented on #3498
I'm not able to reproduce this error on key-based authentication - `execute-command` action.
Trying on password-based authentication.

![Screen Shot 2022-08-12 at 9 56 00 AM](https://user-images.githubusercontent.com/15385076/184366584-d1221c32-2159-4569-97de-e737b7b00247.png)

[2022-08-12 14:02] ctrlaltdylan opened #3999 "[BUG] Webflow - Deploy Site fails with `ValidationError`"
**Describe the bug**

When attempting to use the **Webflow - Publish Site** prebuilt action with a verified domain and Webflow site, the action fails.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new workflow
2. Authenticate your webflow account
3. Verify your domain
4. Add a new Webflow - Publish site action to your workflow
5. Choose your Webflow site and connected doma

[2022-08-12 14:15] #3900 closed

[2022-08-12 14:38] #3868 closed

[2022-08-12 14:40] vunguyenhung commented on #3998
Hello @timkley, I'm Leo the integration QA for Pipedream component. Thank you for the detailed information! I can reproduce your issue and this seems like a bug! I will add this to our App Backlog!
![image](https://user-images.githubusercontent.com/18277920/184378829-e05afb4c-94be-4337-b924-0f18519e181b.png)

[2022-08-12 14:40] dylburger commented on #3998
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-12 14:42] #3500 closed

[2022-08-12 14:52] vunguyenhung commented on #3999
Since Pierce are able to reproduce the issue, I will add this to our Component backlog directly 🙏

[2022-08-12 15:57] #3835 closed

[2022-08-12 16:11] giorgosera opened #4000 "[BUG] Missing dependencies for typeform"
**Describe the bug**
The typeform component references some packages which are not in `package.json`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/PipedreamHQ/pipedream/blob/master/components/typeform/typeform.app.mjs
2. See that `@pipedream/platform` is used but it doesn't exist in the `package.json`
3. Same happens with `uuidv4` and `luxon`

**Expected behavior**

[2022-08-12 17:50] andrewjschuang commented on #3498
Also not reproduced with password-based authentication.
Tested on AWS EC2 instance.

![Screen Shot 2022-08-12 at 2 48 25 PM](https://user-images.githubusercontent.com/15385076/184415095-fd5d0227-41ee-4b6c-b128-b5b801eeae0d.png)

[2022-08-12 18:14] andrewjschuang commented on #3498
It worked when changing the command. I think it's an issue with some git commands.

![Screen Shot 2022-08-12 at 3 13 14 PM](https://user-images.githubusercontent.com/15385076/184419202-7f4ed56d-5919-4dbc-a784-be692d299bd4.png)

[2022-08-12 18:22] andrewjschuang commented on #3498
Closing this issue since the error doesn't seem to be due to code.

[2022-08-12 18:22] #3498 closed

[2022-08-12 18:31] sergioeliot2039 commented on #3966
@pataquets here with an update,
there is now a basic framework for integration SMTP2Go -- https://pipedream.com/apps/smtp2go

[2022-08-12 23:29] dylburger commented on #3512
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-08-14 19:09] dylburger opened #4005 "[FEATURE] Update actions quickstart with @pipedream/platform axios"

[2022-08-14 23:00] raphaelvarieras opened #4006 "[APP] 15Five"
**Name of app / service**
15Five

**Link to developer documentation**
https://my.15five.com/api/public/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Currently using janky Zapier integration but would much rather build something robust in Pipedream.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or

[2022-08-14 23:29] dylburger commented on #3950
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-08-14 23:29] #3950 closed

[2022-08-14 23:45] dylburger commented on #4006
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-15 01:44] lerenos opened #4007 "[ACTION] [PATHS] Add Paths functionality"
**Is there a specific app this action is for?**
No.

**Please provide a link to the relevant API docs for the specific service / operation.**
N/A

Just like Zapier: https://zapier.com/help/create/customize/add-branching-logic-to-zaps-with-paths

My example use case: I want to decide what spreadsheet to modify based on a property of an updated notion database item.
I'm solving it by making 2 differ

[2022-08-15 03:10] dylburger commented on #4007
Thank you @lerenos ! We are tracking [here](https://github.com/PipedreamHQ/pipedream/issues/216) if you'd like to follow.

[2022-08-15 03:10] #4007 closed

[2022-08-15 12:21] #3814 closed

[2022-08-15 12:30] lcaresia commented on #3865
@Hassan-Abbas-SQA About this, can you share your config?

[2022-08-15 13:01] #3957 closed

[2022-08-15 13:43] ctrlaltdylan opened #4009 "[BUG] Slack - New Reaction (Instant) missing message text"
**Describe the bug**

The **Slack - New Reaction (Instant)** source events are missing the actual message text from the event.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new workflow
2. Add a **Slack - New Reaction (Instant)** trigger
3. Trigger the event by reacting to a message
4. The event does not contain the message text

**Expected behavior**

I expect to be able to find

[2022-08-15 15:24] ctrlaltdylan commented on #4005
PR: https://github.com/PipedreamHQ/pipedream/pull/4012

[2022-08-15 15:35] Hassan-Abbas-SQA commented on #4000
@giorgosera i have verified the bugs dropping  the issue in the project board for devs to fix that thank you

[2022-08-15 18:33] sergioeliot2039 commented on #4006
Hi @raphaelvarieras , app has been integrated
https://pipedream.com/apps/f15five

[2022-08-15 19:04] raphaelvarieras commented on #4006
I see the module with auth in place, but what about creating some triggers?

[2022-08-15 19:06] ctrlaltdylan commented on #4006
Hi @raphaelvarieras which triggers specifically would be helpful to start with?

Can you link to the specific API endpoints that need to be integrated with?

[2022-08-15 19:08] geopopos commented on #203
I don't know if there is a way to upvote features, but this is me throwing my hat in

[2022-08-15 19:24] raphaelvarieras commented on #4006
I'm assuming there is some sort of webhook capability since it's available in Zapier. That said, it doesn't seem to be documented. A trigger I'd like to see is "New report submitted".

[2022-08-15 19:26] ctrlaltdylan commented on #4006
I think this is the endpoint we're looking for:

https://my.15five.com/api/public/#report-list

Pipedream could poll this endpoint for new reports, and trigger the workflow if a new one is found.

[2022-08-15 19:33] raphaelvarieras commented on #4006
I tried something like that but it's a bit tough. Results are pagniated and the sorting options aren't that great. I pinged their support asking for the addition of a submit timestamp into the returned payload.

[2022-08-15 23:05] sergioeliot2039 commented on #3512
Hi @reatcas , @reatcas
Google App sheet has been integrated https://pipedream.com/apps/google-appsheet
let us know if you see any issues

[2022-08-15 23:05] #3512 closed

[2022-08-15 23:17] Hassan-Abbas-SQA commented on #3865
<img width="1026" alt="image" src="https://user-images.githubusercontent.com/104946677/184736562-e494f969-e838-4b6a-9850-68a0d2c71b08.png">

[2022-08-15 23:28] Hassan-Abbas-SQA commented on #3865
@lcaresia it should generate async lead ids so users should not fill it manually
<img width="1026" alt="image" src="https://user-images.githubusercontent.com/104946677/184742263-547dedd4-3b56-4533-b479-2e4a65f6936f.png">

[2022-08-15 23:29] dylburger commented on #3252
I'm closing this since the app is integrated, but let us know if you have any issues or questions about the integration

[2022-08-15 23:29] #3252 closed

[2022-08-16 00:33] #3837 closed

[2022-08-16 00:38] dylburger commented on #3906
We've added this issue to our backlog. You can follow this issue for updates!

[2022-08-16 10:07] rubentorresbonet commented on #209
Hey, any update regarding running the binaries? when trying playwright there is an error:
Executable doesn't exist at /home/sbx_user1051/.cache/ms-playwright/chromium-1019/chrome-linux/chrome

[2022-08-16 13:38] ctrlaltdylan opened #4016 "[TRIGGER][IMPROVEMENT] Telegram - Get Updates"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

This is a request to add more update events to the **Telegram - Get Updates** source.

The source is missing support for the member related events:

![CleanShot 2022-08-16 at 09 37 45](https://user-images.githubusercontent.com/2694734/184893438-b91518ee-c4f1-4c77-8deb-11ec2159ec13.png)

Without sup

[2022-08-16 13:48] d4videvans opened #4017 "[BUG] Mailerlite - Remove subscriber from group not working with '+' in email address"
When using the Mailerlite action "Remove Subscriber From Group with Mailerlite API" and the email address includes a + sign (e.g. test+number1@domain.com) the action returns a '404' even if the user exists.

Steps to reproduce the behavior:
1. Put a subscriber email into Mailerlite with a + sign in the email and add them to a group within Mailerlite
2. Within pipedream, run the 'remove subscriber'

[2022-08-16 14:17] #3877 closed

[2022-08-16 14:38] #3865 closed

[2022-08-16 15:32] vunguyenhung commented on #3636
Hello @luancazarine, I'm testing this ticket, though I noticed that there're several actions & triggers missing from the implementation, could you elaborate the reason for them?

## Missing Actions
- Subscribe to a Campaign
- Unsubscribe From a Campaign
- Find a Contact

## Missing Triggers
- Subscribed to a Campaign
- Unsubscribed from a Campaign
- Performed an Event
- Tag Removed from Contact

A

[2022-08-16 16:09] dylburger commented on #209
@rubentorresbonet Not yet. We are likely to provide the Chrome binary ourselves since it requires some special tweaks to work in our execution environment. This isn’t on our immediate backlog but we’ll update you here when we do that work.

Did you check out Browserless or other remote browser services? Curious if that would work for your use case.

[2022-08-16 17:51] andrewjschuang opened #4019 "[TRIGGER] GitHub New Card in Project Column for v2 Projects"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

The published trigger for GitHub New Card in Project Column works for only v1 projects (classic/legacy).
We need one for v2 projects.

**Links:**

- [Projects v2](https://docs.github.com/en/issues/planning-and-tracking-with-projects/learning-about-projects/about-projects)
- [Projects v1](https://do

[2022-08-16 18:40] #3939 closed

[2022-08-16 19:17] luancazarine commented on #3636
@vunguyenhung I don't know how Zapier handle with triggers. I created a trigger in zapier, it sends instantly, but does't created a webhook in my account
![image](https://user-images.githubusercontent.com/5638699/184963652-7f900cb9-84ef-43a0-88f7-b977daccd6f7.png)

[2022-08-16 19:18] luancazarine commented on #3636
@vunguyenhung I don't know how Zapier handle with triggers. I created a trigger in zapier, it sends instantly, but does't created a webhook in my account
![image](https://user-images.githubusercontent.com/5638699/184963652-7f900cb9-84ef-43a0-88f7-b977daccd6f7.png)

[2022-08-16 19:19] luancazarine commented on #3636
@vunguyenhung I don't know how Zapier handle with triggers. I created a trigger in zapier, it sends instantly, but does't created a webhook in my account
![image](https://user-images.githubusercontent.com/5638699/184963652-7f900cb9-84ef-43a0-88f7-b977daccd6f7.png)

[2022-08-16 23:29] dylburger commented on #3951
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-08-16 23:29] dylburger commented on #3509
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-08-16 23:29] #3951 closed

[2022-08-17 01:13] ljdatasci commented on #1326
I would like to work on this issue. Where do I start

[2022-08-17 01:32] dylburger commented on #1326
@ljdatasci that's great, thanks! Take a look at [this guide](https://pipedream.com/docs/components/guidelines/#process) and let us know if you have any questions on our [public Slack](https://join.slack.com/t/pipedream-users/shared_invite/zt-11sazmsg0-oS2VW~mZfhtk3XfEEvb~JA) or [forum](https://pipedream.com/community)

[2022-08-17 02:42] vunguyenhung commented on #3636
Hello @luancazarine, I find some API docs that can help us to implement the actions:
- Find Contact: https://developers.getgist.com/api/#retrieve-a-contact
- Subscribe Contact to a Campaign: https://developers.getgist.com/api/#subscribe-a-contact-to-campaign
- Unsubscribe Contact to a Campaign: https://developers.getgist.com/api/#unsubscribe-a-contact-from-campaign

Could you try to implement the

[2022-08-17 02:59] vunguyenhung opened #4021 "[APP] Gist - Pipedream App integration for webhooks"
**Name of app / service**
- Gist: https://app.getgist.com/

Currently, Zapier and Integromat integrated with Gist directly
![FireShot Capture 051 - Apps - Settings - HungVTuring - Gist - app getgist com](https://user-images.githubusercontent.com/18277920/185023895-8a492bc3-379a-4b4b-aceb-5beb7cfd0cf6.png)
so users can create triggers (listed below) seamlessly for Gist from those platforms.

I sugg

[2022-08-17 02:59] dylburger commented on #4021
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-17 03:00] vunguyenhung commented on #3636
I have added the ticket to onboard Pipedream app here: https://github.com/PipedreamHQ/pipedream/issues/4021

[2022-08-17 04:24] jmoneyy112 opened #4022 "[APP]"
Clickup

https://github.com/clickup

I suppose there are ways to do so otherwise.

Unsure but likely the same as the other automation providers have like Zapier

[2022-08-17 10:50] wspies commented on #1655
@dylburger, are you able to give us a rough timeline for fixing this issue, will it be weeks/months/..?

Our workflows are ready to go but this issue is holding us back to go into production.

[2022-08-17 12:16] #3833 closed

[2022-08-17 12:23] ljdatasci commented on #1326
I'm going to pass on this PR.  The trial account for CommerceTools requires a business email address and I do all of my PRs with my personal account.

[2022-08-17 12:35] ljdatasci commented on #3972
I can reach out to the app provider and ask if they want to build these components.

[2022-08-17 12:52] luancazarine commented on #3636
I've tried, but I can't even create a campaign to test the integrations without a premium account

[2022-08-17 12:55] vunguyenhung commented on #3636
@luancazarine how about just add the code without testing it? I'm OK with shipping it and monitor for error when there's actual usage. We had already applied this process for several paid services

[2022-08-17 12:56] #3854 closed

[2022-08-17 13:21] lcaresia commented on #3798
@jverce I don't find what exactly is a  `Send a Survey Invitation`, can you explain me?

[2022-08-17 15:08] dylburger commented on #1655
We’ve prioritized it with the team and I expect it will be solved within weeks and not months, but I’ll let you know as soon as we have an update.

[2022-08-17 15:14] Hassan-Abbas-SQA commented on #4017
@d4videvans i have confirmed the issue its not actually deleting a user from group whose email contains a + sign in it , even though it didn’t showed any error to me like 404 instead , user removed successfully but it was not actually removed to confirm to that i have attached the screenshot.
![image](https://user-images.githubusercontent.com/104946677/185176424-668afee3-486a-43e7-bedf-1f00633bd7d

[2022-08-17 15:14] #3040 closed

[2022-08-17 16:05] sergioeliot2039 commented on #3972
hey @ljdatasci, thanks for your availability!

@ctrlaltdylan or @todsac do you know how we can on board @ljdatasci to build components? (unsure if there's an screening process for users to help)

he seems keen to develop ClickUp components.

[2022-08-17 16:07] sergioeliot2039 commented on #4022
Hi @jmoneyy112
that's an interesting request -- I think it's the first time we get an app's Github organization profile for the URL

we have ClickUp integrated: https://pipedream.com/apps/clickup

there's an issue for ClickUp sources, feel free to follow, if you'd like https://github.com/PipedreamHQ/pipedream/issues/

[2022-08-17 16:07] #4022 closed

[2022-08-17 16:13] ljdatasci commented on #3972
I commited a new Action for the Notion API this past week. I read the PipeDream Components API documentation also.

[2022-08-17 16:48] ljdatasci commented on #3972
I'm ready, and I'm a she, Thanks.

[2022-08-17 17:21] sergioeliot2039 commented on #4021
This requires an OAuth integration, https://developers.getgist.com/api/#working-with-oauth

[2022-08-17 17:38] jmoneyy112 commented on #4022
Perfect thanks! I will probably misunderstood your template haha. Also,
I didn't see it in your trigger list. I didn't check the Step list. My
mistake.

------ Original Message ------
From "Sergio E. Rodríguez Wong" ***@***.***>
To "PipedreamHQ/pipedream" ***@***.***>
Cc "jmoneyy112" ***@***.***>; "Mention"
***@***.***>
Date 8/17/2022 9:07:21 AM
Subject Re: [PipedreamHQ/pipedream] [APP] (Issue #40

[2022-08-17 18:09] Hassan-Abbas-SQA commented on #3827
@lcaresia if you are asking for Enter a list of email address to verify as input from user you should provide an example of list of emails like this ['someone@gmail.com','someone2@outlook.com'] instead of only single email address it can confuse a user how to insert values.
<img width="899" alt="image" src="https://user-images.githubusercontent.com/104946677/185211399-835f2e84-1c01-4806-a1fd-7150e

[2022-08-17 18:51] #3827 closed

[2022-08-17 18:52] #3810 closed

[2022-08-17 20:09] SGZabrav opened #4029 "[APP] VK.com"
**Name of app / service**
VK.com

**Link to developer documentation**
https://vk.com/dev/manuals

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**
There are a lot of functions, but I need these specifically
https://vk.com/dev/objects/video#
video.get

[2022-08-17 20:12] dylburger commented on #4029
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-17 20:30] sergioeliot2039 opened #4030 "[ACTION, SOURCES] VK new components"
**App**
VK

**Actions**
Get Wall Posts
Get Wall Post
Get Photos
Get Videos
Get Authenticated User

**Sources**
New Wall Post
New Photo
New Video

API docs available at https://vk.com/dev/manuals
For sources, there are sort of webhooks available under the [Callback API](https://vk.com/dev/callback_api) supported events
https://vk.com/dev/groups_events

[2022-08-17 20:31] sergioeliot2039 commented on #4030
This ticket is blocked until VK app is integrated https://github.com/PipedreamHQ/pipedream/issues/4029

[2022-08-17 20:33] sergioeliot2039 commented on #4029
Hi @SGZabrav, thanks for the request

I created a separated issue for tracking progress on the functions you requested. While I added the most common ones on VK, feel free to follow, if you'd like https://github.com/PipedreamHQ/pipedream/issues/4030

[2022-08-17 22:37] todsac commented on #4021
I looked into Gist and there appears to be one major flaw in their API documentation related to OAuth 2.0.

They currently use the ```state``` parameter in the authorization request for "The slug secret of the project your application is requesting access for."  See [here](https://developers.getgist.com/docs/working-with-oauth/).

This is not only highly unusual but is totally off the OAuth spec:

[2022-08-17 23:29] dylburger commented on #3210
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-08-17 23:29] #3210 closed

[2022-08-18 00:38] dylburger commented on #3927
We've added this issue to our backlog. You can follow this issue for updates!

[2022-08-18 00:38] dylburger commented on #3926
We've added this issue to our backlog. You can follow this issue for updates!

[2022-08-18 00:39] dylburger commented on #3901
We've added this issue to our backlog. You can follow this issue for updates!

[2022-08-18 01:12] breaknanger opened #4033 "[APP] FareHarbor"
**Name of app / service**
FareHarbor

**Link to developer documentation**
https://github.com/FareHarbor/fareharbor-docs/tree/master/external-api
https://zapier.com/apps/fareharbor/integrations

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I currently have an automation on Zapier that integrates with FareHarbor and I'd like to move away from that platf

[2022-08-18 01:17] dylburger commented on #4033
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-18 01:41] sergioeliot2039 commented on #4033
Hi @breaknanger, thanks for the request!

In order to create an account, a new user needs to schedule a demo. I have requested them one while asking for a trial account to do the integration.

Perhaps for velocity, if you are up to, can you share your app/user key, you will have to rotate your keys

For privacy sake, you may join our Pipedream-Users public space at Slack https://join.slack.com/t/p

[2022-08-18 01:45] breaknanger commented on #4033
I have sent a request for them to add an API key for Pipedream, the same as
they have for Zapier.
Samuel Parker

General Manager

Break'N Anger
(808) 888-2630 | (808) 426-6056
***@***.***
breaknanger.com
1008A Kawaiahao St, Honolulu, HI 96814

On Wed, Aug 17, 2022 at 3:41 PM Sergio E. Rodríguez Wong <
***@***.***> wrote:

[2022-08-18 03:42] bluegol opened #4034 "[BUG] Twitter app seems to be shared among ALL across pipedream"
**Describe the bug**
"My Tweets" source returns 429 Too Many Requests everyday after certain hour. It seems the 100000 x-app-rate-limit is shared with other pipedream's users. NOT a bug in code, but still a bug from a user's standpoint.

**To Reproduce**
Steps to reproduce the behavior:
1. Create "My Tweets" source and connect any twitter user.
2. Modify code in "CONFIGURATION" tab, so that Twitte

[2022-08-18 05:24] DacoDev commented on #954
In "cross-shopping" this versus a service/application like n8n, I like that I can download and run my own n8n server in case they go out of business or get acquired. I'd be able to continue using it as usual or at least maintain functionality until a suitable alternative can be found, like what happened with Automate.io. In comparison, I lean toward preferring Pipedream's style either way, but I'm

[2022-08-18 05:30] alexander-potemkin commented on #954
Agree and choose n8n exactly for that purpose.

What happened with Automate.io? It seems to be working?

[2022-08-18 05:45] DacoDev commented on #954
Alas, Notion acquired them and they're shutting down services in October: https://automate.io/blog/closing-down-automate-io/

You can't even sign up for an account anymore - it looks like it was a great service and definitely had a fair pricing scheme; kind of like Pipedream where it's pretty straightforward.

In general, I like Notion and plan to use Pipedream and/or n8n to integrate other servic

[2022-08-18 10:37] ljdatasci opened #4035 "[ACTION] Bitly - Update a Bitlink"
**Is there a specific app this action is for?**
Bitly

**Please provide a link to the relevant API docs for the specific service / operation.**
Update a Bitlink [https://dev.bitly.com/api-reference/#updateBitlink](url)

I would like to get started on this action.

[2022-08-18 11:11] madmaxman69 opened #4036 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-08-18 12:30] ljdatasci opened #4037 "[APP] Waitwhile"
**Name of app / service**
Waitwhile

**Link to developer documentation**
[https://developers.waitwhile.com/reference/analytics](https://developers.waitwhile.com/reference/analytics)

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Lack of support prevents building workflows.

**Are there specific actions, or triggers, you'd like to see for this app? Plea

[2022-08-18 12:35] vellames commented on #3798
Could you please link the PR?

[2022-08-18 12:42] #3792 closed

[2022-08-18 12:44] vunguyenhung commented on #3397
Sorry I missed the case where changing the common file will require all related component to bump up version

For example, this [commit changes the `components/slack/sources/common/base.js` file](https://github.com/vunguyenhung/pipedream/pull/2/files#diff-23b3670bf6a41f57bd8267a205b3deb6b00608c3c4dde679ae579b2b40de9e34)

But the [Ensure component commits modify component versions step still passed

[2022-08-18 13:30] ctrlaltdylan commented on #2531
Related issue:

https://github.com/PipedreamHQ/pipedream/issues/4034

[2022-08-18 13:33] ctrlaltdylan commented on #4034
Hi @bluegol

I agree, it is frustrating to be sharing the same rate limit as other Twitter users on Pipedream.

However, some apps are just provisioned this way by the service provider.

Currently, Pipedream on is v1.1 of the Twitter API, while migrating to v2 doesn't separate API usage by client - it does increase the overall rate limit.

But, in your case I recommend using the **Twitter Develope

[2022-08-18 13:33] #4034 closed

[2022-08-18 13:53] lcaresia commented on #3798
@vellames Sorry, done!

[2022-08-18 14:44] #3893 closed

[2022-08-18 15:49] dylburger commented on #4037
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-18 15:59] #3779 closed

[2022-08-18 16:03] alexander-potemkin commented on #954
Thank you, it's a pity.

By the way, @DacoDev , let me invite you to think, what kind of node(s) could be added to n8n, to make it more like a Pipedream, if you don't mind?

Probably it wouldn't be that much complicated or would be something that could be started by modifying an existing function node, that I could pick up and implement one way or another?

[2022-08-18 16:39] beenlouis opened #4038 "Amilia"
**Name of app / service**
Amilia

**Link to developer documentation**
https://www.amilia.com/apidocs

**Is lack of support preventing you from building workflows, or do you have a workaround?**
It is definitely challenging to build workflows manually.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to

[2022-08-18 18:04] DacoDev commented on #954
This isn't exactly the right venue for that (a competitor's feature request page), but I'll email you at the address on your profile if you're open to it. I'm new to using both but came across this FR when trying to use both simultaneously and thought I could run both locally :)

[2022-08-18 19:02] jverce commented on #3798
@lcaresia, I think the original intent of that action is to target a new person to fill/complete an existing survey.
By looking at the SurveyMethods [API docs](https://github.com/PipedreamHQ/pipedream/files/9376734/surveymethodsapidocumentv1.pdf), I think the best candidate to accomplish this is the **Resend Survey Link** endpoint (see section **6.2**).

I'm however open to your feedback since you

[2022-08-18 19:08] jverce commented on #3801
@vellames it looks like the right one, but we can wait for @dylburger and/or @dannyroosevelt (who's OOO until next week tentatively) to confirm this 🙂

[2022-08-18 19:10] vellames commented on #3801
@jverce It is :) Tks

[2022-08-18 19:29] jverce commented on #3866
@GTFalcao I agree, seems like all these webhook events refer to a status change in a shipment.
The good thing about this API IMHO is that we can use wildcards, so we could easily provide 3 event sources for this purpose:
1. Shipment status updates (e.g. if the shipment record has been deleted). This event source would react to the `shipment.status.*` webhook events
2. Shipment tracking status upda

[2022-08-18 19:41] dylburger commented on #954
Self-hosting is still on our backlog! We're planning to develop a full, self-hosted version of the Pipedream platform, and also a way to run components locally (e.g. as a container in your own private network) that could trigger a Pipedream workflow hosted on the current platform.

Is the core concern the risk that Pipedream goes out of business? Or do you have other regulatory requirements that m

[2022-08-18 20:26] luancazarine commented on #3636
Waiting for resolution https://github.com/PipedreamHQ/pipedream/issues/4021#issuecomment-1218561577

[2022-08-18 20:48] GTFalcao commented on #3866
I've currently implemented a single source with an `event type` prop that lets the user choose exactly which events they want the source to listen to, out of those listed above.

We can easily split this into the three sources that you proposed though, it's a fairly small code change.

[2022-08-18 21:15] echung808 opened #4040 "[BUG] Event delete/reply button in inspector not clickable when scrollbar present"
**Description**
The event delete/reply button in the inspector section of a workflow is not clickable when a scrollbar is on top of it.

**To Reproduce**
While using Firefox version 103.0.1
1. Create a test workflow that generates enough events to see a scrollbar in the "Inspector" tab
2. Hover over an event and click on three dots that appear on the right side of the event
3. Notice scrollbar pop

[2022-08-18 22:30] Hassan-Abbas-SQA commented on #4036
please provide the information about the component which has issue and what issue does it have?

[2022-08-18 22:31] Hassan-Abbas-SQA commented on #4035
@ljdatasci  Sure thanks for the contribution

[2022-08-18 22:54] sergioeliot2039 commented on #4038
Hi @beenlouis , thanks for the request!

In order to create an account, a new user needs to schedule a demo. I have requested them one and have booked a demo.

Perhaps for velocity, if you are up to, can you share your username/password, you will have to change them once the integration is done.

For privacy sake, you may join our Pipedream-Users public space at Slack https://join.slack.com/t/pipe

[2022-08-18 23:00] sergioeliot2039 commented on #4038
fyi i booked for a demo on august 30th in the morning

[2022-08-18 23:02] sergioeliot2039 commented on #4037
Hi @ljdatasci thanks for the request!

Waitwhile has been integrated, check it out at -- https://pipedream.com/apps/waitwhile

[2022-08-18 23:12] ljdatasci commented on #4037
@sergioeliot2039 Thanks. I checked the Component library and I don't see any actions for the integration.  Should I open a new issue to start adding the actions?

[2022-08-18 23:56] sergioeliot2039 commented on #4029
@SGZabrav, VK is now integrated, please check it out at https://pipedream.com/apps/vk

[2022-08-18 23:56] #4029 closed

[2022-08-19 00:09] js07 opened #4042 "[BUG] Filter: End/Continue actions Reason field usage"
**Describe the bug**
The **Reason** field of the **End Workflow on Condition** action has the description "The reason for continuing the workflow" and shows up when the workflow continues. I expected **Reason** to be used as "the reason for ending the workflow", like in the **End Workflow on Custom Condition** action.
Similarly, the **Reason** field of the **Continue Workflow on Condition** action

[2022-08-19 02:54] DacoDev commented on #954
To answer this part, it's not my core concern; it's another reason with a recent example (Automate.io).

This is a neat approach, like running a GitLab or GitHub pipeline with self-hosted runners but bi-directional traffic like an API gateway.

For me, the reason for using self-hosted is that it can live inside my network and access non-publically routed resources.  Running a copy (or "runner") lo

[2022-08-19 05:00] dylburger commented on #954
Great feedback, thanks!

[2022-08-19 07:59] alexander-potemkin commented on #954
it's turned out it could quite productive, thought :)
I'm happy to continue a discussion though - here, via e-mail at profile or whenever else convenient.

[2022-08-19 10:41] alysonturing commented on #3657
the api of Inksprout isn't working, although their docs looks fine.
I tried several times with postman, and them reached out an Inksprout's member and he said that the API ins't the priority at this moment.

<img width="626" alt="image" src="https://user-images.githubusercontent.com/103650302/185601215-f2422774-8527-47e9-ad25-b972a451328a.png">

<img width="209" alt="image" src="https://user-image

[2022-08-19 14:12] Elliott-Green opened #4043 "[BUG] Step.Discord.send_message_with_file.avatar_url is not set correctly"
**Describe the bug**
GIVEN the step 'send_message_with_file' is chosen
AND 'avatar_url' is set to a valid resolving URL
WHEN deploying and testing the step with dummy data
![image](https://user-images.githubusercontent.com/10979087/185636678-111d09b0-0eb6-4e28-9854-c0a93a5328b6.png)
THEN 'avatar_url' is not used, rather the default image is chosen
![image](https://user-images.githubusercontent.com

[2022-08-19 14:45] #4009 closed

[2022-08-19 14:47] DacoDev commented on #954
My reply got a little out-of-hand, but I think I covered most of the use-cases I could see that would use it self-hosted. I will also add though, I do use Pipedream in it's current web-based form either way because it's a great service, and I do have workflows that would not need to be run locally, connection of multiple SaaS services, and I love the flexibility of being able to use it like a step

[2022-08-19 14:57] andrewjschuang commented on #3494
From this [link](https://docs.github.com/en/get-started/customizing-your-github-workflow/exploring-integrations/about-webhooks):

I have tested this, and for organization repositories, the token must have **admin privileges** (maintainer is not enough) and at least `public_repo` and `read:org` scopes to create webhooks, along with others required by the trigger.

Closing this since the underlying

[2022-08-19 14:57] #3494 closed

[2022-08-19 15:29] dylburger commented on #4030
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-08-19 15:29] luancazarine commented on #3959
@vunguyenhung I don't know if it makes sense to add the filter prop, as this prop is exactly what the action uses to tel know it's searching for a page. What we can do is create a new action called Search that can search whatever the user wants, not just a page. What do you think?

[2022-08-19 15:55] vunguyenhung commented on #3959
Hello @luancazarine, thanks for pointing out! I think it makes sense to create a new action instead in this case, as adding the customizable `filter` prop might not backward compatible with the current code using the same `filter` prop.

The new action can be named `search` ([matched with the API name](https://developers.notion.com/reference/post-search)). This action will have the following props

[2022-08-19 16:57] #4019 closed

[2022-08-19 17:16] ctrlaltdylan commented on #3972
I'm sorry @ljdatasci, didn't know that. Noted!

Thanks for waiting on me, I've double your included daily invocations, on the house of course no charge.

Excited to see what you build! And we're always happy to hear your feedback on the component development experience, as well as if there are any gaps in docs that we need to help answer.

[2022-08-19 17:19] Hassan-Abbas-SQA commented on #3976
@sergioeliot2039 source : Specific Column Updated not firing any event on update only fetching the old updated items when deployed first

[2022-08-19 17:36] Hassan-Abbas-SQA commented on #3976
@sergioeliot2039 source : Column Updated not firing any event on update only fetching the old updated items when deployed first

[2022-08-19 17:40] RobRukavina opened #4044 "Invite User Group to private channel [ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-08-19 18:08] treestonemedia commented on #3228
@vunguyenhung any traction on this?

[2022-08-19 18:29] zalmanlew opened #4045 "[ACTION] Validate Google reCAPTCHA (v3)"
It would be nice to have an action that could validate a recaptcha request (useful for using Pipedream to handle form submissions
on a custom site).

The action should have two props, one for the token (which is sent from the frontend) and another for the IP (which is the IP making the request - perhaps it can default to pull the request IP from the event export).

The return value would just be t

[2022-08-19 20:00] marianheinsen opened #4047 "[TRIGGER] New YouTube subscription"
Emit a new event when the authenticated user subscribes to a new channel

[https://developers.google.com/youtube/v3/docs/subscriptions/list](https://developers.google.com/youtube/v3/docs/subscriptions/list)

[2022-08-19 20:06] todsac commented on #3308
https://pipedream.com/apps/meetup

[2022-08-19 20:50] sergioeliot2039 commented on #4038
Hi @beenlouis, a basic frame of integration for Amilia app has been integrated -- https://pipedream.com/apps/amilia

[2022-08-19 20:50] #4038 closed

[2022-08-19 22:01] alysonturing commented on #3657
Inksprout informed me that their API is now up and running! I removed the block tag and will back to work on this task

[2022-08-19 22:12] #3642 closed

[2022-08-20 01:13] trendoscope-algorithms opened #4050 "[APP] Ecwid Integration"
Ecwid Ecommerce Integration

https://api-docs.ecwid.com/reference/overview

Can be managed via webhooks. But, there is no direct way to update webhook URLs in Ecwid - have to do by creating helpdesk request and all.

I currently use other integration provider - who have option to listen to various types of requests. The main one I require are related to orders.

[2022-08-20 01:20] dylburger commented on #4050
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-20 02:49] djpecot commented on #3227
Hey y'all, just bumping this since it seems to be still an issue:
- Run a query to fetch a `pageId`
- Pass this into `retieve_page_property_item`
- `Page Id` not dynamically selected still
![image](https://user-images.githubusercontent.com/8185181/185726216-573af2c0-5fd5-47c9-bac6-deef89368b2e.png)

[2022-08-20 11:00] djpecot commented on #193
I ran into an issue where my API came back as an `object` instead of an `array`. This modified code should handle single values relatively gracefully 🤞 @ctrlaltdylan
[code]

[2022-08-21 01:09] beenlouis opened #4052 "create / update items in Agile CRM"
There is already a connector for the Agile CRM. However, I am not comfortable enough with writing code from scratch. Is it possible to take the data from a previous node and push it into Agile CRM to create or update contacts?

https://github.com/agilecrm/rest-api#13-creating-a-contact

[2022-08-21 02:15] rawasthi80 opened #4053 "[APP]Bitrix24"
**Name of app / service**  Bitrix24

**Link to developer documentation** https://www.bitrix24.com/apps/dev.php

**Is lack of support preventing you from building workflows, or do you have a workaround?** Yes

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**.   https://www.ma

[2022-08-21 02:57] dylburger commented on #4053
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-21 08:35] nachocab commented on #2430
Two further notes on the "undo" behavior:

- The undo behavior in v1 was more granular: typing two words separated by a space and hitting undo, would remove only the second word. In v2 multiple lines may be removed after hitting undo, which can be confusing (I'd rather hit undo multiple times than retype what got deleted)
- On long code steps, the "undo" notification scrolls the window to the top,

[2022-08-21 09:01] nachocab commented on #2430
I also agree with this

It's possible that the trigger step has event B selected, but if I click on "Test" on another code step, event A will not run. In order to ensure that event B runs, I have to click on "Test all above". Why is "Test" the default option then?

It would be useful if there was a clearer way to know which event is being tested.

[2022-08-21 09:26] nachocab commented on #3909
This is another limitation of the current pinning behavior:

1. Pin code step A
2. Click somewhere on code step B (so it's focused)
3. Click back on the code in step A

Expected behavior: nothing happens, I can continue typing
Current behavior: the code step gets focused and the screen scrolls all the way up to the code step title, so I have to scroll down to continue typing

[2022-08-21 12:39] nachocab opened #4054 "[BUG] Editing a deployed workflow shows an error on the trigger"
When I click the Edit button I sometimes see an "error" on the HTTP trigger. It goes away by simply clicking on "Save and continue".

[2022-08-22 01:16] sergioeliot2039 opened #4056 "[ACTIONS, SOURCES] Amilia new components"
**App**
Amilia

**Actions**
Get Accounts
Get an Account

**Sources**
New Account
Updated Account
New Activity
Updated Activity

API docs at https://www.amilia.com/ApiDocs https://www.amilia.com/ApiDocs/v3org
Webhooks available for sources
Supported events appear to be specified in v1 webhooks https://www.amilia.com/ApiDocs/v1webhooks

[2022-08-22 01:17] sergioeliot2039 commented on #4056
This issue is created after the user app request on https://github.com/PipedreamHQ/pipedream/issues/4038

[2022-08-22 01:17] dylburger commented on #4056
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-08-22 01:19] sergioeliot2039 commented on #4038
@beenlouis fyi I created a new issue to track component development -- https://github.com/PipedreamHQ/pipedream/issues/4056
feel free to track progress there, if you'd like

[2022-08-22 01:54] sergioeliot2039 opened #4057 "[ACTION] Waitwhile"
**App**
Waitwhile
API docs at [https://developers.waitwhile.com/reference/analytics](https://developers.waitwhile.com/reference/analytics)

**Actions**
List Customers
Create a Customer
Export Customers
Search Customers
Retrieve a Customer
Update a Customer
Remove a Customer
List Customer Note Entries
Add a Customer Note Entry
Get Customer Note by ID
Import Customers
Update Customer Note Entry
Dele

[2022-08-22 01:55] dylburger commented on #4057
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-08-22 01:56] sergioeliot2039 commented on #4037
Hi @ljdatasci , sorry for the delay. Yes please go ahead adding the action.
I created a new issue for us here https://github.com/PipedreamHQ/pipedream/issues/4057
Please let's track progress there. Thank you!

[2022-08-22 01:56] #4037 closed

[2022-08-22 05:49] ljdatasci commented on #4057
@sergioeliot2039  Thanks. I'll get started on this PR.

[2022-08-22 11:38] ljdatasci commented on #4035
@Hassan-Abbas-SQA.  Can you please assign this issue to me under Assignees? Thanks.

[2022-08-22 11:39] ljdatasci commented on #3972
@ctrlaltdylan. Can you please assign this issue to me under Assignees? Thanks.

[2022-08-22 16:07] DilanAthukorala commented on #4054
@nachocab Thanks for reporting this issue, I am able to recreate this with the following steps,

1. Create a New Workflow
2. Add the HTTP trigger to the workflow
3. Click "Save and Continue" Button
4. Click on "Deploy"
5. Click "Edit" button on the workflow

This error is only observed when you first create the workflow and added the trigger and try to edit and goes away after you click "Save and

[2022-08-22 16:13] nachocab commented on #4054
Actually, I see it every time I edit the workflow

[2022-08-22 16:23] DilanAthukorala commented on #4043
@Elliott-Green Thanks for reporting this issue. This was previously observed according to the issue - [#3898](https://github.com/PipedreamHQ/pipedream/pull/3898) and the observation was that the "avatar_url" parameter was not supported by the discord API and therefore was removed from the Discord actions as mentioned in the issue. @michelle0927 Please correct me if I'm wrong and kindly share your

[2022-08-22 16:34] DilanAthukorala commented on #4052
@beenlouis Thanks for creating this ticket, There's already an item in our backlog to develop these actions, Please follow this ticket - [#3544](https://github.com/PipedreamHQ/pipedream/issues/3544)

[2022-08-22 16:35] #4052 closed

[2022-08-22 16:36] todsac commented on #4050
The first version of Ecwid is live - https://pipedream.com/apps/ecwid. It would be great to get any feedback on the scopes and if the it makes sense to have the integration set up by storeId (as opposed to accessing many stores at once).

https://pipedream.com/apps/ecwid

[2022-08-22 16:36] #4050 closed

[2022-08-22 16:40] dylburger commented on #4047
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-08-22 16:45] DilanAthukorala commented on #4044
@RobRukavina Could you kindly provide the following details for this request please.

1. Is there a specific app this action is for?
2. Please provide a link to the relevant API docs for the specific service / operation.

[2022-08-22 16:52] RobRukavina commented on #4044
There isn't a relevant API from Pipedream. Slack has one in their API. This was a request for Pipedream to create one... That said, I'm closing this as I've found another option. Thanks

[2022-08-22 16:52] #4044 closed

[2022-08-22 17:13] #3798 closed

[2022-08-22 18:18] michelle0927 commented on #4043
@DilanAthukorala You're correct about the `discord` action `send-message-with-file`. However, there's another action called `send-message-with-file` under the `discord_webhook` app, and I think that's probably the one @Elliott-Green is referring to. I was able to reproduce the error using that action, and I've created a PR to fix the issue.

[2022-08-22 19:35] todsac opened #4060 "[APP]"
**Name of app / service**
Hacker News API

**Link to developer documentation**
New API - https://github.com/HackerNews/API

**Is lack of support preventing you from building workflows, or do you have a workaround?**
We need to update the HN integration including actions

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger

[2022-08-22 19:50] michelle0927 commented on #3976
@Hassan-Abbas-SQA Apparently, updating the Name column doesn't trigger webhooks with event types `change_column_value` (used in Column Updated) or `change_specific_column_value` (used in Specific Column Updated). There's a separate event type, `change_name` that triggers when an item's name changes.

I decided to create another source, Name Updated, that uses the `change_name` event type, and I up

[2022-08-22 19:57] dylburger commented on #4060
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-22 22:59] dannyroosevelt opened #4064 "Actions and Triggers for Gmail"
### App
`gmail`
https://developers.google.com/gmail/api

### Triggers
- New email (include an optional prop to specify a search criteria)
- New attachment
- New email with label

### Actions
- Add label to email (async options props for Labels and Message)
- Find email (prop for "Search string", which should use Gmail's search)
- Send email

Send email action should include the below props:
- To (

[2022-08-22 23:01] dannyroosevelt commented on #4064
@andrewjschuang I'm tagging you on this one specifically. This has been a frequent ask, and it's been blocked on some internal requirements, which we're working on removing now, but you should be able to start building out these components asap.

Let me know if you have any questions, but this should be high priority, when you finish up whatever you're currently working on.

[2022-08-22 23:54] trendoscope-algorithms commented on #4050
Hi @todsac ,
Unable to use this as trigger. Option not coming up for trigger. Wonder how we can handle this.
Sudh

[2022-08-23 00:15] dylburger opened #4065 "[BUG] Issue combining `ibmcloudant` and `ibm-cloud-sdk-core` packages in Python code step"
This code fails:

[code]

the `ibm-cloud-sdk-core` package has an PyPI alias: `ibm_cloud_sdk_core`. Because `ibmcloudant` uses `ibm_cloud_sdk_core` in its `requirements.txt` file, we end up producing a `requirements.txt` file in Pipedream that looks like:

[code]

pip sees that the first and last lines point to the same package, so throws a `ResolutionImpossible` error.

[2022-08-23 02:21] FYXYG opened #4066 "[google classroom]"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-08-23 02:22] #4066 closed

[2022-08-23 03:25] sergioeliot2039 commented on #4033
Thank you Samuel, for reaching out to FareHarbor.

Did you hear back from them?

[2022-08-23 03:38] breaknanger commented on #4033
They added a webhook for me that gets called each time a new booking is
made; however, their API is closed to customers. You’ll need to work with
them directly as this was their reply:

“Our API keys are reserved for Resellers only. Zapier is an integration we
developed and have an agreement with them to do the integration that way.
It is not opened to all.”

Brianda Contreras is the support agent

[2022-08-23 07:06] nachocab commented on #2957
I'd also like to see v1's option of adding and `$end` message:

<img width="172" alt="CleanShot 2022-08-23 at 09 05 09@2x" src="https://user-images.githubusercontent.com/27538/186093036-82b09622-b1cb-46ba-81fa-10521e21f2f6.png">

[2022-08-23 10:25] Hassan-Abbas-SQA commented on #3976
@michelle0927 please update the description as "For changes to Name, use the Name Updated Source/Trigger" instead of "For changes to Name, use the Name Updated action."
![image](https://user-images.githubusercontent.com/104946677/186135059-767d96dc-ee5b-496f-ad23-e7c1fa7b4be3.png)

[2022-08-23 10:30] Hassan-Abbas-SQA commented on #3976
everything works as expected @michelle0927 please update the descriptions and let me know i will have a look and move the ticket to ready for release thanks

[2022-08-23 10:46] Hassan-Abbas-SQA commented on #3976
i have updated the PR descriptions myself now moving the ticket

[2022-08-23 13:22] #4045 closed

[2022-08-23 13:51] DilanAthukorala commented on #4043
@michelle0927 Thanks for the fix. However I'm observing when we are passing the avatar url, the avatar image in discord is getting updated only if we change the "Username"  (pass a different username than the existing). Otherwise a blank avatar image is displayed if we send the "avatar url" without the "username" param or with the already existing "username" value. Is this the expected behavior fr

[2022-08-23 14:22] ljdatasci commented on #3972
@sergioeliot2039, @ctrlaltdylan  In order create any of the ClickUp sources, the user needs access to webhooks.  Webhooks can then be used to send the status of ClickUp events such as New Task, New List, New Folder, etc.  Webhooks require a ClickUp Teams account, which I don't have access to, and I do all of my PRs through my personal account. So, I'm going to pass on this PR.

[2022-08-23 15:13] sergioeliot2039 commented on #4033
I see, glad you got help from them. Thanks for the input
I will leave the issue open, hopefully we will get an agreement with them like Zapier's for moving forward the integration.

[2022-08-23 15:20] #3976 closed

[2022-08-23 15:37] vunguyenhung commented on #3959
Hi everyone, all test cases are passed! Ready for release!

Test report
[Notion_4049.pdf](https://github.com/PipedreamHQ/pipedream/files/9404076/Notion_4049.pdf)

[2022-08-23 16:08] #3801 closed

[2022-08-23 16:16] lcaresia commented on #3816
@jverce Can you explain me better what is `Send Data`? thanks!

[2022-08-23 17:31] michelle0927 commented on #4043
@DilanAthukorala Discord kinda groups messages together that are from the same username and within 10 minutes of each other. So if the same username posts two consecutive messages within 10 minutes of each other, it won't display the username or avatar for the 2nd message. If, however, another username posts a message in-between the two, or if 10 minutes have passed, it will display the avatar. I

[2022-08-23 17:40] #3825 closed

[2022-08-23 18:31] michelle0927 commented on #4043
Updated the description - https://github.com/PipedreamHQ/pipedream/pull/4059/commits/843e8a798f4135d489ba88ce0f47e401c0a43163

[2022-08-23 18:48] casret commented on #4065
For this specific case, does `# pipedream add-package ibm-cloud-sdk-core==3.16.0` work, or just omitting it altogether since it's being grabbed through dependencies?

[2022-08-23 19:09] #3959 closed

[2022-08-23 20:47] dannyroosevelt commented on #1655
Hi @wspies it looks like we're getting rate limited by Exact now that we are attempting to refresh access tokens every 10 minutes. Here is the 400 response we're seeing when making the Refresh Token Request:
[code]

Are you able to loop our team in with the Exact team?

[2022-08-23 21:28] DilanAthukorala commented on #4043
@michelle0927 Got it, Thanks for the clarification!

This is verified and ready for release.

[2022-08-23 21:51] jcortes commented on #3397
Hi @vunguyenhung I've added a fix that missed where there is no validation when those files aren't even touched so thanks for finding that bug. So please test again, thanks!

[2022-08-23 23:18] #4043 closed

[2022-08-23 23:29] dylburger commented on #3509
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-08-24 00:16] wspies commented on #1655
@dannyroosevelt, Exact is quite strict regarding API limits. An access token is valid for 10 minutes and you can only request a new access token after 9,5 minutes. If you do it before you get the response you mentioned.

https://support.exactonline.com/community/s/knowledge-base#All-All-DNO-Simulation-gen-apilimits

[2022-08-24 00:28] sergioeliot2039 opened #4072 "[APP] Connecteam"
Connecteam
https://editor.swagger.io/?url=https://s3.eu-central-1.amazonaws.com/connecteam/open_api/users_swagger.yaml
https://help.connecteam.com/en/articles/3064080-updating-user-information-using-an-application-programming-interface-api

This was requested by an user on issue [3905](https://github.com/PipedreamHQ/pipedream/issues/3509), along with ClickUp.
The API is avalable to Enterprise user

[2022-08-24 00:29] dylburger commented on #4072
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-24 00:31] sergioeliot2039 commented on #3509
I created a new issue to track separatedly Connectteam https://github.com/PipedreamHQ/pipedream/issues/4072

[2022-08-24 00:49] vico93 commented on #203
Really looking forward for this!

[2022-08-24 10:49] subhagit55 opened #4074 "Crowdfunding Admin page"
**Is there a specific app this action is for?**
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 14">
<link id=Main-File rel=Main-File
href="file:///C:\Users\user\AppDat

[2022-08-24 12:05] bhadauriakirti opened #4075 "project is created by 😊 so while creating no name showing in it"
https://magento-uvdesk-connector-demo1032111836.webkul.com/admin/crowdfunding/project/index/key/5b0cf0744d329235f636efa12ab95e8e57dee111e6790808929a31

![project](https://user-images.githubusercontent.com/110892373/186413685-971aa73f-1afd-464d-8fba-7fa5c2e43d40.PNG)

[2022-08-24 14:10] #3657 closed

[2022-08-24 14:45] jmoneyy112 opened #4079 "[ACTION] Stripe Create Subscription"
Create a subscription

https://stripe.com/docs/api/subscriptions/create

[2022-08-24 14:56] vunguyenhung commented on #3397
Hi @jcortes and everyone, all test cases are passed! Ready for release!

Test report
[Verify_all_modified_versions_are_incremented_2155.pdf](https://github.com/PipedreamHQ/pipedream/files/9417145/Verify_all_modified_versions_are_incremented_2155.pdf)

[2022-08-24 15:03] #3288 closed

[2022-08-24 15:36] #3397 closed

[2022-08-24 16:21] #4035 closed

[2022-08-24 16:27] dylburger commented on #4079
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-08-24 17:07] jmoneyy112 commented on #4079
I can try. Can I do this if I am not a coder?

------ Original Message ------
From "Dylan J. Sather" ***@***.***>
To "PipedreamHQ/pipedream" ***@***.***>
Cc "jmoneyy112" ***@***.***>; "Author"
***@***.***>
Date 8/24/2022 9:27:58 AM
Subject Re: [PipedreamHQ/pipedream] [ACTION] (Issue #4079)

***@***.***>

[2022-08-24 17:16] andrewjschuang opened #4085 "[BUG] Telegram Bot - Missing Update Types"
**Describe the bug**
A [user reported](https://pipedream-users.slack.com/archives/CPTJYRY5A/p1661350243699839) some missing [update types](https://core.telegram.org/bots/api#update) in Telegram Bot API trigger.

[2022-08-24 17:39] vellames commented on #3972
@ljdatasci Hi there!
Are you still working on this? I assigned it for me but realized you are already working on it. If so, please assign it to you :)

[2022-08-24 17:40] feyzullah commented on #3812
Hi @lcaresia can you please link your PR?

[2022-08-24 17:43] lcaresia commented on #3812
@feyzullah Done, sorry!

[2022-08-24 17:59] ljdatasci commented on #3972
@vellames I need a business account in order to test the actions, and I do all of my testing through my personal account.  So you can work on this PR. Thanks.

[2022-08-24 20:23] dannyroosevelt commented on #1655
Okay, thanks for the info. That is definitely non-standard, and I haven't run into such a strict and aggressive refresh strategy before (we've integrated hundreds of other OAuth apps).

I have this on the team's backlog to implement custom support and I'll let you know as soon as I have an update to share.

[2022-08-24 22:15] SuperFluffy commented on #2865
I have encountered the same thing in an action. This issue was closed, but is a fix available?

[2022-08-24 22:22] dannyroosevelt commented on #2865
@SuperFluffy Can you provide more details? Which action are you using, and what is the error you're seeing?

[2022-08-24 22:51] #3807 closed

[2022-08-25 01:58] Hassan-Abbas-SQA commented on #3988
New Contact, Update Contact... unable to deploy, when deploying it errors out as:
![image](https://user-images.githubusercontent.com/104946677/186556714-f71f9660-32e7-4689-9116-48497ab90486.png)
![image](https://user-images.githubusercontent.com/104946677/186556783-6437521c-d4b3-44a5-a996-e8d10da1beda.png)

[2022-08-25 06:25] ggtw86 opened #4086 "[APP] CoinMaretCap"
CoinMarektcap

[**Link to developer documentation**](https://coinmarketcap.com/api/documentation/v1/)

**Is lack of support preventing you from building workflows, or do you have a workaround?**

I want to use their API

[2022-08-25 06:49] Hassan-Abbas-SQA commented on #3816
@jverce this PR only contains these sources can you please update the ticket description and remove the other sources and actions which are not included in the PR?
<img width="292" alt="image" src="https://user-images.githubusercontent.com/104946677/186594557-ed5107ae-07c5-4fd6-8553-917a5669ffcc.png">

[2022-08-25 08:52] SuperFluffy commented on #2865
Apologies. It's eerily similar to what OP posted, so I didn't provide extra info. But I think it fits in this issue report. If you prefer for me to open a new one, I can do that.

This is the MWE I made:

[code]
This is the ID it received after deploying it to PD:
[code]
And this is the error that pipedreams UI reports:
[code]
A screenshot is attached.

![image](https://user-images.githubuserconte

[2022-08-25 13:46] bsommardahl opened #4087 "[ACTION] Add functionality to Google Drive > Create Folder to only create if the folder doesn't exist"
Google Drive allows duplicate folder names, but this is not always what we want. When creating a folder, it would be nice to have the option to ONLY create if the folder doesn't yet exist.

**Please provide a link to the relevant API docs for the specific service / operation.**
Google's Drive API doesn't support this option natively, so it would be necessary to do a quick search before creating th

[2022-08-25 15:43] js07 commented on #2865
Hi @SuperFluffy. I think the `type` for your data store prop (`data`) should be [`data_store`](https://pipedream.com/docs/code/nodejs/using-data-stores/#using-data-stores) rather than `$.service.db`, which is used to maintain state in [sources](https://pipedream.com/docs/sources/#sources).

[code]

[2022-08-25 16:26] dannyroosevelt commented on #2865
Good catch @js07 and yes good catch @SuperFluffy! I am updating that typo now.

[2022-08-25 16:30] vunguyenhung opened #4089 "[BUG] Can not execute `pd dev` on You need a budget source"
**Describe the bug**
Can not execute `pd dev` on You need a budget source. Error shown `panic: graphql: Cannot return null for non-nullable field Selectable.label`

**To Reproduce**
Steps to reproduce the behavior:
1. Please **delete** any existing Pipedream accounts for You need a budget
2. Clone `pipedream` Github repo, then `cd components/you_need_a_budget`
3. Execute `pd dev <path-to-source>`

[2022-08-25 17:36] dylburger commented on #4086
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-25 17:40] sergioeliot2039 commented on #4086
HI @ggtw86 , on behalf of Pipedream, thanks for the request
And personally, congratulations on joining GitHub, the repo of choice for software developers.

We have an integration for CoinMarketCap -- https://pipedream.com/apps/coinmarketcap.
Can you have a look please?
Cheers,

[2022-08-25 17:40] #4086 closed

[2022-08-25 17:40] Wright-will opened #4090 "Clio [APP]"
**Name of app / service**
Clio

**Link to developer documentation**
[https://app.clio.com/api/v4/documentation](https://app.clio.com/api/v4/documentation)

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Would be nice to have a service that has full integration and additional programming options beyond Zapier.

**Are there specific actions, or triggers,

[2022-08-25 17:43] dylburger commented on #4087
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-08-25 17:46] sergioeliot2039 commented on #4090
Hi @Wright-will , thanks for the request!
Sergio here, I am in charge of new app integrations
I see we have Clio integrated -- https://pipedream.com/apps/clio

Regarding Action and trigger, can you be more specific please on which actions (which are essentially data we pull from the API) or triggers (which can be based on webhooks), please if you don't mind?
Happy to triage to the components dev t

[2022-08-25 19:47] dannyroosevelt opened #4093 "Update Vercel components for new auth strategy"
Vercel is encouraging integration partners to move away from OAuth and instead use Personal Access Tokens that users generate manually.

In order to support this new authentication strategy, we need to extend support for the existing triggers and actions to the new `vercel_token_auth` app. Similar to Brex, Docusign, and others, both apps should share all the component code.

[2022-08-25 19:52] dylburger opened #4094 "[FEATURE] Improve the AWS S3 upload action to not require base64-encoding the data"
AWS S3 should support uploading a string as content directly, instead of base64-encoding the data. We should revisit this action to simplify the upload for users. It would make sense to look at other platforms to see how they expose this interface via UI action.

[2022-08-25 19:56] lcaresia commented on #3816
@Hassan-Abbas-SQA Done!

[2022-08-25 20:36] dannyroosevelt commented on #4047
@marianheinsen to confirm, is this what you're looking for? Or something else?
https://pipedream.com/apps/youtube-data-api/triggers/new-subscriber

[2022-08-25 20:56] marianheinsen commented on #4047
@dannyroosevelt No that is not what I meant. The trigger should execute if I myself subscribe to another (any) YouTube channel

[2022-08-25 20:59] #3864 closed

[2022-08-25 21:36] dannyroosevelt commented on #4047
Got it, thanks. Are you interesting in developing that trigger on your own?

[2022-08-25 22:03] r-oleary opened #4095 "[APP] ProductBoard"
**Name of app / service**
ProductBoard

**Link to developer documentation**
https://developer.productboard.com/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
No workaround right now, this is preventing me from integrating Notion + PB

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action a

[2022-08-25 22:12] dylburger commented on #4095
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-25 22:37] sergioeliot2039 commented on #4095
Hi @r-oleary , thanks for the request.
We have created a basic integration, good for start creating other componentsn, would you mind give a quick test for us?
https://pipedream.com/apps/productboard
The trial was used to create it, but apparently API is disabled, only available on the Pro plan

Regarding Action and trigger, can you be more specific please on which actions (which are essentially d

[2022-08-25 23:05] r-oleary commented on #4095
Thanks!

Specifically I would like the ProductBoard action of Creating a Note:
https://developer.productboard.com/#operation/create_note

I will be pulling data from the Notion API, and then using this call to
push that data to ProductBoard.

On Thu, Aug 25, 2022 at 3:37 PM Sergio E. Rodríguez Wong <
***@***.***> wrote:

[2022-08-25 23:29] dylburger commented on #4036
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-08-25 23:29] #4036 closed

[2022-08-26 00:19] sergioeliot2039 opened #4096 "[ACTIONS, SOURCES] Productboard new components"
**App**
Productboard

**Actions**
Create Note
Create Feature
Get Feature
List Features
Update Feature

**Triggers**
New Note
New Feature
Updated Feature

Requested by user on issue https://github.com/PipedreamHQ/pipedream/issues/4095 along the app integration
API docs at -- https://developer.productboard.com/#section/Introduction
Webhook available for sources -- https://developer.productboard.com/

[2022-08-26 00:20] sergioeliot2039 commented on #4095
Awesome!,

I have created a new issue to track Productboard componentes, fllow if you'd like.
https://github.com/PipedreamHQ/pipedream/issues/4096

[2022-08-26 00:20] #4095 closed

[2022-08-26 00:20] #3816 closed

[2022-08-26 02:52] vunguyenhung opened #4099 "[BUG] Data Store - `Key` Prop show error when `Data Store` prop is not filled"
**Describe the bug**
On Data Store actions having `Key` prop, the `Key` prop will show error when `Data Store` prop is not filled: `Cannot read property 'keys' of null`
![FireShot Capture 159 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277920/186806036-649d915a-da52-437e-a2da-9355e2c68132.png)

**To Reproduce**
Steps to reproduce the beh

[2022-08-26 04:50] andrewjschuang commented on #4094
@dylburger a `File Upload` button would be a good prop for this action, and also to many others (like email attachments). I think we can't accept a string because binary data can't be represented directly as a string, only through formats like Base64.

But there is also another action - S3 Stream File - which accepts an URL.

[2022-08-26 08:05] Hassan-Abbas-SQA commented on #3988
Test is completed, previous errors are gone.
But I didn't see Updated Contact event being emitted

[2022-08-26 11:00] #4087 closed

[2022-08-26 12:53] #4085 closed

[2022-08-26 13:27] alysonturing commented on #3210
@iRinG-RU please, can you generate a new access token, this one seems to be expired.

[2022-08-26 13:59] andrewjschuang commented on #4093
@dannyroosevelt what do you mean when saying **both apps**?
I only see one Vercel app

[2022-08-26 15:23] marianheinsen commented on #4047
I might when I have time for it. Is there a guide for contributors?

[2022-08-26 15:46] dylburger commented on #4096
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-08-26 15:47] michelle0927 commented on #3988
@Hassan-Abbas-SQA The Updated Contact source appears to be working for me. Did you sign up for the free Pro trial? The team-based webhooks require a Pro account.

[2022-08-26 16:31] dannyroosevelt opened #4102 "[ACTION] Google Workspace"
### App
`google_workspace`
https://developers.google.com/admin-sdk/directory/v1/guides/manage-group-members

### Actions
- Add members to a group
- Remove members from a group

[2022-08-26 16:38] dannyroosevelt commented on #4093
Oh haha whoops, I hadn't set the app live yet, so we didn't add to the components dir, but it should be there now 😄

[2022-08-26 16:45] dylburger opened #4103 "[BUG] @pipedream/rss package isn't on latest"
[See details here](https://pipedream-users.slack.com/archives/CPTJYRY5A/p1661503642166259?thread_ts=1661462665.751409&cid=CPTJYRY5A).

Open questions:

- Was this a blip with the `rss` package, or is it affecting other apps?
- Is it an issue with TypeScript components?

[2022-08-26 17:26] andrewjschuang opened #4104 "[BUG] ConfigurationError exception is not thrown in async options"
**Describe the bug**
`ConfigurationError` exception is not displayed in the Pipedream UI when thrown from a prop's `async options()`. Seems like this happens when a `console.log` or `$.export` executes before the thrown exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout the branch `configuration-error-async-options`
2. Create an Vercel `list-deployments` actions and configur

[2022-08-26 17:39] dannyroosevelt commented on #4047
Yep: https://pipedream.com/docs/components/quickstart/nodejs/sources/

[2022-08-26 18:37] theJenix commented on #332
Another use case would be using on-premises npm proxies like Sonotype Nexus or Artifactory; companies use these to control their software supply chain and prevent against supply chain attacks/npm poisoning.  In this case, I as a pipe dream user would need to be able to supply the url for my npm repo along with login and password; and I would expect pipe dream to resolve all npm dependencies thru t

[2022-08-26 20:14] garrettstark opened #4106 "[APP] Integration Request"
**Name of app / service**
Action Builder

**Link to developer documentation**
https://www.actionbuilder.org/docs/v1/index.html

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Preventing workflow.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open reque

[2022-08-26 20:15] garrettstark opened #4107 "[APP]"
**Name of app / service**
Action Network

**Link to developer documentation**
https://actionnetwork.org/docs

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Preventing work

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-08-26 20:50] dylburger commented on #4106
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-26 20:53] sergioeliot2039 commented on #4106
Hi @garrettstark , thanks for the request!

In order to create an account, a new user needs to schedule a demo or join the app which requires a payment of $50USD pero user.

Perhaps, if you are up to, can you share your API key, which you can revoke, and generate a new one, once the integration is completed.

For privacy sake, you may join our Pipedream-Users public space at Slack https://join.sla

[2022-08-26 21:08] Hassan-Abbas-SQA commented on #3988
Yes I signed up for the Pro account

[2022-08-26 21:57] dannyroosevelt commented on #4107
@garrettstark can you help confirm if this works for you, since we aren't able to easily get a test API key to validate? https://pipedream.com/apps/action-network

[2022-08-26 21:57] dannyroosevelt commented on #4107
And you you looking for specific triggers and actions for this app?

[2022-08-26 21:59] dannyroosevelt commented on #4106
@garrettstark can you help confirm if this works for you, since we aren't able to easily get a test API key to validate?
https://pipedream.com/apps/action-builder

[2022-08-26 21:59] dannyroosevelt commented on #4106
And are you looking for specific triggers and actions for this app?

[2022-08-26 22:18] dannyroosevelt commented on #182
This is in progress here: https://github.com/PipedreamHQ/pipedream/issues/4064

[2022-08-26 22:18] dannyroosevelt commented on #2166
This is in progress here: https://github.com/PipedreamHQ/pipedream/issues/4064

[2022-08-26 23:29] dylburger commented on #3308
I'm closing this since the app is integrated, but let us know if you have any issues or questions about the integration

[2022-08-26 23:29] #3308 closed

[2022-08-27 14:53] michelle0927 commented on #3988
Hmmm, is the event arriving from the webhook and then not being emitted, or is the the webhook never sending the event? If the event is being received and appearing in the logs, could you screenshot the data/body from it?

[2022-08-27 19:13] ljdatasci commented on #4057
@dylburger @sergioeliot2039 I'm having issues with creating actions for the PR.  The integration requires an API_KEY, which I added, but there's no way of clearing out the API_KEY in the action configuration:
![Screen Shot 2022-08-27 at 3 08 37 PM](https://user-images.githubusercontent.com/52286551/187044671-451d0462-6ddf-43bd-8d87-88777a9df2eb.png)
When I test the component, create-component acti

[2022-08-28 05:01] dylburger commented on #4094
@andrewjschuang That makes sense. Thanks for the detail.

How would you envision the file upload prop working? Should we support one of 1) base64-encoded string or 2) a reference to a file on the /tmp? That is, I could provide data in many different formats, depending on how it arrives, but only one data prop is required.

[2022-08-28 18:27] LucBerge opened #4112 "[APP] Enedis"
**Name of app / service**
Enedis

**Link to developer documentation**
[Data-connect](https://datahub-enedis.fr/data-connect/)
[Official documentation](https://datahub-enedis.fr/data-connect/documentation/metering-data-v4/)

**Is lack of support preventing you from building workflows, or do you have a workaround?**
No

**Are there specific actions, or triggers, you'd like to see for this app? Pleas

[2022-08-28 19:03] LucBerge opened #4113 "[FEATURE] Improve Nordigen app"
**Is your feature request related to a problem? Please describe.**
In the Nordigen app, when choosing a country, pipedream asks for a two letters code. If you enter `US`, it won't work because the Nordigen app works only for [the following countries](https://nordigen.com/en/coverage/).

**Describe the solution you'd like**
Change the [country prop](https://github.com/PipedreamHQ/pipedream/blob/5de

[2022-08-29 04:14] dannyroosevelt commented on #3928
I sent an note to their team

[2022-08-29 04:53] dannyroosevelt commented on #4113
Hey @LucBerge thanks for the suggestion!

I don't see an API endpoint to retrieve that list dynamically, in case the list changes. For now I just added that link to the prop description to help users double check.

Let me know if that's sufficient for now and we can close this out.

![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/187125617-1c4a619b-3ff4-4912-92e

[2022-08-29 12:30] vunguyenhung opened #4114 "[ACTION] Mailchimp - Add Member to List"
**Is there a specific app this action is for?**
Mailchimp

**Please provide a link to the relevant API docs for the specific service / operation.**
https://mailchimp.com/developer/marketing/api/list-members/add-member-to-list/

![FireShot Capture 167 - Add member to list - Mailchimp Marketing API Reference - Mailchimp De_ - mailchimp com](https://user-images.githubusercontent.com/18277920/18720112

[2022-08-29 12:31] dylburger commented on #4114
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-08-29 13:34] ctrlaltdylan opened #4116 "[BUG] Formstack - Instant Submission `Handshake Validator` error"
**Describe the bug**
When attempting to use the Handshake Validator Instant Submission source, an error is thrown in the source logs:

`Handshake Validator is not equal to the access token`

**To Reproduce**

Customer reported this issue over email.

They have tried removing their account, recreating the source and the same issue occurs.

**Screenshots**

From customer:

<img width="1606" alt="230

[2022-08-29 14:09] garrettstark commented on #4106
Action Builder was able to work, thanks!
Best,
Garrett

On Fri, Aug 26, 2022 at 4:59 PM Danny Roosevelt ***@***.***>
wrote:

[2022-08-29 14:22] garrettstark commented on #4106
Hi,

I get a 403 Forbidden error on this.
I turned on 'allow Pipedream support to access' at:
***@***.***/run-node-js-with-the-action-network-api-p_D1Cwexq/

I hadn't realized Action Network has a webhook function already so this
might not be as needed.
https://actionnetwork.org/docs/webhooks
Generally the most useful triggers are already listed there.

While it's maybe less important to set up a

[2022-08-29 15:03] dylburger commented on #4112
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-08-29 15:37] dylburger commented on #4112
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-29 15:39] vunguyenhung commented on #4116
Hello @ctrlaltdylan @ZhymonNorman, I can reproduce this bug
![FireShot Capture 187 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277920/187239071-2755850e-fdf1-40a5-8bae-9ad2c7fb3ad9.png)

Step to reproduce for me is to create the source, emit some events by submitting some forms, then wait for 5-10 minutes before submitting the form again

[2022-08-29 16:51] andrewjschuang commented on #4094
@dylburger I just tested the `Attachments` part in a Workflow Settings. A prop like that would be perfect, uploading it to `/tmp` and referencing the path. Then the action would convert it to `base64` and upload it.

We could also change the description to instruct the user to do all of that manually, but with a prop everything would be automatic.

[2022-08-29 17:10] #4064 closed

[2022-08-29 17:20] #3858 closed

[2022-08-29 17:36] #3972 closed

[2022-08-29 17:49] dannyroosevelt commented on #4106
@garrettstark it looks like part of the code snippet got deleted somehow. Can you try adding that step again? You should see this:

[code]

[2022-08-29 20:13] dannyroosevelt opened #4120 "[TRIGGER] Update Hubspot Sources to use Webhooks"
We should update all relevant Hubspot sources to use webhooks instead of polling, wherever possible.
https://developers.hubspot.com/docs/api/webhooks#create-a-new-subscription
App ID: `208642`

Let's make sure to support the logic outlined in [this ticket](https://github.com/PipedreamHQ/pipedream/issues/3332) as well.

[2022-08-29 20:55] #3812 closed

[2022-08-29 22:34] dannyroosevelt opened #4121 "Extend Gmail components to gmail_custom_oauth app"
Similar to Brex, Docusign, etc, extend support for all the `gmail` components to the `gmail_custom_oauth` app.

Note that the app is currently hidden from the UI, so you won't be able to test until I enable it publicly.

[2022-08-29 22:56] dylburger commented on #4104
This should be completed! Please let us know if you see any issues

[2022-08-29 22:56] #4104 closed

[2022-08-30 14:53] ctrlaltdylan opened #4123 "[TRIGGER] Ecwid Events"
Below is a source request for Ecwid webhooks from @trendoscope-algorithms . This was originally posted in the [Pipedream Community](https://pipedream.com/community/t/ecwid-integration-enhancements/3082)

Ecwid API documentation:

https://developers.ecwid.com/ecwid-api

----

Hi all,

I see that new component created for Ecwid which is very basic at present. And it can only call Ecwid API to get ce

[2022-08-30 15:23] vunguyenhung commented on #4123
Hello, I have also checked Ecwid doc and deemed that we need to create Pipedream app on Ecwid first in order to setup Webhook. Hence, I will add this to our Apps & Integrations backlog 🙏

[2022-08-30 15:24] dylburger commented on #4123
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-08-30 15:31] ctrlaltdylan commented on #193
Hi @djpecot , yup I follow!

Though I'm curious how your data is being passed to the `records` prop is sometimes an array and sometimes a single object.

What's the source of your data if you don't mind me asking?

[2022-08-30 18:59] #4121 closed

[2022-08-30 19:06] dannyroosevelt commented on #4089
And Hubspot it sounds like

[2022-08-30 19:07] dannyroosevelt commented on #4089
I don't understand -- is there any reason this would be app-specific?

[2022-08-30 19:15] andrewjschuang commented on #4089
Not sure, looks like some apps, when you create a new account, they don't automatically create a nickname for that account. For example, this one was auto-generated:

![Screen Shot 2022-08-30 at 4 14 33 PM](https://user-images.githubusercontent.com/15385076/187523911-d1a4255a-adc0-4c3e-a332-314017e25f66.png)

[2022-08-30 19:42] bsommardahl commented on #4102
I tried this one just now and got an error when I tried to connect my workspace admin account. Upon a google, I was instructed to "allow" the oauth requestor. Here are the instructions I followed: https://support.zendesk.com/hc/en-us/articles/4408830961818-Authorization-Error-Error-400-admin-policy-enforced -- The problem I hit was knowing which oauth requestor to choose. Maybe I was following the

[2022-08-30 19:44] jakerobinson opened #4127 "[BUG] Jira component only shows first 50 projects"
**Describe the bug**
When creating an action with the Jira component, only 50 projects are shown, and no more can be loaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new action
2. Select Jira app
3. Select Create Issue
4. If you have more than 50 Jira projects, only the first 50 (alphabetically) will be available.

**Expected behavior**
I should be able to load more Jira projec

[2022-08-30 19:52] ctrlaltdylan opened #4128 "[BUG] Monday.com - Create Item - not respecting Item Column Values"
**Describe the bug**

Using the built-in create_item for [Monday.com](http://monday.com/) I am able to create the item, but the Item column values are not being set.

**To Reproduce**
1. Create a Monday.com - Create Item action in a workflow
2. Set custom Item Column Values
3. Test
4. See a success message from the action

**Expected behavior**
Expected Behavior: On Create Item action, when I sele

[2022-08-30 22:01] Hassan-Abbas-SQA commented on #4093
@dannyroosevelt The Token based Auth works fine for me tested using trigger but there is a problem iam having while publishing the actions
<img width="920" alt="image" src="https://user-images.githubusercontent.com/104946677/187551504-58ce88b8-6ece-4f7e-9400-339ffe2b3fd8.png">

[2022-08-30 22:18] djpecot commented on #193
@ctrlaltdylan It's a webhook that's hitting me with a variable amount of objects (Toggl). It was hitting me with either an array or a single object as I recall, so had to account for it.

[2022-08-31 12:15] andrewjschuang commented on #4093
Can you try to publish them individually?

[2022-08-31 13:16] vunguyenhung commented on #4093
@Hassan-Abbas-SQA sorry for bump in here, I've checked your issue briefly and I think it might be a problem with `pd-scripts`. I can publish the action using `pd publish` normally
![image](https://user-images.githubusercontent.com/18277920/187687151-bca3f69e-b610-4bcd-a51a-71a8e4de9434.png)

Hence I will move this back to Ready for QA 🙏

[2022-08-31 13:19] vunguyenhung commented on #3988
Hello @Hassan-Abbas-SQA, just to push things forward as this ticket has been hanging for 4 days. Do you have time to describe your failed test cases to @michelle0927?

Could you provide source logs, as well as steps to reproduce to help @michelle0927 reproduce the bug on her side?

In the meantime while the bug is still needed next action from QA, I will move this back to Ready for QA

[2022-08-31 13:29] Hassan-Abbas-SQA commented on #4093
Its working 💯 Fine ready to GO
![image](https://user-images.githubusercontent.com/104946677/187690065-c69d1e82-185f-4764-8487-4f63ea19188b.png)

[2022-08-31 13:38] #4093 closed

[2022-08-31 14:38] vunguyenhung commented on #4127
I have checked this bug and it seem like in the source there's [a helper function to paginate JIRA resources (Project, Issue, etc...)](https://github.com/PipedreamHQ/pipedream/blob/68920cff64e1c152c7de9da480103c05bd48a17a/components/jira/jira.app.mjs#L458), but it have not been applied to Project and Issue props.

Though I would suggest the expected behavior to **show first 50 items**, and when us

[2022-08-31 14:48] dangub commented on #4120
I have a hunch for why this wasn't implemented. The hubspot subscription api requires a developer account API key - not OAuth api key - to create a subscription. So, it's wouldn't be possible for each component to create its own subscription to an event like `"deal.propertyChange"` for the account they are connected to.

[2022-08-31 14:48] Pierre-Ars opened #4133 "https://github.com/Rajawat23/EthiasUtilsNotebook"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-08-31 15:19] ctrlaltdylan commented on #4120
@dannyroosevelt could we set up a second Hubspot app, much like we do for Twitter vs Twitter Developer App?

Then @dangub and others could use their own account API key and utilize webhooks?

[2022-08-31 15:22] vunguyenhung commented on #4128
I can reproduce this bug. More detail,

I fetch all Columns in the Board
![FireShot Capture 512 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277920/187715569-54bc367d-575f-4d47-8741-8a05d558bd3d.png)

When I add the Column Value with the format `{"id": "column-id", "value": "column-value"}`, there's no value set in Monday.com
![FireShot C

[2022-08-31 16:30] dannyroosevelt opened #4135 "[FEATURE] Improve usability for understanding which account I've connected to an app"
Currently, when I connect my Slack, Discord, and many other accounts, I often cannot differentiate between Slack Workspaces, Discord Guilds, etc. This is a common problem across many apps. I'd like to see more helpful contextual information on the auth provision, so that I can understand what account is connected.

[2022-08-31 16:35] dannyroosevelt opened #4136 "[BUG] pCloud Watch Folder trigger does not pick up events"
From a user report:

2 potential issues to verify:
1. Folder prop potentially not working consistently
2. The Watch Folder source not picking up events

[2022-08-31 18:07] michelle0927 commented on #4128
I found that the `create-item` action does work when the Item Column Values are entered this way:

<img width="1037" alt="Screen Shot 2022-08-31 at 1 28 39 PM" src="https://user-images.githubusercontent.com/10889229/187748206-91f4ff28-a997-423a-9222-237e469d6148.png">
However, I agree that it makes sense to have `additionalProps` for entering the column values. I created a PR #4137 to address the

[2022-08-31 20:38] dannyroosevelt opened #4138 "[FEATURE] If only 1 connected account exists for an app, select that by default"
Suggestion from a user: https://pipedream-users.slack.com/archives/C01E5KCTR16/p1661955460385759

[2022-08-31 20:39] dannyroosevelt opened #4139 "[BUG] Updating required props in ClickUp components"
It appears we are flagging "workspace" and "space" props as `optional` in the Create Task action for ClickUp, but if those are not provided, then async options fails for the "folder" prop, which is required.

We should confirm which fields are required for all ClickUp components, and update accordingly.

Reported by a user here: https://pipedream-users.slack.com/archives/C01E5KCTR16/p1661955460385

[2022-08-31 21:08] dannyroosevelt commented on #4120
Oh, yes or it sounds like we may want to configure an apphook to make this work more seamlessly. I'll run this by eng to make sure my understanding is correct.

Good catch @dangub!

[2022-09-01 00:14] zalmanlew commented on #4138
This would be great, I would add that even if there were _multiple_ accounts - it could allow the user to select a specific account as the "default" account.
This also just means that the first account for a given app defaults to be the "default" account (the user can obviously change this in the future).

[2022-09-01 00:28] vunguyenhung commented on #4136
Hello @dannyroosevelt,

I can confirm that the Watch Folder source only show the past event and does not pick up new events. More detail:
I created the Watch Folder source on "My Video" folder
![FireShot Capture 514 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277920/187807007-823bf1ab-946e-4c4a-b62b-7d142aecbebb.png)

Then I uploaded som

[2022-09-01 09:51] TinaNikolic opened #4142 "[BUG] Gorgias trigger"
**Describe the bug**
When creating a trigger for a new ticket created in Gorgias, if there was a ticket deleted in the meantime, an error pops up and the trigger cannot be set and flow completed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your Pipedream account > Workflows
2. Click on add new workflow
3. Search for an app > Gorgias
4. Select a trigger > New ticket
5. Connect your

[2022-09-01 12:12] mohammadapsar opened #4143 "I man Learning unreal engine 5 in Udemy when I right this code it didn't work as expected [BUG]"
**my void name didn't set in C++, I am only able upload photo of it**
![Screenshot (104)](https://user-images.githubusercontent.com/112628764/187910872-57542571-2147-413a-8c1e-edf0d7baec7d.png)
![Screenshot (105)](https://user-images.githubusercontent.com/112628764/187910890-609a6a64-a8c7-42df-a99a-553cddf64be9.png)

[2022-09-01 13:45] bsommardahl commented on #3966
I am adding functionality to send an email both with normal body and via template. That should be coming through in a few minutes. 🚀

[2022-09-01 14:12] Hassan-Abbas-SQA commented on #4128
When i tried to create an item iam getting this error
<img width="908" alt="image" src="https://user-images.githubusercontent.com/104946677/187935345-4d959580-27dc-43c2-83e8-13657c94587d.png">
<img width="908" alt="image" src="https://user-images.githubusercontent.com/104946677/187935494-731eab15-1f17-4651-bb98-8257b09db1a1.png">

[2022-09-01 14:25] michelle0927 commented on #3988
@Hassan-Abbas-SQA The first attempt above is the one that should work. Can you tell me which contact field you're updating? First Name, Last Name, Role, and Email have all worked to trigger the webhook for me.

<img width="1177" alt="Screen Shot 2022-09-01 at 10 21 42 AM" src="https://user-images.githubusercontent.com/10889229/187938454-636e8500-8473-48f2-be71-a7cb5191fa21.png">

[2022-09-01 15:05] Hassan-Abbas-SQA commented on #3988
As i have tested this trigger with michelle i have found that this trigger works fine as expected so iam moving this ticket to ready for release

[2022-09-01 15:08] ctrlaltdylan commented on #4143
Hi @mohammadapsar ,

Sorry, I'm not sure which project you intended to report this bug on, but Pipedream doesn't support C++ in code steps. I think perhaps you intended to report this somewhere else.

[2022-09-01 15:08] #4143 closed

[2022-09-01 15:26] schisamo opened #4145 "[BUG] Can't pass valid JSON to send_message_public_channel metadata event payload"
**Describe the bug**
The `send_message_public_channel` Workflow step will not accept dynamic valid JSON objects in the  _Metadata Event Payload_ config input. This config is expected valid JSON. From the error being returned it appears Pipedream is attempting to parse the valid JSON an additional time.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workflow.
2. Add a `send_message_

[2022-09-01 15:36] ctrlaltdylan commented on #4145
Hi @schisamo thanks for the detailed bug report!

Have you tried passing a JSON-as-string argument to the _Metadata Event Payload_ prop?

`{{ JSON.stringify(steps.build_slack_message.$return_value.slack_message_metadata) }}`

I believe the props data should be serialized to a string by default, but it's worth a shot.

[2022-09-01 15:43] mohammadapsar commented on #4143
This fixes

[2022-09-01 16:14] michelle0927 commented on #4128
@Hassan-Abbas-SQA For `person`, the API is expecting a user ID. For `status`, it's expecting a status ID/index (https://view.monday.com/1073554546-ad9f20a427a16e67ded630108994c11b?r=use1). The status indexes are associated with a color, and the labels (Done, Working on it, etc.) are customizable by the user.

We won't know for sure what kind of columns the user's board has, but I updated the compo

[2022-09-01 16:20] ctrlaltdylan commented on #4145
No problem :) @schisamo

If you're up for it, could you open a new issue as a feature request? I think perhaps the prop could be improved to accept _either_ an string or an object.

[2022-09-01 16:20] #4145 closed

[2022-09-01 16:38] Hassan-Abbas-SQA commented on #4128
@michelle0927 Working Fine
<img width="908" alt="image" src="https://user-images.githubusercontent.com/104946677/187966952-2280470e-6122-40ee-9156-a0b297d63e2b.png">

<img width="908" alt="image" src="https://user-images.githubusercontent.com/104946677/187967035-8a8d277a-7e01-4fb8-b8d7-6dd030202ccb.png">

[2022-09-01 16:47] #4128 closed

[2022-09-01 17:29] franceme opened #4146 "Overleaf"
**Overleaf**

**[Link to developer documentation](https://www.overleaf.com/devs)**

**There currently is a work around, as Overleaf supports basic git. **

**As a writer I would like to be able to get a notification or automatically send out copies when certain stages of writing are complete. The only indication that might support this from Overleaf are labels. You can specify specific revisions a

[2022-09-01 17:56] garrettstark opened #4147 "[ACTION] Request: List / Get Zoom Registrations"
**Is there a specific app this action is for?**
Zoom / Zoom Admin

**Please provide a link to the relevant API docs for the specific service / operation.**

I *think* you can get registration data out with the API.
I'm able to get attendance records, but Ideally we can match them to registration.
https://marketplace.zoom.us/docs/api-reference/introduction/

[2022-09-01 18:24] garrettstark opened #4148 "[APP]"
**Name of app / service**
Zoho Sheet

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Yes, no workaround

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

https://www.zoho.com/sheet/developers.

[2022-09-01 18:59] dylburger commented on #4148
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-01 19:14] franceme opened #4149 "[ACTIONS, TRIGGER] - Splitwise new components"
**App**
Splitwise
https://dev.splitwise.com/

**Currently there is no workaround.**

**I would like to have triggers that indicate new payments are made (to/from myself), groups are made, and re-occuring notices about debts. I would also like to get the amount balance from each payment, current payments, and information about each information (amount, to-from, photo, details). As a stretch I would

[2022-09-01 19:47] #3735 closed

[2022-09-01 19:57] franceme opened #4150 "[ACTION, TRIGGERS] - Google Analytics new components"
**Google Analytics**

**[Link to developer documentation](https://developers.google.com/analytics/devguides/reporting/core/v4)**

**As far as I know there is no workaround.**

**I would like to be able to retrieve analytics for a custom website on specific time cycles. I would also like to setup alerts if a specific page is opened.**

[2022-09-01 20:21] dannyroosevelt commented on #4148
@garrettstark here is a basic integration for Zoho Sheet: https://pipedream.com/apps/zoho-sheet/

Please let me know if that works for you.

Are there specific triggers or actions you're looking for?

[2022-09-01 20:29] schisamo opened #4151 "[FEATURE] send_message_public_channel metadata event payload should accept either a string or JSON object"
**Is your feature request related to a problem? Please describe.**
Full details on #4145

**Describe the solution you'd like**
The _Metadata Event Payload_ input property on the `send_message_public_channel` step accepts both a string or JSON object.

**Do you have a workaround?**
Yes. `JSON.stringify` can be used to convert the JSON object to a string.

[2022-09-01 20:39] dylburger commented on #4146
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-01 21:08] dylburger commented on #4149
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-09-01 21:14] sergioeliot2039 commented on #4149
@franceme  As a head up, I checked the Splitwise API

These are the components that I see feasible by looking at the API, but please feel free to correct
For developers: No webhooks supported, Sources would need to be poll based.

**Actions**
Create Expense
Get Expense Information

**Sources**
New Expense
New Group
New Notification

[2022-09-01 21:55] sergioeliot2039 commented on #4150
**App**
Google Analytics

**Actions**
Run Report

**Sources**
Page Opened

For developers, here's a heads up
Run Report is common action on other integration platform, I guess specifying the website would be part of the query to run the report against, which may include a hostname/url dimenion
unsure if the right endpoint is Run Report (shows as v1 of GA API), or batch Get
https://developers.googl

[2022-09-01 21:55] dylburger commented on #4150
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-09-01 23:29] dylburger commented on #4090
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-01 23:29] #4090 closed

[2022-09-02 00:29] GiZmoFalcon opened #4152 "[BUG] property.map.value is not a function, when pushing data to notion database."
I'm facing an issue here where the UI shows the properties selected, I can fill the value for each property,

<img width="794" alt="image" src="https://user-images.githubusercontent.com/16624267/183203956-d47f8d73-43f8-4c8d-a855-e8f487fb6546.png">

but it errors out after running saying ```property.map.value``` is not a function.

And in the "inputs" section of the request, I see that the property

[2022-09-02 01:12] cyberdee opened #4153 "Erpnext [APP]"
**Name of app / service**: ERPNEXT

**Link to developer documentation**: https://docs.erpnext.com/

**Is lack of support preventing you from building workflows, or do you have a workaround?** We have a workaround

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-09-02 02:08] dylburger commented on #4153
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-02 02:17] #4116 closed

[2022-09-02 02:19] andrewjschuang commented on #4152
Hey @GiZmoFalcon, can you try inputting `[ "test" ]` for the prop `tags`?

[2022-09-02 05:36] MaheshKungaria opened #4154 "Data sorting is getting changed in CSV file than report data when using Export CSV option [BUG]"
**Describe the bug**
When exporting data of Superset report Chart Type - "Pivot Table v2" into CSV file then its changing the sorting order of data into the CSV file.

Sample screenshots:
![issue_screen](https://user-images.githubusercontent.com/112639146/188065263-4dc08238-f8a0-4365-9c07-e56a64ff5fa3.jpg)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a report of Chart Type - "Pivot

[2022-09-02 05:53] SwethaKumaravel opened #4155 "instagram[APP]"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-09-02 07:06] SwethaKumaravel opened #4156 "instagarm[APP]"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-09-02 12:23] carlobernasconi opened #4157 "Viessman heating"
**Viessman developer**

**[Link to developer documentation](https://documentation.viessmann.com/static/getting-started)**

**Oauth2 lack**

**Authetication so far**

[2022-09-02 12:29] luancazarine commented on #3853
@dylburger
There are some needs

Action - upload file
    SCOPE: WorkDrive.files.CREATE

Action - create team folder
Action - find folder
Action - find or create folder
Source - New Team Folder
    SCOPE: WorkDrive.teamfolders.READ

Action - create-file-from-text
    The API allows creating a file but not putting a text into it

[2022-09-02 14:24] danielsawan opened #4158 "[ACTION] Move Pcloud files / directories to another Folder"
**Is there a specific app this action is for?**
Pcloud

**Please provide a link to the relevant API docs for the specific service / operation.**
This can be achieved using pCloud [`renamefile` API](https://docs.pcloud.com/methods/file/renamefile.html) and [`renamefolder` API](https://docs.pcloud.com/methods/folder/renamefolder.html)

---
For better UX, I would suggest we create 4 new actions:
- Mo

[2022-09-02 16:35] franceme commented on #4146
Just as a quick addendum to the current actions/triggers, I would also like an action/trigger to be available to syncing the internal Overleaf git repository to the linked GitHub repository. Currently, there is no auto-sync between the two repositories but ideally, any changes (based on a time sync or label sync from Overleaf and a Commit/Release from GitHub) should correspond to the other reposit

[2022-09-02 18:05] garrettstark opened #4161 "[ACTION] Zoom Admin: List participants of meetings, where admin-user is not the meeting host"
**Is there a specific app this action is for?**

Zoom Admin

Problem Description:
https://docs.google.com/document/d/1zhmNMcTVl5stx1-wkc47GCeNAAcy06CzmFXbfYSM2RQ/edit?usp=sharing

**Please provide a link to the relevant API docs for the specific service / operation.**
https://marketplace.zoom.us/docs/api-reference/

[2022-09-02 23:17] dylburger commented on #4154
@MaheshKungaria it looks like you meant to open this in the Superset repo. This doesn't look like a bug in Pipedream, so I'm closing.

[2022-09-02 23:17] #4154 closed

[2022-09-02 23:18] dylburger commented on #4154
@MaheshKungaria it looks like you meant to open this in the Superset repo. This doesn't look like a bug in Pipedream, so I'm closing.

[2022-09-02 23:29] dylburger commented on #4107
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-02 23:29] #4107 closed

[2022-09-02 23:49] dylburger commented on #4157
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-02 23:58] sergioeliot2039 commented on #4155
Hi @SwethaKumaravel , we are tracking Instagran here https://github.com/PipedreamHQ/pipedream/issues/445
IT is pending approval by Facebook, feel free to follow, if you'd like

[2022-09-02 23:58] #4155 closed

[2022-09-03 00:00] sergioeliot2039 commented on #4156
HI @SwethaKumaravel , thanks for the request!
Can you please share the URL for that app?
or did you mean Instagram?

[2022-09-03 14:03] Hassan-Abbas-SQA commented on #4152
@GiZmoFalcon @GiZmoFalcon First TestCase for running this action in a simple way and selecting tags from already provided values it seems to be working fine for me
<img width="905" alt="image" src="https://user-images.githubusercontent.com/104946677/188273847-c347b7d7-534e-46fa-b628-b7c8f326dbd5.png">
<img width="905" alt="image" src="https://user-images.githubusercontent.com/104946677/188273865-c

[2022-09-03 14:08] Hassan-Abbas-SQA commented on #4152
@andrewjschuang @GiZmoFalcon Second TestCase: iam inserting Tags as Andrew described ["Test"] as custom value but it didn’t work for me may be Notion only wants you to select the already available tags and not insert any of custom values in it

<img width="905" alt="image" src="https://user-images.githubusercontent.com/104946677/188274118-7bfe5e9c-528f-4063-9c52-4834f3e3413e.png">
<img width="905"

[2022-09-03 14:55] Hassan-Abbas-SQA commented on #4142
for me this trigger works fine tested multiple scenarios but i couldn’t find any issue iam closing the ticket right now may be you should reconnect your account and try a different browser if it doesn’t help you can reopen this issue later thanks  @TinaNikolic
<img width="905" alt="image" src="https://user-images.githubusercontent.com/104946677/188276100-3873cb6e-15db-4158-acb9-9f8e8ce0a4dd.png">

[2022-09-03 14:57] #4142 closed

[2022-09-04 13:15] trendoscope-algorithms commented on #4123
Can you guys tell me how does the app creation works right now? Will there be new app generated for every integration or is it a single app which is just installed on different stores?

[2022-09-04 17:49] #3544 closed

[2022-09-04 18:27] nkav opened #4165 "[BUG] New Item from Multiple RSS Feeds not working"
**Describe the bug**
Having issues with Pipedream reliably triggering when I am tracking multiple RSS feeds. Often times no new triggers will happen even as I know the RSS feeds are being updated with new items.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Pipedream and set up the "New Item from Multiple RSS Feeds" Trigger
2. Add multiple feeds (ideally 8-10)
3. Set up the feed to t

[2022-09-05 11:17] vunguyenhung opened #4166 "[BUG] Can not create Salesforce Instant sources"
**Describe the bug**
First reported by a customer here: https://pipedream-users.slack.com/archives/CPTJYRY5A/p1662346083419929

it seems I can't create a Salesforce source for instant updates (I have tried this with a few other tools and works just fine so I don't believe its permissions related). Keep getting "Create webook error"
<img width="1187" alt="image" src="https://user-images.githubuserc

[2022-09-05 12:52] vellames commented on #3780
SignWell open API looks in early access and we need to request access. Waiting answer

[2022-09-05 15:25] dylburger commented on #4161
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-05 15:34] dylburger commented on #4158
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-05 15:41] vunguyenhung commented on #4147
Hello @garrettstark, as I checked, Pipedream is providing some actions for listing registrants:

List Meeting Registrants
![FireShot Capture 205 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277920/188482880-4f3525bd-0458-4b95-ad1d-ec54bb6f17b0.png)

List Webinar Registrants
![FireShot Capture 206 - Pipedream - Connect APIs, Remarkably Fas

[2022-09-05 16:00] vunguyenhung commented on #4135
Hello @dannyroosevelt, I believe this improvement needed to be done on Pipedream internals. So I will add `tracked-internally` label.

Please tell me if any change is needed 🙏

[2022-09-05 18:07] dylburger commented on #4165
@vunguyenhung Did you see anything in the source logs that would suggest a specific error? e.g. did it appear to timeout trying to fetch records from all 7 feeds?

[2022-09-05 23:29] dylburger commented on #4113
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-05 23:29] dylburger commented on #4106
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-05 23:29] #4106 closed

[2022-09-05 23:54] Stvad commented on #3047
Triggers similar to other chat platforms would be great.

One way to implement this would be to poll recent messages regularly, another is to integrate with their https://spec.matrix.org/unstable/client-server-api/#push-notifications which should allow you to subscribe to push notifications on new messages

[2022-09-06 00:25] vunguyenhung commented on #4165
Hello @dylburger, here's the log for RSS multiple feeds source with 7 sources
![FireShot Capture 523 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277920/188523294-50b82757-3e49-4c74-8f4f-1c3b00f59e33.png)

It does not throw error, but it does not log the suggest log either.

Here's the log for RSS multiple feeds source with 2 sources
![Fi

[2022-09-06 00:39] dylburger commented on #4057
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-06 00:39] dylburger commented on #4056
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-06 01:01] dylburger commented on #4165
Thanks!

[2022-09-06 08:00] sweepy84 commented on #4166
Happy to provide some time to help debug this. Timezone - AEST

[2022-09-06 09:40] Nicolrnt opened #4169 "[ACTION] Hubspot - Update contact"
**Is there a specific app this action is for?**
Hubspot

**Please provide a link to the relevant API docs for the specific service / operation.**
https://legacydocs.hubspot.com/docs/methods/contacts/update_contact
[https://developers.hubspot.com/docs/api/crm/contacts#endpoint?spec=PATCH-/crm/v3/objects/contacts/{contactId}](https://developers.hubspot.com/docs/api/crm/contacts#endpoint?spec=PATCH-/

[2022-09-06 13:49] vunguyenhung commented on #3966
Hello @bsommardahl, I'm re-opening this issue as the code could not be compiled/published due to syntax error [as reported here](https://pipedream-users.slack.com/archives/G01K0RGR1QR/p1662423938425019) 🙏

[2022-09-06 13:55] ljdatasci commented on #4057
@dylburger Is this issue #4057 in the backlog?  It's still open under Issues.

[2022-09-06 14:05] ctrlaltdylan opened #4170 "[ACTIONS] New Lob actions"
**Name of app / service**

Lob

**Link to developer documentation**

https://docs.lob.com/

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

Please create the actions for integrating with the **Postcards** CRUD endpoint here: https://docs.lob.com/#tag/Postcards

We'll be us

[2022-09-06 15:50] #3815 closed

[2022-09-06 15:54] #4136 closed

[2022-09-06 16:12] andrewjschuang opened #4172 "[FEATURE] Add GH PR Check for TS Compile Phase"
**Is your feature request related to a problem? Please describe.**
Currently, there are no PR Checks that verify if a TS component was successfully compiled before publishing to Pipedream Registry after a merge.

**Describe the solution you'd like**
A GH PR Check that will (only for `.ts` files):
- [x] Verify if there is all the necessary files and directory structure mentioned in the docs.
- [x]

[2022-09-06 22:28] dylburger opened #4173 "[BUG] Errors in inspect mode don't show stack trace"
When a step throws an error, I can't see the stack associated with the error in the event inspector:

<img width="480" alt="Screen Shot 2022-06-13 at 3 55 25 PM" src="https://user-images.githubusercontent.com/242668/188751546-78d2e5c0-d876-4bb5-9eb6-095b9a4a7c13.png">

[2022-09-06 23:01] Stvad commented on #1757
this is still an issue 🙁

[2022-09-06 23:52] dylburger commented on #563
You can now set an invocation budget, per day or per month, in your [Billing and Usage Settings](https://pipedream.com/settings/billing). [See the docs](https://pipedream.com/docs/user-settings/#invocation-budget) for more information!

[2022-09-06 23:52] #563 closed

[2022-09-06 23:58] vellames commented on #804
Hey @dylburger . Do we have an app for Google Assistant? I cant see it

[2022-09-07 00:01] dylburger opened #4174 "[APP] Google Assistant"
https://developers.google.com/assistant/sdk/reference/rpc

[2022-09-07 00:02] dylburger commented on #804
It doesn't look like it. I created another ticket and will mark this as blocked. Can you remove from the Component Dev board for now?

[2022-09-07 00:02] dylburger commented on #804
Blocked on #4174

[2022-09-07 00:23] nkav commented on #4165
Awesome, thank you for investigating here! Is there by any chance an ETA?

[2022-09-07 00:32] dylburger commented on #4165
@nkav I just moved it to the top of [our backlog](https://github.com/PipedreamHQ/pipedream/projects/1). Generally we can get any change out within 1-2 weeks. We track the status of the ticket at each stage in time (e.g. working on it, in QA, etc.) so you'll be able to follow here for updates. If you feel comfortable using [the Pipedream CLI](https://pipedream.com/docs/cli/reference/#cli-reference)

[2022-09-07 01:13] franceme opened #4176 "[APP] - WakaTime"
**[WakaTime](https://wakatime.com)**

**[Link to developer documentation](https://wakatime.com/developers)**

**There is a temporary workaround using custom code and connecting manually to the API?**

Actions:
* Retrieve Data for a specific day/week/etc... timeperiod
Triggers:
* if a certain productivity mark has been met

[2022-09-07 12:14] dylburger commented on #4176
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-07 12:15] dylburger commented on #4174
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-07 12:30] bsommardahl opened #4177 "[ACTION] Modify contact in GoHighLevel"
**Is there a specific app this action is for?**
GoHighLevel

**Please provide a link to the relevant API docs for the specific service / operation.**
https://public-api.gohighlevel.com/#1c7060e2-ebaf-4b5b-9248-be0292689bba

[2022-09-07 12:55] vunguyenhung opened #4179 "[BUG] Reddit: New Links on Subreddit source does not emit new events"
**Describe the bug**
Reddit - New Links on Subreddit source does not emit new events after creating

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new source Reddit: New Links on Subreddit, select the subreddit `aww` (A subreddit for cute and cuddly pictures)
2. Let it runs for 1 hour, observing that no new events were emitted when there's new subreddit
3. Observing the error log `

[2022-09-07 13:39] Hassan-Abbas-SQA commented on #4169
please provide the additional information so that we can proceed furthur

[2022-09-07 15:42] tskamaldeep opened #4180 "[BUG] Refresh not appearing for newly published action"
**Describe the bug**
After I publish a newer version of an action, I am not getting a refresh icon to move to the latest version of the action in my workflows page. This action is part of two workflows and I am not able to upgrade to the latest version in both. Please note this used to work fine without any issues during my previous use few months back.

**To Reproduce**
Steps to reproduce the beh

[2022-09-07 16:11] Hassan-Abbas-SQA commented on #3210
@iRinG-RU can you please provide a fresh access token so that i can test the final things and out this thing to ready for release so you can use it ASAP thanks

[2022-09-07 16:37] #3977 closed

[2022-09-07 16:45] Hassan-Abbas-SQA commented on #3210
@iRinG-RU https://github.com/PipedreamHQ/pipedream/issues/3977 i have moved the ticket for production please use this and let us know if you are facing any kind of problem with that so that we can fix it for you thanks

[2022-09-07 16:52] Hassan-Abbas-SQA commented on #4177
@bsommardahl please provide the additional information about this ticket so we can approve it and add it to our project board so that developers can start working on that like what triggers and actions you want devs to work on thank you

[2022-09-07 16:55] dannyroosevelt commented on #4176
@franceme here is a basic integration for WakaTime:
https://pipedream.com/apps/wakatime/

[2022-09-07 16:55] dylburger commented on #4176
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-07 16:58] dylburger commented on #4177
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-07 17:13] dylburger commented on #4169
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-07 17:23] vunguyenhung commented on #4166
Hello @jverce, could I request your help for this issue 🙏 ?

@sweepy84 is evaluating Pipedream Enterprise plan and want to use our Salesforce Instant sources, though he have an issue on his side when creating the source that I couldn’t reproduce.

Upon further checking, I see that our Pipedream instant source is using [`salesforce-webhooks` package (https://www.npmjs.com/package/salesforce-webhook

[2022-09-07 17:50] garrettstark commented on #4147
Hi,
I was starting to investigate 'listing participants'.
I haven't started working on registrations yet.
When I use Zoom Admin, for "List past meeting participants" unless I'm the
host of the meeting, despite being an Admin on the account, I'm not able to
access the records.
Our Zoom account has ~80 users who all create meetings.
I'm hoping there's a way I can create a single integration with pip

[2022-09-07 20:37] sparkyfen opened #4181 "[ACTIONS] CloudFlare new actions"
**Name of app / service** Cloudflare APIs

**Link to developer documentation** https://api.cloudflare.com/ & https://developers.cloudflare.com/analytics/graphql-api/

**Is lack of support preventing you from building workflows, or do you have a workaround?** No

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue te

[2022-09-07 20:42] dylburger commented on #4181
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-07 21:05] #4176 closed

[2022-09-07 21:06] franceme commented on #4176
Thank you for pointing this out, I did not realize this was here!

[2022-09-07 21:15] dannyroosevelt commented on #4176
Oh, it wasn't there prior to your request! We just integrated them after you requested 😄 🎉 🚀

[2022-09-07 21:24] dannyroosevelt commented on #4172
@js07 @dylburger either of you guys have any thoughts or feedback before Andrew dives in?

[2022-09-07 21:36] dylburger commented on #4172
No specific feedback, and I love the idea, Jacob gave a +1 in Slack too.

[2022-09-07 23:13] Stvad opened #4183 "[BUG] Running python step fails when it tries to install the wrong dependency"
**Describe the bug**
When running a python step that depends on `py-august` package that exports `august` package (and adding a dependency via magic comment). The executor still tries to install the `august` package which fails overall step because it depends on Rust (https://pypi.org/project/august/)

**To Reproduce**
Steps to reproduce the behavior:

Run the following  Python step
[code]

It'll

[2022-09-07 23:30] dangub opened #4184 "[FEATURE] Make it easier and less error prone to change an account for a workflow"
**Is your feature request related to a problem? Please describe.**
I was working on a couple of workflows - still in development - with steps that are connected to test accounts in external services. Now that I am ready to switch to "prod", each steps needs to be reconfigured to switch to the real account. Not only is it a manual process to do for each step, even if they belong to the same app, bu

[2022-09-08 00:10] tonomb opened #4185 "[ACTION] Customer.io Add People to Segment"
**Is there a specific app this action is for?**
Customer.io
**Please provide a link to the relevant API docs for the specific service / operation.**
Add customers to segment https://www.customer.io/docs/api/#operation/add_to_segment

[2022-09-08 00:20] sparkyfen commented on #3451
Was there an example on how to invoke the V2 APIs using Pipedream's workflow?

[2022-09-08 00:38] dylburger commented on #4079
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-08 01:06] dylburger commented on #4166
I've asked @andrewjschuang to take a look at this. @sweepy84 also said that we fail to list custom objects in the Object Type field of the "Instant" sources. They appear to correctly appear in the list for the Selectable Type components. See https://pipedream-users.slack.com/archives/CPTJYRY5A/p1662596198836909 for more information.

[2022-09-08 03:45] dannyroosevelt opened #4186 "[FEATURE] Support for optional additionalProps"
Right now any prop that is rendered via additionalProps is added to the prop form with no indication of whether it's required, since you cannot hide them. We should handle these the same way we handle normal props (add them to the "Optional" section by default and let users "hide" them).

[2022-09-08 12:20] #3793 closed

[2022-09-08 12:26] feyzullah commented on #3842
Can't create a subscription. Customer support does not respond

[2022-09-08 14:32] vunguyenhung opened #4190 "[IMPROVEMENT] Big Cartel OAuth flow improvement"
**Is your feature request related to a problem? Please describe.**
When I tried to connect Big Cartel account, and observed a popup asking for `Account ID`
![FireShot Capture 534 - New Source - Pipedream - pipedream com](https://user-images.githubusercontent.com/18277920/189147892-61210ff7-775e-47c9-8096-1696c0a70669.png)

Though as an average user, I don't know how to get my Account ID from Big C

[2022-09-08 15:28] ctrlaltdylan commented on #4180
@tskamaldeep could you please provide more details like the deployed component ID shown in the CLI when you inspect the action or attempt to publish a new version?

[2022-09-08 15:39] dylburger commented on #4185
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-08 17:07] tskamaldeep commented on #4180
Sure @ctrlaltdylan

sc_JDiBK4e for version published from today
sc_2AiDR0G for the version I tried publishing yesterday.

Please let me know if any other information is useful.

[2022-09-08 17:33] ejwhite7 opened #4191 "[ACTION] beehiiv - Subscribers support"
**Describe the actions to be supported**

The `subscribers`  and `publications` endpoints need to be supported in two separate actions. API documentation below.

**Additional context**
Documentation: https://www.beehiiv.com/developers/docs

[2022-09-08 17:36] ctrlaltdylan commented on #4191
Thanks for filing this @ejwhite7

Whomever picks up this card, please DM me on the Slack Community for the BeeHiiv credentials that @ejwhite7 has kindly shared with us for a test account to use.

[2022-09-08 18:15] dannyroosevelt commented on #4191
@ejwhite7 thanks for submitting a request!

It looks like you're attempting to use the integration to add new subscribers, is that right? It sounds like a built-in action would be useful. The default "scaffolding" step that we have available today is only a framework to help you get started writing code, and it should work as a GET request to the `/publications' endpoint -- are you able to confirm

[2022-09-08 18:22] lucasdellabella opened #4193 "[BUG] Referencing value from previous step doesn't work, while pasting in the literal value does."
**Describe the bug**
The referencing a value, and using a literal value itself give me different results in my step. The referenced value gives the wrong output so I cannot finish building my automation.

**To Reproduce**
Steps to reproduce the behavior:
See loom. I opened the pipedream up in settings so y'all can take a look.
[go to the automation](https://pipedream.com/@lucasdellabella/track-med

[2022-09-08 18:22] ctrlaltdylan commented on #4191
@ejwhite7 I have updated your original post with the description of the two actions that I believe should be added as pre-built actions.

Please let us know if there are additional endpoints that need to be supported.

[2022-09-08 18:30] dannyroosevelt commented on #4193
@lucasdellabella thanks for writing in!

Can you tell me more about your use case? The reason that doesn't work as you're expecting it to, is because you have to configure a static "Property Type" in that action, which is based on the Page ID. So if the Page ID comes back with a different value when you run the workflow automatically, the step configuration won't work.

Does that make sense?

[2022-09-08 20:19] #3859 closed

[2022-09-08 20:41] Hassan-Abbas-SQA commented on #3747
@jverce iam unable to publish this action facing this issue
<img width="651" alt="image" src="https://user-images.githubusercontent.com/104946677/189221736-eb7fa76b-767e-4b76-8a63-8f70e828ac72.png">

[2022-09-08 23:29] dylburger commented on #4148
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-08 23:29] #4148 closed

[2022-09-09 02:06] vunguyenhung opened #4194 "[IMPROVEMENT] Pipefy - Create Card requires user to input GraphQL query"
**Is your feature request related to a problem? Please describe.**
The Pipefy - Create Card requires user to input GraphQL query, which is unfriendly, and the user doesn't know how to input the query
![image](https://user-images.githubusercontent.com/18277920/189256304-dd92d69f-cf54-47b5-a332-dd8c2d64e278.png)

**Describe the solution you'd like**
We should allow user to input Pipe, then we fetch

[2022-09-09 03:03] lucasdellabella commented on #4193
It does - you're saying that because the actual fields I'd select would change if the input were a different notion page, you don't let me use a dynamic value for the field. Makes sense! I know you guys just raised an A round so things are super early but an error message for this kind of thing would be nice.

(i see you have it for airtable)

I think y'all might need to make some change? you've e

[2022-09-09 10:16] victor-helios opened #4195 "[OAUTH+SCOPE] ZENDESK"
**Which application needs a scope added?**
Zendesk
**What scope(s) need to be added?**
"scopes": ["users:write"]
**Please provide a link to the relevant API docs for scopes.**
https://developer.zendesk.com/api-reference/ticketing/oauth/oauth_tokens/

[2022-09-09 10:53] Hassan-Abbas-SQA commented on #3747
when i tried to build it accidently created js files instead of mjs by running this command npx tsc --build
but now iam able to produce the mjs files using npm run build so i moved the ticket to IN QA

[2022-09-09 12:05] hybridcattt commented on #3451
@sparkyfen  You can take the code from the my post above and try it. Still doesn't work btw.

[2022-09-09 12:58] feyzullah commented on #3549
Hi @jverce do `List Orders` and `List Positions` trigger when a new one is created, one is fulfilled or one is cancelled?

[2022-09-09 13:23] ejwhite7 commented on #4191
Anything else needed from me here?Best,EJSent from my iPhoneOn Sep 8, 2022, at 2:22 PM, Dylan Pierce ***@***.***> wrote:﻿
@ejwhite7 I have updated your original post with the description of the two actions that I believe should be added as pre-built actions.
Please let us know if there are additional endpoints that need to be supported.

—Reply to this email directly, view it on GitHub, or unsubsc

[2022-09-09 13:35] hybridcattt commented on #4034
Hi @ctrlaltdylan,
how can I use Twitter v2 api with Twitter Developer App in Pipedream?
I'm using the snippet with Twit, but it's force-appending /1.1/ to request paths, so it's not possible to request any v2 endpoint.

[2022-09-09 14:13] vunguyenhung opened #4198 "[BUG] Postgres: New or Updated Row source does not emit event on table with more than 100k rows"
**Describe the bug**
When deploying new Postgres: New or Updated Row source and choosing a table with more than 100k rows. [In the code here](https://github.com/PipedreamHQ/pipedream/blob/master/components/postgresql/postgresql.app.mjs#L158-L161), because there's no initial date, so the action looks at EVERY row in the table.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a database

[2022-09-09 15:51] #3851 closed

[2022-09-09 16:31] n-h-n commented on #2030
@ctrlaltdylan how far out is this looking?

[2022-09-09 16:35] ctrlaltdylan commented on #4191
Hi @ejwhite7, no I don't believe so but we'll reach out if we get blocked. Thanks for filing this! You'll be notified on any new activity.

[2022-09-09 16:37] ctrlaltdylan commented on #2030
@n-h-n I wish I could give a release date, but none at this time. What kind of use case do you need v16 for?

[2022-09-09 16:41] ctrlaltdylan commented on #4034
Hi @hybridcattt

The Twitter Developer App in Pipedream uses v1.1 of the Twitter API for authentication as well.

Additionally, the Twit library doesn't appear to support v2 either: https://github.com/ttezel/twit/issues/556

But when we do release a v2 Twitter app it will include pre-built actions and triggers - which endpoint specifically are you looking to integrate with that's in v2 but not v1.

[2022-09-09 16:41] Hassan-Abbas-SQA commented on #4183
@Stvad thanks for reporting the issue iam able to reproduce the issue
<img width="995" alt="image" src="https://user-images.githubusercontent.com/104946677/189399714-01c5e830-b7b0-4c6f-a847-bb644f7738b9.png">

[2022-09-09 16:53] dylburger commented on #4135
This should be completed! Please let us know if you see any issues

[2022-09-09 16:53] #4135 closed

[2022-09-09 17:27] Friedrieck opened #4199 "Update an event"
**Is there a specific app this action is for?**
Google Calendar
**Please provide a link to the relevant API docs for the specific service / operation.**
https://googleapis.dev/nodejs/googleapis/latest/calendar/classes/Resource$Events.html#update

[2022-09-09 17:53] #3823 closed

[2022-09-09 18:07] luancazarine commented on #3466
@dylburger
There is a point about the sources:
To access the webhook endpoints, it is necessary to use the xc-auth token, but it expires
The xc-token which is the api_key registered in the component does not have access to these endpoints

[2022-09-09 19:11] dylburger commented on #3466
@luancazarine Would you mind moving this to #component-development so that someone on the team can assist?

[2022-09-09 20:06] #3946 closed

[2022-09-09 20:34] ROBYKK3 opened #4201 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-09-09 21:49] n-h-n commented on #2030
Some newer packages like discord's API SDK require node 16+ @ctrlaltdylan

[2022-09-10 00:38] dylburger commented on #4096
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-10 00:38] dylburger commented on #4047
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-10 08:31] ROBYKK3 opened #4205 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-09-10 14:47] #4201 closed

[2022-09-10 14:48] #4205 closed

[2022-09-10 17:48] dangub opened #4208 "[BUG] Hubspot's "Deal Updated" source emits older events on first run"
**Describe the bug**
When you add a new Hubspot’s source Deal Updated, it emits events (deals) that were modified in the past.

**To Reproduce**
1. In the hubspot account, create a new deal entity.
2. In pipedream, add a new Hubspot source “Deal Updated”.
3. Click “Run now”.
4. Observe that the deal created in step (1) is emitted, despite not having any changes since.

**Expected behavior**
Only n

[2022-09-10 18:04] dangub opened #4209 "[BUG] Hubspot's "Deal Updated" can get into a perpetual error state due to exceeding rate limit of requests"
**Describe the bug**
When the amount of modified changes is high (about 500+), the Deal Updated source needs to paginate through multiple pages of 100 search results each, which causes Hubspot's rate limit of 4 search / sec to be exceeded. This causes an unhandled error, which prevents the Deal Updated from setting the last-checked timestamp. As a result, running the source again, runs into the sa

[2022-09-10 19:15] sparkyfen commented on #3451
I was able to get a V2 API call working but not with the Twitter integration, just manual.

[code]

[2022-09-10 21:56] dylburger commented on #4209
Thanks Dan. I'm adding this to the team's backlog.

For whomever picks this up - see #4208 , as well.

[2022-09-10 21:56] dylburger commented on #4208
See #4209 , as well

[2022-09-10 23:29] dylburger commented on #4156
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-10 23:29] #4156 closed

[2022-09-11 10:50] prakashgouda102 commented on #4173
import matplotlib.pyplot as plt
x = [1,2,3,]
y = [2,4,1]

plt.plot[ x.y]

plt.xlabel('x- axis')

plt.ylabel("y- axis")

plt.title("my first graph")

plt.show( )

not getting result why

[2022-09-11 14:44] SwethaKumaravel commented on #4156
yes im asking for instagram

On Sat, Sep 3, 2022 at 5:30 AM Sergio E. Rodríguez Wong <
***@***.***> wrote:

[2022-09-11 14:46] SwethaKumaravel commented on #4156
Yes how to configure for instagram for pipedream link:https://www.instagram.com/

[2022-09-11 14:49] sergioeliot2039 commented on #4156
You can't right now.

The Pipedream integration for Instagram is pending approval by Meta, Instagram's parent company
Feel free to follow this issue Instagram here: https://github.com/PipedreamHQ/pipedream/issues/445 if you'd like

[2022-09-11 23:24] robertpiazza opened #4210 "Planning Center"
**Planning Center**

**[Link to developer documentation](https://developer.planning.center/docs/#/overview)**

**I have a workaround but it's not robust**

[2022-09-11 23:26] dylburger commented on #4210
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-12 03:45] dylburger commented on #4173
@prakashgouda102 Pipedream doesn't render Matplotlib visualizations or other images within workflows. You should be able to [write the image to a file](https://pipedream.com/docs/code/python/#writing-a-file-to-tmp) and send it to yourself via email, API, upload it to file storage like S3, etc.

[2022-09-12 04:10] dylburger commented on #4094
The user will typically be uploading a file from runtime vs. an attachment. Do you think you could write a prop that accepts a path to a file on `/tmp`? Or a URL to the file? Maybe we should have individual actions for each kind of input (base64-encoded, file, and URL) for the three use cases?

[2022-09-12 14:27] lcaresia commented on #3790
@jverce @dannyroosevelt

I tried to `create a new Spondyr` in Zapier platform, but I can't find what exatly is this.

Can you explain me better?

Thanks!

[2022-09-12 14:47] #4170 closed

[2022-09-12 15:01] luancazarine commented on #3466
@LucBerge
cc: @dylburger
In talking to Danny, he said that we currently don't support JWT to handle these sources, so I'll just develop the actions

[2022-09-12 15:07] ctrlaltdylan commented on #3341
The Discord Bot app now provides the bot token:

https://www.youtube.com/watch?v=UODtCjkqMQw

[2022-09-12 15:27] dylburger commented on #4199
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-12 16:40] #3797 closed

[2022-09-12 16:44] dannyroosevelt opened #4213 "[BUG] Yahoo Sports Fantasy Trigger not emitting events"
Here is the error displayed in the logs
![image](https://user-images.githubusercontent.com/20780753/189710300-6e80dd17-13d5-4b7f-ac61-7805574d34e5.png)

[2022-09-12 17:10] Hassan-Abbas-SQA commented on #3747
props, description and prop names looks good to me. ready to GO

[2022-09-12 17:53] #3747 closed

[2022-09-12 21:07] DilanAthukorala commented on #4213
I am able to recreate the issue where Yahoo fantasy sports trigger not emitting events.

![image](https://user-images.githubusercontent.com/102980146/189758311-46bba331-4083-43be-b6a4-bd4ef0a2fc9f.png)

![image](https://user-images.githubusercontent.com/102980146/189758747-3425dddf-a8ee-422a-9e5e-6a93683e7f88.png)

Also when there's no transaction events available in Yahoo Sports the following err

[2022-09-12 21:46] dannyroosevelt commented on #4213
@DilanAthukorala can you please move this to the project board and drag it toward the top? (maybe top 10)

[2022-09-12 21:54] andrewjschuang commented on #4094
I've created separate actions for the 3 use cases.

[2022-09-12 22:19] dobsonjon commented on #2784
+1 for this. As part of this feature, it would be great to see:

- option to replay only failed steps in each event
- option to replay multiple times with exponential backoff

This would make it a much easier sell for us to move off of Zapier, which already has these abilities. I prefer Pipedream, but without this feature I'm afraid we're stuck on Zapier because of dependencies on APIs that occasi

[2022-09-12 23:47] dylburger commented on #4094
Awesome! Thanks

[2022-09-13 09:08] kolobus commented on #198
Also waiting for this feature. It's needed as a safety measure.

[2022-09-13 10:38] empz opened #4219 "[ACTION] Google Calendar: Update Event"
**Is there a specific app this action is for?**
Google Calendar

**Please provide a link to the relevant API docs for the specific service / operation.**
https://googleapis.dev/nodejs/googleapis/latest/calendar/classes/Resource$Events.html#patch

[2022-09-13 10:42] Hassan-Abbas-SQA commented on #3862
New-Event not triggering any of the event as mentioned in the video logs are also not visible in console
![image](https://user-images.githubusercontent.com/104946677/189880858-62625b1a-7ac6-48b6-8dd2-d49a72ad34a2.png)

[2022-09-13 10:59] Kusuma-0307 commented on #4219
Please specify what action needed?

[2022-09-13 12:43] vellames commented on #3862
Hi there. I will ping you on slack

[2022-09-13 12:52] vellames commented on #3862
It is working normally for me :)
<img width="1367" alt="Screen Shot 2022-09-13 at 9 51 52 AM" src="https://user-images.githubusercontent.com/91911778/189905863-12eb11fa-17af-4009-bd21-d530688e9e3a.png">

[2022-09-13 14:15] empz commented on #4219
Update a Google Calendar event.
https://developers.google.com/calendar/api/v3/reference/events/update

[2022-09-13 14:29] ctrlaltdylan opened #4221 "[BUG] Discord App Authentication prompting to add Webhook, results in 401"
**Describe the bug**
When connecting a Discord account, during the authorization process you're prompted to select a **Add a Webhook**.

After selecting a webhook in the Discord setup screen and click **Accept**, the configuration of the Discord webhook fails and you cannot add a Discord account to Pipedream.

**To Reproduce**

1. Create a webhook with a Pipedream Discord action on your server.
2.

[2022-09-13 14:54] #4172 closed

[2022-09-13 15:21] DilanAthukorala commented on #4219
@empz Thanks for creating this issue. We already have a ticket in our backlog for Google Calendar "Update Event" Action, please follow this [ Update an event #4199 ](https://github.com/PipedreamHQ/pipedream/issues/4199)  ticket for updates and feel free to add any comments on that.

[2022-09-13 15:23] DilanAthukorala commented on #4199
This action is also requested by [ [ACTION] Google Calendar: Update Event #4219 ](https://github.com/PipedreamHQ/pipedream/issues/4219)

[2022-09-13 15:24] #4219 closed

[2022-09-13 16:26] dannyroosevelt opened #4222 "[BUG] Saleforce Access Tokens not reliably refreshing"
User report:

Reported via Slack https://pipedream-users.slack.com/archives/CPTJYRY5A/p1662645705821619

[2022-09-13 17:10] davetapley commented on #2784
@dobsonjon once bulk retry is implemented I think you could solve for those use cases with the existing [`$.flow.rerun`](https://pipedream.com/docs/code/nodejs/rerun/#flow-rerun) feature, by editing the failing workflow to add the required `$.flow.rerun` logic, then using this proposed bulk replay to manually restart.

---

Can I request, in addition to:

that we can also select all events within

[2022-09-13 18:30] jcortes commented on #3850
HI @jverce can you give me more detais about theses two triggers please?
* New Status Change
* New Message

Not sure if both of them refers to the Tickers resource?

Thanks!

[2022-09-13 19:14] dannyroosevelt commented on #4210
@robertpiazza I have this working but just want to confirm which scopes you'd like to include?
https://developer.planning.center/docs/#/overview/authentication

And are there specific triggers or actions you'd like to use?

[2022-09-13 19:37] DilanAthukorala commented on #4180
@tskamaldeep I was not able to re-create the issue. The expected behavior is when there's a newer version of an action available there should be an"Update" button displayed when you go to the edit mode. Could you please re-check whether an update button is displayed for your action in edit mode?

[2022-09-13 20:48] Hassan-Abbas-SQA commented on #3862
@jverce @vellames worked for me too thanks @vellames
<img width="448" alt="image" src="https://user-images.githubusercontent.com/104946677/190005150-1c9584ea-ee8b-43dd-9d3e-6f651bdf4acc.png">

🍎  but this ticket still required some changes in the first comment as mentioned this PR should have actions in it , but unfortunately it doesn’t have any , can you please update the comment to only Sources

[2022-09-13 20:56] vellames commented on #3862
@Hassan-Abbas-SQA There is no actions because it is necessary a paid account for it. I removed the actions from the description. I will open a new ticket only for actions and flag it as a paid account

[2022-09-13 21:28] petrgazarov opened #4225 "PostgreSQL delete row [TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

Fires when a row is deleted in a PostgreSQL database.

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

Similar to [New or Updated Row](https://pipedream.com/apps/postgresql/triggers/new-or-updated-row), but for when a row is deleted.

[2022-09-13 23:32] jverce commented on #3850
You are correct, both refer to the `Ticket` resource:
* New Status Change -> the status of the ticket changes
* New Message -> a message is added to a ticket

[2022-09-13 23:58] danthegoodman1 opened #4227 "[BUG] Wrong API listed for polling"
Says youtube API, but is twitter api :)

![image](https://user-images.githubusercontent.com/17806508/190029757-3ddb7b61-34db-4c77-8633-d6c7e87aba20.png)

[2022-09-14 00:52] #3862 closed

[2022-09-14 04:56] atsaplin opened #4228 "[APP] Home Assistant"
**Name of app / service**
Home Assistant

**Link to developer documentation**
https://developers.home-assistant.io/
**Is lack of support preventing you from building workflows, or do you have a workaround?**
I will need to build a python middleman api currently - but direct suppoprt for home assistant actions/triggers would be amazing for the home automation community
**Are there specific actions,

[2022-09-14 12:28] vellames opened #4229 "[Actions] Eversign"

[2022-09-14 13:55] aturow opened #4230 "[BUG] Salesforce Account Connection"
**Describe the bug**
An existing account to a Salesforce sandbox is disconnected i.e. red. When I try to reconnect, the Account is not updated but a new one is created.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to my account andrzejturowski
2. Click on try to reconnect salesforce test
3. See newly created connection not reconnecting the existing account.

**Expected behavior**
Expec

[2022-09-14 14:59] ctrlaltdylan opened #4231 "[TRIGGER] Twitch new stream by stream (instant) webhook"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

The current Twitch sources use polling instead of the webhooks.

A Pipedream user has made a short guide to create a webhook source manually:

https://gitlab.com/community-coders/pairing-sessions/-/blob/main/doc/bot-setup.md

Please investigate if this is possible to create instant sources which wo

[2022-09-14 15:02] dylburger commented on #4228
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-14 15:09] #3852 closed

[2022-09-14 16:44] dannyroosevelt opened #4233 "this is a test"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-09-14 16:47] dannyroosevelt opened #4234 "test 2"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-09-14 16:52] dannyroosevelt opened #4235 "test 3"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-09-14 16:55] dannyroosevelt opened #4236 "test 4"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-09-14 16:56] #4233 closed

[2022-09-14 16:56] #4234 closed, assigned to nobody

[2022-09-14 16:56] #4235 closed

[2022-09-14 17:01] Hassan-Abbas-SQA commented on #3713
Works fine for me
[Testcases.pdf](https://github.com/PipedreamHQ/pipedream/files/9568406/Testcases.pdf)

[2022-09-14 17:10] andrewjschuang commented on #3848
This was done in #4014.

[2022-09-14 17:10] #3848 closed

[2022-09-14 17:16] #3713 closed

[2022-09-14 17:40] #4236 closed

[2022-09-14 18:49] chapstick404 opened #4237 "[APP] Brightspace"
D2L Brightspace
[**Link to developer documentation**](https://docs.valence.desire2learn.com/reference.html)

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Best workaround I have is using the HTTP API Requests Trigger instead of building my own application

[2022-09-14 18:50] dylburger commented on #4237
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-14 19:34] sergioeliot2039 commented on #4021
There's a message from Gist at the account inbox we created for doing the integration:

[2022-09-14 19:57] ctrlaltdylan opened #4238 "[BUG] Postgres sources don't support schemas"
**Describe the bug**
Postgres sources should include the ability to select a schema in the database.

Full context: https://pipedream-users.slack.com/archives/CPTJYRY5A/p1663174864530459

[2022-09-14 20:21] DilanAthukorala commented on #4227
@danthegoodman1 Thanks for submitting this issue, our development team will look into it.

[2022-09-14 20:26] dylburger commented on #4231
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-14 20:27] dylburger commented on #4225
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-14 21:27] DilanAthukorala commented on #4230
@aturow Thanks for reporting this issue, Our team will look into this and get back to you.

I have observed that the Authentication base url called from pipedream is invalid.

expected base url:- **https://pipedream-b-dev-ed.develop.lightning.force.com**
Actual base url called by pipedream:- **https://pipedream-b-dev-ed.my.salesforce.com**

[2022-09-14 21:52] dannyroosevelt commented on #3306
confirming this is finally fixed

[2022-09-14 21:52] #3306 closed

[2022-09-14 21:58] kpwang66 opened #4240 "[ACTION] List subfolders and files in a Google Drive folder"
Currently there is no no-code way to list child files and folders (and associated file/folder IDs) in a parent Google Drive folder.  Thus, it is difficult to check existence of certain files or folders, especially before creating a new file or folder ("Create If Exists?" option in Google Drive Create New Folder action has unusual behavior: https://pipedream-users.slack.com/archives/CMZG4EBJ9/p1663

[2022-09-14 23:29] dylburger commented on #4169
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-14 23:29] dylburger commented on #4147
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-15 01:20] jverce commented on #1655
We pushed a potential fix earlier today.
Will leave this open for a few days in case the issue is still not resolved for some users.

[2022-09-15 02:09] stralytic opened #4241 "[APP] Exist.io"
**Name of app / service**
Exist.io

**Link to developer documentation**
https://developer.exist.io/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I have no work around. I am a developer and happy to be guided to implement this myself.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action

[2022-09-15 06:12] huevoncito opened #4243 "Postgres source cannot be created for large table"
This code is called when first creating a postgres source. If the table has many rows, it tries to retrieve all of them and consequently chokes.

Need to add a LIMIT here. This could either be set in configuration or simply hardcoded to a reasonable number (eg. 50) that is sufficient for configuring the source and establishing the date of last record retrieved.

https://github.com/PipedreamHQ/pipe

[2022-09-15 08:11] vinay5xdata opened #4244 "PostgreSQL connector is only reading table list from Public schema"
**Describe the bug**
https://github.com/PipedreamHQ/pipedream/blob/3876cfc281f396671ffa5eef6d5a0153d5425056/components/postgresql/postgresql.app.mjs  In this file -> line 111 within getTables() function schema is hardcoded as "public", because of which connector is only looking for tables in  "public" schema.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to - Postgres connector
2. Click

[2022-09-15 09:12] alexkazachkov opened #4245 "[BUG] SendInBlue integration send_transactional_email not working with custom expression"
**Describe the bug**
SendInBlue integration has an issue with the send_transactional_email workflow, where if I want to use the "To" (or any other) sending field and want to enter a custom expression, it won't work and just show the error "Field To should be an array".
I tried to use the example as is written below the input field { "name": "John Doe", "email": "john@doe.com“ }, but this one doesn

[2022-09-15 09:24] alexkazachkov commented on #3514
Hello, has this issue really been solved? I tried to do the same thing now, but it still doesn't seem to work:

**Describe the bug**
SendInBlue integration has an issue with the send_transactional_email workflow, where if I want to use the "To" (or any other) sending field and want to enter a custom expression, it won't work and just show the error "Field To should be an array".
I tried to use the