[2022-09-15 13:44] Hassan-Abbas-SQA commented on #4166
for OLD salesforce New Object (instant , of scaleable type) iam able to create source/trigger successfully
<img width="951" alt="image" src="https://user-images.githubusercontent.com/104946677/190416855-526df0ac-7f9c-472f-9999-31c88217836b.png">

TestCase on this new PR
i was able to create source , SObject type as Product ,Account etc...
![image](https://user-images.githubusercontent.com/10494667

[2022-09-15 14:55] #4094 closed

[2022-09-15 15:41] dylburger commented on #4241
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-15 16:12] dylburger commented on #4240
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-15 16:23] dannyroosevelt commented on #4169
Sorry for the premature closing of this issue @Nicolrnt! We'll add this to the team's backlog.

[2022-09-15 16:28] dannyroosevelt opened #4252 "Add original gmail actions to gmail_custom_oauth app"
The new setup:

`gmail` and `gmail_custom_oauth` should both share a single common action: `send-email`
`gmail_custom_oauth` should have the below components:
- Triggers: `new-attachment` and `new-email` (let's also change both keys to use past tense verbs, `new-attachment-received` and `new-email-received`)
- Actions: `add-label-to-email` and `find-email`

[2022-09-15 16:32] dylburger commented on #4195
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-15 16:40] dannyroosevelt opened #4253 "[BUG] Sendinblue Transactional Email action fails when trying to add recipients to **To** field"
(original issue: https://github.com/PipedreamHQ/pipedream/issues/3514)

Reposting on behalf of the user, related to https://github.com/PipedreamHQ/pipedream/issues/3514#issuecomment-1247831425

Hello, has this issue really been solved? I tried to do the same thing now, but it still doesn't seem to work:

**Describe the bug**
SendInBlue integration has an issue with the send_transactional_email wor

[2022-09-15 16:41] dannyroosevelt commented on #3514
@alexkazachkov I opened a new bug ticket here: https://github.com/PipedreamHQ/pipedream/issues/4253

[2022-09-15 17:04] DilanAthukorala commented on #4253
I am able to reproduce this issue;

![image](https://user-images.githubusercontent.com/102980146/190466474-2a85b4b9-953f-4d3e-a98a-eb4bc68c67c9.png)

[2022-09-15 17:51] DilanAthukorala commented on #4244
@vinay5xdata Thanks for reporting this bug. We are able to reproduce it and our team will look into it.

[2022-09-15 18:26] DilanAthukorala commented on #4244
This is issue is fixed by https://github.com/PipedreamHQ/pipedream/issues/4238

[2022-09-15 18:26] #4244 closed

[2022-09-15 18:30] #4238 closed

[2022-09-15 20:49] dylburger opened #4258 "[ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-09-15 20:50] dylburger commented on #4258
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-15 21:40] cedrixm opened #4260 "[FEATURE] Discord - integrate instant triggers with custom app/bot token"
Currently PipeDream supports 2 Discord components, Discord app and Discord bot, with 2 different actions and triggers.
The issue is that, if you need triggers and/or actions from the both of them, you have to integrate 2 bots/apps in the server, which is not really... convenient.

For example, I need instant triggers such as "New Message (Instant)" and these are not available through Discord Bot i

[2022-09-15 21:50] #4252 closed

[2022-09-15 22:36] cedrixm commented on #2030
+1
discord sdk, discord.js etc.
blocking not to have this, as given recent changes some features aren't available anymore with the current libraries

[2022-09-16 00:38] dylburger commented on #4150
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-16 00:39] dylburger commented on #4149
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-16 03:52] jacksontong opened #4262 "[FEATURE] Create Private Apps + System Architecture Modification"
**Is your feature request related to a problem? Please describe.**
The issue has been detailed [here](https://pipedream.com/community/t/migrate-from-zapier-to-pipedream/3196), and refers to feature requests which we believe will improve the developer experience within your system.

1. We can't create our own private app and we have to request Pipedream, We expected our team would be able to do thi

[2022-09-16 14:20] garrettstark commented on #4147
I got it to work- the problem was Zoom's API requires the account owner, not just an admin to access participant lists on the account...

[2022-09-16 15:31] DilanAthukorala commented on #4147
Hello @garrettstark,  Did you able to resolve the issue? Please post here if you have any further queries or else we can close this ticket.

[2022-09-16 15:38] dylburger commented on #4262
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-16 15:45] dylburger commented on #4260
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-16 16:08] DilanAthukorala commented on #4243
Thanks @huevoncito, I was able to reproduce this scenario where the system is unable to handle large set of data.

[2022-09-16 16:10] dylburger commented on #4243
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-16 16:15] vunguyenhung commented on #4209
Hi everyone, all test cases are passed! Ready for release!

Test report
[Hubspot_4232_2315.pdf](https://github.com/PipedreamHQ/pipedream/files/9585637/Hubspot_4232_2315.pdf)

[2022-09-16 16:16] vunguyenhung commented on #4208
Hi everyone, all test cases are passed! Ready for release!

Test report
[Hubspot_4232_2315.pdf](https://github.com/PipedreamHQ/pipedream/files/9585637/Hubspot_4232_2315.pdf)

[2022-09-16 16:18] #4208 closed

[2022-09-16 16:18] #4209 closed

[2022-09-16 16:55] vunguyenhung commented on #4166
Hello @dannyroosevelt @andrewjschuang, I'm able to create sources for standard object & custom object, and they work correctly
[Salesforce_4196_2350.pdf](https://github.com/PipedreamHQ/pipedream/files/9585851/Salesforce_4196_2350.pdf)

---

Though there're 2 cases need your attention
### Improvement needed: Initial Historical events are not emitted
When I deployed a new source, there’re no initial

[2022-09-16 17:00] vunguyenhung opened #4264 "[IMRPOVEMENT] Salesforce: New Object (Instant) emitting initial historical event"
**Is your feature request related to a problem? Please describe.**
When I deployed a new Salesforce: New Object (Instant) source, there’re no initial historical events when I first deployed the source
![FireShot Capture 304 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](https://user-images.githubusercontent.com/18277920/190690977-a91b662d-b71c-4a79-8bee-2f496407bbac.png)

**Describe

[2022-09-16 17:41] dannyroosevelt commented on #182
We just shipped a Gmail integration!
https://pipedream.com/community/t/gmail-is-now-available-on-pipedream/3269

[2022-09-16 17:41] #182 closed

[2022-09-16 17:41] dannyroosevelt commented on #2166
We just shipped a Gmail integration!
https://pipedream.com/community/t/gmail-is-now-available-on-pipedream/3269

[2022-09-16 17:41] #2166 closed

[2022-09-16 17:47] dzg commented on #2166
That baby is just way too cute

[2022-09-16 17:53] dylburger commented on #1655
This should be completed! Please let us know if you see any issues

[2022-09-16 17:53] #1655 closed

[2022-09-16 18:42] #4166 closed

[2022-09-16 18:53] dannyroosevelt opened #4265 "[BUG] Not able to create Linear (API Key) Created Issue trigger due to timeout"
Originally reported by a customer via email, I confirmed the same on my end
![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/190710936-5deb63fd-691e-4cb0-88e1-240157a3e4a8.png)

[2022-09-16 19:27] dannyroosevelt opened #4266 "[BUG] Not able to create Telegram Bot: New Channel Updates trigger"
Based on the error message it seems related to my same bot token being used in a different Telegram trigger?

![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/190715764-77443cbd-a4ab-4ca0-9e4b-5e2e4b1288e0.png)

[2022-09-16 22:36] dylburger opened #4267 "[TRIGGER] Asana - Task Updated in project source (and perhaps other sources) fail to list tasks in async options"
To reproduce:

1. Create an Asana account with at least one project, with some sample tasks
2. In Pipedream, create the Asana - **Task Updated in Project** source.
3. When you try to list the **Tasks** prop, async options fails with a 400 error. See the dev console for the error:

[code]

Whoever picks this up should test the other Asana sources to confirm they work. Also, is it possible to make t

[2022-09-16 23:29] dylburger commented on #4193
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-16 23:29] #4193 closed

[2022-09-17 15:10] sixgunsean opened #4268 "[APP]"
**Name of app / service** any grubhub, uber eats, door dash, instacart,.... let me order food and stuff

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for

[2022-09-17 15:24] heitikei commented on #4268
Integration with JCB, Japanese services via LINE, and Paypay. Thank you.

[2022-09-17 15:38] cfjedimaster opened #4269 "[BUG] Clicking to view docs when browsing steps to add actually adds the step"
**Describe the bug**
While editing a workflow, click to add a step. While browsing for actions to add, sometimes you'll see links to view the docs:

![image](https://user-images.githubusercontent.com/393660/190864859-bb375614-7812-4141-b0a5-2673210dfc61.png)

If you click "See the docs", it does open the docs in a new tab (good!), but it also adds the action (bad :)

**To Reproduce**
Steps to repr

[2022-09-17 16:37] dylburger commented on #4268
@heitikei Our team needs to track these issues individually. Please open up individual tickets to track these API requests, and provide a link to the developer documentation for the API so we can take a look.

[2022-09-17 16:37] #4268 closed

[2022-09-17 17:26] LucBerge opened #4270 "[FEATURE] Select workflow name to remove it"
**Is your feature request related to a problem? Please describe.**
Removing a workflow is really easy (2 clicks). A mistake can happend really fast.

**Describe the solution you'd like**
When removing a workflow, ask the user to select the full workflow name for confirmation instead of a simple button.

**Do you have a workaround?**
No

**Comparable features in other tools?**
When removing a repo

[2022-09-17 17:31] dannyroosevelt opened #4271 "[ACTION] Google Drive List Files"
### App
`google_drive`

### Action
- List files (folder and fields as optional props)

Here is a prototype from @cfjedimaster:
[code]

[2022-09-17 17:55] dannyroosevelt opened #4272 "[BUG] Discord Webhook Send Message Actions broken"
Originally reported from customers in Slack:
-  Send Message: https://pipedream-users.slack.com/archives/CPTJYRY5A/p1663402468487609
![image](https://user-images.githubusercontent.com/20780753/190870141-b0db7bbe-4594-472b-bc6c-6a27d2d61937.png)

- Send Message Advanced: https://pipedream-users.slack.com/archives/CPTJYRY5A/p1663569988501959
<img width="909" alt="CleanShot 2022-09-19 at 08 45 37@2x"

[2022-09-17 17:57] LucBerge commented on #4112
@sergioeliot2039 here is the [full API doc](https://datahub-enedis.fr/data-connect/documentation/metering-data-v4/) but you need an account.

[2022-09-18 02:35] alysonturing commented on #4227
looks like it was fixed here: https://github.com/PipedreamHQ/pipedream/pull/2540
but it may require to change the component version and update it.

[2022-09-18 02:50] alysonturing commented on #4227
I noticed that the following sources has the same error reported in the issue, so I'm upgrading the version to fix the typo in the UI. (the typo was already fixed before here: https://github.com/PipedreamHQ/pipedream/pull/2540)

New Follower of Me,
New Follower of User,
New Unfollower of Me,
New Unfollower of User

[2022-09-18 03:48] dannyroosevelt commented on #4195
@victor-helios apologies for the delay, this should be done! Please reconnect your account and let us know if you're able to make use of the additional scope.

Thanks

[2022-09-18 09:27] LucBerge commented on #2896
I guess this is a highly required feature for pipedream. I don't understand why it is blocked ?

[2022-09-18 20:30] michaelgriscom opened #4277 "[APP] Feedly"
**Name of app / service**
Feedly

**Link to developer documentation**
https://developer.feedly.com/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
No workaround. RSS feeds could be used directly to get some info, but I am interested in the Feedly actions

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here

[2022-09-19 11:30] LucBerge opened #4279 "[BUG] HTTP response not working after a delay"
**Describe the bug**
When using a HTTP trigger with the `HTTP Response` set to `Return a custom response from your workflow`, the response send at the end of the workflow is not working if a delay block is used in the workflow.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workflow with the folling components
    1. Trigger: HTTP request with custom response from workflow
    2. A

[2022-09-19 11:37] LucBerge opened #4280 "[FEATURE] Loading page for HTTP response"
**Is your feature request related to a problem? Please describe.**
When using a HTTP trigger with the `HTTP Response` set to `Return a custom response from your workflow`, the browser used to trigger the workflow loads with a white page while the Response is not sent. It could be a problem when the workflow takes 30 seconds to run. The user don't know if something when wrong and will probably refr

[2022-09-19 12:19] tskamaldeep commented on #4180
@DilanAthukorala , I had our boss publish the action from his end and update the version which went fine. Thereafter, I was able to push further updates.

This issue is not a blocker now, thank you. Anything to take note of? Regards.

[2022-09-19 14:23] ctrlaltdylan opened #4281 "[BUG] Discord Webhooks failling with `connect EAFNOSUPPORT ::1:80 - Local (undefined:undefined)`"
**Describe the bug**
When using the **Discord Webhook** send message, the code step results in an error:

`connect EAFNOSUPPORT ::1:80 - Local (undefined:undefined)`

**Expected behavior**
I expect the step to send the webhook.

**Screenshots**

![Send to discord](https://user-images.githubusercontent.com/2694734/191040431-87c09c9f-117a-4440-b9ce-36e0f2550587.PNG)

**Additional context**

https://

[2022-09-19 15:04] dannyroosevelt commented on #4281
@ctrlaltdylan tracking this here https://github.com/PipedreamHQ/pipedream/issues/4272

[2022-09-19 15:04] #4281 closed

[2022-09-19 15:36] osseonews commented on #318
You should run some workflows on the V8 engine with Cloudflare Workers??, similar to how NextJs is doing it now with their Edge functions. So workflows that don't need to load immediately can stay the same on the current backend, but those that should load immediately (no cold start) should run off V8, e.g. cloudflare workers.

[2022-09-19 18:21] dylburger commented on #4277
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-19 18:35] Hassan-Abbas-SQA commented on #4279
@LucBerge i am able to reproduce the issue
<img width="663" alt="image" src="https://user-images.githubusercontent.com/104946677/191086159-aebce152-9525-4c1d-8b1d-fcdb59f05419.png">

[2022-09-19 18:50] Hassan-Abbas-SQA commented on #4280
@LucBerge are you referring to this issue ? #4279

[2022-09-19 19:40] DilanAthukorala commented on #4198
@michelle0927 Observing following issue while creating the source
![image](https://user-images.githubusercontent.com/102980146/191101526-701bcfd8-dcf3-43ce-bdc1-e5c29b4613a5.png)

[2022-09-19 20:26] #4227 closed

[2022-09-19 20:30] michelle0927 commented on #4198
@DilanAthukorala I haven't been able to reproduce this yet. Is "playerstable" the database `table` being selected?

[2022-09-19 20:32] #4253 closed

[2022-09-19 23:59] justabuzz opened #4283 "[ENHANCEMENT] Show Workflow title in Browser's title"
**Describe the bug**
When in the workflow section (inspector, deployments, settings, builder pages), the `<title>` tag is a static text: "Pipedream - Connect APIs, Remarkably Fast". When working on multiple workflows in parallel, this requires me to cycle through the browser tabs till I find the workflow I want to access, since all titles are the same.

**To Reproduce**
Steps to reproduce the beha

[2022-09-20 00:38] dylburger commented on #4161
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-20 00:38] dylburger commented on #4158
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-20 00:59] vunguyenhung commented on #4266
I confirm that I can reproduce the issue when creating 2 Telegram sources.
The first source: New Channel Update is created successfully
![FireShot Capture 565 - Source_ New Channel Updates (Instant) - Pipedream - pipedream com](https://user-images.githubusercontent.com/18277920/191143686-b92f8d96-65f8-4b81-a25b-1ba77605aefa.png)

Then while the first source: New Channel Update is active, create th

[2022-09-20 01:17] vunguyenhung commented on #4265
Hello @dannyroosevelt, it seems like I couldn't reproduce this issue on my end. I created 3 sources successfully:

The first source: New Created Issue (Instant)
![FireShot Capture 571 - Source_ New Created Issue (Instant)#1 - Pipedream - pipedream com](https://user-images.githubusercontent.com/18277920/191146030-dc3a70ba-e230-4b13-aaeb-e144ab5e85be.png)

The second source: New Created Issue (Insta

[2022-09-20 01:22] vunguyenhung commented on #4180
@tskamaldeep @DilanAthukorala @ctrlaltdylan, actually I sometime faced this issue, what I do is I use `pd logout` and `pd login` again and it would work. @tskamaldeep would you mind taking not this and try the next time you faced this issue?

@ctrlaltdylan I think this is related to Pipedream internals, is it okay to add `tracked-internally` for tracking?

[2022-09-20 01:24] vunguyenhung commented on #4270
Thank you @LucBerge for the suggestion 🙏 . I have added this ticket to Pipedream internal board for tracking, any updates will be made to this ticket 🙏

[2022-09-20 01:43] vunguyenhung commented on #4280
Hello @LucBerge, thank you for the suggestion. I'm able to reproduce this behavior that the browser is indicating loading for the request
![FireShot Capture 572 - Http_ Delay and return response - Pipedream - pipedream com](https://user-images.githubusercontent.com/18277920/191148136-9d3cfc6e-0f2f-47b6-8c3d-b68bf98c13f6.png)

![Screen Shot 2022-09-20 at 08 34 53](https://user-images.githubusercont

[2022-09-20 05:07] Dy-oh opened #4284 "[TRIGGER] Twich: New Raid"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

This is for an analytics tool that records and analyses incoming and outgoing twitch raids for streamers to better strategise who to raid. A Trigger for incoming raids that records who is raiding and how many viewers they sent, and a trigger for outgoing raids that records who the raid is going to

[2022-09-20 07:04] vunguyenhung commented on #4198
Hello @DilanAthukorala, I think we should not move this to Change Required until we got clear sign that this is a bug. I think your error might be more related to your database. Could you try the current version of the source to see if it works?

[2022-09-20 07:52] LucBerge commented on #4280
Yes I know, but maybe you can make it backward compatible. I honestly don't know, it's up to the pipedream team.

What is the difference if I use Postman web or RestMan browser ?

**A bit more of context:**

My flow is triggered from an airtable button. It takes 30 seconds to execute and I want the final result (computed in the last component) to be displayed as response to the HTTP trigger. I'm n

[2022-09-20 08:04] LucBerge commented on #4283
I agree it would be nice but this is not a bug, it's an enhancement.

[2022-09-20 08:49] DilanAthukorala commented on #4198
@michelle0927 @vunguyenhung , I was able to select all the fields but when clicking the "Create Source Button" this error is thrown. I assumed there's no error in my DB since it worked fine with the currently available version of the "New or Updated Row" source. Only this version is throwing the error. Please let me know if you need further information to troubleshoot this.

[How to reproduce](htt

[2022-09-20 12:57] myappfree opened #4287 "ClickUp component doesn't support custom taskid"
Is your feature request related to a problem? Please describe.
Most of Clickup user come from Jira Migration. The first problem that you have once migrated is that task id of click up are different form Jira task ID. To fix this issue, ClickUp introduced a new filed "CustomTaskID" that import the Jira ID.

Describe the solution you'd like
ClickUp updated all APIs to be able to use ClickUp task id

[2022-09-20 13:12] #4271 closed

[2022-09-20 14:02] vunguyenhung commented on #4198
Thank you @DilanAthukorala, keep it up! @michelle0927 could you try to reproduce following @DilanAthukorala steps?

[2022-09-20 14:49] tuccim1984 opened #4288 "https://www.validclub.su"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-09-20 14:52] #4288 closed

[2022-09-20 15:03] dylburger commented on #4284
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-20 15:04] tskamaldeep commented on #4180
@vunguyenhung , I shall certainly try per your suggestion if it happens again.

[2022-09-20 15:05] vunguyenhung commented on #4283
Thank you @justabuzz and @LucBerge for raising this. I have added this ticket into Pipedream's internal backlog. Any updates will be made to this ticket 🙏

[2022-09-20 16:26] vunguyenhung commented on #4287
Hello @myappfree, I'm not clear what is the feature you want. Could you possibly format the description in a proper way? Could you start by answering the following questions

----

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise d

[2022-09-20 17:59] AndrewSB opened #4291 "[Action and Trigger] SendBlue"
**Name of app / service**

sendblue

**Link to developer documentation**

https://sendblue.co/docs/inbound

**Is lack of support preventing you from building workflows, or do you have a workaround?**

nope, i'll REST it for now. would be nice to have first party support tho

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Tri

[2022-09-20 18:35] dylburger commented on #4291
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-20 18:36] #3850 closed

[2022-09-20 18:37] Hassan-Abbas-SQA commented on #4165
@michelle0927 as leo mentioned previously iam facing the same issue still the rSS Feed works fine on inputting 2 urls but not when its 7
<img width="1385" alt="image" src="https://user-images.githubusercontent.com/104946677/191336578-abb06072-6fa6-410a-a88f-1ef44a65f8ef.png">

Expected behavior: the RSS multiple feeds source with 7 sources should emit events from all sources, sorted by published d

[2022-09-20 18:41] sergioeliot2039 opened #4292 "[ACTION, Source] Sendblue new components"
Sendblue

Actions:
Send Message

Source:
New Message

api docs for send message action: https://sendblue.co/docs/outbound
Webhook for new message source: https://sendblue.co/docs/inbound/

this was requested along with Sendblue app integration https://github.com/PipedreamHQ/pipedream/issues/4291

[2022-09-20 18:41] dylburger commented on #4292
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-09-20 18:43] sergioeliot2039 commented on #4291
@AndrewSB Sendblue app integration is in progress. I created a new issue for tracking components https://github.com/PipedreamHQ/pipedream/issues/4292, feel free to follow there thanks

[2022-09-20 19:25] sweepy84 commented on #4166
@dylburger @vunguyenhung @andrewjschuang - This issue persists for us. Unable to create any instant sources to salesforce. As mentioned in slack this has worked with the same salesforce instance/account with all other service providers I've tried. Happy to jump on a call to help resolve.

[2022-09-20 20:14] andrewjschuang commented on #4166
Hi @sweepy84, can you please check if there are any triggers configured?
If there are, would it be ok to delete them and try again?

![image](https://user-images.githubusercontent.com/15385076/191355618-222a9f2b-a9df-4cae-b8a6-1d4670dbd7fd.png)

[2022-09-20 20:59] ghost opened #4294 "[BUG] My Actions in Pipedream doesn’t show logos for actions when creating a step"
When i publish some actions like in this case i have published profitWell Actions when iam on a list of my actions to select an action as step i can see logo of the Action like screenshot i have attached below
![image](https://user-images.githubusercontent.com/104946677/191363172-2a883f1f-0beb-48be-9a59-864c8445d687.png)

when iam selecting action for the third/second step from my actions i can’t

[2022-09-20 21:11] #4191 closed

[2022-09-20 21:17] Hassan-Abbas-SQA opened #4295 "[FEATURE] Can we should have a date picker for date props"
instead of having a date input field we should have a datepicker here if we can have this would help reduce the customer's confusion, inserting date manually is a bit confusing
<img width="743" alt="image" src="https://user-images.githubusercontent.com/104946677/191365843-4c72c984-4835-4dd7-a6f0-798a2f4c9945.png">

[2022-09-20 21:24] dylburger commented on #4295
Tracking at #1854

[2022-09-20 21:24] #4295 closed

[2022-09-20 21:54] Hassan-Abbas-SQA commented on #3466
@luancazarine List records in table action is missing in this PR please update the first comment and remove it from there too
<img width="289" alt="image" src="https://user-images.githubusercontent.com/104946677/191371433-374a7e18-f42c-458f-a985-0e1cd8a8fe0d.png">

[2022-09-20 22:36] Hassan-Abbas-SQA commented on #3466
TestCases for Actions and Sources:
<img width="1412" alt="image" src="https://user-images.githubusercontent.com/104946677/191376493-5367a7b4-5038-462a-a718-b82a6b0bc841.png">
<img width="1412" alt="image" src="https://user-images.githubusercontent.com/104946677/191376793-67b82af3-919f-4422-af99-b75e6e99c880.png">
![FireShot Capture 003 - Pipedream - Connect APIs, Remarkably Fast - pipedream com](h

[2022-09-20 22:53] ctrlaltdylan opened #4297 "[TRIGGER, ACTION] QStash new components"
**Name of app / service**

QStash

**Link to developer documentation**

https://docs.upstash.com/qstash

**Is lack of support preventing you from building workflows, or do you have a workaround?**

Nope, you can use the HTTP Builder

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for

[2022-09-20 22:54] ctrlaltdylan commented on #4297
Already have a PR open:

https://github.com/PipedreamHQ/pipedream/pull/4296

[2022-09-20 23:29] dylburger commented on #4210
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-20 23:29] #4210 closed

[2022-09-20 23:30] dylburger commented on #4297
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-09-21 00:03] dannyroosevelt commented on #4210
@robertpiazza here is a basic integration -- please let us know if this is working for you https://pipedream.com/apps/planning-center

[2022-09-21 00:34] #3744 closed

[2022-09-21 02:14] dannyroosevelt commented on #4265
Interesting. Can you try creating the source from within the workflow building instead of from /sources?

[2022-09-21 02:32] dannyroosevelt commented on #4266
Ah good catch, darn. Can you add a ticket to the board to make that update? We should Throw a Configuration error for this ideally: https://pipedream.com/docs/code/nodejs/#configuration-error

Text:
[code]

[2022-09-21 03:53] dylburger commented on #4283
This should be completed! Please let us know if you see any issues

[2022-09-21 03:53] #4283 closed

[2022-09-21 04:55] vunguyenhung opened #4300 "[ENHANCEMENT] Telegram Bot sources: catch error when user create a new source when an existing source is active"
**Is your feature request related to a problem? Please describe.**
Everytime a new Pipedream Telegram bot source is created, it will create a Telegram webhook. But Telegram only supports a single webhook at a time, for a given Bot. Hence, there will be an error when the user tried to create a new Telegram Bot source when an existing source is active
![image](https://user-images.githubusercontent.c

[2022-09-21 04:56] vunguyenhung commented on #4266
Thank you for confirming @dannyroosevelt. I have created the issue here: https://github.com/PipedreamHQ/pipedream/issues/4300.

Hence I will close this Github issue 🙏

[2022-09-21 04:56] #4266 closed

[2022-09-21 05:06] vunguyenhung commented on #4265
@dannyroosevelt, I can create the Linear source from the Workflow Builder UI.
![FireShot Capture 362 - Untitled workflow - Pipedream - pipedream com](https://user-images.githubusercontent.com/18277920/191418278-75e8235b-a3e2-4fc2-b15e-d57b0499bb54.png)

I suspect that this issue might also related to Linear API: Create Webhook intermittently takes longer than Pipedream's timeout duration.

[2022-09-21 05:32] SwethaKumaravel opened #4301 "[ACTION]Google pub/sub push option"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-09-21 07:20] acmecovn opened #4302 "[APP] Odoo"
**Name of app / service**
odoo

**Link to developer documentation**
https://www.odoo.com/documentation/15.0/developer/api/external_api.html

**Is lack of support preventing you from building workflows, or do you have a workaround?**

nope, i'll REST it for now. would be nice to have first party support tho

**Are there specific actions, or triggers, you'd like to see for this app? Please let us kn

[2022-09-21 07:24] acmecovn opened #4303 "[APP] formidable forms"
**Name of app / service**
formidable forms

**Link to developer documentation**
https://formidableforms.com/knowledgebase/formidable-api/

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for ea

[2022-09-21 09:12] yadavkeshav27 opened #4304 "[ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-09-21 12:21] luancazarine commented on #3466
I removed that action due this https://github.com/PipedreamHQ/pipedream/pull/4212#discussion_r974716306

[2022-09-21 13:13] myappfree commented on #4287
hello @vunguyenhung ,

Important Note:
Most of Clickup user come from Jira Migration. The first problem that you have once migrated is that task id of click up are different form Jira task ID. To fix this iussue ClickUP introduced a new filed "CustomTaskID" that import the Jira ID.
They also Updated all API endpoint to be able to use clickup task id or CustomTaskID.

ClickUp API integration do not

[2022-09-21 13:13] luancazarine commented on #3466
@Hassan-Abbas-SQA the new PR is this https://github.com/PipedreamHQ/pipedream/pull/4305

[2022-09-21 13:15] Hassan-Abbas-SQA commented on #3466
@luancazarine Alright then ready to release 🛳

[2022-09-21 13:19] myappfree opened #4306 "[BUG] Bitbucket instant trigger fire error Cannot read properties of undefined (reading 'deployComponent')"
**Describe the bug**
TypeError:
Cannot read properties of undefined (reading 'deployComponent')
    at e.mutate (https://pipedream.com/_static/deployComponent.5a6d69ab.js:1:13665)
    at async a.<computed>.a.<computed>.i.<computed> (https://pipedream.com/_static/index.793b6f15.js:2:508249)
    at async Proxy.deploy (https://pipedream.com/_static/component-form.6727050e.js:1:9301)

**To Reproduce**

[2022-09-21 13:30] vunguyenhung commented on #4287
Thanks @myappfree, I have updated the description

[2022-09-21 13:43] #4304 closed

[2022-09-21 13:45] vunguyenhung commented on #4303
Hello @acmecovn, would you mind specify actions or triggers you'd like to see for this app?

[2022-09-21 13:45] dylburger commented on #4303
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-21 13:50] vunguyenhung commented on #4301
Hello @SwethaKumaravel, could you elaborate specific action you want for the Google Cloud Pub Sub? Additionally, have you able to find the API Docs for it?

[2022-09-21 14:45] vunguyenhung commented on #4306
Hello @myappfree, I'm not able to reproduce your issue. As my BitBucket: New Pull trigger is create successfully on my side.
![Screen Shot 2022-09-21 at 21 44 41](https://user-images.githubusercontent.com/18277920/191535657-d26c9f69-3a01-4659-a637-9c7e6b2582b9.png)

Could you try to reconnect your BitBucket account and try again?
![Screen Shot 2022-09-21 at 21 43 28](https://user-images.githubuser

[2022-09-21 15:10] vunguyenhung opened #4309 "[ENHANCEMENT] Update Woodpecker.co app connection popup description"
**Is your feature request related to a problem? Please describe.**
The Woodpecker.co app connection popup description have a guide for users to create the API Key
![Screen Shot 2022-09-21 at 22 04 28](https://user-images.githubusercontent.com/18277920/191540601-49f08713-cc9c-4730-ba32-b1b22b15a703.png)

But it seems like outdated, as in Woodpecker the Marketplace section is not inside Settings any

[2022-09-21 15:26] #4198 closed

[2022-09-21 15:27] myappfree commented on #4306
the problem seems to be solved now,
but it we had it for 8 hours

[2022-09-21 16:41] sergioeliot2039 commented on #4302
A couple of head ups.
[External API](https://www.odoo.com/documentation/15.0/developer/api/extract_api.html) uses XML RPC
[Extract API](https://www.odoo.com/documentation/15.0/developer/api/extract_api.html) is a paid module within Odoo, uses JSON-RPC2, its request uses a complex object

[2022-09-21 19:41] Hassan-Abbas-SQA commented on #3726
works fine as expected ready to release
<img width="1412" alt="image" src="https://user-images.githubusercontent.com/104946677/191595676-fb7a6914-b87b-47fb-88ce-ab3a3d044dce.png">

[2022-09-21 20:11] Hassan-Abbas-SQA commented on #3766
@jverce i can’t see any sources in your PR so can you please remove them from the first comment please
<img width="254" alt="image" src="https://user-images.githubusercontent.com/104946677/191601045-481c42d3-b110-4bb4-a1af-acd8338bc76c.png">

[2022-09-21 23:45] sweepy84 commented on #4166
Note for reference - It appears that when we try to create an Apex Class or Apex Trigger (2 things Pipedream Salesforce source requires) it fails with the below messages.
This appears to be something to do with Salesforce locking. A support ticket was raised. Will provide further updates for reference.

<img width="609" alt="image" src="https://user-images.githubusercontent.com/4423880/191628862-5

[2022-09-22 00:38] dylburger commented on #4177
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-22 03:51] #3726 closed

[2022-09-22 09:36] vunguyenhung opened #4313 "[APP] adalo"
First requested by a user here: https://pipedream.com/community/t/how-to-integrate-auth0-with-adalo-app/3333

**Name of app / service**
adalo

**Link to developer documentation**
https://developers.adalo.com/docs/basics/introduction

**Is lack of support preventing you from building workflows, or do you have a workaround?**
No

**Are there specific actions, or triggers, you'd like to see for this

[2022-09-22 09:37] victor-helios commented on #4195
@dannyroosevelt That's working fine, thanks a lot!

[2022-09-22 09:37] #4195 closed

[2022-09-22 09:38] dylburger commented on #4313
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-22 11:04] Hassan-Abbas-SQA commented on #3766
@jverce here is the testcases all the actions work fine as expected
![FireShot Capture 004 - Untitled workflow - Pipedream - pipedream com](https://user-images.githubusercontent.com/104946677/191730376-b7822cfe-56f0-47b0-9079-788995c27e2d.png)

[2022-09-22 11:07] Hassan-Abbas-SQA commented on #3766
@jverce i have edited your comment and removed the triggers written so we don’t get confused that triggers are abscent in this PR thanks moving this ticket to ready for release

[2022-09-22 11:33] Hassan-Abbas-SQA commented on #3549
@feyzullah TestCases
1: Place Order : Bug : if QTY or Notional are required fields these should be in the required fields section not in optional fields section
<img width="974" alt="image" src="https://user-images.githubusercontent.com/104946677/191734731-18f53266-30f3-49cf-86fe-53397157bd5a.png">

2: Cancel order: Bug: when i want to select a manual entry key Pipedream page gets freezes may be s

[2022-09-22 13:25] ahsanirfan85 opened #4314 "[APP]Instagram"
**Name of app / service** Insatgram

**Link to developer documentation** https://developers.facebook.com/docs/instagram/

**Is lack of support preventing you from building workflows, or do you have a workaround?** I do have a work around, but it would be far easier if I could use PipeDream for it.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here o

[2022-09-22 14:01] HelloAlexPan commented on #163
Bumping this issue for visibility — we would really really need this feature

[2022-09-22 15:20] #3803 closed

[2022-09-22 15:20] andrewjschuang commented on #4165
@Hassan-Abbas-SQA I don't think currently we can have too many urls currently, since it exceeds the maximum time when fetching all of them. That's why the description was added.

I've tested without the sorting part, but the result is the same. Hence the problem is when there are too many URLs.

[2022-09-22 15:38] Hassan-Abbas-SQA commented on #4165
@dannyroosevelt if there is no need of many urls right now can we ship this to ready for release and @andrewjschuang will create another issue for tracking this issue later?

[2022-09-22 15:40] dylburger commented on #163
@HelloAlexPan We're discussing a design for this internally. Could you tell me exactly what you're hoping to use it for? I'd love to pass that feedback to the team.

[2022-09-22 15:45] Hassan-Abbas-SQA commented on #4165
@andrewjschuang can you plaese move this ticket to ready for QA so i can ship it to ready for release

[2022-09-22 15:46] michelle0927 commented on #4165
@Hassan-Abbas-SQA Did you try making use of the `max` prop? If you set it to a lower number (like 10), it will work for many urls. That's the reason it was added in this PR.

[2022-09-22 15:58] andrewjschuang commented on #4165
Wait I just checked the code and we're running it synchronously. @michelle0927 can you change it to parallel and test it again to see if it helps? With and without the sorting too?

[2022-09-22 16:24] ManuelBuri opened #4315 "[ACTION] Update contact details for HubSpot Contact"
**Is there a specific app this action is for?**
HubSpot
**Please provide a link to the relevant API docs for the specific service / operation.**
https://developers.hubspot.com/docs/api/crm/contacts#endpoint?spec=PATCH-/crm/v3/objects/contacts/{contactId}

[2022-09-22 16:34] n-h-n opened #4316 "[FEATURE] show member accounts last login timestamp for organizations"
**Is your feature request related to a problem? Please describe.**
On the members page, it'd be great to have a column that shows last login timestamp.

**Describe the solution you'd like**
Add a column with the last login timestamp.

**Do you have a workaround?**
Nope.

**Comparable features in other tools?**
Is this feature or one like it available in another platform? If so, we'd love to hear w

[2022-09-22 17:00] Hassan-Abbas-SQA commented on #4165
yes it worked

[2022-09-22 17:02] andrewjschuang commented on #4165
Yes, but can you remove it from `activate`? Because it will run twice when deployed

[2022-09-22 17:07] michelle0927 commented on #4165
@andrewjschuang I tried removing the activate hook, and it's still freezing up for me.

[2022-09-22 17:11] andrewjschuang commented on #4165
Oh then I guess there's no way, thanks for testing

[2022-09-22 17:26] dylburger commented on #4272
This should be completed! Please let us know if you see any issues

[2022-09-22 17:26] dannyroosevelt commented on #4272
Users will unfortunately have to reconnect their account in order for the fix to take effect.

[2022-09-22 17:45] sergioeliot2039 commented on #4313
Adalo is integrated here -- https://pipedream.com/apps/adalo

Duplicate, closing

[2022-09-22 17:45] #4313 closed

[2022-09-22 17:56] sergioeliot2039 commented on #4314
The Instagram app for Pipedream is pending approval by Facebook, Instagram's parent company.

We are tracking this here https://github.com/PipedreamHQ/pipedream/issues/445, feel free to follow there, if you'd like.

[2022-09-22 17:56] #4314 closed

[2022-09-22 19:45] Hassan-Abbas-SQA commented on #4047
TestCases Passed
![image](https://user-images.githubusercontent.com/104946677/191837185-c0c515a4-fd27-46a1-9671-dab4ee804059.png)
![Uploading image.png…]()
Ready for release

[2022-09-22 20:22] feyzullah commented on #3549
Hello @Hassan-Abbas-SQA for the first comment;
There are 2 props and there is such case;
* At least one of the props should be given
* Both of them cannot be given at the same time
So if we add `Qty` we cannot add `Notional` and if we add `Notional` we cannot add `Qty`.
Because of these, I needed to make them `optional` props. If any other info is needed for the prop descriptions, we can put them

[2022-09-22 20:55] Hassan-Abbas-SQA commented on #3549
@feyzullah
<img width="646" alt="image" src="https://user-images.githubusercontent.com/104946677/191849298-e234f093-c6f5-4d61-9c16-9b39dcf75240.png">

[2022-09-22 21:13] #4165 closed

[2022-09-22 21:14] #3549 closed

[2022-09-22 23:53] #3766 closed

[2022-09-23 00:39] dylburger commented on #4185
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-23 03:25] HelloAlexPan commented on #163
we're a multitenant SaaS app and we want to use Pipedream as the integration layer for a lot of the integrations we build for our customers. A use case would be e.g. the following:

1. Tenant 1 wants to automatically post a message to Slack when they do an in app action
2. Our company creates a Slack app that does this in isolation across multiple tenants. E.g., Tenant 1's in-app action triggers a

[2022-09-23 08:43] jmsfwk opened #4319 "[APP] DeployHQ"
**Name of app / service**
DeployHQ

**Link to developer documentation**
https://www.deployhq.com/support/api

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I can use a secret for now, but app auth would be better.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue temp

[2022-09-23 10:37] vunguyenhung commented on #4194
Hello everyone, I have tested this PR and there're some test cases failed or needed improvement.

Please check the test report below for more information
[Pipefy_4311_1737.pdf](https://github.com/PipedreamHQ/pipedream/files/9632925/Pipefy_4311_1737.pdf)

[2022-09-23 12:07] #4047 closed

[2022-09-23 13:56] ctrlaltdylan opened #4321 "[BUG] importing Nhost Javascript Client breaks Node.js code steps"
**Describe the bug**
When attempting to import the `NhostClient` from NPM, the Pipedream code step breaks with a message:

`Code Error could not compute configurable props`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Node.js code step
2. Attempt to import an version of the NHostClient
3. Test and observe error

[code]

**Expected behavior**
I expect to be able to import the

[2022-09-23 14:36] vunguyenhung commented on #4321
I can also reproduce this on my side
![image](https://user-images.githubusercontent.com/18277920/191985592-639c7678-335e-4b95-9914-4cf0a87a9add.png)

[2022-09-23 14:39] vunguyenhung commented on #4315
Hello @ManuelBuri, thank you for raising this issue. Since we already have [a ticket here](https://github.com/PipedreamHQ/pipedream/issues/4169) so I will close this ticket. Also I will reprioritize the existing tickets per your needs 🙏

[2022-09-23 14:40] abe-101 commented on #3308
Any way to use meetup.com as a source event?

I'd like to trigger an action every time theres a new event

[2022-09-23 14:43] vunguyenhung commented on #4316
Hello @n-h-n, thank you for the suggestion. I have added this to our internal backlog for evaluating. Any updates will be made to this Github issue 🙏

[2022-09-23 14:45] vunguyenhung commented on #4319
I have checked:
- [x] No existing Github issue requesting for DeployHQ
- [x] Pipedream currently doesn't have DeployHQ integrated

Hence I will add this to our app backlog 🙏

[2022-09-23 14:45] dylburger commented on #4319
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-23 14:48] #3838 closed

[2022-09-23 16:29] soyabn09 opened #4322 "[BUG] Data source not connected to workflow step"
**Describe the bug**
I'm trying to connect a data source to a workflow step but the step doesn't show it under inputs that have been linked to the data source. Older data sources work fine but every time I create a new data source it doesn't seem to be actually connected with the step.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a NodeJS step
2. Create a data source prop
3. Creat

[2022-09-23 16:30] soyabn09 commented on #4322
![image](https://user-images.githubusercontent.com/45386264/192008771-e230f1b0-8fbd-490a-8b89-d24964ab747a.png)

[2022-09-23 17:07] dannyroosevelt commented on #4265
@vunguyenhung I got Jacob to help investigate this and it might be due to the source automatically trying to fetch too many events on deploy. Can you get a ticket on the board to make sure Linear sources (for both `linear` and `linear_app`) only fetch 100 events on deploy?

[2022-09-23 19:43] Mammon69 opened #4323 "[OAUTH SCOPE]"
**Which application needs a scope added?**

**What scope(s) need to be added?**

**Please provide a link to the relevant API docs for scopes.**

[2022-09-23 19:43] Mammon69 opened #4324 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-09-23 19:56] ctrlaltdylan commented on #4322
Thanks for reporting @soyabn09 , to add additional context, this is when the account has 14 data stores.

[2022-09-23 20:19] #4324 closed

[2022-09-23 20:19] #4323 closed

[2022-09-23 23:29] dylburger commented on #4147
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-23 23:29] #4147 closed

[2022-09-24 01:14] vunguyenhung opened #4325 "[IMPROVEMENT] Linear & Linear App sources: Only fetch 100 records for initial historical events"
Related to the bug here https://github.com/PipedreamHQ/pipedream/issues/4265

**Is your feature request related to a problem? Please describe.**
When deploying a new Linear New Issue Created (Instant) source, the source will automatically fetch **all** existing Linear issues [per the code here](https://github.com/PipedreamHQ/pipedream/blob/2cc556085eec3fda652f88be60c04426c2a0aef0/components/linear

[2022-09-24 01:17] vunguyenhung commented on #4265
I think Jacob investigation makes sense @dannyroosevelt! I have created the ticket here: https://github.com/PipedreamHQ/pipedream/issues/4325 and moved it to near-top of component backlog

[2022-09-24 01:17] #4265 closed

[2022-09-24 07:27] pocaloso opened #4326 "[BUG] Webhook workflow cannot select events for follow up steps"
**Describe the bug**
I cannot select event in my webhook for follow up testing. It seems all post events are not logged in the first step(trigger) of the workflow.
https://pipedream.com/@gdevevoasis/receiveemqx-p_o7CkzWj/inspect

[2022-09-24 07:38] pocaloso commented on #4326
This workflow has been delopyed already and is working. However when I edit the workflow, I cannot see all posted events for later steps, only one old event is shown. I event sent many test post data to the url, but again those test event are now shown.

[2022-09-24 13:03] pocaloso commented on #4326
I just checked this incident report and it looks like the same issue is happening again.
https://status.pipedream.com/incidents/hvkl221wcvv9
At least "event inspector did not show the results of incoming events" is what I was experienced.

[2022-09-24 18:44] MathiasSsenabulya opened #4328 "Unable to edit V1 Worklows"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'pipedream.com/workflows' after logging on
2. Click on any existing V1 workflow to edit it
3. Editor opens with events on the left, but no workflow displayed on the right.

**Expected behavior**
Expected: Workflow steps display on the right to be edited.

**Screensho

[2022-09-24 18:47] dylburger commented on #4328
@MathiasSsenabulya Thanks for reporting. We're tracking this incident [here](https://status.pipedream.com/incidents/01wcwrht0nw6?utm_source=slack) and will update when the fix is out.

[2022-09-24 18:47] #4328 closed

[2022-09-25 01:13] dylburger commented on #4326
Hi @pocaloso , thanks for reporting. I'm not able to reproduce - that feature is working correctly for me.

Could you [follow the troubleshooting steps outlined here](https://pipedream.com/docs/troubleshooting/#a-feature-isn-t-working-on-pipedream-com) and let me know if you're still seeing the issue?

If you're still having trouble, can you post a screen recording of how to reproduce the issue, a

[2022-09-25 01:15] dylburger commented on #163
Thanks!

In case 1, would the Slack auth grant be tied to your end user? i.e. would you expect Pipedream would provide you a way to launch an OAuth authorization popup within your own app, so that your own users could authorize your access to their Slack accounts? Then you'd be able to run workflows on behalf of your users within Pipedream?

In case 2, is that also the case, or would an employee o

[2022-09-25 01:26] dylburger commented on #4279
@LucBerge This is actually by design, and I updated the docs to clarify. You can't use the native delay feature with `$.respond` because we actually end the original execution of the workflow, suspend the workflow state for the delay period, then invoke a separate instance of the workflow code after the delay.

If you're only waiting a short time, can you run a `setTimeout` instead of delay to pau

[2022-09-25 01:33] dylburger commented on #4280
Hi @LucBerge , unfortunately in HTTP, a client cannot receive two HTTP responses to a single request. This is the HTTP spec. [See details here](https://stackoverflow.com/a/46535111).

As that answer mentions, different protocols allow for this. If Airtable allowed you to listen to an SSE stream, for example, and update the value of a cell with some JavaScript that ran on new SSE events, you could

[2022-09-25 01:33] #4280 closed

[2022-09-25 01:34] #4258 closed

[2022-09-25 04:04] GTFalcao commented on #3736
Polly's API currently requires a Pro Subscription to be used, so I'm blocking this for now.

[2022-09-25 05:11] pocaloso commented on #4326
Today I give it a test and now I can select all posted events. So I think this is fixed.

[2022-09-25 05:11] #4326 closed

[2022-09-25 10:15] arg1972 opened #4330 "[APP]**integration in sending messages from a google sheet to whatsapp**"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-09-25 12:57] HelloAlexPan commented on #163
Hey @dylburger, apologies both 1 and 2 are from the same case.

**Would the Slack auth grant be tied to your end user?**  — yes! :)

[2022-09-25 16:14] sergioeliot2039 commented on #4330
interesting @arg1972 requests!!

First off,
Google Sheet is integrated here: https://pipedream.com/apps/google-sheets
WhatsApp is blocked because we can't create an app that others can use, we are waiting for Meta, WhatsApp's parent company  to roll out a feature allowing this. We are tracking WhatsApp app integration here: https://github.com/PipedreamHQ/pipedream/issues/2896

Second, it seems you

[2022-09-25 16:14] dylburger commented on #4330
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-25 16:26] sergioeliot2039 commented on #2896
@lcaresia question, for context, following up the link that Danny Roosevelt provided

This nice note is take from [Get Started With the WhatsApp Business Cloud API](https://developers.facebook.com/docs/whatsapp/cloud-api/get-started)

[2022-09-25 21:58] #3755 closed

[2022-09-26 00:41] #4306 closed

[2022-09-26 00:44] dylburger commented on #4222
This has been fixed.

[2022-09-26 00:44] #4222 closed

[2022-09-26 00:49] dylburger commented on #4221
Since we're actively deprecating the Discord Webhook integration, I'm going to close this.

[2022-09-26 00:49] #4221 closed

[2022-09-26 06:59] asheroto opened #4332 "[APP] ICS calendar access (create/edit/delete event)"
**Name of app / service**
ICS calendar files

**Link to developer documentation**
https://www.lifewire.com/ics-file-2622749
https://docs.fileformat.com/email/ics/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Yes, I'm stuck for now!

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action an

[2022-09-26 07:04] asheroto opened #4333 "[APP] Microsoft Exchange"
**Name of app / service**
Microsoft Exchange

**Link to developer documentation**
https://learn.microsoft.com/en-us/Exchange/client-developer/exchange-server-development

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Yes

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger iss

[2022-09-26 11:50] lcaresia commented on #2896
@sergioeliot2039 Is need an approved by Meta Whatsapp Business number, besides is necessary create the app yet.

[2022-09-26 13:52] ctrlaltdylan opened #4336 "[BUG] Dynamics 365 Business Central - Unauthorized"
**Describe the bug**

We created some test workflows accessing Dynamics 365 Business Central using OData and basic authentication with a Web Service Access Key.

As Microsoft is deprecating the access key method and OData access, we started shifting to oAuth2 last week.

We have everything working in Postman, but when we try the default oAuth and Bearer Token access method with the Dynamics 365 pl

[2022-09-26 15:03] Ssid0427 opened #4338 "[APP] Microsoft Excel"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-09-26 16:16] dylburger commented on #4333
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-26 16:25] sergioeliot2039 commented on #4333
I renamed to Microsoft Exchange Server because this uses a different web services protocol than Online's.

Microsoft Exchange Server's web services uses the SOAP protocol.

[2022-09-26 16:44] sergioeliot2039 commented on #4338
Hi @Ssid0427 , thanks for the request.

I modified your request to stand for Excel.
There is already a Google Sheet integration:  https://pipedream.com/apps/google-sheets

Once Excel is integrated, you will be able to create a workflow that addresses your logic,
here is a guide for building workflows: https://pipedream.com/docs/workflows/

[2022-09-26 16:45] dylburger commented on #4338
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-26 17:49] luancazarine commented on #3840
I tried to create the account a few times, but I never received the email to complete it, so I will return the task until I can create it

[2022-09-26 17:58] harmeet-1337 opened #4339 "[ACTION] Linkedin Get Saved Posts"
**Is there a specific app this action is for?**
Linkedin

**Please provide a link to the relevant API docs for the specific service / operation.**
Goal is to sync linkedin saved post in notion.

https://www.linkedin.com/help/linkedin/answer/a527126/save-content-in-your-feed?lang=en

[2022-09-26 18:40] dannyroosevelt opened #4340 "[ACTION] Extend YouTube Data API components to YT Custom App"
We should extend support for all the `youtube_data_api` components to the `youtube_data_api_custom_app` app.

[2022-09-26 19:54] dylburger commented on #4033
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-26 20:22] ESadouski commented on #3407
Hey, @alysonturing. Seems it still not working. Did you find a workaround?

[2022-09-26 21:26] dylburger commented on #4138
This should be completed! Please let us know if you see any issues

[2022-09-26 21:26] #4138 closed

[2022-09-26 21:29] dannyroosevelt commented on #4138
This is done for apps where there are only a single auth provision (supporting defaults for multiple auth provisions is on the backlog):
[GIF 2022-09-26 at 2 21 11 PM](https://user-images.githubusercontent.com/20780753/192383993-b20ff357-002a-4670-9689-a51868519605.gif)

[2022-09-27 03:10] maxtheman commented on #163
I would also find this useful @dylburger. I came across Pipedream searching for the exact use case that @HelloAlexPan described.

[2022-09-27 10:13] Hassan-Abbas-SQA commented on #4336
@ctrlaltdylan
for this line
We have everything working in Postman, but when we try the default oAuth and Bearer Token access method with the Dynamics 365 plug-in in Pipedream, we continue to get ‘not authorized!’
iam able to Sign in
![image](https://user-images.githubusercontent.com/104946677/192498644-b15a9c3b-e2ae-4460-88f7-a44348d083ea.png)

[2022-09-27 12:15] AlexHurtadoMKTD opened #4343 "[APP]"
**Chatrace**

**https://api.chatrace.com/swagger/**

Chatrace is a chatbot builder and I would like to see it added or updated as it used to be Silferbots. What I would like to be able to do with chatrace to connect with other apps is:
Create new contacts, send flows, send custom fields, send labels, find contacts, and everything else that can be done with the Chatrace API.

[2022-09-27 12:49] Hassan-Abbas-SQA commented on #4336
@ctrlaltdylan iam able to sign in with 365 and Dynamic Central as well
https://user-images.githubusercontent.com/104946677/192508370-7eb2de85-f27a-474d-8926-8a225dcf8760.mov

[2022-09-27 13:39] ctrlaltdylan opened #4345 "[BUG] Pipedrive - New Deal - Max execution limit reached"
**Describe the bug**
When attempting to use the **Pipedrive - New Deal** source, I can develop with single events just fine.

But after deploying my workflow, the source fails with a maximum timeout error.

![image (23)](https://user-images.githubusercontent.com/2694734/192542092-f1d86964-4ddb-4a57-91db-220a77f902ed.png)

**Additional context**
Reported by user over email.

Might need to seed a Pi

[2022-09-27 15:48] dylburger commented on #4343
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-27 15:55] Swieter commented on #198
I too have a desire to use a fully custom domain.

[2022-09-27 16:01] dylburger commented on #3932
This should be completed! Please let us know if you see any issues

[2022-09-27 16:41] Jauntyalien opened #4349 "Canva[APP]"
**canva**

**[Link to developer documentation](https://www.canva.com/)**

**[Is lack of support preventing you from building workflows, or do you have a workaround?] yes**

*NO! i want to use this app through here**

[2022-09-27 16:49] #3761 closed

[2022-09-27 16:56] #4297 closed

[2022-09-27 17:05] sergioeliot2039 commented on #4349
Hi @Jauntyalien , thanks for the request.

Can doesn't have a REST API we can use to create an app integration at Pipedream.

So for now we are blocked on Canva.

[2022-09-27 17:05] sergioeliot2039 commented on #4349
The correct Canva developer docs are at https://docs.developer.canva.com/apps/

[2022-09-27 17:28] #4213 closed

[2022-09-27 19:12] #3733 closed

[2022-09-27 19:51] dannyroosevelt opened #4350 "[ACTION] Update Threads components to use newest API"
Threads has updated their API host from `threads.com` to `trythreads.com` and has updated their API.
https://github.com/ThreadsHQ/api-documentation

We should update our actions accordingly and add async options for selecting the Channel (this used to be called "Forum"), and I think the shape of the Thread object needs to be updated

- New action: Create a channel

Ping Danny for an API key to tes

[2022-09-27 20:08] dylburger commented on #4339
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-27 20:50] Hassan-Abbas-SQA commented on #4345
@ctrlaltdylan i am unable to reproduce the bug
https://user-images.githubusercontent.com/104946677/192631581-90cbc1fe-1868-431f-a970-54b56ab09f0e.mov

that would be better if client shows us the version number of the source and proper steps to reproduce the issue with screencast

[2022-09-27 22:58] dannyroosevelt commented on #4319
@jmsfwk the DeployHQ app is now integrated:
https://pipedream.com/apps/deployhq

And it looks like your PR was approved and should get merged soon!
https://github.com/PipedreamHQ/pipedream/pull/4320

Thanks so much for the contribution!

[2022-09-27 22:58] #4319 closed

[2022-09-27 23:29] dylburger commented on #4180
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-27 23:29] #4180 closed

[2022-09-28 00:07] jcortes commented on #4325
Hi @vunguyenhung Can you explain more in detail how to reproduce this bug please?

[2022-09-28 00:38] dylburger commented on #4199
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-28 08:50] vinay5xdata opened #4353 "Triggering the workflow when new file is added in S3 bucket"
**Describe the bug**
When new file is added in s3 bucket, the export output is replacing spaces, any other special character with + sign.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to add trigger
2. Click on AWS
3. Scroll down to when new file is added to S3 bucket
4. Upload the file with having spaces or special character in Name, then see the export output. You will see + sign in f

[2022-09-28 11:07] jilzerndt opened #4354 "[updating a google calendar event]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

can i update the start and end time of an event in my google calendar?

[2022-09-28 13:45] trendoscope-algorithms opened #4361 "[FEATURE] Ability to lock sources and workflows to avoid accidental deletion"
**Is your feature request related to a problem? Please describe.**
Since I have my systems running in my account and also I keep trying to do bit of development every now and then, I feel bit uncomfortable about all the workflows and sources being together. I keep deleting the test ones. But, constantly fear about accidentally deleting the ones I require for my workflows. In fact, today, I acciden

[2022-09-28 14:19] evolts21 opened #4362 "[BUG] Error saving timezone in CRON"
**Describe the bug**
If i set the timezone to Rome/Europe using the cron in the source, it saves it, but when I reload the source, it's always saved with as UTC.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the timer in a trigger
2. Choose Cron
3. Set the timezone to something different from UTC
4. Save it
5. Reload the source
6. The timezone is set to UTC

Additional info: modifying

[2022-09-28 14:24] trendoscope-algorithms opened #4363 "[APP] BingX crypto exchange"
**Name of app / service**
BingX Crypto Exchange

**Link to developer documentation**
https://bingx-api.github.io/docs/swap/introduce.html

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I am very ambitious on crypto exchange integrations. This will definitely be the first of many. I am also ready to do the development for actions. But, I may need the in

[2022-09-28 14:24] dylburger commented on #4363
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-09-28 14:29] #4169 closed

[2022-09-28 14:34] ctrlaltdylan commented on #4363
@dannyroosevelt can we support pre-flight request signature generation?

This API signs each payload that's unique to each request: https://bingx-api.github.io/docs/swap/authentication.html#signature

[2022-09-28 14:44] sergioeliot2039 commented on #4363
I think so, usually a components handles signature creation for sending the request, as far as I remember
however on the App Store Project I am marking these as blocked for now on this project I am adding only key based apps, hopefully this can be prioritized internally.

that said, I created a couple of API Key, if someone needs them they are on the Project App Store sheet. kind of a hassle it ne

[2022-09-28 15:01] ctrlaltdylan commented on #4363
@trendoscope-algorithms , I think you're right. The component itself will need to contain the logic to generate the signature.

I published the app as is, it will ask for your BingX `api_key` and `secret_key`, and that will allow you to build out the component to authenticate.

Here's the marketplace page: https://pipedream.com/apps/bingx

I added a note in the app scaffolding about this caveat.

[2022-09-28 15:10] trendoscope-algorithms commented on #4363
@ctrlaltdylan - Yes I can build the signature generation in action components. I have a running python code block in my local. Just need to build on the same basis.

[2022-09-28 16:55] dylburger commented on #1849
Pipedream has received our first SOC 2 Type I report! We've revised [our security docs](https://pipedream.com/docs/privacy-and-security/) to include key controls. You can reach out to support@pipedream.com to request a copy of the report.

[2022-09-28 16:55] #1849 closed

[2022-09-28 17:11] dannyroosevelt commented on #4332
@asheroto I don't think there's a web API for Pipedream to interact with ICS files, right?

Have you seen this done elsewhere in other platforms?

[2022-09-28 17:31] dannyroosevelt commented on #4138
Ah that's a good catch @andrewjschuang, that is a bug that I just flagged to eng.

[2022-09-28 17:31] ctrlaltdylan opened #4366 "[BUG] Slack Bot API actions failing to run"
**Describe the bug**

Slack Bot actions fail to run test events.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new Slack Bot - Use any Slack Bot API action to a workflow
2. Connect your Slack Bot with a valid bot token
3. Click **Test**
4. See infinite loading screen

**Expected behavior**
I expect to be able to test Slack Bot actions.

**Screenshots**
![CleanShot 2022-09-28 at 13 32

[2022-09-28 19:38] Hassan-Abbas-SQA commented on #4354
@jilzerndt which event you are talking about?
what do you want to update in time props?

[2022-09-28 20:25] dylburger commented on #4354
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-28 20:46] asheroto commented on #4332
I haven't seen around the net as much as I used to. For a time it was the only option to work with calendars. Nowadays so many use Gmail (Google) or Office 365 (Microsoft) and they have their own APIs, which Pipedream does support, of course.  I did put in a request for Exchange Server integration.

ICS / iCal format may not be in big demand, not sure - it's just a long-standing calendar standard.

[2022-09-28 20:58] jcortes commented on #4325
Hi @vunguyenhung I've tested it and was able to reproduce. So I think one strategy we can try to use it's just to display the latest 200 items because otherwise we'll have that kind of timeout from Pipedream and then just start listening on new webhook events. I made some modifications so you can test them out. Also made some improvements and refactors.

[2022-09-28 22:08] Hassan-Abbas-SQA commented on #4362
before
<img width="1100" alt="image" src="https://user-images.githubusercontent.com/104946677/192897440-fe63f387-c264-4be2-b45d-52b392ccb3cc.png">
after
<img width="494" alt="image" src="https://user-images.githubusercontent.com/104946677/192897507-cf5ac2f7-5500-4958-b8c3-f4753543ecab.png">
verified the bug internally

[2022-09-28 22:48] Hassan-Abbas-SQA commented on #3685
@lcaresia while testing this source i was receiving the events but logs had an error
<img width="1250" alt="image" src="https://user-images.githubusercontent.com/104946677/192902048-6fac1366-7c62-4e81-a7eb-dc8682c8dd57.png">

[2022-09-28 23:29] dylburger commented on #4301
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-09-28 23:29] #4301 closed

[2022-09-29 00:39] dylburger commented on #4231
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-29 00:39] dylburger commented on #4225
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-29 07:05] SwethaKumaravel commented on #4301
hi we needed a google pub/sub publish ,create topic ,subscription etc actions in google cloud option

[2022-09-29 13:11] ctrlaltdylan opened #4373 "[BUG] SurveyMonkey - Survey Response not providing additional details"
**Describe the bug**
We are unable to retrieve the full details of a survey answer, only the basic details of the survey response are included.

It's possible this  `this.getSummary()` method in the `sources/common/base.mjs` is the culprit:

https://github.com/PipedreamHQ/pipedream/blob/4668af2bb91f1b7bc4d910e9bbb28d392d862b22/components/survey_monkey/sources/common/base.mjs#L27

**To Reproduce**

[2022-09-29 16:06] Nicolrnt commented on #4169
Awesome ! Thanks for the integration ! I've already implemented it in my workflows :)

[2022-09-29 16:31] dannyroosevelt commented on #3202
This shouldn't be blocked -- @lcaresia can you tell if we're able to detect the setting Pierce mentioned?

[2022-09-29 16:32] dannyroosevelt commented on #3239
It doesn't look like TickTick's API supports getting all tasks or webhooks on new task creation / updates, etc.

[2022-09-29 16:32] #3239 closed

[2022-09-29 16:39] dannyroosevelt commented on #4230
@DilanAthukorala can you tell me more about the authentication base URL being invalid?

[2022-09-29 16:40] dannyroosevelt commented on #3863
@lcaresia why is this blocked?

[2022-09-29 16:48] dannyroosevelt commented on #2801
I just submitted another request

[2022-09-29 16:56] ctrlaltdylan opened #4374 "[BUG] Other subscribed workflows to a source will receive events while testing"
**Describe the bug**
If one source is connected to multiple workflows, and I generate a test event for that source while developing on a single workflow, the other deployed workflows listening to that same source will be triggered with the test event.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an HTTP source
2. Create an deploy a workflow with that HTTP source as the trigger (Wor

[2022-09-29 16:58] dannyroosevelt commented on #3985
This is done:
https://pipedream.com/apps/razorpay/

[2022-09-29 16:58] #3985 closed, assigned to nobody

[2022-09-29 16:59] dannyroosevelt commented on #3980
The app is now integrated: `razorpay`

[2022-09-29 17:07] #4267 closed

[2022-09-29 17:19] dannyroosevelt opened #4375 "[TRIGGER] Yotpo New Reviews Received"
This is a super old source that is in our repo but was never published.

Let's review the code and make whatever necessary changes are needed, then pass it to QA.

Let's also change the name and key to use a past tense verb, since it's a source:
New Reviews Received: `yotpo-new-reviews-received`

https://github.com/PipedreamHQ/pipedream/blob/master/components/yotpo/sources/new-reviews/new-reviews.

[2022-09-29 17:59] DilanAthukorala commented on #4230
@dannyroosevelt I was unable to connect to the authentication base url called from pipedream (looks like it doesn't exist) and it's different from the base URL of my actual Salesforce account.

[2022-09-29 18:05] dylburger commented on #4354
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-09-29 18:09] Hassan-Abbas-SQA commented on #4354
@jilzerndt pardon me for the interruption somehow reequested user help with componenet label was removed so added action docs label again so that it will trigger the process as it should be

[2022-09-29 20:42] dannyroosevelt commented on #3888
For my own notes: this app is configured but the `api_domain` that is returned in the Access and Refresh Token Requests does not match the expected format.

Returned: `https://www.zohoapis.com`
Expected: `https://api.catalyst.zoho.com`

[2022-09-29 20:58] jcortes commented on #3221
Credentials are pending! We wrote an email to `oem@gdata.de`

[2022-09-29 21:06] dannyroosevelt commented on #3221
I also requested credential. A basic app integration is live here:
https://pipedream.com/apps/verdict-as-a-service

[2022-09-29 22:16] Hassan-Abbas-SQA commented on #4366
unable to reproduce the issue
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/104946677/193151953-eab873a7-2d2c-4d05-ba79-69a520e4aee5.png">

[2022-09-29 22:47] Hassan-Abbas-SQA commented on #3685
Testcases Passed
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/104946677/193155204-5e1d3419-57e7-4712-b009-ce80396a9b48.png">
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/104946677/193155220-68c07584-95ee-490d-ae39-4f2db382d485.png">
ready to deploy

[2022-09-29 22:52] #3702 closed

[2022-09-29 22:52] #3836 closed

[2022-09-29 23:25] dylburger opened #4378 "[DOCS] Document channeled $.send.emit calls"

[2022-09-29 23:33] vellames commented on #4375
Hummm. There are some pattern problems here. I think anyone of our developers could rewrite this.

[2022-09-29 23:49] tsadler4857 commented on #4373
Some further information on the issue we have seen...

The initial event received includes limited information with only collector_id, recipient_id, respondent_id, survey_id and user_id.  These values are enough to make a follow up call to SurveyMonkey to get the response with its answers, however the pipedream integration doesn't allow for the scope "response_details" and so we are unable to get

[2022-09-30 00:10] dylburger commented on #3952
@LucBerge I didn't realize before, but we're tracking this at #359. We actually have a prototype of this internally and we'll announce on that GH ticket when we release.

[2022-09-30 00:10] #3952 closed

[2022-09-30 00:16] dylburger commented on #3912
Sorry for the late reply, but this is a work in progress and will be a part of #220

[2022-09-30 00:20] dylburger commented on #3886
@andrewjschuang Is the idea that users can override the default template preview link prop?

[2022-09-30 00:28] dylburger commented on #3053
This should be fixed

[2022-09-30 00:28] #3053 closed

[2022-09-30 00:31] dylburger commented on #2668
This is done: https://pipedream.com/docs/code/python/import-mappings/#using-magic-comments

[2022-09-30 00:31] #2668 closed

[2022-09-30 00:31] dylburger commented on #4089
Duplicate of #2565

[2022-09-30 00:31] #4089 closed

[2022-09-30 00:33] dylburger commented on #2543
This was closed by PR #2800

[2022-09-30 00:33] #2543 closed

[2022-09-30 00:34] dylburger commented on #1955
Closing in favor of #2531

[2022-09-30 00:34] #1955 closed

[2022-09-30 00:35] dylburger commented on #2437
We've released support for Pipedream primitives in Python code steps. We plan to support Go and Bash in the future, but I'm closing this for now - please open a new issue if you'd like to see support for a specific feature in Go / Bash steps.

[2022-09-30 00:35] #2437 closed

[2022-09-30 00:38] dylburger commented on #4240
We've added this issue to our backlog. You can follow this issue for updates!

[2022-09-30 00:52] #1934 closed

[2022-09-30 00:56] dylburger commented on #4378
`$.send.emit` now takes a channel as a second param:

[code]

[2022-09-30 00:56] dylburger commented on #1260
`$.send.emit` now takes a channel as a second param:

[code]

[2022-09-30 00:56] #1260 closed

[2022-09-30 00:57] gaurav-nelson opened #4379 "[FEATURE] Allow handling `robots.txt` requests from search engine spiders"
**Is your feature request related to a problem? Please describe.**
Google's spiders hit the trigger URL often, sending `GET/` requests and `GET/robots.txt` requests. When a user is manually handling the responses, this shows up as an error in the workflow request.

**Describe the solution you'd like**
Pipdream should either:
- Send a default `User-agent: *` and `Disallow: /` OR
- Allow users to co

[2022-09-30 00:59] dylburger commented on #3049
This is done

[2022-09-30 00:59] #3049 closed

[2022-09-30 01:05] dylburger commented on #4190
The `account_id` was returned as a part of the access token response, which means we don't need to ask the user for it. Since I used the same key name (`account_id`), this should be backwards-compatible for any users who have already entered the account ID manually.

[2022-09-30 01:05] #4190 closed

[2022-09-30 01:07] #4309 closed

[2022-09-30 03:49] dannyroosevelt commented on #3323
Submitted, pending approval.

[2022-09-30 03:59] dannyroosevelt opened #4380 "[BUG] Slack Upload File action is confusing"
It's not clear how to use the Slack Upload File action and what the props are expecting.

Let's figure out how to improve it.

One user's prototype, as an example:
[code]

[2022-09-30 04:08] dannyroosevelt commented on #4373
@tsadler4857 we have `response_details` as an optional scope on the Pipedream OAuth app for SurveyMonkey, because that requires a paid plan on SurveyMonkey's end.

![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/193187909-cac15e3b-1423-49dd-a381-79fc34db1bed.png)

Can you clarify what you mean re: your own temporary app in SurveyMonkey? Is this a custom OAuth ap

[2022-09-30 07:48] tsadler4857 commented on #4373
Hi,

First, the temporary app is that we have created a private app in draft mode with the "View Response Detalils" scope as required.  This doesn't require us to have the relevant team plan until that draft expires - which is why it is temporary.

We have also created a public app with the same scope required, but we aren't keen to publish a public app and I'm not sure that SurveyMonkey would let

[2022-09-30 07:55] tsadler4857 commented on #4373
A quick update from my end.  I have spoken too soon, but think something may have changed... I'm not quite sure.  My colleague was setting some of this up, but I also worked on it, but I just reconnected using the pipedream surveymonkey app and could now see how to include that response_details scope, which I have done.

I will do some testing and make sure it does what we need. But this might be

[2022-09-30 08:39] trendoscope-algorithms commented on #4363
Hello Everyone,

Done with the initial action implementation. PR here: https://github.com/PipedreamHQ/pipedream/pull/4381

Once reviewed and merged, I can look at the other action implementation.

[2022-09-30 08:41] LucBerge commented on #3952
Nice to know it. Thank you.

[2022-09-30 08:45] LucBerge commented on #359
I'm looking for this feature as well.

It would be nice be able to :
- Embed the form on an other website
- Choose what happens when clicking "Submit" (Redirect, close...etc)
- Add a logo

[2022-09-30 11:34] david-novafacile opened #4382 "[BUG] Source: IMAP - Can't select Mailbox"
**Describe the bug**
It's not possible to get Mailboxes  from IMAP email account.

* With Port 143 the following error appear:
 `139819960051584:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/record/ssl3_record.c:332: `
* With Port 993:
 `Error, please try again`

Feedback from email provider:

**To Reproduce**
Steps to reproduce the behavior:
1. Got t

[2022-09-30 13:23] ctrlaltdylan commented on #4361
Hi @trendoscope-algorithms

Great suggestion, I myself have accidentally deleted workflows and sources I didn't intend to as well.

Per suggestion #2, that is in active development. There is a big improvement coming to how workflows are organized in the Pipedream dashboard and I think it will line up quite nicely with what you're looking for.

Stay tuned for an announcement with that feature!

[2022-09-30 13:33] ctrlaltdylan commented on #4272
I think this bug is still ongoing.

https://pipedream.com/community/t/workflow-typeerror-invalid-url-407674804074840067/3325/11

[2022-09-30 14:29] #4194 closed

[2022-09-30 15:14] luancazarine commented on #3831
@jverce The "Start contact search" endpoint has a field to send the webhook's URL where the result will be posted.
Wouldn't it be better to create it as trigger instead?

https://api.voilanorbert.com/2018-01-08/#search-endpoint-post

[2022-09-30 16:41] dannyroosevelt commented on #4272
@ctrlaltdylan are you able to repro? I am not.

[2022-09-30 17:01] #3849 closed

[2022-09-30 17:32] jverce commented on #3831
@luancazarine even though those calls accept "webhook" parameters, they are semantically different from the event sources as we define them in Pipedream. Event sources are meant to capture events that happen on a 3rd party app, but in this case we want users to perform an action against the app (e.g. doing an e-mail search).

Pipedream users can, however, create an additional workflow with an HTTP

[2022-09-30 17:56] luancazarine commented on #3831
@jverce Ow I got it! It's beacuse we can't create a trigger in hte middle of the workflow! It makes lots of sense!

[2022-09-30 18:07] dylburger commented on #3831
@luancazarine We actually built $.flow.suspend for this use case. See https://pipedream.com/docs/code/nodejs/rerun/#resume-url-and-cancel-url . When you suspend a workflow, you’ll get a resume_url where the API can post results. When you get the results, the step can return them and move on to the next step.

[2022-09-30 18:43] DilanAthukorala opened #4383 "[BUG] Dropbox sources are not working as expected"
**Describe the bug**

Existing Dropbox sources and not functioning properly as described below;

1. "New File" & "New Folder"  sources not emitting events to the Events tab. However the logs shows the new files/folders that has been created / uplodaed
![image](https://user-images.githubusercontent.com/102980146/193335288-1e39404d-5d44-4f50-bbf3-d2f7b2a8dee8.png)
Logs are recorded for events
![imag

[2022-09-30 21:03] Hassan-Abbas-SQA commented on #4382
iam unable to reproduce the bug
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/104946677/193355801-d2ea1600-9b97-4720-9ee4-d5227b80b557.png">

[2022-09-30 21:32] david-novafacile commented on #4382
It's still there. It's not Gmail or similar. It's an email account at a big german web hosting provider (all-inkl.com).

![grafik](https://user-images.githubusercontent.com/43939617/193359043-985aede6-e3f1-4f70-a3d1-02ada66c34fb.png)

[2022-09-30 21:49] Hassan-Abbas-SQA commented on #3676
All tests passed
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/104946677/193360792-abbedca2-2c56-40e7-b013-b7a3481d05f1.png">
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/104946677/193360812-31b89d15-c0e1-4606-8f08-b8aea11c35c8.png">
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/104946677/193360838-5f0590

[2022-09-30 21:53] Hassan-Abbas-SQA commented on #4382
@david-novafacile can you please try the solution given here https://stackoverflow.com/questions/50840101/curl-35-error1408f10bssl-routinesssl3-get-recordwrong-version-number

[2022-09-30 22:18] dannyroosevelt commented on #3998
@timkley can you try going through the authentication process for Mattermost again? We've made some changes to the configuration to ensure you can specify your own client ID and secret. I just ran through it on my end and confirms it's working end to end.

[2022-09-30 22:30] david-novafacile commented on #4382
Sorry, I don't know, how I can test this. I only add a new source in pipedream (and choose imap -> new email) and at the email hosting provider I only can add/delete an email account or change email credentials.

Is there a special need for the imap server url? I set it up with something like `xyz.serverdomain.tld` (no protocol) like it works in every other tool or service.

[2022-09-30 22:40] Hassan-Abbas-SQA commented on #4382
i want you to try out gmail IMAP as it works for me Can you please follow these steps?
1: <img width="743" alt="image" src="https://user-images.githubusercontent.com/104946677/193365419-5c009831-e7d9-4a37-a151-2a7e404807ab.png">
2: Host : imap.gmail.com
3: Port: 993
4: email should be your gmail
5: password should be generated as app password from your gmail account
<img width="1434" alt="image" s

[2022-10-01 01:03] trendoscope-algorithms opened #4385 "[APP] Kucoin Futures"
**Name of app / service**
Kucoin Futures API

Please note there is separate API for spot. So, please name the app as Kukoin Future

**Link to developer documentation**
https://docs.kucoin.com/futures/#general
Also have nodejs implementation under : https://github.com/Kucoin/kucoin-futures-node-sdk

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Just try

[2022-10-01 01:12] dylburger commented on #4385
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-01 01:29] #3676 closed

[2022-10-01 06:17] david-novafacile commented on #4382
Ah okay. IMAP with Gmail works:

![grafik](https://user-images.githubusercontent.com/43939617/193395638-e4b2c2ad-b362-44bc-97fe-ff90eb0c46af.png)

[2022-10-01 07:58] timkley commented on #3998
@dannyroosevelt actually, Dylan reached out to me via Slack in august and the issue was solved back than, so unless something changed, I'd consider this issue resolved, sorry for not updating here!

[2022-10-01 07:58] #3998 closed

[2022-10-01 23:46] elibroftw opened #4387 "[BUG] Error{"embeds":["0"]}"
**Describe the bug**

I have a NodeJS step which returns a list of embed objects.
The next step is to send a Discord embed message,
so I have `{{steps.process_event.$return_value}}` as the embed param.

In the traceback when I run test, I get

[code]

This bug has been around for months, ever since it broke. I have no idea what you guys are doing, but this steps thing is not idiot proof.

**To Rep

[2022-10-01 23:53] dylburger commented on #4387
@elibroftw Thanks for reporting. This actually looks like an issue on Discord’s side. It’s not apparent from the error message, but Discord tries to fetch the URL you provide in the embed message (the https://pipedream.com/sources/ URL) before they post the message. That URL is only available when you’re logged in, otherwise it returns a 404. When Discord receives a 404 on any URL in the embeds, i

[2022-10-01 23:54] elibroftw commented on #4387
Thank you for telling me that, I wasn't sure if it was you guys or Discord, but it was really pissing me off.
I hope Element/Matrix improves their APIs because I'd want to move over to them ASAP.

[2022-10-01 23:56] elibroftw commented on #4387
I removed the url and still got the same error

[2022-10-01 23:57] elibroftw commented on #4387
[code]

[2022-10-01 23:58] elibroftw commented on #4387
Is it possible for you guys to just take a webhook URL as input so that everything works? It's quite unfortunate that I have to approve PIpedream's webhook to my channel instead of just supplying Pipedream with my webhook url?

[2022-10-02 00:00] elibroftw commented on #4387
And there's no intuitive way to remove connected accounts.
![Uploading image.png…]()

[2022-10-02 00:04] elibroftw commented on #4387
@dylburger
https://gist.github.com/dmdboi/743111ae5945a1fe1ea558039cbe25f7 shows that data has to be a String?

[2022-10-02 00:25] #4387 closed

[2022-10-02 00:26] elibroftw commented on #4387
One of my fields probably exceeded the fields limit. Thanks anways.

[2022-10-02 10:48] mendelsphotography commented on #3628
is there any time frame as when this might be added?

[2022-10-02 10:50] mendelsphotography commented on #3628
any ideas how to convert json to actual data with discord?
I want to use freshping to send via webhook to discord server but issue is it uses json and need some way to convert the json to text so it comes out as a massge not JSON Data

[2022-10-02 15:13] marwann commented on #3796
Hey there, just wanted to let you know that Superdocu's API v1 is being deprecated in favour of the V2.
Documentation is available in our [Swagger](https://developers.superdocu.com/api/index.html)

[2022-10-02 19:19] Jordon-L commented on #4231
Hi, I would like to do this issue. I have a question. I've noticed that there are already files and functions related to webhooks, however, they are using a deprecated API (WebSub). Should I delete the old functions?

[2022-10-02 19:24] dylburger commented on #4231
@Jordon-L That's great! Yes, if the API is deprecated and you're modifying all event sources that use the deprecated API, feel free to delete any references to that code as you refactor.

[2022-10-02 19:27] karaninb opened #4389 "[TRIGGER] crypto creation"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-10-02 19:30] dylburger commented on #4389
@karaninb Can you tell me the app / API you're interested in using?

[2022-10-02 19:40] dylburger commented on #163
Thanks @HelloAlexPan @maxtheman !

[2022-10-02 23:29] dylburger commented on #4330
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-02 23:29] #4330 closed

[2022-10-02 23:29] dylburger commented on #4279
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-02 23:29] #4279 closed

[2022-10-03 06:51] ogauk commented on #220
So three years later is there any progress on this?

[2022-10-03 07:47] LucBerge commented on #4279
Nice to know

Working 😄 thanks

[2022-10-03 08:26] Jordon-L commented on #4231
@dylburger Update: I have a working prototype.

Twitch's EventSub, requires an application OAuth Token. Currently, I am manually creating an OAuth Token and passing the token and client id in as a prop. As a result, I am forced to create new functions to use the OAuth Token.  Is there a better way?

[2022-10-03 13:26] ctrlaltdylan opened #4392 "[BUG] Google Calendar action typos in titles"
**Describe the bug**
Some Google Calendar components have misspellings in their titles.

https://pipedream.com/apps/google-calendar

Retr_ei_ve needs to be corrected to Retr_ie_ve for example on a number of action names.

[2022-10-03 14:01] lcaresia commented on #3693
Blocked because need a credit card to activate checkout.

[2022-10-03 16:26] DilanAthukorala commented on #4392
Following tiles have title misspelling for "Retrieve"
![image](https://user-images.githubusercontent.com/102980146/193629247-4de22155-e044-48c0-9114-85c153c92c0c.png)
![image](https://user-images.githubusercontent.com/102980146/193629323-445a2b1b-42c2-4781-bdff-cfd3bff62134.png)
![image](https://user-images.githubusercontent.com/102980146/193629385-349b38cd-f052-4aeb-914e-4d5a087003b6.png)

[2022-10-03 16:31] DilanAthukorala commented on #4382
@david-novafacile Did you able to resolve the issue? If so we can close this ticket.

[2022-10-03 16:41] david-novafacile commented on #4382
Hi, no the error is still there.

I just tested as wished with gmail but with the other hosting provider (as described) it doesn't work.

[2022-10-03 16:58] feyzullah commented on #4017
Hi @lcaresia is [this one](https://github.com/PipedreamHQ/pipedream/pull/4254) linked to this issue accidentally?

[2022-10-03 17:28] DilanAthukorala commented on #4366
@ctrlaltdylan @Hassan-Abbas-SQA I am observing the same issue where it keeps loading. I will add this to backlog for further investigation.

[2022-10-03 17:31] #3630 closed

[2022-10-03 17:35] feyzullah commented on #3927
There is something weird with this issue. I can't unlink [Smaily PR](https://github.com/PipedreamHQ/pipedream/pull/4254)

[2022-10-03 18:47] Hassan-Abbas-SQA commented on #4017
Failed TestCases
its still not deleting the user with + in their email address
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/104946677/193654749-955a4023-6671-47b9-9317-8a6d0f5eef47.png">
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/104946677/193654793-eca429cb-72e0-4282-b67e-fac1172bf642.png">

[2022-10-03 19:43] Jordon-L commented on #4231
Would it be considered bad practice to ask for both client ID and client secret as props to dynamically generate and renew an OAuth token?

[2022-10-03 22:03] dylburger commented on #4231
@Jordon-L Generally we like to ask for that as a part of the app connection process, instead of prompting users each time in props.

We should be generating a fresh OAuth access token when you connect your **Twitch** account (the Pipedream-provided Twitch app) to a code step, exposed in `this.twitch.$auth.oauth_access_token`. We should also expose the client ID under `this.twitch.$auth`. Did you t

[2022-10-03 22:05] luancazarine commented on #4350
New PR - https://github.com/PipedreamHQ/pipedream/pull/4401

[2022-10-03 22:22] Jordon-L commented on #4231
I have tried those. Twitch's Webhooks (Eventsubs) do not allow using a user OAuth token. It requires an application OAuth token, which is generated by using an application client ID and client secret. You can create a twitch application from their [dev console](https://dev.twitch.tv/console).

[2022-10-03 22:31] Jordon-L commented on #4231
[link to the relevant portion on the docs](https://dev.twitch.tv/docs/eventsub/manage-subscriptions#authorization)

[2022-10-03 22:42] dylburger commented on #4231
Got it thanks. Did you try using the [Twitch Develop App](https://pipedream.com/apps/twitch-developer-app) account? That accepts a client ID and secret when you connect your account, and Pipedream should also handle token refresh and expose a fresh token and the client ID via `$auth`.

Is the app access token different? i.e. is that a static value retrieved from the Twitch Developer console? If so

[2022-10-03 22:57] Jordon-L commented on #4231
I will try the Twitch Develop app, it seems like what I was looking for.  I cannot find the files for them. Do I just code using the pipedream interface?

Yes, the app access token is different from the user access token. The app access token is not a static value. It is generated by calling `https://id.twitch.tv/oauth2/token` with the app client ID and client secret which is retrieved from the Tw

[2022-10-03 23:02] dylburger commented on #4231
Got it, thanks. The Twitch Developer App should be configured to generate a token from that endpoint. Try connecting your own client ID / secret via that app and see if that works OK.

Take a look [here](https://github.com/PipedreamHQ/pipedream/tree/master/components/twitch_developer_app) - that's where the basic app file and other code lives for the Twitch Developer App, so you can create compone

[2022-10-03 23:09] Jordon-L commented on #4231
Thanks, Seems like I didn't update to the latest version properly.

[2022-10-03 23:58] dylburger opened #4403 "[FEATURE] Execution environment should provide `libsodium`"
Using PyNaCL on Pipedream fails to work. Hello world examples like:

[code]

generate the following errors:

[code]

The error is likely a red herring - PyNaCL depends on `libsodium`, which isn't installed in the execution environment, so it's likely we'll need to install that to get it working.

[2022-10-04 08:47] Jordon-L commented on #4231
@dylburger I got it working with the Twitch Developer app. However, I had to change related files' extensions to `.mjs` from `.ts`. I am not familiar with Typescript. I keep getting `Could not resolve "../../app/common/common"` when I do `pd dev <file location>` on Pipedream CLI. I still cannot resolve the issue after looking a different typescript component called [lob](https://github.com/Pipedre

[2022-10-04 11:10] lcaresia commented on #3202
@dannyroosevelt I not able to find the settings!

[2022-10-04 13:11] vunguyenhung commented on #4325
Hi everyone, all test cases are passed! Ready for release!

Test report
[Notion_4368.pdf](https://github.com/PipedreamHQ/pipedream/files/9707131/Notion_4368.pdf)

[2022-10-04 13:19] mickmw commented on #4222
I'm still seeing 401 errors on my Salesforce REST account.
errorCode:
INVALID_SESSION_ID
message:
Session expired or invalid

Let me know if you need more info.

[2022-10-04 13:44] #4325 closed

[2022-10-04 14:06] #3221 closed

[2022-10-04 16:59] jcortes commented on #3906
Hi  @bsommardahl can you please add more detail on what is needed? the link that you left in the description is broken :sweat_smile:
I mean I'm already seeing in the results the name of the sheet (`title: Sheet4`) like in the screenshot
So I'm not sure that's what you really need
<img width="590" alt="image" src="https://user-images.githubusercontent.com/506051/193880972-4681314e-7c94-4a0b-aed8-c0

[2022-10-04 18:31] alysonturing commented on #4016
Hello @ctrlaltdylan, looks like it's already being supported by the source: `New Updates (Instant)`
Can you please check it again?

<img width="981" alt="image" src="https://user-images.githubusercontent.com/103650302/193897496-04246c71-9ae0-4a5b-9860-eea815114a80.png">

[2022-10-04 18:33] DilanAthukorala commented on #4382
@Hi @david-novafacile I am not able to reproduce the error, the source is working with other email providers (gmail, outlook). It could be a mismatch with the underlying server's TLS version. I will add this to our backlog and prioritize it so our dev team can further investigate this and confirm the root cause. Please follow this ticket for updates.

[2022-10-04 18:42] ctrlaltdylan commented on #4016
Understood thanks @alysonturing I think at the time I expected a separate source for each event type. This makes sense.

[2022-10-04 18:42] #4016 closed

[2022-10-04 20:45] Hassan-Abbas-SQA commented on #3782
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/104946677/193924128-15743d3a-e967-471f-b520-0d72882e0522.png">

[2022-10-04 21:06] Hassan-Abbas-SQA commented on #3608
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/104946677/193928799-71fd34a9-0425-4f99-ba7c-f7cf889102d2.png">

[2022-10-04 21:09] #3608 closed

[2022-10-04 22:07] mkures opened #4411 "[WIX]"
WIX

**Link to developer documentation**
https://dev.wix.com/api/rest/getting-started

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I just need the Oauth 2 support for them. Or a good way to do it myself in pipedream

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue

[2022-10-04 23:29] dylburger commented on #4345
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-04 23:29] #4345 closed

[2022-10-04 23:29] dylburger commented on #4336
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-04 23:29] #4336 closed

[2022-10-05 00:17] Hassan-Abbas-SQA commented on #4179
seems like the issue has been resolved in this PR
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/104946677/193953250-ad526ab0-bec2-4702-9fa4-4edf52eada84.png">
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/104946677/193953259-c8cd6e38-244e-4762-a45a-ced720027161.png">

[2022-10-05 00:32] #4179 closed

[2022-10-05 00:38] dylburger commented on #4292
We've added this issue to our backlog. You can follow this issue for updates!

[2022-10-05 00:38] dylburger commented on #4284
We've added this issue to our backlog. You can follow this issue for updates!

[2022-10-05 00:40] dylburger commented on #4411
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-05 00:43] sergioeliot2039 commented on #4411
Hi @mkures thanks for the request.

We are tracking WIX here: https://github.com/PipedreamHQ/pipedream/issues/3992
feel free to follow there, if you'd like

[2022-10-05 00:43] #4411 closed

[2022-10-05 00:55] vunguyenhung commented on #4350
Sorry, new PR here: https://github.com/PipedreamHQ/pipedream/pull/4413

[2022-10-05 00:57] Jordon-L commented on #4231
Update:  I have finished, however, the files have `.mjs` extensions. Does pipedream CLI not work with `.ts` files?

[2022-10-05 02:47] dylburger commented on #4231
That's great! And yes, you need to compile the TypeScript to `.mjs` files locally (as noted in [the TypeScript quickstart](https://pipedream.com/docs/components/typescript/#quickstart)), then `pd publish` the `.mjs` files.

You'll notice there's a `.gitignore` file in the app directory that excludes `.mjs` files from being added to Git, which is by design. Only the TypeScript code should be commit

[2022-10-05 03:33] dylburger commented on #4262
@jacksontong I appreciate all the detail, and I shared this feedback with the team. The private app case absolutely makes sense, and that's on our roadmap.

Re: #2, can you describe exactly what you're trying to do? I don't fully understand the use case and I believe I may be able to recommend a design if you lay that out in detail.

[2022-10-05 03:59] dannyroosevelt opened #4415 "[BUG] GitHub "New issue with status" trigger not configured correctly"
This source is asking me to select a repo, but projects don't need to belong to repos ([for example](https://github.com/orgs/PipedreamHQ/projects/8/views/1)).

![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/193978503-d4368fb8-3544-4246-b0f5-1fa91947fe06.png)

[2022-10-05 04:00] dannyroosevelt opened #4416 "test"

[2022-10-05 04:02] dannyroosevelt opened #4417 "test1"

[2022-10-05 04:06] dannyroosevelt commented on #4417
test

[2022-10-05 11:42] aturow commented on #4230
Thank you for looking into this. With this new information it is
probably the new URL's that salesforce rolled out to have the word sandbox
in the url.
I will just update the workflows to use the new connection.
Best regards,
Andrzej

On Thu, 29 Sept 2022 at 19:59, DilanAthukorala ***@***.***>
wrote:

[2022-10-05 12:44] #4017 closed

[2022-10-05 13:30] jcortes commented on #3980
I will move this to blocked because according to [this comment](https://github.com/PipedreamHQ/pipedream/issues/3503#issuecomment-1193027929) there is no way we can create a demo account in other countries different than India.

[2022-10-05 13:35] preahkumpii opened #4420 "[TRIGGER]"
Essentially the same as the Calendly new event (instant), but only with API V2. Version 1 API ends at the end of 2022.
https://developer.calendly.com/api-docs/4b402d5ab3edd-calendly-developer

[2022-10-05 13:50] #3782 closed

[2022-10-05 14:15] vunguyenhung commented on #4340
Hello everyone, upon checking the code for this. I see that the new Youtube Data API - Custom App component replicates all Youtube Data API component, I just verified 1 action and 1 source to make sure that the new App works, and skip all other actions, as they are replicated from the Youtube Data API component.

Test Report
[Youtube_Data_API_Custom_App_4384.pdf](https://github.com/PipedreamHQ/pip

[2022-10-05 14:21] #4340 closed

[2022-10-05 14:35] vunguyenhung commented on #4350
Hello @dannyroosevelt, I have tested the Post Thread action again per the new PR and it passed
![2121 - 0510](https://user-images.githubusercontent.com/18277920/194086788-9b6c2bbe-9d08-4dc4-a3f7-fae0e8b4d2ff.png)
![2122 - 0510](https://user-images.githubusercontent.com/18277920/194086797-79e838bb-35ca-4fde-bf79-b20402697140.png)

Also, I've changed the domain to `trythreads.com` for all props desc

[2022-10-05 14:50] #4392 closed

[2022-10-05 15:00] pioneerfund-ops commented on #4366
Seeing the same behavior as @ctrlaltdylan:

- As soon as I add the `Slack Bot - Use any Slack Bot API` action to a workflow, the browser is unable to save a draft (and _I think_ that as a result, tests can't be run, I can't open `Settings` for the workflow, etc)
- This persists even after the action has been deleted, so adding any other actions becomes impossible

**Browsers:** Brave & Firefox
**O

[2022-10-05 15:07] #4416 closed

[2022-10-05 16:14] dannyroosevelt commented on #4366
@ctrlaltdylan @pioneerfund-ops I updated the test request scaffolding and got this working with a basic request that should work with any Slack Bot token, independent of scopes. Feel free to remove the existing step that wasn't working and re-add the same "Slack Bot - Use any Slack Bot API" step and test again.

Or you can also paste this code and give that a whirl:
[code]

[2022-10-05 16:14] #4366 closed

[2022-10-05 16:56] dannyroosevelt commented on #4350
I added some comments to the PR

[2022-10-05 17:42] dannyroosevelt commented on #3992
@breaknanger FYI we've enabled an OAuth integration with Wix here:
https://pipedream.com/apps/wix/

And we've included members and contacts scopes, but please let us know if there is anything else you need.

[2022-10-05 17:42] #3992 closed

[2022-10-05 17:43] dannyroosevelt commented on #4411
FYI @mkures we've just enabled the Wix OAuth integration here:
https://pipedream.com/apps/wix/

Note that the only scopes we've included so far are for contacts and members. Please let us know if there are others that you need, depending on your use case.

[2022-10-05 18:03] elitan commented on #4321
Nhost CEO here.

Is there anything we can do from our side to support resolving this issue?

[2022-10-05 18:06] ctrlaltdylan commented on #4321
Hi @elitan thanks for reaching out.

Does the NHost JS client make any changes to globals when it's imported?

I'm wondering if there's some kind of collision during the lifecycle of a Pipedream component.

[2022-10-05 18:52] ctrlaltdylan opened #4425 "[TRIGGER] Notion - Page updated"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

I would like to be able to trigger a workflow when a Page has been updated.

My end goal is to create a workflow that runs whenever a new sub-page is added to a root level page, or when a sub-page on a root level page has been changed.

The idea is to create a proof of concept where Notion is actin

[2022-10-05 19:07] Hassan-Abbas-SQA commented on #4152
Test Passed works fine now
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/104946677/194142091-d6eaf112-cd60-4318-8356-014ae4ccc1a5.png">
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/104946677/194142139-b9610806-e82a-4e4d-820a-74d8e1c73851.png">

[2022-10-05 19:21] Hassan-Abbas-SQA commented on #4000
@giorgosera as you can see that the packages are now included in package.json tests passed
<img width="953" alt="image" src="https://user-images.githubusercontent.com/104946677/194144624-2936b88b-6e3c-4887-893d-d568446c7aa1.png">

[2022-10-05 19:25] #3685 closed

[2022-10-05 19:27] #4152 closed

[2022-10-05 19:30] #4000 closed

[2022-10-05 19:40] #3700 closed

[2022-10-05 19:48] Hassan-Abbas-SQA commented on #3966
SMTPGO action's account prop should be on top
<img width="1092" alt="image" src="https://user-images.githubusercontent.com/104946677/194148552-04678632-9568-434d-9740-ed0f4bc0a4bc.png">
<img width="1092" alt="image" src="https://user-images.githubusercontent.com/104946677/194149517-9f2c8c91-2d92-421d-82d3-9c3352dcd438.png">

[2022-10-05 19:58] DilanAthukorala commented on #4415
I am able to reproduce the scenario where projects can be created without assigning them to Repositories.

[2022-10-05 20:02] dylburger commented on #4420
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-10-05 20:02] dannyroosevelt commented on #4230
@DilanAthukorala the Authorization, Access Token, and Refresh Token Request URLs all use a standard Salesforce domain, based on prod vs sandbox, which the users selects when configuring their account.

The Test Request that we've configure though, uses the `instance_url`, which is returned from the Access Token Request.

I am able to successfully authenticate with my Salesforce account.

@DilanAth

[2022-10-05 20:11] #4272 closed

[2022-10-05 20:32] DevOps-Tuck opened #4426 "UPDATE COMPANY action"
**Is there a specific app this action is for?**
Lots of people would really love this!! 😁

**Please provide a link to the relevant API docs for the specific service / operation.**

Legacy API Docs.
https://legacydocs.hubspot.com/docs/methods/companies/update_company

Updated API Docs.
https://developers.hubspot.com/docs/api/crm/companies

[2022-10-05 20:35] dannyroosevelt opened #4427 "[ACTION] Refactor Filter Action"
We've gotten consistent feedback from users that the Filter actions are confusing to use. I think they're probably overly complex, and can likely be simplified by flattening the "condition" configurations we currently present and updating some of the names, descriptions, etc.

Here is a **non-working** prototype of what I have in mind:
https://pipedream.com/new?h=tch_wlXfNP

Notes:
- The only reas

[2022-10-05 20:46] dannyroosevelt commented on #2333
I see this app is live -- @darthnithin are you able to verify if you're able to use Google Classroom successfully?

[2022-10-05 21:00] dannyroosevelt opened #4429 "[ACTION] test issue"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-10-05 21:01] michelle0927 commented on #3966
@Hassan-Abbas-SQA I think you may be looking at a previous version of the code? This is what the actions' configs look like for me:

<img width="675" alt="Screen Shot 2022-10-05 at 4 58 16 PM" src="https://user-images.githubusercontent.com/10889229/194162620-54260b27-d68c-4695-8505-a53622fe4ab1.png">
<img width="690" alt="Screen Shot 2022-10-05 at 4 58 38 PM" src="https://user-images.githubusercon

[2022-10-05 21:03] #4429 closed

[2022-10-05 22:30] #3531 closed

[2022-10-05 23:29] dylburger commented on #4332
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-05 23:29] #4332 closed

[2022-10-05 23:44] jcortes commented on #3926
In this case the testing of this app depends on setting an admin account in Google Workspace which will depend on you having a `your-email@yourowncompanydomain.com`. Here you can find some interesting links on how one can get started:

https://support.google.com/a/users/answer/7681288

[2022-10-06 00:35] vunguyenhung opened #4432 "[APP] Test existing issue with blocked label move to column"

[2022-10-06 01:25] #4432 closed

[2022-10-06 02:00] giorgosera commented on #4000
Great 👍  thanks @Hassan-Abbas-SQA

[2022-10-06 14:11] #4383 closed

[2022-10-06 17:52] Hassan-Abbas-SQA commented on #3966
Tests Passed
<img width="1179" alt="image" src="https://user-images.githubusercontent.com/104946677/194384044-c0f2ceeb-d153-4052-bde5-e83ef792690e.png">
<img width="1179" alt="image" src="https://user-images.githubusercontent.com/104946677/194384157-f08b5524-15bd-4644-affc-ec6360c0c5d3.png">

[2022-10-06 17:54] #3966 closed

[2022-10-06 19:01] Hassan-Abbas-SQA commented on #4139
@andrewjschuang dynamic values for Tasks prop appearing on previous version of Update custom Task action
<img width="1179" alt="image" src="https://user-images.githubusercontent.com/104946677/194396566-68cc0b6b-2935-4ff2-944e-3b55a31d32cf.png">

but not appearing on this latest version

<img width="1179" alt="image" src="https://user-images.githubusercontent.com/104946677/194396787-0f45d486-14f1-4

[2022-10-06 19:01] dylburger commented on #1249
This should be completed! Please let us know if you see any issues

[2022-10-06 19:01] #1249 closed

[2022-10-06 19:02] dylburger commented on #4426
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-10-06 19:05] andrewjschuang commented on #4139
Right, the description informs that to list other props must be configured before, because the user requested to be able to directly insert the values - what do you think?

[2022-10-06 19:12] dylburger commented on #4425
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-10-06 19:14] Hassan-Abbas-SQA commented on #4139
when i insert values manually
<img width="1179" alt="image" src="https://user-images.githubusercontent.com/104946677/194399246-3064ae42-5c8f-4b86-b693-361f30f9827e.png">
<img width="1179" alt="image" src="https://user-images.githubusercontent.com/104946677/194399284-02bd22a4-41c6-4c89-927c-c43e3aa7fa8f.png">

[2022-10-06 19:14] dannyroosevelt commented on #1249
This is available to try in early Alpha! https://pipedream.com/alpha

Feedback is welcome via [Slack](https://join.slack.com/t/pipedream-users/shared_invite/zt-11sazmsg0-oS2VW~mZfhtk3XfEEvb~JA), [GitHub](https://github.com/PipedreamHQ/pipedream/issues), or [Discourse](https://pipedream.com/community)!

[2022-10-06 21:44] Hassan-Abbas-SQA commented on #3698
Test Passed
<img width="916" alt="image" src="https://user-images.githubusercontent.com/104946677/194424150-90e3dbdf-6776-4307-8cf8-225e64cdabd5.png">

[2022-10-06 21:47] #3698 closed

[2022-10-06 22:03] Hassan-Abbas-SQA commented on #4199
Test Passed
<img width="916" alt="image" src="https://user-images.githubusercontent.com/104946677/194426932-ef2405ae-d462-4112-a46b-225fd80ae591.png">

[2022-10-06 22:05] #4199 closed

[2022-10-07 07:45] trendoscope-algorithms opened #4444 "[APP] Bybit Crypto Exchange"
**Name of app / service**
ByBit Crypto exchange

**Link to developer documentation**
https://bybit-exchange.github.io/docs/futuresV2/linear/#t-introduction

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Just trying to expand the available crypto exchanges.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know he

[2022-10-07 12:32] ctrlaltdylan opened #4445 "[FEATURE] GraphQL support for the HTTP request pre-built action"
**Is your feature request related to a problem? Please describe.**
I would like GraphQL support for the built-in HTTP request action.

**Describe the solution you'd like**
The current HTTP request builder does an excellent job crafting REST API calls from a UI, including cURL support.

However, GraphQL query & mutation support is lacking.

**Do you have a workaround?**

Currently, I create a Node.

[2022-10-07 13:24] andrewjschuang commented on #4139
Hi @Hassan-Abbas-SQA can you try inserting the ID of the Custom Field?

<img width="315" alt="image" src="https://user-images.githubusercontent.com/15385076/194564111-45ea1c08-fd16-4a73-9243-e80c25f60cd9.png">

[2022-10-07 15:16] #4042 closed

[2022-10-07 16:19] sergioeliot2039 commented on #4444
Authentication requires creating a signature on the request

[2022-10-07 16:39] LucBerge opened #4447 "[FEATURE] Possibility to filter results if google-drive-list_files action"
**Is your feature request related to a problem? Please describe.**
When listing the files in a Google Drive folder, I would like to get the files cointaining `TPS` in the name.

**Describe the solution you'd like**
Add an optional field to filter files cointaining a substring.

**Do you have a workaround?**
Use a custom code block to filter the files by name.

**Comparable features in other tools?

[2022-10-07 16:49] dannyroosevelt opened #4448 "[BUG] Notion update_page pageId prop returns error on async options"
![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/194606007-77dd74b6-7da0-4921-a3e6-c65ef5d9b734.png)

[2022-10-07 16:52] dylburger commented on #4447
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-10-07 16:54] LucBerge commented on #193
I'm looking for this feature as well 😄

[2022-10-07 16:56] dannyroosevelt commented on #4338
@Ssid0427 can you tell us more about the use case you're trying to accomplish with Excel?

[2022-10-07 17:21] Hassan-Abbas-SQA commented on #4139
passed final test
<img width="916" alt="image" src="https://user-images.githubusercontent.com/104946677/194614565-bd9b7b6a-35b2-4dcb-9e55-786a2b3ab440.png">

[2022-10-07 17:23] #4139 closed

[2022-10-07 17:28] #4079 closed

[2022-10-07 17:38] #3901 closed

[2022-10-07 18:15] LucBerge commented on #4113
I cannot reopen the issue

[2022-10-07 18:22] dannyroosevelt commented on #4113
Thanks for submitting a PR for this, @LucBerge!

[2022-10-07 19:56] Hassan-Abbas-SQA commented on #4158
TestCases Passed
![Pcloud](https://user-images.githubusercontent.com/104946677/194643185-8a1b58ba-060f-4e5b-b141-5c0a6e1f72f3.png)

[2022-10-07 20:07] Hassan-Abbas-SQA commented on #4448
TestCases Passed
<img width="935" alt="image" src="https://user-images.githubusercontent.com/104946677/194644214-5d4bc811-2919-4d53-a664-a8b0f25839d1.png">
<img width="935" alt="image" src="https://user-images.githubusercontent.com/104946677/194644608-25880208-3943-4fc4-8ee3-db9a9638098a.png">

[2022-10-07 20:09] #4448 closed

[2022-10-07 20:23] trendoscope-algorithms commented on #4444
@sergioeliot2039
The signature mechanism looks similar to that of BingX. It need to be generated for each request. Also, based on python implementation here: https://pypi.org/project/pybit/

All we need in the app is to accept access key and secret key. Rest will be implemented as part of actions.

[2022-10-07 20:53] trendoscope-algorithms commented on #4444
Discussed in Slack with @dannyroosevelt - it is probably good idea to create different apps for different APIs of Bybit.

For example

ByBit Spot
ByBit USDT Perpetual
ByBit Unified
ByBit Inverse

I will probably start with ByBit USDT Perpetual - which I think is most used. Can expand to others in time.

[2022-10-07 21:26] dannyroosevelt commented on #4420
Ah thanks for the heads up -- can you get a ticket on the board to do that refactor?

[2022-10-07 23:29] dylburger commented on #4373
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-07 23:29] #4373 closed

[2022-10-09 00:28] GTFalcao commented on #4177
This requires a paid account (credit card is required for signing up).

Also from what I've seen on this, the Pipedream basic integration was made with the GoHighLevel v1 API, but they are moving to an OAuth 2.0 API (v2) and will, [according to their documentation,](https://help.gohighlevel.com/support/solutions/articles/48001060529-highlevel-api) deactivate the former at some point.

[2022-10-09 01:35] bsommardahl commented on #4177
I had planed on coding these actions and submitting them. Then life happened and I got sidetracked. I have accounts with go high level that I can use for testing. I know someone mentioned the plans to depreciate the version 1 API, but I'm pretty sure that's going to be quite a long time from now and the version 2 API doesn't have all the functionality that it needs to be complete. Therefore, I def

[2022-10-09 01:56] rahulmat opened #4453 "Facebook Leads [APP]"
**Name of app / service**
Retrieving Facebook Ad Leads

**Link to developer documentation**
https://developers.facebook.com/docs/marketing-api/guides/lead-ads/quickstart/webhooks-integration/
https://developers.facebook.com/docs/marketing-api/guides/lead-ads/retrieving/
https://developers.facebook.com/docs/marketing-api/guides/lead-ads/

**Is lack of support preventing you from building workflows,

[2022-10-09 02:09] dylburger commented on #4453
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-09 02:11] sergioeliot2039 commented on #925
+1 as per issue #4453

Let's use that issue for tracking the app integration, and this one for source building, the user is asking similar functionality i.e being notified of new leads, he is looking at this use case:

[2022-10-09 02:14] sergioeliot2039 commented on #4453
Hey @rahulmat thanks for the request.

We added Facebook Leads app integration to our backlog.
For tracking New Leads we are following Issue #925

[2022-10-09 02:18] Rango2022 opened #4454 "[TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-10-09 05:41] zalmanlew opened #4455 "[APP] LearnWorlds"
**Link to developer documentation**
https://support.learnworlds.com/support/solutions/articles/12000017230-learnworlds-api-documentation

[2022-10-09 18:09] dylburger commented on #4455
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-09 23:29] dylburger commented on #4389
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-09 23:29] #4389 closed

[2022-10-09 23:45] #4454 closed

[2022-10-10 12:24] #4158 closed

[2022-10-10 12:59] andrewjschuang opened #4460 "[BUG] Notion Update Page Properties not listing when a path for Page ID from a previous result is selected"
**Describe the bug**
Using the Notion **Update Page** action, when choosing a **Page ID** or manually typing in a value, the **Property Types** props will show a list of options. **But**, when selecting a **path** from a previous component, the **Property Types** will **not** list options. I suspect it may have something to do with `additionalProps` and the Pipedream UI.

**To Reproduce**
Steps to

[2022-10-10 14:00] leonbejar83 opened #4461 "[APP] Getresponse"
**Name of app / service** Getresponse

**Link to developer documentation** https://apidocs.getresponse.com/v3

**Is lack of support preventing you from building workflows, or do you have a workaround?** I dont hace any solution

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!

[2022-10-10 14:06] sergioeliot2039 commented on #4461
Hi @leonbejar83 , thank you so much for the request!

GetResponse is integrated, see -- https://pipedream.com/apps/getresponse

We are tracking several GetResponse components here: https://github.com/PipedreamHQ/pipedream/issues/3633, check it out to see if they cover your use case.

If there is another app you'd like to see integrated too, feel free to let us know!

[2022-10-10 14:06] #4461 closed, assigned to nobody

[2022-10-10 14:14] vellames commented on #4420
@preahkumpii Looks like we already have this source implemented. Take a look at calendly_v2. There is a source called `invitee action`. You can watch for
"invitee.created",
    "invitee.canceled"

@dannyroosevelt I think you can reconsider my last message

[2022-10-10 14:24] veshtitsa opened #4462 "Trello trigger: New member added to card triggers for all/any new members"
**Describe the bug**
Workflows triggered by the "New member added to card" trigger, are run on all member additions within the board, not just the authenticated member.

**To Reproduce**
Steps to reproduce the behavior:
1. Assign a dummy trello board with at least two members: A and B.
2. On Pipedream, create a workflow with "New member added to card" trigger and connect the Trello account as User

[2022-10-10 15:21] Vadorequest opened #4463 "[BUG][aws_s3_stream_file] Error when streaming SVG files - A header you provided implies functionality that is not implemented - Are you using a Stream of unknown length as the Body of a PutObject request? Consider using Upload instead from @aws-sdk/lib-storage."
**Describe the bug**
I'm getting an error when trying to store a SVG file into S3.

I tried using `https://dl.airtable.com/.attachments/7d49003c78419a9857790918194e931d/2ea5ca4f/US-logo-black.svg` file.

[code]

Logs detail
[code]

**To Reproduce**
[See Video](https://watch.screencastify.com/v/NkNznaS8odFvRe6TRsHN)

**Expected behavior**
It should work for SVG as it does for PNG.

**Screenshots**

[2022-10-10 16:21] #4382 closed

[2022-10-10 18:14] #4287 closed

[2022-10-10 19:33] andrewjschuang commented on #4056
Hello @sergioeliot2039, would it be possible to add the `organization` to `$auth`?
<img width="643" alt="image" src="https://user-images.githubusercontent.com/15385076/194939663-7537967e-8bfe-436a-8155-fa8a625e30ed.png">

[2022-10-10 20:29] #4426 closed

[2022-10-11 01:38] vunguyenhung commented on #4462
Hello @veshtitsa, for me to understand the issue, is the User B not authenticated? "Not Authenticated" means that you're not currently logged into the User B?

Per the [source implementation details here](https://github.com/PipedreamHQ/pipedream/blob/9d827b84ac4edf4085d69836833d691702c7bcad/components/trello/sources/new-member-on-card/new-member-on-card.mjs#L22), we use the event `addMemberToCard`

[2022-10-11 01:42] vunguyenhung commented on #4460
Hello @andrewjschuang, I'm able to reproduce this issue. Added `tracked-internally` label

On another note, I found another issue might be linked to this issue: https://github.com/PipedreamHQ/pipedream/issues/3255, but I'm not sure they refer to the same thing

[2022-10-11 01:45] vunguyenhung commented on #4361
Hello @trendoscope-algorithms @ctrlaltdylan, as the feature is already in active development, I will close this issue to avoid duplicated ticket on Pipedream's internal project board.

@trendoscope-algorithms please stay tune for an announcement regarding this feature 🙏

[2022-10-11 01:45] #4361 closed

[2022-10-11 01:58] trendoscope-algorithms commented on #4361
@vunguyenhung What I understood is #2 is in development but not #1
Can you confirm that once?

[2022-10-11 02:10] vunguyenhung commented on #4361
Oh sorry @trendoscope-algorithms I miss read 2 points. I will add this to Pipedream internal project board

[2022-10-11 05:07] #4363 closed

[2022-10-11 05:30] GTFalcao commented on #3999
Hey @ctrlaltdylan , it seems a paid plan is required to create custom domains, so I'm unable to test this with a free account.

I believe the error is that the existing action passes the domains' ids instead of their names - according to the [examples in the documentation](https://developers.webflow.com/#publish-site), this endpoint expects an array of domain names.

If Dylan or anyone else has an

[2022-10-11 06:37] veshtitsa commented on #4462
Hi @vunguyenhung !

I think you've understood correctly, but I'll just reiterate anyway, just to be on the safe side 😃

As I understand it, the authentication which the source description refers to is the OAuth authentication before the Trello API, i.e. "Emit new event for each card joined by the **authenticated Trello user**" = "Emit new event for each card joined by **user A, granted that user A

[2022-10-11 07:28] Tomtomthumb opened #4472 "[ACTION]"
Would like to connect slack to sendbird api, where a direct message from slack is received in sendbird. There are no sendbird actions currently.

[2022-10-11 08:51] Tomtomthumb opened #4473 "[ACTION] Sendbird: Get messages and Post messages actions"
**Name of app / service**
Sendbird

**Link to developer documentation**
https://github.com/sendbird/sendbird-platform-sdk-javascript/blob/main/docs/MessageApi.md

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates

[2022-10-11 08:55] reatcas commented on #3512
Hi Sergio!

Thank you very much for the support. I will submit the app as soon as possible.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Sergio E. Rodríguez Wong ***@***.***>
Sent: Sunday, July 24, 2022 1:12:44 AM
To: PipedreamHQ/pipedream ***@***.***>
Cc: Rene Antonio Casaña Amaya ***@***.***>; Mention ***@***.***>
Subject: Re: [PipedreamHQ/pipedream] [A

[2022-10-11 09:17] sergioeliot2039 commented on #3512
René, thanks for getting back to us

AppSjeet was already integrated at https://pipedream.com/apps/google-appsheet

Can you use it on Pipedream just or testing? Having feedback from our end users is much appreciated.

[2022-10-11 10:41] LucBerge commented on #4112
The pipeream application string is `e847028b-6be7-4397-8e42-82013595a9b8`

[2022-10-11 10:54] vunguyenhung commented on #4462
@veshtitsa Thank you so much for a very clear explanation!

For short-term solution, I would suggest to use Pipedream Filter actions to stop the workflow if the event is not assigned to you. Here's an example: https://www.youtube.com/watch?v=sajgIH3dG58

For the long-term solution: I think we can improve this by adding an option `Only include cards assigned to me: boolean`, with default value to `

[2022-10-11 11:37] andrewjschuang commented on #4460
Oh, thanks @vunguyenhung ! They are the same issue.
Closing since this is duplicate of #3255.

[2022-10-11 11:37] #4460 closed

[2022-10-11 12:23] vunguyenhung commented on #4472
Hello @Tomtomthumb, I see that this issue is duplicated with your other issue here https://github.com/PipedreamHQ/pipedream/issues/4473. So I will close this and use the other issue to track instead. Thank 🙏

[2022-10-11 12:23] #4472 closed

[2022-10-11 12:27] dylburger commented on #4473
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-10-11 12:29] vunguyenhung commented on #4473
I can confirm that Sendbird app current doesn't have any action
![image](https://user-images.githubusercontent.com/18277920/195089721-124a5328-4427-4e64-b3a2-490f93367e3b.png)

[2022-10-11 12:35] vunguyenhung commented on #4463
Hello @Vadorequest, thank you so much for providing a very clear detail. I have added this to our component backlog. Please subscribe to this issue as all updates will be made to this issue 🙏

[2022-10-11 12:58] veshtitsa commented on #4462
Further note, in case someone comes across this issue before it's fixed:
When writing the filter action, make sure to compare only the last element of membersId to your userId (instead of using array.includes). This way, you prevent the workflow from running if someone else is added to a card you're already assigned to! Basically, check if you are the last person to be added to the card.

[2022-10-11 13:46] vunguyenhung commented on #4181
Hi everyone, all test cases are passed! Ready for release!

Test report
[Cloudflare_4428.pdf](https://github.com/PipedreamHQ/pipedream/files/9756439/Cloudflare_4428.pdf)

[2022-10-11 14:42] ctrlaltdylan opened #4475 "[BUG] `pd dev` does not respect app configuration before launching OAuth"
**Describe the bug**
When using `pd dev` with an app that requires at least one custom field, the custom fields are not respected and the OAuth flow starts prematurely.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `pd init source <test_source_name>` to generate a new source in an app directory that requires at least one custom field (aka `shopify`)
2. Include the `shopify` app prop in

[2022-10-11 15:29] vunguyenhung commented on #4475
I'm able to reproduce this issue
I use `pd dev` on a new source that uses `shopify` app
[code]
![image](https://user-images.githubusercontent.com/18277920/195134092-5d68c013-7fc6-45b1-b9c6-999d075d6d94.png)

Then the OAuth browser opened instantly, no `shop_id` asked, leading to failed authentication window
![image](https://user-images.githubusercontent.com/18277920/195134453-f5428551-0b8e-4239-be

[2022-10-11 16:29] dannyroosevelt commented on #4112
Thanks @LucBerge I can take a look at this, but we'll need a `client_secret` for the Pipedream OAuth app as well (which should not be pasted here on this issue).

[2022-10-11 16:40] dannyroosevelt commented on #4112
FYI I also just submitted a request to create an OAuth app.

[2022-10-11 17:10] #4181 closed

[2022-10-11 17:17] Hassan-Abbas-SQA opened #4477 "[Actions, Triggers] Refactor all of the ActiveCampaign components"

[2022-10-11 18:09] alysonturing opened #4478 "[DOCS] Configuring VSCode shortcuts to publish actions and sources"
**Context:**
Possibility to include docs with information of how to configure `VSCode shortcuts` (and possibly other editors) to easier the publishing `sources` and `actions` built with `javascript` and `typescript`.

**additionally, somebody with windows environment could work on a version of the snippet for windows.**

**I'm already doing this by following the next steps:**
- Installed on VSCODE

[2022-10-11 18:15] dylburger commented on #4478
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-10-11 18:21] Hassan-Abbas-SQA commented on #4300
Test Passed
<img width="623" alt="image" src="https://user-images.githubusercontent.com/104946677/195169463-2d94dddb-7b00-4b40-b315-747e6beb4364.png">

[2022-10-11 18:23] #4300 closed

[2022-10-11 18:28] #3926 closed

[2022-10-11 18:51] dannyroosevelt commented on #4455
@zalmanlew I sent a request to LearnWorlds to see if we can get access to their API and to set up an OAuth app.

[2022-10-11 19:01] JustinMason commented on #2639
Do you have a support ticket or contact at Zuora you have been working with?  We are Zuora customers and I'd like to help get you introduced.  This integration would encourage internal use of this project.

[2022-10-11 19:04] dannyroosevelt commented on #2639
@JustinMason that'd be great if you could connect us directly. I had a thread back in April that didn't really go anywhere. Feel free to cc integrations [at] pipedream.com

[2022-10-11 19:49] DilanAthukorala commented on #4230
Hi @dannyroosevelt
To update on my previous observation, I tried to recreate the issue again with a new Salesforce account and it was successful. However when I tried to reconnect to the same account again I observed the same issue as previous where the app is unable to connect to the url during oauth flow. And also observed that the URL is a bit different from my salesforce instance url.
![image]

[2022-10-11 20:00] #3904 closed

[2022-10-11 20:19] #4113 closed

[2022-10-11 22:21] dannyroosevelt commented on #4477
This was a converted Legacy action and needs to be refactored as a component action. Let's check to see if any changes are required to any of the ActiveCampaign components.

[2022-10-11 23:29] dylburger commented on #3906
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-11 23:29] #3906 closed

[2022-10-12 00:38] dylburger commented on #4339
We've added this issue to our backlog. You can follow this issue for updates!

[2022-10-12 05:30] Liam-Scott-Russell commented on #3934
@dylburger just wondering if there are any updates on this? I'd love to be able to use pipedream to process my Gitlab issues from work, but if it's not feasible soon, I might have to look into something else. Thanks!

[2022-10-12 10:20] aturow commented on #4230
Thank you for the update.

On Tue, 11 Oct 2022 at 20:49, DilanAthukorala ***@***.***>
wrote:

[2022-10-12 10:45] TomVonWood opened #4482 "[BUG] SendInBlue Add or update contact Action"
**Describe the bug**
A clear and concise description of what the bug is.
I’ve been trying to use the sendinblue add or update contact step (action). I keep seeing a Request failed with status code 404 error with status text ‘Not Found’. It appears as if it tries to update even though no contact can be found while it should then create a new entry.

**To Reproduce**
Steps to reproduce the behavior:

[2022-10-12 15:19] vunguyenhung commented on #4482
Hello @TomVonWood, I couldn't reproduce your issue with the following cases:

Having the `Contact` prop empty, so that the action will create a new contact
![2213 - 1210](https://user-images.githubusercontent.com/18277920/195381204-ed3e0545-60ee-412c-bd2e-929fcd6f46b7.png)

Having the `Contact` prop set, so that the action will update existing contact
![2214 - 1210](https://user-images.githubuserc

[2022-10-12 16:21] vunguyenhung commented on #4427
Hello @andrewjschuang @dannyroosevelt , I have tested this PR and added some suggestion! Also there's a test case failed.

Please check the test report below for more information
[Filter_4440_2320.pdf](https://github.com/PipedreamHQ/pipedream/files/9766872/Filter_4440_2320.pdf)

[2022-10-12 16:47] vunguyenhung opened #4486 "Leo test"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-10-12 16:53] #4486 closed

[2022-10-12 18:27] Hassan-Abbas-SQA commented on #4056
@andrewjschuang @sergioeliot2039  in actions : Actions missing except Get Account and List Accounts
In sources : Sources Missing except new account, new activity , update account and update activity , please remove them from the first comment as they are not present in the PR

[2022-10-12 22:22] dylburger commented on #3190
We had a bit of back-and-forth with the Aircall team to get the integration working, but we've submitted it for approval from Aircall.

I am not sure if any user can currently authorize the Pipedream app, or if that's gated on approval. @ajedwards @raphaelvarieras feel free to try to connect your account [here](https://pipedream.com/apps/aircall) and let me know if that works. If that fails, I'll

[2022-10-12 22:53] raphaelvarieras commented on #3190
Looks like it worked!

[2022-10-12 22:53] Hassan-Abbas-SQA commented on #4056
All TestCases Passed
**Actions**:
![Amilia](https://user-images.githubusercontent.com/104946677/195452177-06d01590-dc2c-468a-bf92-1ae81de769b3.png)
**Sources**
<img width="1249" alt="image" src="https://user-images.githubusercontent.com/104946677/195461354-c600a4a1-da2d-47a8-bc9f-3bc2d0f24637.png">
<img width="1249" alt="image" src="https://user-images.githubusercontent.com/104946677/195461901-636

[2022-10-12 22:58] dylburger commented on #3979
Aircall is now integrated. I moved this back to the backlog.

[2022-10-12 22:58] dylburger commented on #3190
Great thanks for confirming. We're track that work at #3979, feel free to follow that for updates.

[2022-10-12 22:58] #3190 closed

[2022-10-12 23:14] zalmanlew opened #4489 "MailerLite API Update"
The MailerLite API was updated recently. They don't yet have a new SDK for Node, but when doing the **Use any MailerLite API** it should at least use the updated API.

- The Base URL for all requests is `https://connect.mailerlite.com/api/`
- Authorization keys should be sent under a bearer header (`Authorization: Bearer XXX`)

https://developers.mailerlite.com/docs/#mailerlite-api

---
This is th

[2022-10-12 23:29] dannyroosevelt commented on #4489
Thanks for flagging, @zalmanlew! This has been updated in the app scaffolding ("Use any MailerLite API" code).

And I see the actions are all using the SDK and are still functioning, so no changes required there!

Let me know if you run into any issues.

[2022-10-12 23:29] #4489 closed

[2022-10-12 23:29] dylburger commented on #2333
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-12 23:29] #2333 closed

[2022-10-13 00:21] ajedwards commented on #3979
Thank you @dylburger 🙏

[2022-10-13 00:47] ajedwards commented on #3190
Works for me too. Thanks for closing this out!

[2022-10-13 03:20] dylburger commented on #3934
@Liam-Scott-Russell Thanks for reaching out. This is still on our backlog. I still don't have an ETA, so if you need to implement urgently, you may need another solution.

Once we support, we'd still love to have you give it a try, so we'll update this issue as soon as we have something and we can talk more then.

[2022-10-13 03:22] Liam-Scott-Russell commented on #3934
Thanks for an update. I'd be really interested when this gets implemented, however I also realize there are probably other priorities.

Let me know if you need any input, or testing!

[2022-10-13 11:35] #4056 closed

[2022-10-13 13:53] LucBerge opened #4493 "[BUG] CR not working for microsoft outlook draft email"
**Describe the bug**
When creating a draft email with multiple lines in the `content`, the CR are not taken in account in the email.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a draft email step in a workflow
2. Fill the `content` field with multiple lines:
[code]
4. Run the step
5. Check the draft email

**Expected behavior**
The content of the email must be
[code]

**Current be

[2022-10-13 13:57] manokar-e5 opened #4494 "[APP] Kafka"
**Name of app / service** - Kafka Integration

**Link to developer documentation** thttps://kafka.js.org/

**Is lack of support preventing you from building workflows, or do you have a workaround?**  Currently i can use the nodejs node to connect to kafka and publish events, But i don't have an option to receive messages from kafka.

**Are there specific actions, or triggers, you'd like to see for

[2022-10-13 14:27] LucBerge commented on #4493
Ok I just tried, the missing and default field `content_type` set to `HTML` is the problem.
PR coming soon

[2022-10-13 15:09] vunguyenhung commented on #4494
Hello @manokar-e5, would you mind answering questions in the description? Also could you find a developer doc that guiding us how to connecting with Kafka using Node.js / HTTP?

[2022-10-13 15:30] LucBerge opened #4497 "[BUG] Testing popup not updated"
**Describe the bug**
When working on a long workflow, I often test multiple steps at once. There is this nice popup displayed in the top right corner:
I guess the point of having this popup is to know what steps are `in queue`, `in progress` and `done`.
But the steps icon changes from `loading` to `done` only when all the steps are `done` which makes the popup useless.

It goes from the image on t

[2022-10-13 15:47] lcaresia commented on #4291
I didn't found SendBlue app, I only found [`SendInBlue`](https://pipedream.com/apps/sendinblue), but aparrently is not the same thing.
Can you confirm this?

Cc: @dannyroosevelt @dylburger

[2022-10-13 15:47] lcaresia commented on #4292
I didn't found SendBlue app, I only found [`SendInBlue`](https://pipedream.com/apps/sendinblue), but aparrently is not the same thing.
Can you confirm this?

Cc: @dannyroosevelt @dylburger

[2022-10-13 15:47] sergioeliot2039 commented on #4494
@manokar-e5 do you mean the Apache Kafka streaming platform? https://kafka.apache.org/intro

[2022-10-13 15:50] lcaresia commented on #4375
Is needed a demo account to continue, because this I set as blocked!

Cc: @dannyroosevelt

[2022-10-13 16:01] sergioeliot2039 commented on #4291
@lcaresia you are correct -- SendInBlue is an Email Marketing platform where as SendBlue is an SMS and iMessaging API, so yeah they are different.

I previously submitted SendBlue to the App Store, can you approve on a chance please @dannyroosevelt ?

[2022-10-13 16:07] LucBerge opened #4498 "[BUG] String prop field with multi lines not inline with the cursor"
**Describe the bug**
I'm using the `microsoft_outlook-send-email` action to send an email with text content. The body of my email is about 20 lines.
The problem is that the cursor and the selection is not inline with the displayed text. This is confusing when writing....

![](https://www.pixenli.com/image/Y5-N6JnZ)

**To Reproduce**
- Take any source or action with a string field.
- Fill the field

[2022-10-13 17:04] #4185 closed

[2022-10-13 17:38] ljdatasci commented on #4057
I ran into some issues while testing the actions.  Some actions are available under the Free Plan, but the rest require a Paid Plan.  Here's the response I received from  Dylan at WaitWhile:

Got some clarity here. Looks like the API is still available to Free Accounts for clients to try out before upgrading to the Paid Subscription plans. This would explain some of the endpoints not working as no

[2022-10-13 18:56] manokar-e5 commented on #4494
Hi @vunguyenhung I have updated the questions in the description.

[2022-10-13 18:57] manokar-e5 commented on #4494
Yes tha''s right @sergioeliot2039 .

[2022-10-13 18:58] dylburger commented on #4494
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-13 19:29] cfjedimaster opened #4502 "[FEATURE] Support text blocks inline with flows"
**Is your feature request related to a problem? Please describe.**
I've recently fallen in love with Jupyter Notebooks. The mix of code steps and docs makes for a great learning experience, as well as a process that's very well documented. I'd like to see PD consider supporting something like this.

**Describe the solution you'd like**
I can see two ways:

a) Modify steps so they have a Text setti

[2022-10-13 21:41] Hassan-Abbas-SQA commented on #4149
Action : Get Expenses : Description : please update the description to : Get Expenses involving the current user , in reverse chronological order
<img width="817" alt="image" src="https://user-images.githubusercontent.com/104946677/195716281-439529d6-d89c-4e56-b4cd-c2f13969029f.png">

[2022-10-13 22:05] Hassan-Abbas-SQA commented on #4149
All Testcases passed
![splitwise](https://user-images.githubusercontent.com/104946677/195718437-7e3c28e2-4fc7-4874-9e0a-ba90929fef74.png)
<img width="1256" alt="image" src="https://user-images.githubusercontent.com/104946677/195718556-7f3177ae-a406-4bf7-9929-d12a91d9d824.png">
<img width="1256" alt="image" src="https://user-images.githubusercontent.com/104946677/195719549-66e20ec2-893a-4d0f-9567-f

[2022-10-13 22:36] sergioeliot2039 commented on #4494
Probably blocked for [APIs ](https://kafka.apache.org/documentation/#api)are Java and Scala based. Only possible integration could be[ Kafka Connect's Rest API](https://kafka.apache.org/documentation/#connect_rest). URLs will be need to be provided as props for Kafka is installed on containers, on premises.

[2022-10-14 00:38] dylburger commented on #4354
We've added this issue to our backlog. You can follow this issue for updates!

[2022-10-14 15:03] vunguyenhung commented on #4498
Hello @LucBerge, I tried to reproduce your issue but couldn't (video here: https://watch.screencastify.com/v/HnFxJXc5XZwVdkLwmEwC).

Could you share the following information regarding your environment?
**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

It would be great if you can do a recording of the behavior too 🙏

[2022-10-14 15:09] vunguyenhung commented on #4502
Thank you for the feature suggestion @cfjedimaster!

Hello @dannyroosevelt @dylburger, could you consider the suggestion by @cfjedimaster? I searched through PIpedream's open issues and find [this issue](https://github.com/PipedreamHQ/pipedream/issues/3912) that is quite similar

[2022-10-14 15:32] LucBerge commented on #4498
@vunguyenhung [Here is the video](https://gfycat.com/fr/courteousbadhagfish)

[2022-10-14 15:35] LucBerge commented on #4498
Same problem with Microsoft Edge Version 106.0.1370.42

[2022-10-14 15:45] vunguyenhung commented on #4498
Thank you for the video @LucBerge! I have added this to Pipedream internal board for tracking! Updates will be made to this Github issues 🙏

[2022-10-14 17:31] opti21 opened #4507 "[TRIGGER] When Discord Forum Thread is created"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
Trigger an event when a new forum thread is created in a forum channel. We have our discord setup for our users to report bugs. This trigger would be nice to auto create an issue on github or others services.

**Please provide a link to the relevant API docs for the specific service / operation this

[2022-10-14 18:05] #4149 closed

[2022-10-14 18:14] luancazarine commented on #3826
@jverce Could you show me where is the "New Contact Property Change (Legacy)" please.

[2022-10-14 20:56] timh5690 opened #4509 "Download PDF Invoice from Shopify[ACTION]"
**Is there a specific app this action is for?**

This action should pull the order invoice in PDF format.

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-10-14 23:29] dylburger commented on #4338
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-14 23:29] #4338 closed

[2022-10-15 00:32] sergioeliot2039 commented on #99
@cfjedimaster fyi FedEx is already integrated https://pipedream.com/apps/fedex
UPS and USPS are on the backlog yet

[2022-10-15 13:42] #4096 closed

[2022-10-15 17:59] dylburger opened #4512 "[FEATURE] Show the date, in addition to the time, in the Select Event trigger UI"
I'd like to see the date here, in addition to the time:

![image](https://user-images.githubusercontent.com/242668/196001416-b0bd6fab-5c27-4932-87f5-14c6a503573e.png)

[2022-10-15 20:23] niklaas opened #4513 "[APP] FreshBooks"
**Name of app / service**

FreshBooks

**Link to developer documentation**

https://www.freshbooks.com/api/start

**Is lack of support preventing you from building workflows, or do you have a workaround?**

I would love to automate my invoicing and accounting using pipedream but I struggle to set up OAuth with Freshbooks.

**Are there specific actions, or triggers, you'd like to see for this app?

[2022-10-15 21:05] dylburger commented on #4513
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-16 05:51] gijigae opened #4514 "[APP] DeepL"
**Name of app / service**

DeepL is a machine translation service.

**Link to developer documentation**

https://www.deepl.com/en/docs-api

**Is lack of support preventing you from building workflows, or do you have a workaround?**

Yes, it prevents me from building workflows and I do not have a workaround. Google cloud tranlsate is available. However, DeepL provides much higher translation qualit

[2022-10-16 14:51] LucBerge commented on #4497
[Here is a video](https://gfycat.com/fewtastyhornet)

[2022-10-16 16:39] dylburger commented on #4514
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-17 09:25] Domingato opened #4517 "[APP]"
**Name of app / service**
Habitica

**Link to developer documentation**
https://habitica.com/apidoc/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
No workaround yet, new to Pipedream

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for eac

[2022-10-17 11:01] Domingato opened #4520 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.
When I link to the Todoist integration, it links only with the "Inbox" Todoist project so all the events happening in the other projects can't be detected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new workflow
2. In trigger, search for an app, select Todoist
3. connect to Todoist
4. Select new or modified

[2022-10-17 13:04] TomVonWood commented on #4482
Hi @vunguyenhung! Thanks for helping out. I think the problem lies in the last remaining case. When the contact field is filled out but the supplied email is not yet in our lists. I believe in that case it should create a new contact but it does not do that and instead gives me a 404.

![image](https://user-images.githubusercontent.com/115629329/196184451-255bc1c0-ff25-41c2-8759-393f734c401c.png)

[2022-10-17 13:05] TomVonWood commented on #4482
Before this step I fetch the contact details from a webflow form

[2022-10-17 13:44] vunguyenhung commented on #4482
Hello @TomVonWood, I'm not quite understand your images, as it is not showing SendInBlue - Add or update contact action. Would you mind sharing your SendInBlue action configuration if possible?

[2022-10-17 13:51] TomVonWood commented on #4482
Ah sorry I must have accidentally uploaded the same image twice. Here is two new images.
![image](https://user-images.githubusercontent.com/115629329/196194587-82feaaed-e5a9-4894-a213-6c3f58ebb1a7.png)

![image](https://user-images.githubusercontent.com/115629329/196194865-8bda54f2-0a4d-4892-b5e8-0bb21dc2a958.png)

[2022-10-17 14:10] dylburger commented on #4517
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-17 16:03] #3606 closed

[2022-10-17 17:56] dylburger commented on #4509
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-10-17 18:31] dannyroosevelt commented on #4514
@gijigae here is a basic integration:
https://pipedream.com/apps/deepl/

Are there specific actions or triggers you're looking for, that would be useful?

[2022-10-17 18:35] dannyroosevelt commented on #4502
It sounds like this should be handled as a part of https://github.com/PipedreamHQ/pipedream/issues/220, is that your understanding as well, @dylburger ?

[2022-10-17 18:50] dannyroosevelt commented on #4291
@lcaresia done! there should be a `sendblue` app directory in the `pipedream` repo shortly.

@AndrewSB here is a basic integration:
https://pipedream.com/apps/sendblue/

And Lucas is going to start building out the action and trigger!

[2022-10-17 18:58] mkrkelj1 opened #4524 "[BUG] Import error for lxml"
**Describe the bug**
Import error `lxml not found, please install it` when calling method `pandas.read_html`

**To Reproduce**
Create a Python step and try running:
[code]

**Expected behavior**
This library is available in [PyPi](https://pypi.org/project/lxml/)

[2022-10-17 21:26] dannyroosevelt commented on #4517
@Domingato here is a basic integration for the app:
https://pipedream.com/apps/habitica/

[2022-10-17 21:27] dylburger commented on #4517
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-10-17 21:54] dannyroosevelt opened #4526 "[BUG] Team ID prop in Linear source not filtering events"
I selected a Team from the async options dropdown, but the events that were emitted upon source creation correspond to different Team IDs.

![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/196290887-c8950193-1d02-49b7-9ef8-9c7cf4e6e687.png)

![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/196291164-07472fc0-e80f-4c59-9e78-1f6b7

[2022-10-17 22:04] Hassan-Abbas-SQA commented on #4520
@Domingato can you please provide the screencast for the issue you are facing as you can see i was unable to replicate the issue , can you please also try it by disabling all your extensions or try incognito mode in browser and verify that issue please

[2022-10-17 22:07] dannyroosevelt commented on #4513
@niklaas here is a basic integration for FreshBooks:
https://pipedream.com/apps/freshbooks/

FYI we're currently requesting these scopes: `user:profile:read, user:invoices:read, user:invoices:write`

Let me know if those are right, or if we need to adjust them.

What actions and triggers would you like to see? Would love to get some added to our public registry!

[2022-10-17 22:57] dannyroosevelt commented on #4520
@Domingato what do you see when you select the "Projects" prop when configuring that Event Source? It should list all the projects in your account:
![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/196298728-4af95752-2d08-4f19-93f5-45a34c6db55f.png)

I think maybe there is some confusion re: how Pipedream displays the project ID alongside your auth provision after

[2022-10-18 00:41] vunguyenhung commented on #4482
Hello @TomVonWood, would you mind providing the sample data from `steps.trigger.event`? I suspect that some of the field might be missing, or incorrectly passed in

[2022-10-18 07:20] TomVonWood commented on #4482
@vunguyenhung Here it is.

 <img width="893" alt="image" src="https://user-images.githubusercontent.com/115629329/196362543-3cdacd69-e4e4-4451-a96a-7c83bf195ef7.png">

 And here are some pictures from the SIB config.
<img width="891" alt="image" src="https://user-images.githubusercontent.com/115629329/196362867-310a000d-0626-4c11-a88a-5469f5edb46d.png">
<img width="892" alt="image" src="https://us

[2022-10-18 10:43] mrdoosey opened #4528 "[APP] ExpoFP"
ExpoFP

https://expofp.docs.apiary.io/

I would like to be able to send data from Zoho CRM, am struggling to set this up my end and wonder if you could create an integration for this please.

Looking at
Add Exhibitor
Update Exhibitor
Set Booth Exhibitors

[2022-10-18 13:13] ctrlaltdylan opened #4529 "[BUG] Wordpress.org incorrect prompt"
**Describe the bug**

The Wordpress.org `url` prop is incorrectly labeled.

A URL is a full scheme like `https://wordpress.org`. However, the prop is actually asking for the _domain_:

![CleanShot 2022-10-18 at 09 11 06](https://user-images.githubusercontent.com/2694734/196438960-a760f496-21e8-4bf7-8ce2-45a776a6d380.png)

As a customer, this is very easy to overlook and it leads to confusion when

[2022-10-18 13:56] vunguyenhung commented on #4482
Hello @TomVonWood, apologize for the late response. I'm able to reproduce your issue using your data.
![2053 - 1810](https://user-images.githubusercontent.com/18277920/196449557-b4d5da7b-5222-45f2-a7be-a84660835c8c.jpg)

To add a new contact, you should have the `Contact` prop **empty**. Then after you have emptied your `Contact` prop, you would likely to face a new error `Invalid email address`
!

[2022-10-18 14:24] dylburger commented on #4528
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-18 15:06] TomVonWood commented on #4482
@vunguyenhung Thanks for looking into the issue. So if I understand correctly. If I want to have it behave as described in the description of the step: Email, If not present the email will be inserted,  it (which i'm assuming refers to contact) will be used to search the contact, if it can be found the contact will be updated else it will be added. Then I should leave the contact field empty? When

[2022-10-18 15:58] Hassan-Abbas-SQA commented on #4526
@dannyroosevelt
Reproduced the issue
<img width="1229" alt="image" src="https://user-images.githubusercontent.com/104946677/196482210-1223679c-353a-4a10-95cd-4a5c675116d6.png">
<img width="1229" alt="image" src="https://user-images.githubusercontent.com/104946677/196482255-3b29b7a2-5369-42d6-b037-cd84be8d18a2.png">

[2022-10-18 16:08] Hassan-Abbas-SQA commented on #4524
Able to reproduce the issue
![image](https://user-images.githubusercontent.com/104946677/196484498-204b20cf-3a8f-4ab9-bd46-0cd2c34b27ff.png)

[2022-10-18 16:13] vunguyenhung commented on #4482
@TomVonWood if there's already an email on the list, SendInBlue will send back a duplicated email error (you can try it by executing the action with valid data twice). So putting into the context, if a user input the form with the same email adress twice, the workflow will execute successfully on the first time (and add a new contact as a result), then failed on the second time as there's already

[2022-10-18 16:57] ctrlaltdylan commented on #4529
Updated auth configuration with more detailed instructions regarding the mislabeled `url` field.

Actually renaming this custom auth field will break existing implementations of actions and sources using Wordpress.org authentication with this incorrect label, so we're holding off on doing so until we have a migration plan for those pre-existing auth provisions.

[2022-10-18 16:57] garrettstark opened #4530 "[BUG] Discord Bot, Add a Role prebuilt step"
**Describe the bug**

Hi I’m having trouble with the ‘discord bot’, ‘add a role’ prebuilt step.
The props for Discord Bot ‘Account’ and ‘Guild’ correctly prepopulate with the correct options.
But, the ‘User’ prop won’t list all the members of the guild.
Only 1 member shows up and It’s not clear to me why that one user would be any different.
I’ve turned on all the permissions for the bot.
Other pr

[2022-10-18 17:47] dannyroosevelt commented on #4528
@mrdoosey here is a basic integration for ExpoFP:
https://pipedream.com/apps/expofp/

[2022-10-18 17:47] dylburger commented on #4528
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-10-18 20:57] dannyroosevelt commented on #1938
We've started the process for this, but no ETA currently.

[2022-10-18 20:58] dannyroosevelt opened #4532 "SAP SuccessFactors"

[2022-10-18 20:58] dannyroosevelt commented on #4532
This is a complex process, we've just started it. Need to talk to SAP sales in order to get set up.

[2022-10-18 21:26] #3493 closed

[2022-10-18 21:45] dannyroosevelt opened #4533 "[Refactor] Update auth implementation for Twilio components"
I believe our Twilio app configuration is not set up correctly.

We currently require users configure `Sid`, `Secret`, and `AccountSid` when connecting the app and also `authToken` when configuring sources, which is confusing and cumbersome for users.

I think in order to access everything in Twilio's API we actually need `accountSid` and `authToken`.

Since this will be a breaking change, we shou

[2022-10-18 22:17] dannyroosevelt commented on #3863
@lcaresia why is this blocked?

[2022-10-18 22:22] dannyroosevelt commented on #183
We shipped a Gmail integration!
https://pipedream.com/community/t/gmail-is-now-available-on-pipedream/3269

[2022-10-18 22:22] #183 closed

[2022-10-18 22:22] lcaresia commented on #3863
I don't remember, but when I tried to check the site it's returning 503 😕

I will check again in some hours!

[2022-10-18 22:29] dannyroosevelt commented on #3905
@DilanAthukorala is that true after you click "Refresh Fields" at the bottom of the step configuration?

[2022-10-19 01:12] #4493 closed

[2022-10-19 07:04] safaiyeh commented on #4530
can reproduce as well

[2022-10-19 08:20] TomVonWood commented on #4482
@vunguyenhung Problem is this is an example of a contact that was already in the list (added by pipedream automation). Hence it seems to not be updating or duplicating the contact but instead giving me a 400 error as a bad request. So it does seem to be on Pipedream's end here.

[2022-10-19 09:38] Hassan-Abbas-SQA opened #4538 "[BUG] Supportivekoala Create Image [Action]"
Bug: https://github.com/PipedreamHQ/pipedream/pull/3887#issuecomment-1275138952 as described here by user when creating an image from template able to edit only text fields and not images like product image etc...

**Steps to Reproduce the issue:**
Create Workflow
add a supportivekoala creata image action
select any template
you will only see text fields to edit

**screenshot:**
![image](https://u

[2022-10-19 11:23] vunguyenhung commented on #4482
Hello @TomVonWood, I would suggest that you split the Create contact case with Update contact case to avoid confusion. For example, you can have one workflow to Create Contact with a specific setting, and another workflow to Update Contact with a specific setting. Similarly, you can have 2 forms to allow create & update contact.

[2022-10-19 13:32] lcaresia commented on #3863
@dannyroosevelt I moved to blocked becaused is needed do a call with an "Leadpops Expert" to get an license!

[2022-10-19 14:05] lcaresia commented on #4292
I just implemented the action.

[Context here](https://github.com/PipedreamHQ/pipedream/pull/4540)

Cc: @sergioeliot2039 @dannyroosevelt

[2022-10-19 14:10] lcaresia commented on #4291
This issue is related with this one [#4292](https://github.com/PipedreamHQ/pipedream/issues/4292)

https://github.com/PipedreamHQ/pipedream/issues/4292

@dannyroosevelt or @sergioeliot2039 Can remove one of them?

[2022-10-19 14:29] sergioeliot2039 commented on #4291
Oh, the this issue was to track creating the app's integation,
4292 was to keep track of the app's component devs

[2022-10-19 15:06] TomVonWood commented on #4482
@vunguyenhung I'm afraid it is not really an option for me to run 2 forms as they are customer facing and it would complicate things too much. However, I guess I could run two workflows of which one will error.

Is this a confirmed bug now? If so I would like to be kept up to date on the progress made fixing this error. Surely this is all not expected behaviour.

[2022-10-19 15:28] vunguyenhung commented on #4482
@TomVonWood glad to know that you have a workaround for now.

For the bug, I afraid this is not a confirmed bug on Pipedream side. As the Pipedream action passed your data (email, sms, First name, Last name, etc...) to SendInBlue correctly. SendInBlue indeed received the data, but decided to send back error due to data validation failed. Pipedream's role in this case is just passing the error to y

[2022-10-19 16:23] dannyroosevelt commented on #4291
Closing out this ticket in favor of https://github.com/PipedreamHQ/pipedream/issues/4292

[2022-10-19 16:23] #4291 closed

[2022-10-19 16:35] vunguyenhung commented on #3979
Hi everyone, all test cases are passed! Ready for release!

Test report
[Aricall_3979.pdf](https://github.com/PipedreamHQ/pipedream/files/9822461/Aricall_3979.pdf)

[2022-10-19 17:42] #3979 closed

[2022-10-19 17:47] #3681 closed

[2022-10-19 18:12] Domingato commented on #4517
I am not a developper, just a wannabe programmer that still have a lot to learn.

I think that if you write to admin@habitica.com they should be more than willing in helping.

[2022-10-19 18:20] Domingato commented on #4517
Am I wrong or this doesn't allow habitica to be a trigger, just an action?

[2022-10-19 19:06] dannyroosevelt commented on #4517
Thanks @Domingato, I just sent them a note asking if they're interested in developing any triggers or actions.

That basic integration allows you to easily get started with their API in any code step, as well as authoring custom triggers: https://pipedream.com/docs/components/quickstart/nodejs/sources/

[2022-10-19 19:19] Hassan-Abbas-SQA commented on #4530
Able to reproduce the issue as well from my end thanks for submitting this issue iam adding this to our Backlog in Prioritised section so it can be resolved as soon as possible
![image](https://user-images.githubusercontent.com/104946677/196783894-4b8883de-4da4-446b-8819-43affe18e947.png)

[2022-10-19 19:48] #3072 closed

[2022-10-19 20:25] dylburger commented on #4378
Shipped the docs for this.

[2022-10-19 20:25] #4378 closed

[2022-10-19 21:18] #3831 closed

[2022-10-19 21:29] dannyroosevelt opened #4543 "Actions and Triggers for Cal.com"
### App
`cal_com`
https://developer.cal.com/api/api-reference

### Triggers
- Booking cancelled
- Booking created
- Booking rescheduled
- Booking ended

### Actions
- Create new booking
- Get a booking
- Delete a booking

[2022-10-19 21:57] PeerRich commented on #4543
LETS GOOO https://github.com/calcom/cal.com/pull/5119

[2022-10-19 23:29] dylburger commented on #4230
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-19 23:29] #4230 closed

[2022-10-19 23:35] dannyroosevelt commented on #4343
@AlexHurtadoMKTD here is a basic integration:
https://pipedream.com/apps/chatrace/

We aren't able to get access to an API key to verify the configuration -- can you help validate that basic scaffolding works for you?

[2022-10-19 23:35] dylburger commented on #4343
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-10-20 10:39] AlexHurtadoMKTD commented on #4343
Of course, with pleasure. I check how well the integration with Chatrace is
and I will speak with the CEO of this app to see if he can collaborate with
you.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
Remitente
notificado con
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&

[2022-10-20 10:58] AlexHurtadoMKTD commented on #4343
What contact email should I ask the CEO of Chatrace to communicate with
PipeDream?

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
Remitente
notificado con
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
20/10/22,
06:58:18 a. m.

El jue, 20 oct 2022 a la(s) 06:39, Alex Hurtad

[2022-10-20 14:26] KuLYT opened #4548 "Trigger when streamer off the stream"
Emit new event when a live stream off from the streamer you specify.

[2022-10-20 16:47] dannyroosevelt commented on #4343
Great! You can put them in touch with `integrations` `@` `pipedream.com`

[2022-10-20 17:21] GTFalcao commented on #3999
@vunguyenhung I've messaged you on Slack regarding this

[2022-10-20 18:09] dannyroosevelt opened #4552 "[Components] Patreon"
### App
`patreon`
https://docs.patreon.com/

### Triggers
- New member created
- New pledge received
- Member deleted

[2022-10-20 18:26] dannyroosevelt opened #4553 "[Components] Buy Me a Coffee"
### App
`buy_me_a_coffee`
https://developers.buymeacoffee.com/#/

### Triggers
- New supported added
- New item purchased
- New member added

[2022-10-20 18:39] #4292 closed

[2022-10-20 18:45] Hassan-Abbas-SQA commented on #4530
Test Passed
<img width="1193" alt="image" src="https://user-images.githubusercontent.com/104946677/197032054-01eb73df-1b39-4157-ab81-109a71335354.png">
<img width="1193" alt="image" src="https://user-images.githubusercontent.com/104946677/197032084-15ae3d73-f482-4f9d-a1be-29c65c98f6bd.png">

[2022-10-20 18:51] #4530 closed

[2022-10-20 19:43] Hassan-Abbas-SQA commented on #4548
@KuLYT which Component are you referring to ?
can you share more information so we can move this ticket accordingly?

[2022-10-20 19:57] #4415 closed

[2022-10-20 20:04] #3645 closed

[2022-10-20 22:07] DilanAthukorala commented on #4415
Verification completed and issue is resolved.

[2022-10-20 22:18] jverce commented on #3826
cc @dannyroosevelt

[2022-10-20 22:25] dannyroosevelt commented on #3826
@luancazarine if you can't find that one, that's fine. Feel free to skip.

[2022-10-20 22:45] dannyroosevelt commented on #4427
Okay let's try these changes (I also just pushed a couple slight tweaks to this branch):

We should have 2 total actions for the Filter app:
1. "Continue execution only if a condition is met" (`filter-continue-on-condition`)
2. "End execution if a condition is met" (`filter-end-on-condition`)

- Add an optional "Case Sensitive" boolean prop to the first 2 actions (can just copy this from the curre

[2022-10-20 23:29] dylburger commented on #4494
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-21 00:31] KuLYT commented on #4548
![image](https://user-images.githubusercontent.com/37509619/197084211-46fe0563-bd9c-4b34-ac76-41340469a424.png)

When the type is changed from live to offline the trigger should go off, I think it goes something like this

[2022-10-21 00:39] dylburger commented on #4425
We've added this issue to our backlog. You can follow this issue for updates!

[2022-10-21 04:05] zalmanlew opened #4556 "[APP] Uber"
**Name of app / service**
Uber (riders)

**Link to developer documentation**
https://developer.uber.com/docs/riders/references/api

[2022-10-21 04:17] manokar-e5 commented on #4494
Can we use this sdk ?? https://kafka.js.org/

[2022-10-21 15:56] #3999 closed

[2022-10-21 16:29] #4150 closed

[2022-10-21 17:00] dylburger commented on #4556
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-21 19:12] dannyroosevelt commented on #4548
@KuLYT can you confirm what app you're referring to?

[2022-10-21 19:31] Hassan-Abbas-SQA commented on #4507
@lcaresia TestFailed - Not triggering any event
![image](https://user-images.githubusercontent.com/104946677/197275074-0a51bb8b-d084-4e65-bd20-914a53c8905a.png)

[2022-10-21 23:29] dylburger commented on #4498
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-22 00:39] dylburger commented on #4447
We've added this issue to our backlog. You can follow this issue for updates!

[2022-10-22 13:18] vunguyenhung opened #4562 "[ACTION] Airtable: Search records"
**Is there a specific app this action is for?**
Airtable. I would like an action allow searching records using formula, similarly to calling Airtable SDK `select` with `filterByFormula` params passed in:
[code]

**Please provide a link to the relevant API docs for the specific service / operation.**
https://airtable.com/api

Context:
First raised by a user here: https://pipedream-users.slack.com/a

[2022-10-22 16:08] EricWu91 commented on #220
Please make this happen! 🙌

[2022-10-22 20:28] DiesIrae commented on #4321
Importing the graphql-request library throws the same error for me.

[2022-10-23 08:59] muditbhutani opened #4563 "[TRIGGER] Notion - New Row Added"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

Allow for trigger when a new row is added in a notion database, this will enable people using pipedream instead of notion to twitter automation tools

[2022-10-23 12:25] dudunato opened #4564 "Salesforce Connected Account not holding session [BUG]"
**Describe the bug**
We have a workflow that runs daily fetching data from an API and saving it to Salesforce through the REST API. This used to work pretty well, but now, every day I have to login to pipedream and re-authorize the Account with my credentials. I've tried to save it with a different user, to save a new version of the workflow and etc.

Would you guys know how to troubleshoot this f

[2022-10-23 19:03] clarkio opened #4565 "[BUG] Axios Error - Twitch Component Won't Execute Due to Error"
**Describe the bug**
Using any of the Twitch components results in the action failing due to an error with Axios. After further investigation of the error I believe it's due to a recent change to the axios package which is noted in this issue in the Axios repo: https://github.com/axios/axios/issues/5142. This seems to require some changes to what's provided in the configuration object to the axios

[2022-10-24 01:16] dylburger commented on #862
Unblocked, and we're working on this now.

[2022-10-24 02:16] edusteinhorst opened #4566 "[BUG] Access token doesn't get refreshed for Withings"
**Describe the bug**
After 3 hours of creating a new connection to Withings, requests start to fail with the following error:

`{ status: 401, body: {}, error: 'XRequestID: Not provided invalid_token: The access token provided is invalid' }`

Debugging by printing tokens with the expression below hows that the tokens never change, including after the 3 hour period:

`console.log(this.withings.$aut

[2022-10-24 12:14] lcaresia commented on #4507
@Hassan-Abbas-SQA Is needed wait for the Core team to test this task, [as I described here](https://github.com/PipedreamHQ/pipedream/pull/4551#issue-1416990807)

[2022-10-24 12:43] lcaresia commented on #4562
@vunguyenhung The action `List Records` don't work for this case?

![image](https://user-images.githubusercontent.com/12402324/197528004-06a9cd6a-a425-42d6-a245-80068d9fb7f8.png)

[2022-10-24 12:44] vunguyenhung commented on #4562
Oh right. Thanks for spotting that @lcaresia! As we can use the List Records action for this I will close the ticket now!

[2022-10-24 12:44] #4562 closed

[2022-10-24 13:00] lcaresia commented on #3739
Printful don't work more with `Api Key`, is necessary updat authentication.

[2022-10-24 13:56] cfjedimaster opened #4567 "[ACTION] Cloudinary Admin APIs"
**Is there a specific app this action is for?**
Yes, there is a set of Cloudinary actions

**Please provide a link to the relevant API docs for the specific service / operation.**
- [Get Resources](https://cloudinary.com/documentation/admin_api#get_resources)

[2022-10-24 14:02] cfjedimaster opened #4568 "[BUG] Workflow list, sorted by last event, not working properly"
**Describe the bug**
I've got an HTTP trigger workflow (twittersuckimage-p_3nC2rPO), that has just executed. When I sort workflows by last event, it does not show up.

Here is the current workflow list, just reloaded (btw, if you sort by X and reload, you lost your sort :)

![image](https://user-images.githubusercontent.com/393660/197544238-88bb8dc5-b20b-498c-9c84-7f2434ff91de.png)

And here's my

[2022-10-24 14:41] lcaresia commented on #3905
This issue is not related with this one https://github.com/PipedreamHQ/pipedream/issues/4538 ?

If yes, does make sense make a merge?

Cc: @dannyroosevelt @DilanAthukorala @Hassan-Abbas-SQA

[2022-10-24 16:03] dylburger commented on #4563
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-10-24 16:06] dylburger commented on #862
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-10-24 16:39] DilanAthukorala commented on #4568
Hi @cfjedimaster, Thank you for reporting this issue! I am able to recreate it and we will prioritize it to be fixed. Please follow this ticket for updates.

[2022-10-24 17:21] DilanAthukorala commented on #4564
Hi @dudunato, I am not able to recreate this, can you please provide the details of the exact component that you are observing this issue? The screenshot you provided doesn't show any Salesforce component could you please share more screenshots of the error, component and configurations of your action.

[2022-10-24 17:27] dannyroosevelt commented on #4565
Thank you so much for the detailed report and breakdown, @clarkio! FYI since it looks like you were in the component code, we're happy to review a PR if you're interested in implementing the fix yourself, otherwise our team will take a look soon.

[2022-10-24 18:01] dannyroosevelt commented on #4564
@dudunato to confirm, which account are you re-authorizing with -- ActiveCampaign or Salesforce?

[2022-10-24 18:02] DilanAthukorala commented on #3905
@dannyroosevelt yes the issue persists even after clicking refresh button on the bottom of the page.

[2022-10-24 18:03] DilanAthukorala commented on #3905
@lcaresia This issue is different and not related with 4538

[2022-10-24 18:04] dudunato commented on #4564
@dannyroosevelt Salesforce!

[2022-10-24 19:47] DilanAthukorala opened #4573 "[BUG] Webflow - Update item inventory 'fields' required error"
Webflow update inventory action throws an error when sending request with valid parameters

**To Reproduce**
Steps to reproduce the behavior:
1. Create Webflow Update Inventory Action
2. Pass valid parameters and click test
3. See error - ValidationError: 'fields' is required

**Expected behavior**
Inventory should be updated properly

**Screenshots**
![image](https://user-images.githubusercontent

[2022-10-24 19:57] dannyroosevelt commented on #4573
Reported by a user here: https://pipedream-users.slack.com/archives/CPTJYRY5A/p1666638983511469

[2022-10-24 21:11] sasquatchjordan opened #4574 "Intercom - Log Event"
**Name of app / service**
Intercom

**Link to developer documentation**
https://developers.intercom.com/intercom-api-reference/reference/submitting-events

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I haven't yet... I could try to build something myself

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know he

[2022-10-24 21:25] Hassan-Abbas-SQA commented on #4526
TestPassed works fine as expected
![image](https://user-images.githubusercontent.com/104946677/197632500-ba9e51a5-5565-4345-8e41-2dc352d731d9.png)

[2022-10-24 21:26] sergioeliot2039 commented on #4574
Thanks for your request @sasquatchjordan !!

I looks like that trigger is already integrated, can you please check if it works for you?

https://pipedream.com/apps/intercom/triggers/new-event

![image](https://user-images.githubusercontent.com/25184117/197632518-a0d59a50-9bf3-4477-88d1-107d95e3bcce.png)

Best,

Sergio

[2022-10-24 21:28] #4526 closed

[2022-10-24 23:00] Hassan-Abbas-SQA commented on #3738
![image](https://user-images.githubusercontent.com/104946677/197645753-f2e9cf83-fae7-47fe-9da2-f778791e706b.png)

[2022-10-24 23:22] Hassan-Abbas-SQA commented on #3684
Tests Passed
![image](https://user-images.githubusercontent.com/104946677/197647986-499696e7-3bec-40c6-9ef2-fb01cb498e9b.png)

[2022-10-24 23:26] #3684 closed

[2022-10-24 23:29] dylburger commented on #4520
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-24 23:29] #4520 closed

[2022-10-24 23:29] dylburger commented on #4514
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-24 23:29] dylburger commented on #4513
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-24 23:29] #4514 closed

[2022-10-24 23:29] #4513 closed

[2022-10-24 23:29] dylburger commented on #2639
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-24 23:29] #2639 closed

[2022-10-24 23:30] TomFrankly commented on #2037
Adding my +1 to this; configuring 2FA at each provider in a workflow isn't enough, as it leaves Pipedream itself open as a 1-factor potential attack vector.

[2022-10-24 23:46] JustinMason commented on #2639
Thanks a lot, I was able to test the basic example using oauth and product catalog and that worked.
I am curious on how events would be implemented.  Zuora has web hooks for some of their events.  They are designed to be notifications, rather than events for data integration.  But they may be useful.  We will be looking at this in the next month and I'll post here if we clarify what we may desire

[2022-10-24 23:49] ctrlaltdylan commented on #2037
Hi @TomFrankly, just laying out the authentication scenarios.

### Registering a Pipedream account with Gmail

If you initially register a Pipedream with Gmail for example, you can configure your Gmail Workspace account to require 2FA to login to Gmail.

Therefore, 2FA would be required to login to Pipedream as well.

### Registering a Pipedream account with Github

Same story as above. Registerin

[2022-10-25 04:23] dannyroosevelt commented on #4564
Thanks for confirming.

Is there any chance you’ve configured a custom Refresh Token Policy for your Salesforce org? https://help.salesforce.com/s/articleView?id=sf.connected_app_manage_oauth.htm&type=5

[2022-10-25 13:06] clarkio commented on #4565
@dannyroosevelt thanks and yea I'd be happy to but I see there is a PR open which I'm also happy to see 👍

[2022-10-25 13:14] vunguyenhung commented on #3738
Hello @Hassan-Abbas-SQA, just checking, I see in your test report there're actions regarding customers. What about other actions and sources? Have they been verified?

[2022-10-25 13:31] #3826 closed

[2022-10-25 15:50] dannyroosevelt commented on #4565
Oops looks like we jumped the gun on it... but it's in the QA queue, so it should be fixed soon!

[2022-10-25 16:25] jcortes commented on #4573
I've fixed the issue with the message `ValidationError: 'fields' is required` however another issue has come up which has to do with how to call the [Webflow's Update Item Inventory endpoint](https://developers.webflow.com/#update-item-inventory). So I've just opened a discussion in their forum [here](https://discourse.webflow.com/t/update-item-inventory-badrequest-sku-collection-not-specified/220

[2022-10-25 16:25] DilanAthukorala commented on #4566
@edusteinhorst Thank you for reporting this issue, I am able to recreate the error with the given steps. The following error can be seen in the logs, 3 hours after connecting the app, when trying to fetch events.
![image](https://user-images.githubusercontent.com/102980146/197829528-5c400263-b62a-4a40-925f-c646944d46f6.png)

[2022-10-25 17:55] #3772 closed

[2022-10-25 18:15] #4462 closed

[2022-10-25 18:25] dylburger opened #4579 "[BUG] Workflow events fail to delete on first try"
Deleting certain workflow events seems to take multiple attempts. To reproduce:

1. Create a workflow with an HTTP trigger and a simple Node.js code step
2. Deploy it, then run some executions against it.
3. Visit the inspector and delete your events. Then refresh the page. You'll see the events still listed, with a spinner on the left instead of the prior execution state.

[2022-10-25 20:04] Hassan-Abbas-SQA commented on #4565
@clarkio TestPassed
![image](https://user-images.githubusercontent.com/104946677/197870888-f8491cc7-b7ca-4998-a908-0ba74e5ea2e4.png)

[2022-10-25 21:16] dannyroosevelt commented on #4563
@muditbhutani would this trigger work for you? https://pipedream.com/apps/notion/triggers/updated-page

[2022-10-25 23:27] zalmanlew commented on #445
I'm just curious, is Facebook (Meta) giving any reason why they haven't accepted the Pipedream app yet or are they just indefinitely stonewalling?

[2022-10-26 00:01] muditbhutani commented on #4563
@dannyroosevelt I believe updated page in database here means updation of the first column of database in notion which is by default a page. The flow I am looking for is more about addition of new row in the same database irrespective of whether that column is primary or not

[2022-10-26 03:32] Hassan-Abbas-SQA commented on #4477
![image](https://user-images.githubusercontent.com/104946677/197928227-ab728b51-030d-4cf9-b9da-5f087266f2ef.png)

[2022-10-26 04:01] gethubb commented on #3312
Excited for this! Thank you.

[2022-10-26 13:04] #4565 closed

[2022-10-26 14:10] fabien-lg opened #4585 "[BUG] Slack New Reaction Added (Instant) sends incorrect message if the reaction is added in a thread"
**Describe the bug**
When using the source [Slack New Reaction Added (Instant)](https://github.com/PipedreamHQ/pipedream/blob/master/components/slack/sources/new-reaction-added/new-reaction-added.mjs), and adding a reaction to a message that is down in a thread; the message that is fed into the Workflow is not the message that received the reaction, but the last message in the channel instead.

**

[2022-10-26 16:47] DilanAthukorala commented on #4585
Hi @fabien-lg, Thank you for reporting this issue, I am able to recreate it. The actual message returned is the text of the parent message of the thread for reactions on any child message within that thread.
![image](https://user-images.githubusercontent.com/102980146/198086228-508af320-4d8c-4daf-867d-6dd48b25582d.png)
![image](https://user-images.githubusercontent.com/102980146/198086408-2b2d79b6

[2022-10-26 17:43] timh5690 commented on #4509
@jcortes The shopify endpoint might not exist yet, I'm not 100% sure. But I was hoping there is a way to pull a PDF invoice for a specific order ID and then send that via email using Pipedream. Let me know if this might be possible or if this is just a limitation of Shopify's API.

[2022-10-26 17:50] #3830 closed

[2022-10-26 21:02] dannyroosevelt opened #4587 "[APP] ipinfo.io"
ipinfo.io
https://ipinfo.io/developers#authentication

[2022-10-26 21:14] dannyroosevelt opened #4588 "[APP] Plasmic"
Plasmic
https://docs.plasmic.app/learn/rest-api/

[2022-10-26 21:15] jcortes commented on #4509
Hi @timh5690 thanks for your comment. I think the best thing we can do now is to create the action component named `get-order` in that way we get the order's data for the invoice, then with another action component maybe using [apitemplate-io](https://pipedream.com/apps/apitemplate-io) we can create the pdf with invoice information and then with another step action component (maybe [gmail](https:/

[2022-10-26 22:34] dannyroosevelt opened #4589 "[ACTION] Klaviyo"
### App
`klaviyo`

### Actions
- Create New List: https://developers.klaviyo.com/en/v1-2/reference/create-list
- Add Members to a List: https://developers.klaviyo.com/en/v1-2/reference/add-members

[2022-10-26 23:00] dannyroosevelt opened #4590 "[Action] Discourse"
### App
`discourse`
https://docs.discourse.org/

### Action
- Create New Post

[2022-10-26 23:11] dannyroosevelt commented on #3927
This is blocked on requiring the `admin.users:write`, which the Pipedream OAuth app does not have access to at this time, since it requires admin-level access for users to enable.

We'll either need a separate Slack Admin app, or custom OAuth (https://github.com/PipedreamHQ/pipedream/issues/163)

[2022-10-26 23:29] dylburger commented on #4482
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.