[2022-10-26 23:29] #4482 closed

[2022-10-27 00:16] dylburger commented on #4587
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-27 00:27] dylburger commented on #4588
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-27 13:39] vunguyenhung commented on #4427
Hello @dannyroosevelt I have tested and verified all the new actions. They make sense to me! I think it would easier to understand to other users.

Hence, I will move this ticket to ready for release.

Test report
[Filter_4427.pdf](https://github.com/PipedreamHQ/pipedream/files/9879885/Filter_4427.pdf)

[2022-10-27 14:07] clarkio commented on #4565
This is great to see. Does it mean it's been published to the platform now as well? @Hassan-Abbas-SQA @lcaresia @dannyroosevelt

[2022-10-27 14:11] lcaresia commented on #4565
@clarkio Yes, it's published!

[2022-10-27 14:34] clarkio commented on #4565
@lcaresia great to hear. Is there anything I need to do in my workflows to get it updated? I noticed the error still showing up when I tried earlier.

[2022-10-27 14:43] lcaresia commented on #4565
Yes, you need to remove the action and create again!

If you still having the problem call me on Slack and I will help you ☺️

[2022-10-27 15:04] dannyroosevelt commented on #4565
@clarkio you actually don't need to remove the action from your workflow -- you should see a red button at the top right of the Twitch step that says "Update".

[2022-10-27 16:19] clarkio commented on #4565
@dannyroosevelt I'm not seeing that option in my workflows. Here is an example:
![image](https://user-images.githubusercontent.com/6265396/198344747-fed15a46-13c9-4f78-9c9b-d9d07aa05128.png)

[2022-10-27 17:10] dannyroosevelt opened #4596 "[ACTION] expofp"
### App
`expofp`
https://expofp.docs.apiary.io/#

### Actions
- Get exhibitor ID and details
- Get booth details
- Update exhibitor
- Update booth

[2022-10-27 17:14] #4588 closed

[2022-10-27 17:17] #4587 closed

[2022-10-27 18:27] timh5690 commented on #4509
Hi @jcortes, to be honest, this tool is outside of my skillset.

[2022-10-27 18:28] dannyroosevelt commented on #4573
@jcortes what's the issue?

[2022-10-27 18:33] jcortes commented on #4573
@dannyroosevelt the issues is that whenever I call [this endpoint](https://developers.webflow.com/#update-item-inventory) I get this error
[code]
so I've created [this post](https://discourse.webflow.com/t/update-item-inventory-badrequest-sku-collection-not-specified/220880)

[2022-10-27 18:34] dannyroosevelt commented on #4509
@timh5690 this might be something someone from the Pipedream [Slack](https://join.slack.com/t/pipedream-users/shared_invite/zt-11sazmsg0-oS2VW~mZfhtk3XfEEvb~JA) or [Discourse](https://pipedream.com/community/) Community can help with, and you'll see an option to hire an expert there as well.

[2022-10-27 18:36] dannyroosevelt commented on #4565
Hey @clarkio that's strange. We aren't able to reproduce that issue. Can you try refreshing the page? If you still don't seen a prompt to **Update** the action, can you visit the settings for that workflow and enable the toggle to **Share with Support**, then paste the workflow URL so I can check it out?

[2022-10-27 18:49] dannyroosevelt commented on #4565
Actually, we were able to reproduce the error and we're looking into it. In the meantime if you want to get the action working asap, you can definitely remove that step and add it again.

[2022-10-27 18:59] dylburger commented on #4225
@petrgazarov We looked into this, and there's no mechanism right now for us to add a trigger on deleted rows using native PostgreSQL features. The only solution requires we maintain a long-lived connection to a Postgres DB, which we don't support yet, given the nature of how we run functions on Pipedream.

Are you familiar with Hasura? They should be able to send you [webhooks on database events](

[2022-10-27 19:28] jcortes commented on #4161
Hi @garrettstark do you have a slack user so I can have more details about the issue from you? thanks in advance

[2022-10-27 19:32] #3722 closed

[2022-10-27 20:01] #4533 closed

[2022-10-27 20:17] Hassan-Abbas-SQA commented on #3739
description is wrong can you please update it
<img width="903" alt="image" src="https://user-images.githubusercontent.com/104946677/198382580-74230013-a9a7-4e2a-9a0b-d13d5e731600.png">

[2022-10-27 22:57] Hassan-Abbas-SQA opened #4599 "[BUG] Twilio Authentication not as expected"
**Describe the bug**
When i Authenticated myself with valid SID and AuthToken as required by auth prompt and trying to run an action getting "username is required" error

<img width="975" alt="image" src="https://user-images.githubusercontent.com/104946677/198413068-4a397b08-e627-49ee-bcd5-aac54e2148d2.png">

Goto Pipedream create a workflow
select any action for twilio
Authenticate with valid SSI

[2022-10-28 04:32] dannyroosevelt opened #4600 "[BUG] Actions not prompting to update in the builder"
Newer versions of component actions are not prompting me to update to the latest versions in the builder.

[2022-10-28 04:35] dannyroosevelt commented on #4565
FYI we've identified the issue and confirmed it's not related to this Twitch update. We are tracking the issue re: not getting prompted to update existing actions [here](https://github.com/PipedreamHQ/pipedream/issues/4600).

[2022-10-28 04:57] vinodCustomerSuccess3000 opened #4601 "send received payload[ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-10-28 05:15] dannyroosevelt commented on #4427
@andrewjschuang thanks for making those changes! FYI I made a few slight tweaks and pushed to your branch.

I think the only thing that's missing is the case sensitive prop -- can you add that as an additionalProp for the **text** conditions, like in the current filter actions?

[2022-10-28 08:05] Rango2022 opened #4602 "[ACTION]"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-10-28 09:53] vunguyenhung opened #4603 "[BUG] $.respond does not accept Readable Stream in Node.js action"
**Describe the bug**
Raised by a customer here: https://github.com/PipedreamHQ/pipedream/issues/4603
I created a workflow with `HTTP Trigger - Return Custom response from your workflow`, then I created a Node action and call `$.respond({body: readbleStream})`. But I faced an error
[code]

Per [this document](https://pipedream.com/docs/workflows/steps/triggers/#http-responses)

So I expect that the

[2022-10-28 16:25] dannyroosevelt opened #4607 "[ACTION] IPinfo.io"
App: `ipinfo_io`

### Actions

- Look up IP https://ipinfo.io/developers#ip-address-parameter
- Look up ASN https://ipinfo.io/developers/asn

[2022-10-28 16:32] vunguyenhung commented on #4427
Hello @andrewjschuang, I have tested this PR and there're some test cases needed improvement. Specifically, the Array condition only works with Array of Strings, but not Array of Numbers.

Please check the test report below for more information
[Filter_4440_2330.pdf](https://github.com/PipedreamHQ/pipedream/files/9890250/Filter_4440_2330.pdf)

[2022-10-28 17:01] dylburger commented on #4600
This should be completed! Please let us know if you see any issues

[2022-10-28 17:01] #4600 closed

[2022-10-28 17:03] dannyroosevelt commented on #4565
FYI @clarkio this should be fixed -- you should now be able to update actions normally
![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/198692753-463b5645-572c-4ad2-8807-67f362ab38ef.png)

[2022-10-28 17:18] casret commented on #4603
Can you try to pass a (numeric) `status` to $.respond?

[2022-10-28 17:23] DilanAthukorala commented on #4602
@Rango2022 Please provide the details of the following

Is there a specific app this action is for?
Please provide a link to the relevant API docs for the specific service / operation.

[2022-10-28 17:26] DilanAthukorala commented on #4601
@vinodCustomerSuccess3000 Please provide the details of the action you are requesting for in the following format

Is there a specific app this action is for?
Please provide a link to the relevant API docs for the specific service / operation

[2022-10-28 17:29] DilanAthukorala commented on #4600
Update option is now visible
![image](https://user-images.githubusercontent.com/102980146/198697160-769a6efa-adfc-4ce7-95c6-27bb1defa469.png)

[2022-10-28 17:42] DilanAthukorala commented on #4599
@Hassan-Abbas-SQA The actions seem to be working fine can you retry ?
![image](https://user-images.githubusercontent.com/102980146/198699208-87814f26-50b3-416c-89c9-ef21d27d68e0.png)

[2022-10-28 17:56] jcortes commented on #3633
Hi @jverce can you be more specific about the `Find List` action please? here it is the [api docs](https://apireference.getresponse.com/?_ga=2.250017859.499257728.1666974700-2116668472.1666974700&_gl=1*8rz7cc*_ga*MjExNjY2ODQ3Mi4xNjY2OTc0NzAw*_ga_EQ6LD9QEJB*MTY2Njk3NzM0Ny4yLjEuMTY2Njk3OTc1Mi42MC4wLjA.) just in case

[2022-10-28 17:59] Hassan-Abbas-SQA commented on #4599
this issue has been resolved @DilanAthukorala closing this issue now

[2022-10-28 17:59] #4599 closed

[2022-10-28 18:06] andrewjschuang commented on #4057
Resolved by #4592.

[2022-10-28 18:06] #4057 closed

[2022-10-28 18:59] #3739 closed

[2022-10-28 19:06] #4585 closed

[2022-10-28 19:41] dannyroosevelt commented on #4427
LGTM, will wait for @vunguyenhung to give it another pass!

[2022-10-28 23:20] CarefulCrab opened #4611 "[ACTION]"
Greetings,
Thank you for your work! I just wanted to ask if it is possible to get rid of the "Sent via PipeDream" message on Discord for newly created Twitch clips. If it's possible, how can I do it? What should I do?
Thank you for you assistance.
![Capture](https://user-images.githubusercontent.com/106415281/198748183-6da22fa9-f71a-4d65-afe5-203062234a29.PNG)

[2022-10-28 23:29] dylburger commented on #4548
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-28 23:29] #4548 closed

[2022-10-28 23:29] dylburger commented on #4494
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-29 02:36] vunguyenhung commented on #4427
Hi everyone, all test cases are passed! Ready for release!

Test report
[Filter_4440_0935.pdf](https://github.com/PipedreamHQ/pipedream/files/9892684/Filter_4440_0935.pdf)

[2022-10-29 17:12] clarkio commented on #4565
Awesome and thanks for sharing the update 🙂👍

[2022-10-29 17:13] fawadakram opened #4612 "[BUG] ActiveCampaign 'get_contact_by_email' action doesn't work - always returns the first contact"
**Describe the bug**
See action: components/activecampaign/actions/get-contact-by-email/get-contact-by-email.mjs

Whether you specify a string or expression (doesn't matter), the contact returned will always be the first one in the array.

The result displayed states that it was successfully returned, e.g. Successfully got a contact with ID 6
But it definitely was not successful :)

**To Reproduce

[2022-10-29 17:22] fawadakram commented on #4612
Note the email address is made up but a result is still returned

<img width="947" alt="Screenshot 2022-10-29 at 18 20 01" src="https://user-images.githubusercontent.com/16971604/198844934-4cdfba96-b277-4c97-8924-8308f79ada83.png">

[2022-10-30 00:45] h4ck3rkorghost opened #4613 "1s2u[APP]"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-10-30 13:33] dylburger commented on #4613
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-30 14:42] LucBerge commented on #4611
In your `send_message` action, set the `Include link to workflow` to `FALSE`

[2022-10-30 16:40] dannyroosevelt opened #4614 "[BUG] Gmail Send Message action returns an error but still sends a message"
Looks like we're returning the below error in certain cases, but the emails still send. This is especially problematic in cases where we attempt to retry the seemingly failed step.

![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/198890279-67a6feb5-7b8c-4a37-ae40-5ddf4844d023.png)

![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/207807

[2022-10-30 16:44] dannyroosevelt commented on #4614
@andrewjschuang can you please take a look?

[2022-10-30 16:44] dannyroosevelt opened #4615 "[BUG] Code Examples not appearing in the builder"
![Google Chrome - Untitled workflow - Pipedream - 2022-10-30 at 9 43 25 AM](https://user-images.githubusercontent.com/20780753/198890641-14f20fe5-bce9-4a6c-a086-40db858bd32c.gif)

[2022-10-30 17:09] CarefulCrab commented on #4611
Thank you very much!
Wishing you a good day <3

[2022-10-30 17:09] CarefulCrab commented on #4611
Thank you very much!
Wishing you a good day <3

[2022-10-30 17:38] LucBerge commented on #4611
You're welcom 😄  fell free to close the issue

[2022-10-30 17:42] #4611 closed

[2022-10-31 06:55] vunguyenhung commented on #4603
Thank you @casret, I tried to add `status: 200` and it success!
<img width="1840" alt="image" src="https://user-images.githubusercontent.com/18277920/198949103-d5300925-cf53-471f-8d4b-7799db2e5c8e.png">

Hence I will close this ticket

[2022-10-31 06:55] #4603 closed

[2022-10-31 09:31] niklaas commented on #4513
Wow, this was fast! I'll take a look at the integration in the next couple of days. Thanks a lot!

[2022-10-31 13:10] vunguyenhung commented on #3818
Hello, this service requires input a credit card in order to register an account. Hence, I will move it to ready for release and track for error if any 🙏
<img width="1919" alt="image" src="https://user-images.githubusercontent.com/18277920/199013270-1869fe6c-f00f-43cb-84c3-701c2db708e7.png">

[2022-10-31 13:18] cfjedimaster opened #4618 "[APP] Mastodon"
**Name of app / service**
Mastodon

**Link to developer documentation**
https://docs.joinmastodon.org/api/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I believe so - I think at minimum I'd need OAuth support

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templat

[2022-10-31 13:21] cfjedimaster opened #4619 "[APP] Untappd"
**Name of app / service**
Untappd

**Link to developer documentation**
https://untappd.com/api/docs

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Need at least oauth connection support

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for e

[2022-10-31 13:44] #3818 closed

[2022-10-31 13:56] ctrlaltdylan commented on #4619
Unfortunately Tappd is not accepting any new applications on their API.

We're unable to register a new app on their platform. We cannot support an integration at this time, but will check back in.

![CleanShot 2022-10-31 at 09 54 41](https://user-images.githubusercontent.com/2694734/199024570-b11c59b2-f9a2-4b34-a170-95c5a9754925.png)

[2022-10-31 14:05] cfjedimaster commented on #4619
I _kinda_ know the owners - will ping them. Well, I knew the previous owners, I believe it's been sold once or twice.

[2022-10-31 14:10] ctrlaltdylan commented on #4619
Amazing. If you could get our shoe in the door that would be super helpful.

[2022-10-31 14:12] cfjedimaster commented on #4619
I tried by begging on the bird site. We shall see.

[2022-10-31 14:15] vunguyenhung commented on #4612
Thank you for raising this issue @fawadakram! I'm able to reproduce this bug! I will add this to Pipedream's component backlog
![2115 - 3110](https://user-images.githubusercontent.com/18277920/199028992-232e3332-9f6a-447b-bb95-2b903bb2612c.png)

[2022-10-31 15:00] dylburger commented on #4618
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-31 15:59] dylburger commented on #4619
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-10-31 17:32] DilanAthukorala opened #4625 "[BUG] Slack - "New Mention" source not emitting events"
Slack New Mention source does not emit events for keywords or usernames. Events are only visible in the logs but not displayed in the events tab.

Steps to reproduce the behavior:
1. Create slack "New Mention" source and connect to account
2. provide a sample keyword and a channel
3. In slack mention the keyword in the configured channel.

**Expected behavior**
Event should be emitted for the keyw

[2022-10-31 17:47] DilanAthukorala opened #4626 "[BUG] Slack "New Star Added" source throws error if event type is not specified"
Slack "New Star Added" source does not emit event and throws error if event type is not specified

**To Reproduce**
Steps to reproduce the behavior:
1. Create and Connect Slack "New Star Added" Source (Do Not Select Event Type)
2. On Slack add star to either **Message, User, Channel or File**

**Expected behavior**
If Event Type is not specified, all events should be emitted.

**Screenshots**
![im

[2022-10-31 19:52] andrewjschuang commented on #4614
@dannyroosevelt this happens with any `array` type prop (in this case `string[]`).
If a user tries entering a custom expression and instead of an array they insert a string, then the error above will occur.

I will adjust the code to catch this case, but FYI this is a global behaviour in the Pipedream UI with `array` props.

[2022-10-31 19:55] andrewjschuang commented on #4614
Actually, nvm. This above was not the issue here.

[2022-10-31 21:15] WTPascoe opened #4629 "[BUG] Jira: Create Issue action does not appear to support labels selected from drop-down list"
**Describe the bug**
When adding Labels on the Jira: Create Issue action, you are presented with a list of labels to select from if any exist in the target Jira instance. Selecting one of these (although multiple should be selectable) and testing the action causes a failure as follows:

[code]

Under `steps.create_issue.debug.data.errors.labels` , the error is further described as `Specify the val

[2022-10-31 21:42] WTPascoe opened #4631 "[BUG] Jira Create Issue action should not mandate assignee be completed, or should allow for Automatic / Unassigned"
**Describe the bug**
`Assignee Id` appears to be mandatory in the Jira Create Issue action and I cannot test the action without completing this.

Jira allows for an Automatic assignment option and in many cases, workflows with the option to not assign the issue (Unassigned)

https://developer.atlassian.com/server/jira/platform/jira-rest-api-examples/ does not state that assignee is required from w

[2022-10-31 23:29] dylburger commented on #4574
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-10-31 23:29] #4574 closed

[2022-10-31 23:33] #4538 closed

[2022-11-01 01:22] vunguyenhung opened #4633 "[BUG] Leo Test move blocked issue to Blocked column"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-11-01 01:26] dylburger commented on #4633
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-11-01 02:09] weitzman commented on #4538
Thanks much.

[2022-11-01 10:25] osseonews commented on #318
Please implement Edge functions, like Cloudflare workers. See how NextJS is implementing it. This is the only thing missing in Pipedream really. The cold start issue is a major pain as we end up having to develop functions in Cloudflare as opposed to doing everytihng in Pipedream.

[2022-11-01 12:21] #4614 closed

[2022-11-01 12:34] vellames commented on #4420
Moving to Done.
Cc: @dannyroosevelt @dylburger

[2022-11-01 12:42] andrewjschuang commented on #4563
@muditbhutani can you please try this trigger? https://pipedream.com/apps/notion/triggers/new-page

[2022-11-01 14:29] #4633 closed

[2022-11-01 14:37] #4607 closed

[2022-11-01 14:38] #4590 closed

[2022-11-01 15:56] cfjedimaster opened #4637 "[BUG] Edits during a step test are lost"
**Describe the bug**
If you have a code step and you edit the code while a test is being run, the edits are lost.

**To Reproduce**
Steps to reproduce the behavior:
1. Click test.
2. Quickly edit the code somehow
3. The edits go away

**Expected behavior**
Either stop me from editing when a test is being run, or don't lose the edits. :)

[2022-11-01 16:28] dannyroosevelt opened #4638 "[ACTION] Discourse: New Topic"
Oops I forgot we also need a new action for **New Topic**

(related issue: https://github.com/PipedreamHQ/pipedream/issues/4590)

[2022-11-01 16:37] dylburger commented on #4615
This should be completed! Please let us know if you see any issues

[2022-11-01 16:37] #4615 closed

[2022-11-01 16:41] vunguyenhung commented on #4626
Since Dilan can reproduce this already I'll put this ticket directly to our component project

[2022-11-01 17:49] #4473 closed

[2022-11-01 22:40] #4596 closed

[2022-11-01 23:29] dylburger commented on #4564
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-11-01 23:46] MongoSan opened #4640 "TD Ameritrade Rest API Integration [APP]"
TD Ameritrade Rest API (for Stock/Option Trading Automation)

[[**Link to developer documentation**](https://developer.tdameritrade.com/apis)](https://developer.tdameritrade.com/apis)

**Is lack of support preventing you from building workflows, or do you have a workaround?**  Their OAUTH process is beyond my low skill level

**Are there specific actions, or triggers, you'd like to see for this ap

[2022-11-01 23:47] dylburger commented on #4640
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-02 01:06] vunguyenhung commented on #4629
Thank you for raising this issue @WTPascoe. I'm able to reproduce your issue! I will add this to our Component backlog!
![0805 - 0211](https://user-images.githubusercontent.com/18277920/199370789-db04f4bd-7b88-4804-9331-b2f0eb8c6e32.png)

[2022-11-02 01:10] vunguyenhung commented on #4631
Thank you for raising this @WTPascoe! I confirm that the current JIRA create issue action requires Assignee ID. I will add this ticket to our component backlog!
<img width="817" alt="image" src="https://user-images.githubusercontent.com/18277920/199371215-9fad7f01-03a1-49b1-afdf-3a157c9b0b68.png">

[2022-11-02 03:57] dannyroosevelt commented on #4640
Here you go, @MongoSan:
https://pipedream.com/apps/td-ameritrade/

Are there specific actions or triggers you'd like to use with TD Ameritrade?

[2022-11-02 04:55] MongoSan commented on #4640
Wow - that was fast Danny - thanks!

Signing up for  a Pipedream pay account now.

Yes there maybe some specific triggers related to placing stock trades,
getting account information, and getting stock price quotes/data - I'll let
you know.  thanks Again

Tom

On Tue, Nov 1, 2022 at 8:57 PM Danny Roosevelt ***@***.***>
wrote:

[2022-11-02 07:20] ajay-shahh opened #4642 "[Whatsapp Business Api - APP]"
**Name of App/Service - Whatsapp Business API**

**Link to developer documentation - https://developers.facebook.com/docs/whatsapp/**

**Is lack of support preventing you from building workflows, or do you have a workaround? - NO**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for e

[2022-11-02 11:03] marcelocecin opened #4643 "[APP] svix.com"
**Name of app / service**
svix.com

**Link to developer documentation**
https://docs.svix.com

**Is lack of support preventing you from building workflows, or do you have a workaround?**
workaround, use Python library

**other interesting links**
https://docs.svix.com/integrations/zapier
https://docs.svix.com/integrations/advanced-zapier

[2022-11-02 12:23] #4240 closed

[2022-11-02 12:54] vunguyenhung opened #4644 "[ACTION] Leo Test Blocked"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-11-02 13:15] sergioeliot2039 commented on #4642
Hi @ajay-shahh, thanks for the request.
We are tracking WhtasApp integration on this issue, please feel free to follow, if you'd like  #2896

Duplicate, closing.

[2022-11-02 13:15] #4642 closed

[2022-11-02 13:27] #4644 closed

[2022-11-02 14:25] vunguyenhung commented on #4264
Hi everyone, all test cases are passed! Ready for release!

Test report
[IMRPOVEMENT_Salesforce_New_Object_(Instant)_emitting_initial_historical_event.pdf]

[2022-11-02 14:49] michelle0927 commented on #4354
@jilzerndt @Hassan-Abbas-SQA The Google Calendar action, [Update Event](https://github.com/PipedreamHQ/pipedream/tree/master/components/google_calendar/actions/update-event) allows for updating the start and end date/time of an event.

[2022-11-02 15:40] HayWire-UK opened #4645 "[APP] FaceBook Groups"
**Name of app / service** FaceBook Group

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-11-02 16:08] dannyroosevelt commented on #4640
Great, happy to help! By the way all our actions and triggers are open source, in case you're interested in developing your own -- the team is happy to help support you along the way!
https://pipedream.com/docs/components/guidelines/#getting-started

[2022-11-02 16:14] sergioeliot2039 commented on #4645
Link to API documentation https://developers.facebook.com/docs/groups-api/

[2022-11-02 16:53] dannyroosevelt opened #4646 "[ACTION] Update Linear OAuth components"
We should add an optional prop to the **Update Issue** and **Create Issue** actions for the Linear OAuth app (slug = `linear`):

From their docs: https://developers.linear.app/docs/oauth/oauth-actor-authorization

We'll add the additional param to the authorization URL when these component changes are ready.

New optional prop:
- "Create As User" (default to `true`)
- If `Create As User` is `true`

[2022-11-02 16:55] dannyroosevelt opened #4647 "[BUG] Linear Update Issue says "Failed to update issue" on success"
The update succeeded, but for some reason we are showing "Failed to update issue" in `$.summary`.

![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/199552704-7e80c004-e7c7-43cb-a5ba-58492a51836e.png)

[2022-11-02 16:56] dannyroosevelt commented on #4646
We should do this at the same time as https://github.com/PipedreamHQ/pipedream/issues/4647

[2022-11-02 18:59] #4463 closed

[2022-11-02 19:36] Vadorequest commented on #4463
I tried uploading a SVG file following that fix and still got the same error, I guess it isn't deployed yet?

<img width="603" alt="image" src="https://user-images.githubusercontent.com/3807458/199586362-777b084e-030b-4b7c-94d6-51658f97ee08.png">

[2022-11-02 19:54] dannyroosevelt opened #4650 "[BUG] Datadog New Monitor trigger not emitting, unable to get any test events"
[Reported from a customer in Slack](https://pipedream-users.slack.com/archives/CPTJYRY5A/p1667417929218179?thread_ts=1667393963.398819&cid=CPTJYRY5A):

So in Datadog:
- I’ve created a Monitor “Test Monitor for integration”
- I’ve followed the example in their [docs](https://docs.datadoghq.com/monitors/notify/#test-notifications) and am using the Test Notifications button within the new Monitor’s E

[2022-11-02 20:27] dannyroosevelt opened #4651 "[FEATURE] Support AWS Signature auth strategy"
Overview:
- https://blog.knoldus.com/how-to-generate-aws-signature-with-postman/

Example API that requires AWS Signature auth:
- https://orderhive.docs.apiary.io/#introduction/api-requirements/authentication

[2022-11-02 21:16] dannyroosevelt commented on #4463
@Vadorequest did you update to the latest version of the action? Can you confirm what version is still not working for you? The latest should be `0.3.1`.

[2022-11-02 21:20] Vadorequest commented on #4463
I'm using the cloud version, not sure how I'm supposed to update or see the version there.

[2022-11-02 21:25] dannyroosevelt commented on #4463
You should see a red "Update" button at the top right corner of the "AWS - Stream File" action in your workflow.

After you test a step in your workflow, you should see 4 tabs: (Exports, Inputs, Logs, Details)

If you click on "Details", you should see the Version (note, this screenshot is a different action than the one you are using):
![Screenshot by Dropbox Capture](https://user-images.githubus

[2022-11-02 21:53] dannyroosevelt opened #4652 "[Refactor / Improvement]"
[Resurrecting a task we've done before:](https://github.com/PipedreamHQ/pipedream/issues/3332)

**Problem:**
Many of our webhook-based sources (Telegram Bot for example), require users to manually trigger an eligible event to get picked up by the trigger, in order for a test event to show appear when they're building a new workflow. This is not always obvious to the user, so when they can't figure

[2022-11-02 21:53] dannyroosevelt commented on #4652
Note: I'm working on this ticket still, it's not yet ready to be picked up

[2022-11-02 22:41] Vadorequest commented on #4463
Indeed, had to update the action. All good now! Thanks!

[2022-11-02 22:47] dannyroosevelt commented on #4463
Great! 🚀

[2022-11-03 02:12] stefanbohacek opened #4654 "[FEATURE] Adding an alt text field to uploaded images"
**Is your feature request related to a problem? Please describe.**
I would like to be able to store an alt text for an uploaded image in an easy, user-friendly way.

**Describe the solution you'd like**
Here's a mockup of what the feature could look like:

![image](https://user-images.githubusercontent.com/3909390/199635357-ea3cfaaa-761f-4921-9da4-73b37cf056b6.png)

**Do you have a workaround?**
I

[2022-11-03 03:07] dannyroosevelt opened #4655 "[BUG] The left sidebar overlaps the main window on smaller screen sizes"
![Google Chrome - Explore Popular APIs, Triggers, Actions and More - Pipedream - 2022-11-02 at 8 07 06 PM](https://user-images.githubusercontent.com/20780753/199640495-e1c5c970-9a92-4356-8d10-4d7af2d654d2.gif)

[2022-11-03 03:50] dannyroosevelt opened #4656 "[ACTION] Slack: Add Emoji To Message action"
Let's add an action to [add an emoji reaction](https://api.slack.com/methods/reactions.add) to a Slack message you specify.

Props:
- **Emoji**: let's [list the emojis](https://api.slack.com/methods/emoji.list) via async options
- **Message**: no async options required, I expect users to use step references here
- **Channel**: we can use async options, since we already have this prop supported, bu

[2022-11-03 04:12] vunguyenhung commented on #4650
Hello @dannyroosevelt, I'm able to reproduce this bug. Steps to reproduce:
1. I created a new DataDog monitor that alert when log count of my nodejs application is more than 0
![1108 - 0311](https://user-images.githubusercontent.com/18277920/199645904-ef81cece-bb5b-4900-8d9e-c4d1067ae016.png)
2. Then I create a DataDog - New Monitor Event source on Pipedream
![1109 - 0311](https://user-images.gith

[2022-11-03 11:56] KartikeyDubeyKD commented on #4656
Hey, I'm interested in working on this issue

[2022-11-03 12:08] KartikeyDubeyKD commented on #4656
please elaborate a little on what I have to do.

[2022-11-03 13:08] andrewjschuang commented on #4552
Blocked due to error connecting account with Pipedream:

[code]

[2022-11-03 13:08] vunguyenhung commented on #4652
Hello @dannyroosevelt, I think we can treat this ticket as the "parent" ticket, where we will create other "child" tickets and link them to this one to track. Hence, I will add the label `triaged` into this ticket without adding it to the Component Project. I can add the child ticket into the Component Project later.

[2022-11-03 13:11] andrewjschuang commented on #4563
Closing this issue. If anything, feel free to reopen it

[2022-11-03 13:11] #4563 closed

[2022-11-03 13:13] vunguyenhung commented on #4654
Hello @stefanbohacek, could you elaborate how can I access the UI where we can upload the image on Pipedream? I tried  but couldn't find the UI you're mentioning 🙏

[2022-11-03 13:19] stefanbohacek commented on #4654
@vunguyenhung Sure, you have to open a workflow and go to the Settings tab. You will see the Attachments section at the bottom of the page.

![image](https://user-images.githubusercontent.com/3909390/199731068-6a0d9d60-8c91-45ca-8819-721763ab1acd.png)

[2022-11-03 13:19] lcaresia commented on #4656
Hello @KartikeyDubeyKD, I assigned you to this task!

[2022-11-03 14:06] stefanbohacek commented on #4654
No problem, and thank you!

[2022-11-03 14:23] vunguyenhung commented on #4625
Hi everyone, all test cases are passed! Ready for release!

Test report
[Slack_4625.pdf](https://github.com/PipedreamHQ/pipedream/files/9930053/Slack_4625.pdf)

[2022-11-03 14:37] #4612 closed

[2022-11-03 15:22] TomVonWood opened #4661 "[BUG] Xero add items to sales invoice"
**Describe the bug**
1. When I add items as an array I get an error (Unexpected token o in JSON at position 1)

2. When I add items as individual objects (in seperate steps) the step runs but no items are added to the invoice.

[See the discussion on the community here](https://pipedream.com/community/t/what-dataformat-does-the-xero-integration-expect/3616/13)

**Expected behavior**
A clear and co

[2022-11-03 15:30] #4625 closed

[2022-11-03 15:39] Hassan-Abbas-SQA commented on #4543
![image](https://user-images.githubusercontent.com/104946677/199765693-5abdab67-d462-44d6-8d6e-807c892e7904.png)
<img width="1315" alt="image" src="https://user-images.githubusercontent.com/104946677/199765748-d8ffb9f1-08ea-4c72-8b0e-66d3d4770f69.png">
<img width="1315" alt="image" src="https://user-images.githubusercontent.com/104946677/199765813-af2406e1-93c2-456b-ba62-e0c7ec0c279d.png">

[2022-11-03 15:42] #4543 closed

[2022-11-03 17:31] dannyroosevelt opened #4664 "[FEATURE] Share unpublished components to different accounts"
Right now there is no easy way to share components that are not on the Pipedream Registry to different accounts. Users have to either copy/paste code and publish directly from the builder, or more commonly, checkout a GitHub branch and use the CLI to manually publish to their own account, which is a pain.

As a user, I want an easy way to share unpublished actions with others, so they can test, pr

[2022-11-03 17:43] jcortes commented on #4161
This isssue is blocked because it requires a paid account according to the response message I got by using the action component [list-past-meeting-participants](https://github.com/PipedreamHQ/pipedream/blob/master/components/zoom/actions/list-past-meeting-participants/list-past-meeting-participants.mjs)
[code]

[2022-11-03 19:54] Hassan-Abbas-SQA commented on #3663
@dannyroosevelt
i think this app should be named as iteratehq instead of iterate there is already a website present on internet with named as http://iterate.com where our app has domain as http://iteratehq.com

[2022-11-03 21:06] #4631 closed

[2022-11-03 21:08] dannyroosevelt commented on #3663
Looks like they call themselves **Iterate**, so I'll leave it for now.

[2022-11-03 21:22] jcortes commented on #3202
@ctrlaltdylan seems like those settings are no longer part of the Twilio's UI, can you confirm this? thanks

[2022-11-03 21:26] Hassan-Abbas-SQA commented on #3663
Test Passed:
<img width="1315" alt="image" src="https://user-images.githubusercontent.com/104946677/199837279-8cfef6da-3bcb-4192-8f76-e11483546bba.png">
<img width="1315" alt="image" src="https://user-images.githubusercontent.com/104946677/199837369-ddd90ca0-8f26-43c6-bc82-bee7ed5d8d25.png">

[2022-11-03 21:35] dannyroosevelt commented on #4656
@KartikeyDubeyKD great! I recommend checking out our actions quickstart here: https://pipedream.com/docs/components/quickstart/nodejs/actions/#overview

By the way we have an active community in Slack -- I recommend joining our [#contribute channel](https://pipedream-users.slack.com/archives/C01E5KCTR16) to ask questions there, etc

[2022-11-03 21:43] #3663 closed

[2022-11-03 22:09] jcortes commented on #3434
I'm afraid there is no public online REST API by Minecraft or any other 3rd party provider at the moment. Blocked!

[2022-11-03 22:17] jcortes commented on #3832
When tried to register a user the only supported Phone Numbers are from
* UK
* Ireland

[2022-11-04 10:08] tqbdev commented on #193
Any update for this feature?

[2022-11-04 12:21] andrewjschuang commented on #4339
Closing since LinkedIn doesn't support this kind of operation through their API.

[2022-11-04 12:21] #4339 closed

[2022-11-04 13:14] mr-easy1 commented on #2169
- Does v1 provide a workflow-sharing option with pipedream users/org while v2 not? If yes any example from v1 shared workflow.

[2022-11-04 13:16] MCKLtech commented on #2169
Potentially stupid suggestion, but can't the workflow be represented in, say, JSON and then imported/exported to other accounts?

[2022-11-04 13:25] mr-easy1 commented on #2169
for collaboration in the same workflow, sharing workflow seems optimal way.

happy to see if there is any way to export/import pipedream workflows, do you have any inputs on this @MCKLtech !!

[2022-11-04 13:26] #4284 closed

[2022-11-04 14:06] jverce commented on #3832
I dealt with something similar when writing the source components for `textlocal`.
I think having a Skype phone number from those countries might help.

[2022-11-04 14:52] KartikeyDubeyKD commented on #4656
Thank you for assigning this issue @dannyroosevelt @lcaresia

[2022-11-04 14:58] vunguyenhung commented on #4650
Hi everyone, all test cases are passed! Ready for release!

Test report
[Datadog_4650.pdf](https://github.com/PipedreamHQ/pipedream/files/9939510/Datadog_4650.pdf)

[2022-11-04 16:40] todsac opened #4669 "[APP] Onethread.app"
**Name of app / service**
[Onethread.app](https://t.co/k5iD23q3Cq)

**Link to developer documentation**
https://www.onethread.app/api-guide.html

**Is lack of support preventing you from building workflows, or do you have a workaround?**
See - https://twitter.com/orvi_onethread/status/1588563882838491136

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know

[2022-11-04 16:56] #4626 closed

[2022-11-04 17:34] dylburger commented on #4669
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-04 17:40] #3633 closed

[2022-11-04 18:00] dylburger commented on #862
We've wrapped up the work to emit these events internally, and are building the user-facing sources now

[2022-11-04 18:36] #4447 closed

[2022-11-04 21:41] #4638 closed

[2022-11-04 23:29] dylburger commented on #4602
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-11-04 23:29] dylburger commented on #4601
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-11-04 23:29] #4602 closed

[2022-11-04 23:29] #4601 closed

[2022-11-05 00:22] dylburger commented on #2169
We're working on a project now that will serialize workflows to YAML and let you sync them with a Git repo, which should make this use case simpler. You can follow that work [here](https://github.com/PipedreamHQ/pipedream/issues/220).

[2022-11-05 19:43] todsac opened #4672 "[APP] Otter.ai"
**Name of app / service**
[Otter.ai](https://t.co/LQZEKnWjNJ)

**Link to developer documentation**
They don't have an API yet

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-11-05 19:44] dylburger commented on #4672
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-05 21:51] Hassan-Abbas-SQA commented on #3751
TestPassed
![image](https://user-images.githubusercontent.com/104946677/200142507-cd284f39-8ca0-408d-ad41-b4cce706e914.png)
<img width="1379" alt="image" src="https://user-images.githubusercontent.com/104946677/200142681-94537ca2-7f82-44b9-8c83-e8ded2a99252.png">
<img width="1379" alt="image" src="https://user-images.githubusercontent.com/104946677/200142685-ebc655a6-97fc-4990-94da-e2585b643b51.pn

[2022-11-06 15:47] soyabn09 opened #4673 "[APP] Kartra"
**Name of app/service**

Kartra

**Link to developer documentation**

https://documentation.kartra.com/

**Is lack of support preventing you from building workflows, or do you have a workaround?**

I do have a workaround on certain things not everything though.

**Are there specific actions or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue tem

[2022-11-06 16:52] dylburger commented on #4673
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-06 18:55] #4553 closed

[2022-11-06 19:49] sergioeliot2039 commented on #4673
Hi @soyabn09 , thank you for the request, and for preferring Pipedream.

I have submitted Kartra app for approval, it should be published soon.

Best,

[2022-11-07 01:12] vunguyenhung commented on #4661
Hello @TomVonWood, I'm able to reproduce your issue with simple array. I will add this to our component backlog
![0807 - 0711](https://user-images.githubusercontent.com/18277920/200206845-ba1e2211-00e2-4b0f-8293-71c5b5d8c256.png)

**Note:**
I've also tried single object and the action executed successfully, but I see there's no item added in the invoce
![0810 - 0711](https://user-images.githubuser

[2022-11-07 07:27] wwc-development opened #4674 "[APP] Zoho SalesIQ"
Name of app / service
**Zoho SalesIQ**

Link to developer documentation
**[https://www.zoho.com/salesiq/help/developer-section/rest-api-v2.html](https://www.zoho.com/salesiq/help/developer-section/rest-api-v2.html)**

Is lack of support preventing you from building workflows, or do you have a workaround?
**I'm stuck when setting up OAuth for authenticating with Zoho SalesIQ.**

**I'd like to use "

[2022-11-07 11:02] ChrisHausler opened #4675 "openai / gpt-3"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-11-07 13:49] vunguyenhung opened #4677 "[ACTION] Leo test move ticket"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-11-07 13:49] dylburger commented on #4677
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-07 14:29] LucBerge commented on #216
@jonparker Great idea but from my point of view, **this is indenpendent from this issue**. You want the apps account props to be seen as pointers to an account. You could then change the pointer in the previous steps so that Slack account A or B is used to send a message.

When this issue will be closed, you can do a simple if condition with identical slack actions on each branch but different acc

[2022-11-07 14:37] jonparker commented on #216
Hi @LucBerge , I am no longer using Pipedream in that team. I am only using it for small personal projects.

[2022-11-07 14:41] LucBerge commented on #4112
Hello,
This is an update on the work in progress for this APP.

Great work have been made thanks to @dannyroosevelt. Integrating this app is a mess of administrative tasks !

The APP is currently in `sandbox mode` which means the data we can access are fake. The purpose is to validate the code while wainting for the APP to go `production mode`.

To go `production mode` pipedream need to fill [this

[2022-11-07 14:47] LucBerge commented on #4112
### BUG

For now, I have a troubles to connect my account in `sandbox mode`:

On my workflow, when I try to connect my account (1), a connection window is open (2). The redirection to pipedream is not working. Pipedream support already have acces to my workflow : https://pipedream.com/@LucBerge/test-enedis-p_q6CnmyB

![](https://www.pixenli.com/image/VcySiF0Z)

The url is the following
`https://gw

[2022-11-07 15:29] dylburger commented on #4674
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-07 15:33] sergioeliot2039 commented on #4675
Hi @ChrisHausler thanks for the request!

There is a basic integration already for OpenAI -- https://pipedream.com/apps/openai

Is this is what you are looking for?
Let us know on anyway we can help

[2022-11-07 15:43] sergioeliot2039 opened #4679 "[BUG] App submit form not properly sending correct payload on test request using http POST method"
**Describe the bug**
The test request area in the App Submit Form appears to not use a properly formatted JSON payload when the test request uses a http POST method. Instead, the payload appears to be sent as plain text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [Submit An App](https://pipedream.com/submit-an-app) form
2. With the exception of  test request and custom fields,

[2022-11-07 16:23] ctrlaltdylan opened #4681 "[TRIGGER] Telegram Bot - New Slash Commands"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

Currently we don't have a source specifically for responding to Telegram Bot slash commands.

As a Pipedream user, you can use the **New Updates** trigger, but it's clunky for building slash commands for Telegram Bots.

Here's an example of all of the steps you need to take currently to build a Tel

[2022-11-07 17:21] #4629 closed

[2022-11-07 18:51] HayWire-UK commented on #4645
With facebook groups added. I can move everything over from another paid service. And then upgrade my account.

[2022-11-07 19:02] ctrlaltdylan opened #4684 "[ACTION] Supabase - REST API"
**Is there a specific app this action is for?**

Supabase

**Please provide a link to the relevant API docs for the specific service / operation.**

https://supabase.com/docs/guides/api

We have an existing [Supabase ](https://pipedream.com/apps/supabase) integration, but it does not feature any pre-built actions to perform basic CRUD actions on tables via the Supabase SDK.

* Select row
* Insert

[2022-11-07 23:00] dannyroosevelt opened #4686 "[APP] Snyk"
https://snyk.docs.apiary.io/#introduction/api-vs-cli-vs-snyk-integration

[2022-11-07 23:28] dylburger commented on #4686
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-07 23:47] bickart opened #4687 "[SugarCRM]"
**Name of app / service**
SugarCRM

**Link to developer documentation**
https://support.sugarcrm.com/Documentation/Sugar_Developer/Sugar_Developer_Guide_12.2/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Can work around

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger is

[2022-11-07 23:49] dylburger commented on #4687
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-08 00:36] gbxl opened #4688 "[TRIGGER] X hours before Google calendar event"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
Triggers X hours before the calendar event is set to happen at

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**
Google calendar API

[2022-11-08 01:18] dylburger opened #4689 "[TRIGGER] Discord interaction events / slash commands"

[2022-11-08 01:33] Pt1100500 opened #4690 "[OAUTH SCOPE]"
**Which application needs a scope added?**

**What scope(s) need to be added?**

**Please provide a link to the relevant API docs for scopes.**

[2022-11-08 01:34] dylburger commented on #4690
@Pt1100500 Was there a specific OAuth scope you needed modified?

[2022-11-08 02:05] AndrewSB commented on #4321
Importing "myq-api" does the same thing

[2022-11-08 04:02] dannyroosevelt commented on #4674
This is in progress, but we've run into an issue making the Authorization Request and we've initiated a support request with Zoho:
![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/200472293-b61e1060-2256-408f-8d21-fe168a375edd.png)

[2022-11-08 04:04] dannyroosevelt commented on #4686
https://pipedream.com/apps/snyk

[2022-11-08 04:04] #4686 closed

[2022-11-08 04:34] wwc-development commented on #4674
Hi Danny,

No worries. Thanks for the update.

Joel Blumer
Worldwide Casting<https://www.worldwide-casting.com/>

From: Danny Roosevelt ***@***.***>
Sent: Monday, November 7, 2022 8:03 PM
To: PipedreamHQ/pipedream ***@***.***>
Cc: Joel Blumer ***@***.***>; Author ***@***.***>
Subject: Re: [PipedreamHQ/pipedream] [APP] Zoho SalesIQ (Issue #4674)

This is in progress, but we've run into an issue mak

[2022-11-08 04:35] dannyroosevelt commented on #4687
Thanks for the request! I just submitted a request to contact their team re: setting up an OAuth integration. If you happen to have a contact over there that you can connect us to that'd certainly be helpful to move things along.

[2022-11-08 04:41] bickart commented on #4687
Contact

Matt Marum ***@***.*** and ***@***.***

They are responsible for the developer program.

On Mon, Nov 7, 2022 at 8:35 PM Danny Roosevelt ***@***.***>
wrote:

--
Thanks,

Jeff
703-303-4511
https://www.linkedin.com/in/bickart/
https://sugardevelopersguide.substack.com/
https://amaiza.com
https://bickartventures.com/

[2022-11-08 04:46] dannyroosevelt commented on #4687
I believe GitHub automatically scrums email addresses from comments -- can you try reposting their emails with some separators between the `@` and `.com` portions?

[2022-11-08 05:02] bickart commented on #4687
rafael.fernandes@sugarcrm.com

Principal Developer Advocate

Matt Marum
Director ISV Partnerships
mmarum@sugarcrm.com

[2022-11-08 05:14] dannyroosevelt opened #4691 "[ACTION] Audit on polling sources"
Let's make sure all polling sources in the registry have a default polling interval of 15 minutes.

For example, it looks like HackerNews sources are set to 15 seconds:
https://github.com/PipedreamHQ/pipedream/blob/master/components/hacker_news/sources/new-stories-by-keyword/new-stories-by-keyword.js#L16

[2022-11-08 05:28] dannyroosevelt commented on #4687
Thank you! Just sent them both a note.

[2022-11-08 13:28] vunguyenhung commented on #3783
Hi everyone, all test cases are passed! Ready for release!

Test report: [Siteleaf_3783.pdf](https://github.com/PipedreamHQ/pipedream/files/9961531/Siteleaf_3783.pdf)

[2022-11-08 13:30] #3783 closed

[2022-11-08 14:39] Hassan-Abbas-SQA commented on #4661
![image](https://user-images.githubusercontent.com/104946677/200593394-218ee91c-b346-4a91-86fe-724eadf18578.png)

[2022-11-08 16:22] marcelocecin opened #4694 "[BUG] NPM pdf-parse - could not compute configurable props"
**Describe the bug**
I'm trying to use the package https://www.npmjs.com/package/pdf-parse

**To Reproduce**
[code]

**Screenshots**
<img width="905" alt="" src="https://user-images.githubusercontent.com/2955762/200619683-3512a357-955a-48fb-80c7-ab2e2110f319.png">

**Desktop (please complete the following information):**
 - MacOS 13.1 Beta (22C5044e)
 - Safari 16.2 (18614.3.4.11.2)

[2022-11-08 16:37] dylburger commented on #4688
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-11-08 16:41] Hassan-Abbas-SQA commented on #4661
https://user-images.githubusercontent.com/104946677/200623858-0418523a-f916-4b8f-8f02-43ef1340378b.mov

[2022-11-08 16:54] dannyroosevelt commented on #4589
Note for me -- respond on Twitter once we ship these: https://twitter.com/LifeWithArjay/status/1585080082510807040

[2022-11-08 16:55] dannyroosevelt opened #4695 "[APP] Contentstack"
https://www.contentstack.com/docs/developers/

It looks like there are a few APIs for this app, let's integrate whichever ones we can. I asked the customer for more info but have not heard back:
https://twitter.com/vidarmasson/status/1585042406080405504

[2022-11-08 16:57] dannyroosevelt opened #4696 "[APP] Clutch"
Not sure if they really have an API, need to confirm:
https://docs.clutch.io/docs

Requested by a user via Twitter:
https://twitter.com/onlyyusipo/status/1585295813554544640?s=20&t=WASfBmAeFOS5yVZaQF9vsw

[2022-11-08 16:58] dannyroosevelt opened #4697 "[APP] Draftbit"
Requested by a user via Twitter: https://twitter.com/onlyyusipo/status/1585295813554544640?s=20&t=WASfBmAeFOS5yVZaQF9vsw

https://docs.draftbit.com/docs

[2022-11-08 17:03] marcelocecin opened #4698 "[BUG] PIP camelot - Command failed: python3 -m pip install"
**Describe the bug**
I'm trying to use the package https://github.com/atlanhq/camelot

**To Reproduce**
[code]

**Screenshots**
<img width="909" alt="" src="https://user-images.githubusercontent.com/2955762/200628907-1a418c3e-b440-4ead-bdc8-589e625d1ab3.png">

**Desktop (please complete the following information):**
 - MacOS 13.1 Beta (22C5044e)
 - Safari 16.2 (18614.3.4.11.2)

[2022-11-08 17:24] dylburger commented on #4681
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-11-08 17:26] dylburger commented on #4695
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-08 17:32] dylburger commented on #4696
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-08 17:35] dylburger commented on #4697
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-08 17:41] Hassan-Abbas-SQA commented on #3701
<img width="351" alt="image" src="https://user-images.githubusercontent.com/104946677/200636742-848173e2-5454-4d49-b35a-417dca19e993.png">
i think its description must be "create a data store record"

[2022-11-08 17:55] sergioeliot2039 commented on #4695
There is one entry at the Project App Store sheet for Contentstack, with OAuth integration method (See [Contentstack OAuth](https://www.contentstack.com/docs/developers/developer-hub/contentstack-oauth/) for official documentation)

You can [Use access token with Contentstack APIs](https://www.contentstack.com/docs/developers/developer-hub/contentstack-oauth/#use-access-token-with-contentstack-api

[2022-11-08 18:15] sergioeliot2039 commented on #4696
They don't have exactly an API.
What they say it can be do to programmatically access Clutch, is to install Supabase, which allows to create a database and an API for the connected Clutch account and projects: https://docs.clutch.io/docs/supabase

Do you want me to look further into this by creating a proof of concept that Clutch gets to have an API once Supabase is setup?

[2022-11-08 19:04] #4661 closed

[2022-11-08 19:45] sergioeliot2039 commented on #4697
I have submitted a new app for Darfbit Example Data Service:
https://pipedream.com/admin/apps/draftbit_example_data_service/edit
That is the only REST like service I found available up front

[2022-11-08 20:27] marinamatchnode opened #4702 "Facebook / Meta Conversions API"
**Facebook Conversions API**

**Link to developer documentation**
https://developers.facebook.com/docs/marketing-api/conversions-api/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
I have a workaround by calling the Facebook API using post requests, but it's very time consuming. Tools like Zapier already have the Facebook Conversions API integration, f

[2022-11-08 21:10] dylburger commented on #4702
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-09 07:24] marcelocecin opened #4703 "[BUG] NPM tesseract.js - Error: EROFS: read-only file system, open './eng.traineddata'"
**Describe the bug**
I'm trying to use the package https://www.npmjs.com/package/tesseract.js

**To Reproduce**
[code]

**Screenshots**
<img width="900" alt="" src="https://user-images.githubusercontent.com/2955762/200765207-77889feb-cdb4-494c-8f3e-c5faae0d3271.png">

**Desktop (please complete the following information):**
 - MacOS 13.1 Beta (22C5044e)
 - Safari 16.2 (18614.3.4.11.2)

[2022-11-09 12:18] breadbrowser commented on #4675
Why doesn't this have a hugging face?

[2022-11-09 13:00] lcaresia commented on #3610
For some reason endpoint `POST /shots` don't is working and I can't find a way a solution.
So I will moved to blocked!

Cc: @dannyroosevelt

[2022-11-09 13:53] #3651 closed

[2022-11-09 14:34] vunguyenhung commented on #4691
Hello @lcaresia @dannyroosevelt, it seems that this PR contains hundreds of config change and no logic changed. Could you advice how I can test this? Or should we just ship it?

[2022-11-09 14:53] lcaresia commented on #4691
@vunguyenhung I think this PR don't need tests, what you think @dannyroosevelt ?

[2022-11-09 15:51] ctrlaltdylan commented on #4425
Hi @michelle0927,

Thanks for building this, there's already interest for it in the Notion community.

However, my intention was to _filter_ events on a specific page and it's decendents.

This trigger as is effectively listens to _all_ pages on a Notion account.

![CleanShot 2022-11-09 at 10 49 37](https://user-images.githubusercontent.com/2694734/200876573-14286699-1617-4d9f-9b89-524e874b91e1.pn

[2022-11-09 15:56] LucBerge commented on #4112
### BUG

A different bug occurs with Microsoft Edge: The main page is redirected will the small one no. [Here is a video](https://gfycat.com/competentcrispantarcticgiantpetrel)

![](https://www.pixenli.com/image/myd13bpb)

The error code is `e35a01029c004a36a00a4e603501d2f2`

[2022-11-09 16:43] sergioeliot2039 opened #4707 "[APP] Hugging Face"
**Name of app / service**
Hugging Face

**Link to developer documentation**
https://huggingface.co/inference-api

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Not specified

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**
Not s

[2022-11-09 16:43] dylburger commented on #4707
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-09 16:45] sergioeliot2039 commented on #4675
Kiddingly speaking @breadbrowser, we were waiting for you to request it! :)
I created an issue for tracking that, feel free to follow #4707 if you'd like

[2022-11-09 17:47] #4589 closed

[2022-11-09 18:38] ctrlaltdylan opened #4708 "[BUG] `null` values to props cause the **Inputs** tab to break"
**Describe the bug**

If you pass a `null` value to a prop in a configured step, the step's **Input** tab will break and render nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Node.js step with the scaffolding below
2. Enter in a valid string as one prop, and use `{{ null }}` as a custom expression on the other
3. Test the step
4. Click the **Inputs** tab and observe the bl

[2022-11-09 18:57] ctrlaltdylan opened #4709 "[BUG] PipeDrive sources are emitting past events"
**Describe the bug**

Pipedrive sources like `New Deal` are emitting events from the past instead of only listening to future events like all other Pipedream sources.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a workflow with a Pipedrive - New Deal trigger
2. Observe events emitted from **before** the workflow was deployed

**Expected behavior**
Only future Pipedrive events shoul

[2022-11-09 20:01] dannyroosevelt opened #4711 "[ACTION] Add support for appending an array of blocks to Notion Append Block action"
I'd like to add an array of blocks that I export from a previous step, to an existing Notion page.

One way to do this would be to add an `additionalProp` for the user to specify if they'd like to add content via Markdown or an array of Notion blocks.

Context: https://pipedream-users.slack.com/archives/G01J50YGJGP/p1668023038473259

[2022-11-09 20:23] dannyroosevelt commented on #4709
Also, it looks like all PipeDrive sources are currently polling -- can we update to webhooks?

[2022-11-09 23:29] dylburger commented on #4640
I'm closing this since the app is integrated, but let us know if you have any issues or questions about the integration

[2022-11-09 23:29] #4640 closed

[2022-11-10 01:15] elibenton commented on #4183
Having the same issue with another python package. Eager to here how it's resolved. Thanks!

[2022-11-10 14:40] vellames commented on #3811
@luancazarine Looks like you moved to `CHanges Required`, but I cant see what are you requiring

[2022-11-10 16:10] #4354 closed

[2022-11-10 16:12] Hassan-Abbas-SQA commented on #4183
@elibenton what other python package you are facing issue with kinldy report here so it will be resolved

[2022-11-10 17:20] Hassan-Abbas-SQA commented on #3817
TestPassed
![image](https://user-images.githubusercontent.com/104946677/201163360-9fe03b28-454c-4365-9ad0-56cc28913600.png)
![image](https://user-images.githubusercontent.com/104946677/201163389-3d1990ff-1faa-493e-88dd-e73f347b7256.png)

[2022-11-10 17:54] #3817 closed

[2022-11-10 17:54] jverce commented on #3610
Can you provide more info regarding what's not working specifically?
For instance, what kind of error(s) are you getting, for which payloads, how did you set up the API key on your side, etc.

Thanks @lcaresia!

[2022-11-10 18:07] Hassan-Abbas-SQA commented on #3701
TestPassed
![image](https://user-images.githubusercontent.com/104946677/201172882-6fc63411-9e61-4c3b-9aa1-7f814e3dd194.png)

[2022-11-10 20:40] #3829 closed

[2022-11-10 21:23] dannyroosevelt opened #4720 "[ACTIONS] WhatsApp Business"
### App
`whatsapp_business`
https://developers.facebook.com/docs/whatsapp/cloud-api

### Actions
- Send a text message
- List message templates
- Send a template message

Here are some examples:
https://pipedream.com/new?h=tch_wNxf8d

[2022-11-10 21:24] dannyroosevelt commented on #4720
Certain endpoints require the phone_number_id of the sender. You should be able to get that via:

[code]
That returns the below for our account, for example:
[code]

[2022-11-10 23:39] #3701 closed

[2022-11-11 01:21] #3811 closed

[2022-11-11 02:27] vunguyenhung commented on #4711
Hi @michelle0927, all test cases are passed! I'll move this to ready for release!

Hi @dannyroosevelt, feel free to test it before @michelle0927 merging it! Thank you 🙏

Test report
[Notion_4713_0926.pdf](https://github.com/PipedreamHQ/pipedream/files/9985991/Notion_4713_0926.pdf)

[2022-11-11 03:22] dylburger commented on #2690
This should be completed! Please let us know if you see any issues

[2022-11-11 07:40] d7networks opened #4721 "D7SMS"
**Name of app / service**
D7SMS
**Link to developer documentation**
https://d7networks.com/docs/
**Is lack of support preventing you from building workflows, or do you have a workaround?**
no
**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**
We need action endpoint named "Sen

[2022-11-11 11:55] #4677 closed

[2022-11-11 14:14] #4681 closed

[2022-11-11 14:14] dylburger commented on #4721
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-11 15:04] #3546 closed

[2022-11-11 15:18] #4711 closed

[2022-11-11 16:10] breadbrowser commented on #4675
what about 1sec mail's api

[2022-11-11 17:49] dylburger commented on #4720
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-11-11 18:19] dannyroosevelt commented on #4721
Here is a basic integration:
https://pipedream.com/apps/d7_networks/

[2022-11-11 18:19] dylburger commented on #4721
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-11-11 19:05] #4425 closed

[2022-11-11 19:14] sergioeliot2039 opened #4725 "[APP] 1sec MAIL"
**Name of app / service**
1sec MAIL

**Link to developer documentation**
https://www.1secmail.com/api/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Not specified

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**
Not specified

[2022-11-11 19:14] dylburger commented on #4725
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-11 19:18] sergioeliot2039 commented on #4675
Hey @breadbrowser thank you for being diligent about requesting missing apps on Pipedream.
I created an issue for tracking that, feel free to follow #4725 if you'd like.
If there is any other app you'd like to be added to Pipedream kindly lest us know.
Thanks!

[2022-11-11 19:59] Hassan-Abbas-SQA commented on #4688
![image](https://user-images.githubusercontent.com/104946677/201422479-bbae00ae-9d77-467b-a849-26313aa6a3a8.png)

[2022-11-11 20:31] michelle0927 opened #4726 "[ACTION] Notion: Duplicate Page action & update Append Block to handle all block types"
Notion

- Get the append action working, to handle all block types
- Create a separate “duplicate page” action that combines the above functionality into a single step

Context: https://pipedream-users.slack.com/archives/G01J50YGJGP/p1668187870272229

[2022-11-11 23:02] dannyroosevelt commented on #4556
Uber doesn't appear to be allowing new apps on their API (I can't make any changes to the apps we had created a while back and their Twitter account hasn't been active since 2018).

[2022-11-12 09:00] Shreekara04 opened #4728 "[APP] vs code"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-11-12 10:14] marcelocecin opened #4729 "[APP] nightfall.ai"
**Name of app / service**
nightfall.ai

**Link to developer documentation**
https://docs.nightfall.ai/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
workaround, use npm package

**other interesting links**
https://nightfall.ai/developer-platform
https://github.com/nightfallai

[2022-11-12 13:42] sameerkumar18 opened #4730 "[BUG] Unable to create a "Source""
**Describe the bug**
I'm unable to create a source. It keeps me waiting for 5-10 secs and then shows an error as in below screenshot. My pipedream username is same as Github username.
<img width="1293" alt="Screenshot 2022-11-12 at 7 07 34 PM" src="https://user-images.githubusercontent.com/15978864/201476737-6e7b832f-21d8-4899-8185-dd284d06ba72.png">

**To Reproduce**
Steps to reproduce the behavi

[2022-11-12 15:41] dannyroosevelt commented on #4728
@Shreekara04 can you tell us more about what you're looking for?

[2022-11-12 19:02] elibenton commented on #4183
Thanks, Hassan! It's an old article scraping package called `newspaper3k`.

https://pypi.org/project/newspaper3k/

[2022-11-12 19:44] dylburger commented on #4729
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-12 21:09] sino321 opened #4731 "[ACTIONS, SOURCES] Google Classroom new components"
### name: google classroom

[link to developer documentation](https://developers.google.com/classroom) sorry idk if this is what u were asking for

### Is lack of support preventing you from building workflows, or do you have a workaround?

YES I have no idea how this stuff works and google classroom not being there isn't making this any easier

### Are there specific actions, or triggers, you'd l

[2022-11-12 21:16] sergioeliot2039 commented on #4731
Hi @sino321 , thank you for your interest in using Pipedream for your integrations.

Here is basic integration for Google Classroom: https://pipedream.com/apps/google-classroom

[2022-11-12 21:17] dylburger commented on #4731
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-11-12 21:19] sino321 commented on #4731
![image](https://user-images.githubusercontent.com/51765866/201494940-9fcdf9bf-833a-4af7-8147-bde0ce13cce9.png)
no idea what you just showed me but google classroom doesn't show up here, I'm confused

[2022-11-12 21:23] sergioeliot2039 commented on #4731
You can use the basic integration under a workflow step.

For trigger use HTTP, then in the first step look for Google Classroom

![image](https://user-images.githubusercontent.com/25184117/201495076-4f95996a-c702-4d72-a749-f43e8b14da93.png)

Let me know if you found it

[2022-11-12 21:26] sino321 commented on #4731
thank you :)

[2022-11-13 11:58] eugenesvk commented on #2164
@chrigi have you managed to recreate this workflow with Pipedream? Any chance you could share an example? Thanks

[2022-11-13 16:47] dylburger commented on #4730
@sameerkumar18 I wasn't able to reproduce on a few different accounts. Can you try once more and see if you're still able to see the issue?

If so, could you share the error from the `/graphql` response that you observed in the Network tab?

[2022-11-13 17:50] sameerkumar18 commented on #4730
@dylburger -  i tried again, still the same issue.

Here's the /graphql response - ```{"status":500,"error":"Internal Server Error"}```

Here's the /graphql request body -
[code]

Headers -
![Screenshot 2022-11-13 at 11 19 11 PM](https://user-images.githubusercontent.com/15978864/201536480-6378ae9b-2903-4bc0-8e00-a7d9017cb484.png)

[2022-11-13 19:01] dylburger commented on #4730
Thanks, I see the issue and we’ll get a fix out ASAP.

[2022-11-13 23:08] djus-max opened #4732 "GITEA"

[2022-11-13 23:12] djus-max commented on #4732
error

[2022-11-14 08:18] 0xcrypto commented on #4730
Same here.

![image](https://user-images.githubusercontent.com/6683856/201608722-960a77dc-23a1-43de-9a18-cef13dd717cb.png)

500 on `/graphql`
[code]

query:
[code]

[2022-11-14 12:19] lcaresia commented on #3610
Hello @jverce>

I tried many ways to do this request, but here have an example to test.

curl --location --request POST 'https://api.dribbble.com/v2/shots' \
--header 'Authorization: Bearer <Your token here>' \
--form 'image=@"/C:/Users/Lucas Caresia/Downloads/cats.jpg"' \
--form 'title="Title 1"'

[2022-11-14 12:25] andrewjschuang commented on #4688
@Hassan-Abbas-SQA can you please provide the details for this error that occurred pasting here the `[debug]` line?

[2022-11-14 12:47] lcaresia commented on #3541
AeroLeads don't have a way to do this sources by webhook or polling as you can look in [this docs](https://aeroleads.com/api_docs).

So I will move to blocked for now!

Cc: @jverce @dannyroosevelt

[2022-11-14 13:02] lcaresia commented on #3625
I din't found a way to integrate with Formcarry, we can do this only by Zapier currently.

https://formcarry.com/docs

![image](https://user-images.githubusercontent.com/12402324/201666757-2cdef282-c1f2-4747-999c-f51099ef6fb0.png)

Cc: @jverce @dannyroosevelt

[2022-11-14 14:49] #3841 closed

[2022-11-14 15:22] pawangspandey commented on #184
Any update here?

[2022-11-14 17:28] Hassan-Abbas-SQA commented on #4688
i published the source using pd publish and created the source with UI

[2022-11-14 18:43] andrewjschuang commented on #4688
Ok, thanks for the reply. can you please dm me the `[debug]` error line on Slack? I couldn't reproduce the issue

[2022-11-14 19:08] dannyroosevelt commented on #4730
@sameerkumar18 @0xcrypto @gsmcdonald we apologize for the issue -- thank you all for flagging to our team. We've just rolled out a fix. Please give it another try and let us know if you are still not able to create or update sources.

[2022-11-14 19:29] dannyroosevelt commented on #4729
@marcelocecin here is a basic integration for Nightfall:
https://pipedream.com/apps/nightfall-ai/

Are there specific actions or triggers you'd like to use for Nightfall?

[2022-11-14 20:40] marcelocecin commented on #4729
maybe the samples of https://github.com/nightfallai/nightfall-nodejs-sdk thanks !

[2022-11-14 20:44] dylburger commented on #4729
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-11-14 21:02] feyzullah commented on #3769
I guess [ronin](roninapp.com) has moved to [clientary](https://www.clientary.com). @jverce can you confirm?

[2022-11-14 21:15] rdsedmundo opened #4741 "[ACTION] Slack: Support managing users in groups"
**Is there a specific app this action is for?** Slack

**Please provide a link to the relevant API docs for the specific service / operation.**

https://api.slack.com/methods/usergroups.users.list
https://api.slack.com/methods/usergroups.users.update

Use-case: would like to update the current on-call on PagerDuty to a (at)oncall group.

[2022-11-14 21:16] gsmcdonald commented on #4730
@dannyroosevelt  It works! Thank you! Y'all have a great product, and I appreciate you fixing it so quickly.

[2022-11-15 03:26] sergioeliot2039 commented on #4732
Gitea -- https://gitea.io/en-us/
Has well documented api docs https://try.gitea.io/api/swagger
but it appears to support OAuth 2.0
![image](https://user-images.githubusercontent.com/25184117/201819257-d5ac55ec-029c-4639-b788-596070ab3b79.png)
maybe we can create the integration regardless

[2022-11-15 03:26] dylburger commented on #4732
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-15 15:00] MongoSan opened #4747 "Tradovate Integration Request - Authorization"
**Name of app / service**  Tradovate - a Futures Trading Broker

**Link to developer documentation** - Rest API for Authorization : https://api.tradovate.com/#tag/Authentication

**Is lack of support preventing you from building workflows, or do you have a workaround?** I dont have the knowledge yet on on how to configure Oauth Tokens and refreshes

**Are there specific actions, or triggers, you'd

[2022-11-15 15:05] dylburger commented on #862
This is done! We've shipped new event sources to trigger workflows on new interaction events. Take a look at [these docs](https://pipedream.com/apps/slack/triggers/new-interaction-event-received#getting-started) for more info.

[2022-11-15 15:05] #862 closed

[2022-11-15 16:37] DilanAthukorala commented on #4741
@rdsedmundo Thanks for creating this ticket, just to confirm your requirement / use-case - is it to add / remove users in a slack channel? and can you share what kind of actions you need to perform on the users?

[2022-11-15 16:38] dylburger commented on #4741
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-11-15 16:47] dylburger commented on #4747
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-15 17:03] dannyroosevelt opened #4750 "[APP] Twilio Video"
The Twilio Video API uses JWT Access Tokens for authentication
https://www.twilio.com/docs/video/tutorials/user-identity-access-tokens#generate-helper-lib

[2022-11-15 17:16] rdsedmundo commented on #4741
@DilanAthukorala this doesn't involve Slack channels, but Slack user groups.

I'd like to auto-manage a (at)oncall group, so every week it changes to someone else. Then anyone in any Slack channel can just mention (at)oncall group and that person is notified.

Another example would be, I can create a group called (at)devs and add/remove someone there using this action when they onboard.

[2022-11-15 17:16] dannyroosevelt opened #4751 "Ensure no Shopify components are using Metafield.valueType"
Shopify has deprecated a field in their API, `Metafield.valueType`, and they request that all apps in their marketplace stop referencing it. They provide [more information here](https://shopify.dev/changelog/online-store-2-0-new-metafields-type-system-and-dynamic-sources).
![Screenshot by Dropbox Capture](https://user-images.githubusercontent.com/20780753/201983784-7994bc36-e424-4517-8c4f-2486a05c

[2022-11-15 17:35] sergioeliot2039 commented on #4747
OAuth example for Tradovate: https://github.com/tradovate/example-api-oauth

[2022-11-15 17:55] dannyroosevelt commented on #4277
Submitted a request to create an OAuth https://groups.google.com/g/feedly-cloud/c/ZBw2QFlkRPU

[2022-11-15 17:57] dannyroosevelt commented on #2645
Soundcloud is not currently allowing new apps on their developer platform

![Image](https://user-images.githubusercontent.com/20780753/201991973-26b62a0a-e483-415f-9ac9-0503eb4b327c.png)

[2022-11-15 19:23] sergioeliot2039 commented on #4731
Please also consider creating the following actions.

New assigment created
was requested on https://github.com/PipedreamHQ/pipedream/issues/2333
Related: https://github.com/PipedreamHQ/pipedream/issues/2333

Assignment due date changed (requested on ##2738)
Assignment marked as done
Assignment receives new private comment

[2022-11-15 19:46] Hassan-Abbas-SQA commented on #3819
FailedTestcases
1: Trigger (New INBOUND MESSAGE EVENT) description should be "Emit new events when an inbound message received."
instead of
<img width="553" alt="image" src="https://user-images.githubusercontent.com/104946677/202010643-bcaec4ba-9782-4c9f-b595-90aba40e10d4.png">
2: Action (LOG A VOICE CALL) Spelling error
<img width="949" alt="image" src="https://user-images.githubusercontent.com/1

[2022-11-15 21:06] Odindm1 opened #4754 "Nuevo Escenario Mansiones de la Locura"
Name: La Maldicion de Malory

Link: https://github.com/Odindm1/La-Maldicion-de-Malory

¿Podriais agregar esta mision para mansiones de la locura?

Gracias.

[2022-11-15 21:08] dylburger commented on #4754
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-15 21:15] Odindm1 commented on #4754
No hace falta.

[2022-11-15 21:22] alysonturing commented on #4741
@rdsedmundo Hello, I'm looking into the docs that you provided, but to clarify the request does the user group list has a property that define a user as on-call?

[2022-11-15 22:26] #3692 closed

[2022-11-15 23:15] #4754 closed

[2022-11-15 23:29] dylburger commented on #4690
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-11-15 23:29] #4690 closed

[2022-11-16 01:23] dylburger opened #4756 "[BUG] Azure Python requirements issue"
The following Python code:

[code]

produces this `requirements.txt` file:

[code]

But this fails to install with the following error:

[code]

[2022-11-16 08:01] binzari opened #4758 "[ACTION]Add notes to Pipedrive deals"
**Is there a specific app this action is for?**
It's very useful to be able to add notes to Pipedrive's deals automatically.

**Please provide a link to the relevant API docs for the specific service / operation.**
https://developers.pipedrive.com/docs/api/v1/Notes#addNote

[2022-11-16 10:06] rdsedmundo commented on #4741
@alysonturing the update operation accepts both a group ID and a comma separated list of user IDs: https://api.slack.com/methods/usergroups.users.update

[2022-11-16 10:27] restyler commented on #209
Hey guys I have [recorded a short video on how Pipedream can be used to run headless Chrome API ](https://www.youtube.com/watch?v=uBC752CWTew). ScrapeNinja API, which is used in the video, is not exactly a generic Puppeteer instance, it has two API endpoints, /scrape and /scrape-js, where /scrape-js is basically a "dumbed down" version of headless Chrome, which is much more convenient to use, as i

[2022-11-16 15:33] boyce0215 opened #4760 "[Feature] About Notion api"
Hi!
I want use "create-page-from-database" by sync my google  calendar. But I find the date property don't support end date incloude time.

I read Notion API Reference it has write about that. Can Added it?

Thank you

[2022-11-16 17:10] sergioeliot2039 commented on #4760
User appears to be asking about an enhancement on the Notion "Create Page from Database" action,

![image](https://user-images.githubusercontent.com/25184117/202247190-5e6fc11a-86c8-4a6b-ab8f-bc990b1bbff3.png)

[2022-11-16 18:34] Hassan-Abbas-SQA commented on #3819
action : send a whtsapp message template
<img width="949" alt="image" src="https://user-images.githubusercontent.com/104946677/202262523-73a1fdbb-ebec-4f35-8371-f88f353ad64a.png">

[2022-11-16 19:15] #3819 closed

[2022-11-16 19:41] dannyroosevelt commented on #4760
@boyce0215 can you tell me a bit more about the problem you're trying to solve? Or can you link me to the docs you're looking at?

[2022-11-16 20:01] Hassan-Abbas-SQA commented on #4726
@dannyroosevelt all tests passed for me can you please check if this fulfilling all your requirements
![image](https://user-images.githubusercontent.com/104946677/202282037-411a3fcd-f9b6-40c8-bd33-b8fcf08269bd.png)

[2022-11-16 20:18] dannyroosevelt commented on #4726
LGTM!

[2022-11-16 20:23] #4726 closed

[2022-11-16 20:31] #4688 closed

[2022-11-16 21:01] luancazarine commented on #3822
@jverce I tried to create these triggers, but the unisender API returns the following error:
![image](https://user-images.githubusercontent.com/5638699/202292764-da6fc9c7-34c3-4f0a-a986-1fdefbd84be0.png)

I spoke with support and they answered this:
![image](https://user-images.githubusercontent.com/5638699/202293018-b2df11c7-3e4c-4bb8-b61b-373d4a6fcf02.png)

[2022-11-17 00:09] RyanTHartigan opened #4764 "[FEATURE] We should have the ability to have search/filter functionality on the Inspector. Actually, we should be able to filter across any run workflow to see just the workflows that match the filter"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you have a workaround?**
Are you able to tackle the problem with an existing workaround, or can you not move forward without this featur

[2022-11-17 01:02] dylburger commented on #4764
@RyanTHartigan Thanks for the request. We're building a global event UI that will let you search / filter on events right now. We're tracking at #188 if you'd like to follow there.

[2022-11-17 01:02] #4764 closed

[2022-11-17 01:03] dylburger commented on #3456
I was reviewing old issues and realized we have an existing ticket tracking this at #665. Please follow that issue if you don't mind. We're close to rolling out our Git integration, which will also make this easier, since you can serialize workflows to a configuration file, checkout the repo locally, and search there.

[2022-11-17 01:03] #3456 closed

[2022-11-17 01:22] boyce0215 commented on #4760
@dannyroosevelt I try to create new event at google calendar, and want make it sync to my notion database.
But I find property about "date", it only can typing Start date or End date. Not both!
example
<img width="938" alt="image" src="https://user-images.githubusercontent.com/25250890/202330861-bfac72a3-b4b1-4f97-b52f-6f6508facaf2.png">

[2022-11-17 04:10] dannyroosevelt commented on #4760
Can you confirm what action you are using? I see an end date prop here:
https://pipedream.com/apps/google-calendar/actions/create-event

[2022-11-17 05:25] boyce0215 commented on #4760
My trigger use this.
<img width="1107" alt="image" src="https://user-images.githubusercontent.com/25250890/202363344-f1d5185c-3535-4884-987a-cc4f9eef545d.png">

[2022-11-17 05:41] boyce0215 commented on #4760
@sergioeliot2039 I use the query_database and then can see "date" has "end" this key. so how can I take my google calendar event into this value?
<img width="956" alt="image" src="https://user-images.githubusercontent.com/25250890/202365273-0e718afb-7e43-4cd2-b3e4-9bca9b2f6604.png">

[2022-11-17 11:06] nebbles opened #4766 "[Feature] Enable Notion authentication to use internal integration token"
### Request

Users should have the ability to provide an _internal integration token_ for a "Notion account" (in Pipedream) as an alternative to opening the OAuth flow to generate an OAuth token.

### Explanation

When using the Notion actions, Pipedream offers a way to select a Notion account, or to create a new Notion account that opens the OAuth flow to authorise the Pipedream integration to ac

[2022-11-17 12:37] KaKaAlex opened #4767 "Python plot_data"

[2022-11-17 13:50] luancazarine commented on #3822
@jverce
cc: @dannyroosevelt
I tried to create the triggers, but the unisender API returns this error:
{
"error": "Error ID:3234402E-65EA-11ED-9458-46A58317E60A. 'hook_url' - This value is not a valid URL.",
"code": "invalid_arg"
}

so I contacted their support and they replied this:
![image](https://user-images.githubusercontent.com/5638699/202463327-43173407-459c-4811-94ec-667d4cc1a5ec.png)

Is t

[2022-11-17 16:17] jverce commented on #3610
Thanks @lcaresia
I got a similar experience when using the API to create shots, so I tried creating them using the Dribbble UI and it worked that way.

<img width="1178" alt="image" src="https://user-images.githubusercontent.com/5479513/202498741-4d18ead3-82f3-4999-a1c4-b0daa4ba6930.png">

(BTW, you can see a rough approach to the **New Shot** source in this branch: https://github.com/jverce/piped

[2022-11-17 16:32] DilanAthukorala commented on #4767
Hi @KaKaAlex, Can you provide more details of the issue you are observing, the action you are trying to perform and which Pipedream component (action/source) this issue is related to? It would be great if you can provide screenshots of the error you are getting.

[2022-11-17 17:30] jverce commented on #3769
It looks like it.
@dannyroosevelt, we should block this until we reconfigure the `ronin` app.

[2022-11-17 17:54] #3667 closed

[2022-11-17 18:17] luancazarine commented on #3822
I'm talking by chat, so I'll ask and let you know

[2022-11-17 19:30] wwc-development commented on #4674
Hi @dannyroosevelt

Any estimate on how long Zoho usually takes to respond to a support request like this?

[2022-11-17 19:34] dannyroosevelt commented on #4674
They've actually been moderately responsive but their responses have not resolved the issue. There appears to be something wrong with the Authorization URL but the documentation they sent over did not address our specific question.

Here is their documentation on construction the Authorization request:
https://www.zoho.com/accounts/protocol/oauth/web-apps/authorization.html

Here is the request we

[2022-11-17 19:40] wwc-development commented on #4674
Ok, thanks for the quick reply and the update. I really appreciate it.

[2022-11-17 21:33] dannyroosevelt commented on #3769
@feyzullah I just enabled a new Clientary app -- can you build the components for that app instead?
https://pipedream.com/apps/clientary/

[2022-11-17 21:39] feyzullah commented on #3769
@dannyroosevelt sure, I will. Are we going to track it with this issue?

[2022-11-17 21:40] dannyroosevelt commented on #3769
Yea that's fine, can you just update the ticket accordingly?

[2022-11-18 00:21] dannyroosevelt commented on #3625
Ah I see. I am submitting a request to them to help enable a direct integration, I'll post any updates here.

[2022-11-18 01:49] ValdoTR opened #4775 "[TRIGGER] Discord Post (forum) created"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
When a post is created (this lives inside Discord Forums new feature) we should be able to create Github issues for exemples (and migrate the title, body and tags)

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**
https://discord.com/de

[2022-11-18 04:22] #3541 closed

[2022-11-18 04:39] dannyroosevelt commented on #4775
Thanks for the request! This is on the team's radar and we are tracking here: https://github.com/PipedreamHQ/pipedream/issues/4507 -- feel free to subscribe to that ticket for updates.

[2022-11-18 04:39] #4775 closed

[2022-11-18 10:00] #4767 closed

[2022-11-18 10:01] KaKaAlex commented on #4767
thank u, issue solved

[2022-11-18 11:41] javi2ruiz opened #4776 "[ACTION] WooCommerce - Create customer"
Is there a specific app this action is for?
Woocommerce

Please provide a link to the relevant API docs for the specific service / operation.
https://woocommerce.github.io/woocommerce-rest-api-docs/?javascript#customer-properties

[2022-11-18 12:25] #4758 closed

[2022-11-18 15:28] alysonturing commented on #3582
https://github.com/chartmogul/chartmogul-node

[2022-11-18 16:32] ctrlaltdylan opened #4781 "[ACTION] Verify Slack Event URL"
**Is there a specific app this action is for?**

Slack

**Please provide a link to the relevant API docs for the specific service / operation.**

We would like an action that can verify the contents of the `X-Slack-Signature` header.

The use case is when using the Slack Events subscription system, your custom Slack bot will receive a webhook on specific events.

Currently, there's no pre-built wa

[2022-11-18 17:21] dylburger commented on #4776
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-11-18 23:29] dylburger commented on #4675
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-11-18 23:29] #4675 closed

[2022-11-19 00:49] dylburger opened #4783 "<@U029RQS4KJ6> archived the channel <https://pipe-dream.slack.com/archives/C034DLJ4QTG|#workflow-hacking-danny-public>"

[2022-11-19 14:59] hanspinckaers opened #4784 "[BUG] Gmail send-email: expression in attachment 'filename' not parsed"
**Describe the bug**
I have a step where I want to send an email with a specific file, and with a filename based on a reference from the object explorer. However, the email is send with `"{{event.file.name}}"` instead of `"article.pdf"` for example.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Gmail send-email action
2. Enter a reference {{}} in the 'key' part of the attachment
3

[2022-11-19 15:02] HansPinckaers commented on #4784
I'm a programmer myself, I tried making sense of the code, but couldn't yet (however it looks really clean!). Maybe you can guide me in the right direction? Would like to have this fixed because I'm really excited about this workflow. :smile:

[2022-11-19 16:16] #4741 closed

[2022-11-19 16:34] HayWire-UK commented on #4645
Any further news on this

[2022-11-19 17:27] tanujmalkani opened #4785 "[TRIGGER] New spreadsheet is created in a Google Drive folder"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**
A new spreadsheet is created in a google drive folder.

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**
https://developers.google.com/drive/activity/v2/reference/rest/v2/activity/query?apix_params=%7B%22resource%22%3A%7B%7D%7D

[2022-11-19 23:29] dylburger commented on #4728
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-11-19 23:29] #4728 closed

[2022-11-20 00:11] dannyroosevelt commented on #4784
Thanks for flagging, @HansPinckaers! I can confirm step references are not currently supported as the key in object props, but I’ll raise this with the team asap to see if we can modify that functionality to support this use case.

[2022-11-20 19:16] kylekirkby opened #4787 "Social Image"
**Name of app / service**
Social Image

**Link to developer documentation**
https://developers.socialimage.app/#introduction

[2022-11-20 20:41] idooron9 opened #4788 "emposl bot"
**Is there a specific app this action is for?**

**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-11-20 20:41] idooron9 commented on #4788
hi

[2022-11-20 21:56] #4788 closed

[2022-11-20 22:14] HansPinckaers commented on #4784
For anyone finding this issue, my ugly workaround (not used to writing node.js):

[code]

[2022-11-20 22:30] hugo25-max opened #4789 "facebook[APP]"
**Name of app / service**

**Link to developer documentation**

**Is lack of support preventing you from building workflows, or do you have a workaround?**

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open requests for each!**

[2022-11-21 03:46] vunguyenhung opened #4790 "[BUG] @pipedream/axios library does not accept baseURL param"
**Describe the bug**
I imported `@pipedream/axios` library following [this document](https://pipedream.com/docs/pipedream-axios/#why-pipedream-platform-axios)
Then I proceed to use the library, passing the `baseURL` param that is a part of [standard axios request config (opens new window)](https://github.com/axios/axios#request-config). But the request failed
<img width="819" alt="image" src="http

[2022-11-21 10:23] binzari commented on #4758
hey everyone, I see that this functionality is in "Done" but I still can't find it when trying to add it to a workflow. Could you please tell me how does it work? Or direct to some article/ FAQ explaining the process of how a functionality gets from the idea to actual being able to add it as a regular user in a workflow. Thanks!

[2022-11-21 13:04] #4783 closed

[2022-11-21 13:10] dylburger commented on #4789
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-21 13:17] vunguyenhung commented on #4789
Hello @hugo25-max, I may ask what specific Graph API you need? There're some existing issues that we're tracking related to Facebook integration, maybe you can track one of them 🙏

[2022-11-21 14:03] dylburger commented on #4787
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-21 14:04] vunguyenhung commented on #4787
I confirm that there's no Social Image app is available and there's no existing issues for this. I'll add this to our app backlog
![21 03 50 - 21 - 11 - 2022](https://user-images.githubusercontent.com/18277920/203074457-65fa19c4-f5f3-432c-b54b-0df75f264654.png)

[2022-11-21 14:21] ctrlaltdylan opened #4793 "[BUG] [App Integrations Marketplace] Pagination page value doesn't reset between query changes"
**Describe the bug**
When exploring the available integrations with Pipedream on the marketplace, you can accidentally get yourself into an empty results step because the current page number doesn't reset between search query changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the [app marketplace](https://pipedream.com/explore).
2. Use the pagination arrows to move a few pages int

[2022-11-21 14:28] vunguyenhung commented on #4781
Hello @ctrlaltdylan, I've updated the description to clarify the requirement, feel free to modify it if it isn't make sense to you.

On another note, should we embed this to our existing Slack sources so that our Slack sources would verify all event emitted is verified?

[2022-11-21 14:33] cd-slash opened #4794 "[APP] Revue"
Revue (newsletter platform by Twitter)

**Link to developer documentation**
[API Docs](https://www.getrevue.co/api#overview)

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Yes, preventing a workflow being built - accepting a website form submission and adding a new newsletter subscriber to Revue

**Are there specific actions, or triggers, you'd like to

[2022-11-21 15:22] #4709 closed

[2022-11-21 15:24] #3794 closed

[2022-11-21 15:39] alysonturing commented on #4785
Strange because that this source exists in our repo, I'll update the version number and push it again so it will probably be republished and available to everyone

[2022-11-21 16:39] GTFalcao commented on #4646
@dannyroosevelt , the code for this update is done. We'll need that auth URL param (`actor=application`) added in order to test this.

[2022-11-21 17:45] dannyroosevelt commented on #4758
Hi @binzari it's the Add Note action you're looking for, right?
https://pipedream.com/apps/pipedrive/actions/add-note

![Google Chrome - Untitled workflow - Pipedream - 2022-11-21 at 9 44 29 AM](https://user-images.githubusercontent.com/20780753/203124571-111f1e18-c803-4780-a96e-40749894f848.gif)

[2022-11-21 18:54] jcortes commented on #3821
I reported an issues with Typebot platform because I was not able to get the `API_KEY` and this is what it shows in the settings section. All these options are in blank just like **My Account** section.

<img width="811" alt="image" src="https://user-images.githubusercontent.com/506051/203136526-18ee2509-9531-4ff8-8c06-953e5ed7065e.png">

[2022-11-21 19:15] alysonturing opened #4799 "[BUG] move new-spreadsheet from google-sheets to google-drive"
**Describe the bug**
[Reason](https://pipedream-users.slack.com/archives/G01K0RGR1QR/p1669053578534749)

[2022-11-21 19:26] dannyroosevelt commented on #1966
Similarly, we should support searching by categories of apps within the product, in the step selector. For example,

"table"/"chat"/"social media"/"ETL"

Requested by a customer in Slack https://pipedream-users.slack.com/archives/CMN2V5EAF/p1669038001889519

[2022-11-21 19:56] Hassan-Abbas-SQA commented on #3604
![image](https://user-images.githubusercontent.com/104946677/203146404-befad575-8ec2-4ccb-bde7-d485dd2b3108.png)

[2022-11-21 20:06] #4799 closed

[2022-11-21 20:14] cd-slash commented on #4794
Yes, apologies! It didn't appear in the workflow search so I thought it wasn't available.

[2022-11-21 20:14] #4794 closed

[2022-11-21 20:18] Hassan-Abbas-SQA commented on #4799
![image](https://user-images.githubusercontent.com/104946677/203150455-e8b0bc49-d1dc-4972-8c8a-610dd24784f5.png)
![image](https://user-images.githubusercontent.com/104946677/203150495-0ae0771f-2135-49e5-a3d5-77acac17a46d.png)

[2022-11-21 21:29] Hassan-Abbas-SQA commented on #4781
TestPassed
![image](https://user-images.githubusercontent.com/104946677/203160138-4b5ffa6c-e0ba-401e-919c-1170f17a9768.png)
for Negative TestCase
![image](https://user-images.githubusercontent.com/104946677/203160267-1a8d5075-ec7d-43f8-abf1-9c3c974bb573.png)

[2022-11-21 21:32] #4781 closed

[2022-11-21 23:29] dylburger commented on #4729
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-11-21 23:29] #4729 closed

[2022-11-22 00:40] Modocosm opened #4801 "[ACTION] Update Signatures For Organization Gsuite"
**Is there a specific app this action is for?**
gmail in gsuite

**Please provide a link to the relevant API docs for the specific service / operation.**
https://developers.google.com/gmail/api/guides/alias_and_signature_settings#managing_signatures
https://googleapis.dev/nodejs/googleapis/latest/gmail/classes/Resource$Users$Settings$Sendas.html#patch

[2022-11-22 01:29] vunguyenhung commented on #4785
Hello @tanujmalkani, the trigger is currently available on Google Drive app, you can access it following the below images:
<img width="824" alt="Screen Shot 2022-11-22 at 08 28 06" src="https://user-images.githubusercontent.com/18277920/203193304-01056b81-69ea-42d6-81d7-131ea5bdefd0.png">

<img width="824" alt="Screen Shot 2022-11-22 at 08 28 06" src="https://user-images.githubusercontent.com/1827

[2022-11-22 02:35] dylburger commented on #2248
We've shipped this to the UI and CLI! Unpublish components via UI at https://pipedream.com/components, and via CLI using:

[code]

[2022-11-22 02:35] #2248 closed

[2022-11-22 05:42] Radhika-Kondapaneni opened #4804 "Emit events everytime a new post is created in an account LinkedIn [TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-11-22 05:45] dannyroosevelt commented on #4646
I've added the `actor=application` config on the Authorization URL, so new auth provisions should have that set.

For QA team -- what happens for existing auth provisions that do **not** have `actor=application` configured, if they set the "Create as User" prop to false?

If you need to create an auth provision **without** that flag, let me know and I can help set that up.

[2022-11-22 06:07] fev4 commented on #1972
Would like to pile on on this one.

**Link to developer documentation**
https://www.rudderstack.com/docs/
https://www.rudderstack.com/docs/api/http-api/
https://www.rudderstack.com/docs/destinations/webhooks/
https://www.rudderstack.com/docs/api/transformation-api/

**Is lack of support preventing you from building workflows, or do you have a workaround?**
It's not preventing me. I can find a work

[2022-11-22 07:52] yangcheng commented on #216
is there any update on this feature?

[2022-11-22 11:59] san0627 opened #4805 "student developer account [TRIGGER]"
**Describe the event source. What app is this for, and what event does the trigger correspond to?**

**Please provide a link to the relevant API docs for the specific service / operation this trigger is tied to.**

[2022-11-22 13:10] edusteinhorst commented on #4566
Hi @dannyroosevelt! Any news on this / ETA? In case it's not a priority I'll probably implement a token refresh process myself, would appreciate a heads up 🙏

[2022-11-22 13:19] vunguyenhung commented on #4801
I can confirm that currently there's no action for this
<img width="819" alt="Screen Shot 2022-11-22 at 20 18 09" src="https://user-images.githubusercontent.com/18277920/203323790-c3755d0c-42c2-40db-8374-0ba969b2df40.png">

And I've also added the API doc that uses Google APIs Node.js lib: https://googleapis.dev/nodejs/googleapis/latest/gmail/classes/Resource$Users$Settings$Sendas.html#patch

[2022-11-22 13:24] vunguyenhung commented on #4805
Hello @san0627, may I ask what app is this for? Could you provide the link to the app homepage?

[2022-11-22 13:34] vunguyenhung commented on #3602
Hello everyone, I have tested this PR and there is one failed case that needs improvement.

Please check the test report below for more information.
[Uploading Curated_3602.pdf…]()

[2022-11-22 13:51] vunguyenhung commented on #4776
Hi everyone, all test cases are passed! Ready for release!

Test report
[WooCommerce__4776.pdf](https://github.com/PipedreamHQ/pipedream/files/10067955/WooCommerce__4776.pdf)

[2022-11-22 14:23] dylburger commented on #4801
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-11-22 14:34] #3604 closed

[2022-11-22 20:41] rose111data opened #4808 "[BUG] New Row Added (Instant) from Google Sheets spams duplicated rows"
**Describe the bug**
For any sheet connected to any endpoint, every row in the triggering sheet spams duplicate rows multiple times.

**To Reproduce**
Steps to reproduce the behavior:
1. New Row Added (Instant) from Google Sheets trigger
2. Configure trigger to any spreadsheet or worksheet on my account
3. Add any action
4. Deploy

**Expected behavior**
New row is added in trigger sheet, action is

[2022-11-22 23:43] GTFalcao commented on #4790
@vunguyenhung , as [we could not find a way](https://pipedream-users.slack.com/archives/G01J50YGJGP/p1669065284106239) to test the platform package directly without publishing it, I published its contents (exactly as they are on [this branch](https://github.com/PipedreamHQ/pipedream/tree/4790-axios-baseurl-fix)) as a separate package named `pd-platform-test-gtfalcao`.

![image](https://user-images

[2022-11-23 01:08] Hassan-Abbas-SQA commented on #3805
not receving any events on trigger
![image](https://user-images.githubusercontent.com/104946677/203451254-6ba2cfdc-89f2-446d-afa6-7f9583b95a51.png)

[2022-11-23 01:27] GTFalcao commented on #4646
I've addressed the existing auth issue with a `ConfigurationError` being thrown when that error arises, requesting that the user reconnect their account.

[2022-11-23 01:37] dylburger commented on #4689
We've added this issue to our backlog. You can follow this issue for updates!

[2022-11-23 02:28] vunguyenhung commented on #4790
Thank you for testing this @GTFalcao! After the code is approved I will move this to ready for release and test it again after the package is released

[2022-11-23 03:17] dylburger commented on #1972
Thanks for the note @fev4! We're working on the basic integration now.

Re: the Transformation API, could you tell me more about how you'd like to use that on Pipedream? Would you create transformations that would route data from Rudderstack to Pipedream, or would you want to programmatically create new transformations within a Pipedream code step? i.e. should we create Pipedream actions for the [

[2022-11-23 11:02] #3610 closed

[2022-11-23 11:41] ericdodds commented on #1972
Jumping in here - this seems really cool.

It seems like an easy initial win would be adding Pipedream as a destination (excited you're working on that @dylburger). I think adding Pipedream as a source makes total sense and, in fact, would probably enable all of the use cases you'd want to build without integrating with the Transformations API.

Excited to learn more about the Transformations use

[2022-11-23 12:01] vunguyenhung commented on #3602
Hi everyone, all test cases are passed! Ready for release!

Test report:
[Curated_3602 version 2.pdf](https://github.com/PipedreamHQ/pipedream/files/10075214/Curated_3602.version.2.pdf)

[2022-11-23 12:29] bnygld opened #4809 "[BUG] add_single_row error Cannot read property 'updatedRange' of undefined"
**Describe the bug**
When using the `add_single_row`, step for the Google Sheets integration from a Slack trigger, the row is added to the sheet but the workflow errors with `Cannot read property 'updatedRange' of undefined` so it can't be saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Create workflow with slack trigger, configure a public channel
2. add `add_single_row` step and use

[2022-11-23 13:18] rikkit opened #4811 "[BUG] Twist can't add comment to thread"
**Describe the bug**

I can't seem to add any comments to threads. My account is authenticated but I just get the error `Conversation 3852922 not found`.

The conversation URL is `https://twist.com/a/154140/ch/502063/t/3852922/` so I'm sure the ID is correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to workflow creator
2. Choose Twist -> Add comment to thread
3. Fill in details for

[2022-11-23 13:19] #4811 closed

[2022-11-23 13:50] vunguyenhung commented on #4809
Hello @benny-gold @ctrlaltdylan, I'm able to reproduce this bug on my side with this simple case:
<img width="604" alt="image" src="https://user-images.githubusercontent.com/18277920/203563596-66990029-d19f-4a79-a8c8-96059fc2658b.png">

I'll add this to our component backlog 🙏

[2022-11-23 13:53] birdmeister opened #4813 "[BUG] Workflow with HubSpot form submit trigger is not always executed"
Bug description
A Pipedream workflow does not always get triggered. This workflow is supposed to trigger upon a HubSpot form submit. Functionally the trigger/workflow is correct. Sometimes it does get triggered, sometimes it does not. There is no error, no mention in Inspector either

How to reproducce
Steps to reproduce the behavior:
1. Go to the page with the HubSpot form: https://product.atradi

[2022-11-23 14:13] vunguyenhung commented on #4808
Hello @rose111data, I tried to reproduce your bug but couldn't. Here're the steps I've taken:

1. Create 5 test sheets
2. Create a Pipedream trigger - New Row Added (Instant), link to 5 test sheets
3. Added new rows on the test sheets
4. I observed that the events are emitted correctly
![21 10 33 - 23 - 11 - 2022](https://user-images.githubusercontent.com/18277920/203567768-d654ab8e-74db-40fc-ab85

[2022-11-23 14:22] vunguyenhung commented on #4813
Hello @birdmeister, as discussed with you on Slack, I couldn't reproduce this issue per the image below
![14 49 36 - 23 - 11 - 2022](https://user-images.githubusercontent.com/18277920/203570191-07a8f825-0c7c-4050-91ba-7922e7b48dbd.png)

Hello @michelle0927, I see that you've helped to modify the source recently. Could you advice what is the possible root cause to this?

[2022-11-23 14:34] birdmeister commented on #4813
@vunguyenhung The challenge is that it sometimes works and sometimes not. I don't expect anything to be wrong with the trigger itself otherwise I would never work.

[2022-11-23 14:42] lcaresia commented on #4689
@dylburger This is on Discord Bot, correct?

[2022-11-23 15:57] michelle0927 commented on #4813
@vunguyenhung I haven't been able to reproduce this issue. @birdmeister , the times that you click RUN NOW, and the new form submission doesn't show up, are there any errors showing under LOGS?

[2022-11-23 16:01] birdmeister commented on #4813
@michelle0927 No, no errors under LOGS.
<img width="1486" alt="CleanShot 2022-11-23 at 17 00 51@2x" src="https://user-images.githubusercontent.com/761601/203592512-41cc338d-75de-44da-b7ca-eb6991da0f06.png">

[2022-11-23 16:21] michelle0927 commented on #4813
@vunguyenhung @birdmeister I wonder if could be due to a slight delay between the form submission, and the record of it being available through the API. I think we could update `new-form-submission` to check for submissions since the last successful form submission instead of submissions since the last time the source ran.

[2022-11-23 16:33] Hassan-Abbas-SQA commented on #3805
<img width="1156" alt="image" src="https://user-images.githubusercontent.com/104946677/203599559-3407aa7a-7704-41a2-beab-b867810a2f21.png">

[2022-11-23 16:40] #4809 closed, assigned to andrewjschuang, DilanAthukorala

[2022-11-23 17:24] dylburger commented on #2069
Azure Devops is integrated! See https://pipedream.com/apps/azure-devops for more information

[2022-11-23 17:24] #2069 closed

[2022-11-23 17:42] GTFalcao commented on #4646
@dannyroosevelt , it doesn't seem updating an issue supports the `createAsUser` parameter at all. I'm trying to find more about this on the Linear docs.

I was testing on 'create' most of the time and Dilan received an error when testing 'update', which states the createAsUser parameter is not part of the expected input for updating an issue.

The docs only clearly state `issueCreate` and `comment

[2022-11-23 17:46] Hassan-Abbas-SQA commented on #3805
TestPassed
![image](https://user-images.githubusercontent.com/104946677/203614324-e6dc68a5-ccaf-4515-af30-fb8b4cd9558e.png)
![image](https://user-images.githubusercontent.com/104946677/203614370-7fc372de-6c54-4f8c-bc8c-ce89553e9dcc.png)

[2022-11-23 18:02] #4790 closed

[2022-11-23 18:05] andrewjschuang commented on #4801
Currently we don't have the required scopes for this method. As seen in [the docs](https://developers.google.com/gmail/api/reference/rest/v1/users.settings.sendAs/patch#authorization-scopes), one of these is necessary:

- https://www.googleapis.com/auth/gmail.settings.basic
- https://www.googleapis.com/auth/gmail.settings.sharing

@dannyroosevelt is adding one of these scopes be viable?

[2022-11-23 18:35] #3813 closed

[2022-11-23 18:45] GTFalcao commented on #4790
![image](https://user-images.githubusercontent.com/48412907/203624360-8005aded-a411-4323-985a-c8c5e32b2693.png)
Platform package updated successfully

[2022-11-23 19:17] dannyroosevelt opened #4817 "[Actions and Triggers] Envoy"
### App
`envoy`
https://developers.envoy.com/hub/docs

### Triggers
- Visitor Invited
- Visitor Signed In
- Visitor Signed Out

### Actions
- Create pre-registration

[2022-11-23 19:50] Hassan-Abbas-SQA commented on #4689
Test Passed
![image](https://user-images.githubusercontent.com/104946677/203627884-4c9b4f8c-b1be-4695-bc8d-ad194d67491a.png)

[2022-11-23 19:51] #4689 closed

[2022-11-23 20:04] dannyroosevelt opened #4818 "Extend Slack Actions to support the Slack Bot app"
And can we also enable polling triggers? Will need to investigate how to support instant triggers for the Slack Bot use case.

For the dev or QA team: are there specific actions that exist for Slack today that obviously will not work with a Slack Bot token? Or is it all specific to the included scopes?

[2022-11-23 21:32] rose111data commented on #4808
Sure, thank you!

I was afraid that may have been the issue. There are some columns that use concatenate upon a form submission; is that what's triggering it repeatedly?

[2022-11-23 22:44] dannyroosevelt commented on #1972
Here is a basic scaffolding for the HTTP API:
https://pipedream.com/apps/rudderstack/

And for the Transformation API:
https://pipedream.com/apps/rudderstack-transformation/

Please let me know if these both work for you @fev4 and @ericdodds 🙏

@ericdodds would your team be interested in developing some pre-built triggers and actions for some of the RudderStack functions in each of the APIs? Our t

[2022-11-23 22:55] dannyroosevelt commented on #4646
Confirming what we discussed over Slack:

1. Instead of `createAsUser` as a boolean prop, we'll update to have 3 options ("Pipedream", "Signed-in user", "Custom user"), with `additionalProps` for "Custom user"
2. I misread their docs, and this only applies to the Create Issue action (not update)

[2022-11-24 01:06] modernmusician commented on #216
very important feature!

the "Router" module in Integromat / Make is a great reference.

one way you could improve on it is by adding sequencing to the router steps so it can either complete the branches sequentially, or you could do it synchronously

[2022-11-24 01:26] vunguyenhung commented on #4808
Hello @rose111data, I suspect the formula is the cause. Would you mind move the formula to another sheet and try again to see if the issue persist?

If the formula is the case then it's quite hard for us on Pipedream side to do anything about it. Since we emit events when ever Google Sheet tells us there's a new row, so we depends on Google Sheet in this case

[2022-11-24 01:27] vunguyenhung commented on #4813
Hello @michelle0927, I think that's a good idea. I'll put this into our prioritized backlog!

[2022-11-24 02:18] dylburger opened #4820 "[FEATURE] `python3` should be installed to the Pipedream execution environment"
I want to run programs in Bash steps that depend on `python3`.

[2022-11-24 14:28] alysonturing commented on #4817
@dannyroosevelt looks like they do not support creating webhooks through their API

[2022-11-24 14:45] vunguyenhung commented on #3806
Hi everyone, all test cases are passed! Ready for release!

Test report:
[TestMonitor_3806.pdf](https://github.com/PipedreamHQ/pipedream/files/10085481/TestMonitor_3806.pdf)

[2022-11-24 16:13] #3806 closed

[2022-11-24 19:30] dylburger commented on #4564
@dudunato Can you do me a favor and check the Refresh Token Policy for apps on your instance (see step 7 of [this guide](https://help.salesforce.com/s/articleView?id=sf.connected_app_manage_oauth.htm&type=5)). What is that set to?

[2022-11-24 23:29] dylburger commented on #4760
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-11-25 01:53] zalmanlew opened #4822 "[BUG] SOURCE RingCentral New Outbound Message doesn't work"
**Describe the bug**
[New Outbound Message Event (Instant)](https://pipedream.com/apps/ringcentral/triggers/new-outbound-message) source is not sending any events to Pipedream.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workflow with the **New Outbound Message Event (Instant)** trigger
2. Choose SMS as the Message Type
3. Login to RingCentral and send an SMS
5. No new events 🙁

[2022-11-25 02:30] tlloydthwaites opened #4823 "Keycloak"
**Name of app / service**
Keycloak

**Link to developer documentation**
https://www.keycloak.org/documentation

**Is lack of support preventing you from building workflows, or do you have a workaround?**
Workaround is to manage OAuth to Keycloak admin manually with multiple http calls.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Ac

[2022-11-25 02:34] dylburger commented on #4823
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-25 02:55] vunguyenhung opened #4824 "[ACTION] Akeneo: Create a new Product Media file"
**Is there a specific app this action is for?**
Akeneo

**Please provide a link to the relevant API docs for the specific service / operation.**
https://api.akeneo.com/api-reference.html#post_media_files

[2022-11-25 15:01] maximum-pixels commented on #1972
@fev4 you can use pipedream for RS transformations. You can send an incoming Rudderstack event to a webhook destination where the webhook URL is the Pipedream starting point. You can then do whatever you need to there and pass the finished payload back to RS, either just to the HTTP endpoint API or to their webhook source type (depending on how much you're changing the event structure).

If you're

[2022-11-25 15:20] andreabisello opened #4828 "[BUG] - value sent to sources as integer are returned as float"
Create a new Source.
Send data to this source like this

POST: https://d56b146d17c30897dd7f0e4fc1d2e5d9.m.pipedream.net/
![image](https://user-images.githubusercontent.com/2149815/204014766-a6a6bb7f-a78b-41c0-87d9-fd2a78e1dbbd.png)

GET data from the same Source
https://api.pipedream.com/v1/sources/dc_MDuzKxg/events
![image](https://user-images.githubusercontent.com/2149815/204014837-926726a6-78e2

[2022-11-25 16:07] zalmanlew opened #4829 "[Triggers and Actions] DigitalOcean Spaces"
**Name of app / service**
DigitalOcean Spaces (it has it's own keys, so it's a bit different than the regular DigitalOcean API

**Link to developer documentation**
https://docs.digitalocean.com/reference/api/spaces-api/

We can likely reuse most of the code from the S3 components since it was designed to be interchangeable

**Are there specific actions, or triggers, you'd like to see for this app?

[2022-11-25 16:22] dylburger commented on #4829
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-25 16:23] dylburger commented on #4829
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/) and [sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you

[2022-11-25 16:24] sergioeliot2039 commented on #4829
Hi @zalmanlew, working on the app integration now.

[2022-11-25 16:32] vunguyenhung commented on #4828
Hello @andreabisello, may I ask for more details on the action that return the response?

I've tried to reproduce the issue with a Node.js action and it returns correctly
<img width="1347" alt="Screen Shot 2022-11-25 at 23 30 04" src="https://user-images.githubusercontent.com/18277920/204025999-8a44e2b2-523b-444f-a7ed-87056501909f.png">
![image](https://user-images.githubusercontent.com/18277920/2

[2022-11-25 16:41] andrewjschuang commented on #3795
Triggers implemented in #4048.

[2022-11-25 17:02] andreabisello commented on #4828
@vunguyenhung  simply create a source , push some data and obtain with the rest call
interface show you data in a correct way,
but by get you obtain a float not a integer

[2022-11-25 17:21] Hassan-Abbas-SQA commented on #3796
just to make sure all the sources and events are missing in PR 4827 except this one trigger, i can see in the comments that you were not able to authorize nor have any documentation acccess @vellames
<img width="207" alt="image" src="https://user-images.githubusercontent.com/104946677/204032290-6184b202-e30a-4642-bf9e-3fc94f5967e7.png">

[2022-11-25 18:19] marcelocecin opened #4830 "[APP] glideapps.com"
**Name of app / service**
glideapps.com

**Link to developer documentation**
https://www.glideapps.com/docs/reference/data-sources/glide-table-api
https://www.glideapps.com/docs/reference/actions/webhook
https://github.com/glideapps/glide-code-columns/blob/master/src/columns/fetch.ts

**Is lack of support preventing you from building workflows, or do you have a workaround?**
https://www.glideapps.

[2022-11-25 18:22] dylburger commented on #4830
Thanks for the request! We've added this to [our integrations backlog](https://github.com/orgs/PipedreamHQ/projects/8/views/1), and we'll update this ticket with progress.

[2022-11-25 19:46] zalmanlew commented on #4822
Does the RingCentral API offer no way to catch outbound SMS unless it's being sent to another number on the same account? (In which case you could technically just watch the inbound message...)

[2022-11-25 21:01] vellames commented on #3796
This trigger is enough to satisfies all triggers requested and all triggers available in the platform

[2022-11-26 19:18] 30ashwood opened #4832 "[Action] Upload Image's via Smugmug API"
Used for Smugmug

Looking to have photos uploaded via Jotform and passed through via API and uploaded into a newly created album.

(https://api.smugmug.com/services/api/?method=upload)

Many Thanks

[2022-11-26 22:08] cshape commented on #209
Following! It's nice that you can scrape with other methods but I've got some stuff built with Puppeteer and it would be great to just copy/paste into Pipedream.

[2022-11-27 00:42] zalmanlew commented on #4822
@jcortes I created #4833 with the fix we discussed.

[2022-11-27 15:32] MattMarquise opened #4834 "[APP] Supabase"
**Name of app / service**
Supabase

**Link to developer documentation**
https://supabase.com/docs

**Is lack of support preventing you from building workflows, or do you have a workaround?**
It would just be nice to have Supabase as an option.

**Are there specific actions, or triggers, you'd like to see for this app? Please let us know here or use the Action and Trigger issue templates to open re

[2022-11-27 15:35] #4834 closed

[2022-11-28 04:31] js07 commented on #4808
@vunguyenhung This appears to be an issue with the Google Sheets **New Row Added** sources when the last row in the sheet has cells with values. I created a [PR](https://github.com/PipedreamHQ/pipedream/pull/4835) to fix the issue.

[2022-11-28 11:31] dawitam11 commented on #4702
Hi @dylburger.  I've worked on Facebook Conversions API before. It would be great if you assign me this task.

[2022-11-28 12:08] vunguyenhung commented on #4828
Hello @andreabisello, I've tried to reproduced using a node code, but it response correctly as an integer.

May I ask more details regarding the actions that responding HTTP response in your workflow?

[2022-11-28 12:47] einzel0 opened #4836 "[TRIGGER] TRIGGER WHENEVER SOMEONE FOLLOWS A NEW ACCOUNT"
TRIGGER WHENEVER SOMEONE FOLLOWS A NEW ACCOUNT

PLS GOD MAKE THIS OR TELL ME HOW TO CODE IT

ty

[2022-11-28 12:47] einzel0 commented on #4836
On Twitter, btw. Forgot that part. Love you all. Please please please please make this. <3

[2022-11-28 12:55] lcaresia commented on #4656
Hey @KartikeyDubeyKD, I hope all is well.

So, how is going this task? If you need some help ou have some issue just call me!

[2022-11-28 15:01] andreabisello commented on #4828
@vunguyenhung yes sure, i recorder a video to show

https://user-images.githubusercontent.com/2149815/204310149-e70e1a4d-91ad-4943-b59e-6fcc509bb0a1.mp4

[2022-11-28 15:16] vunguyenhung commented on #4828
Ah I see @andreabisello, it's Pipedream's API. I'll update the description and add it to the internal backlog

[2022-11-28 15:22] KartikeyDubeyKD commented on #4656
Sorry @lcaresia I was busy with college exams and Now I'll start working on this

[2022-11-28 16:01] sumandas-dev opened #4837 "[FEATURE] Add Pagination on Data Store view"
I love the concept of data store and using it for production but I noticed that it does not have a pagination system right now, so what's happens it hangs the browser if the data store contains a lot of data.

I request to add pagination on the Data Store view page.

Thank you

[2022-11-28 16:50] dylburger commented on #4836
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream sources](https://pipedream.com/docs/components/quickstart/nodejs/sources/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-11-28 16:55] Hassan-Abbas-SQA commented on #4836
<img width="517" alt="image" src="https://user-images.githubusercontent.com/104946677/204335929-9ed2c395-4f9c-45ca-b6de-822f23215c79.png">
sorry for the confusion here we already have this trigger , when someone follows you emit an event trigger in our pipedream please check it out

[2022-11-28 16:55] #4836 closed

[2022-11-28 18:01] lcaresia commented on #3788
I removed actions below because don't have endpoints to get this.

* New Lead
* New Offline Message

![image](https://user-images.githubusercontent.com/12402324/204348277-5012b858-c6c3-48ef-a286-271a05788ea5.png)

[2022-11-28 18:07] sergioeliot2039 commented on #4834
https://pipedream.com/apps/supabase

[2022-11-28 19:33] cfjedimaster opened #4841 "[BUG] Documention issue with Python and mapping"
**Describe the bug**
I recently ran into an issue with a Python module. I was looking at this doc:

https://pipedream.com/docs/code/python/#if-your-package-s-import-name-differs-from-its-pypi-package-name

Where it says, "We maintain a custom mapping for these cases, so that we can install the right package given your import statements. If you try to install a package that doesn't work, please [re

[2022-11-28 21:01] #3796 closed

[2022-11-28 21:48] #3602 closed

[2022-11-28 23:29] dylburger commented on #4789
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-11-28 23:29] #4789 closed

[2022-11-29 00:16] dylburger commented on #3228
@treestonemedia Thanks for the ping, we're taking a look right now. I'll update you when I have more info.

[2022-11-29 02:43] vunguyenhung commented on #4804
Hello @Radhika-Kondapaneni this is on Pipedream side where we need to update our integration to add a new permission to do the requested action. No action needed from you for now! Please subscribe to this ticket for updates if needed 🙏

[2022-11-29 06:00] Radhika-Kondapaneni commented on #4804
Ok Thanks . Also I need that trigger to work for both member and organization account wherever needed .

[2022-11-29 14:52] andrewjschuang commented on #4808
@js07 I'm thinking - if we iterate through all the rows and hash the row number with the row values, [in this line](https://github.com/PipedreamHQ/pipedream/blob/master/components/google_sheets/sources/common/new-row-added.mjs#L25) - so use `id = hash(rowNumber, rowValues)` - and emit all the rows with `dedupe = unique`,
Then rows that were already emitted will not be duplicated, and rows that wer

[2022-11-29 16:17] #4684 closed

[2022-11-29 16:22] #3532 closed

[2022-11-29 19:11] Hassan-Abbas-SQA commented on #3734
Update Item action: when i select an id of an item to update it fields/props should get populated from previous data ?
![image](https://user-images.githubusercontent.com/104946677/204623476-fe868251-f826-433f-80ae-becba9601b02.png)

[2022-11-29 19:24] feyzullah commented on #3734
@Hassan-Abbas-SQA, that description is actually coming from Podio API server and I have no control over it. Those props added there dynamically after fetching item fields.
For populating before update, I think it may not be so necessary because when leaving props empty, they are not updated.

[2022-11-29 19:32] LucBerge commented on #4112
Hello, any news about this bug?

[2022-11-29 19:33] feyzullah commented on #3734
@Hassan-Abbas-SQA are there other bugs/improvments?

[2022-11-29 19:52] michelle0927 opened #4843 "[BUG] Hubspot - update sources to avoid missing events"
Update all Hubspot sources to set the `after` variable to the timestamp of the last successfully emitted event instead of the last time the source was run. See [this issue](https://github.com/PipedreamHQ/pipedream/issues/4813) for context.

Action `new-form-submission` was updated via [this PR](https://github.com/PipedreamHQ/pipedream/pull/4842).

[2022-11-29 19:53] #4813 closed

[2022-11-29 19:55] Hassan-Abbas-SQA commented on #3734
Triggers:
Passed
![image](https://user-images.githubusercontent.com/104946677/204629226-5666a3db-5dc1-45f3-a337-3a537a6d9507.png)
![image](https://user-images.githubusercontent.com/104946677/204629279-d311e399-a765-4040-939b-3830c8bc3c6a.png)
![image](https://user-images.githubusercontent.com/104946677/204629467-54a19e08-a2f3-4e2c-8399-ddd8ef7dd31b.png)
![image](https://user-images.githubuserconte

[2022-11-29 20:22] js07 commented on #4808
@andrewjschuang Using a hash of the row number and row values to dedupe events sounds like a good idea.

Currently, if you add a row to the sheet out of sequence, it looks like empty rows before the new row will also be emitted as events. So adding/editing a row that's before the last row with values doesn't cause another event to be emitted for that row.

[2022-11-29 20:26] Hassan-Abbas-SQA commented on #4841
@cfjedimaster Thanks for reaching out PD team, can you please specifically address which Python module you were having issue with so we PD team can resolve your issue as soon as possible

[2022-11-29 20:28] cfjedimaster commented on #4841
Please read the bug report again. :) It isn't the fact that a certain module didn't work, it's the fact that part of the docs implies that you have to ask for help, and then later, there's a workaround shown.

[2022-11-29 20:30] andrewjschuang commented on #4808
I didn't get events for rows added in the middle, only when adding a row after the previous last emitted row.

[2022-11-29 20:33] js07 commented on #4808
Also when receiving an event, the only new emitted rows are the ones that are after the previous last emitted row.

I think that's (currently) intended. The description of the **New Row Added** source is "Emit new events each time a row or rows are added to the bottom of a spreadsheet in a shared drive".

[2022-11-29 20:40] Hassan-Abbas-SQA commented on #4841
You want the PD team to update the docs the way that workaround must be mentioned before asking the User to reach out to the team please correct me if i get it wrong

[2022-11-29 20:49] andrewjschuang commented on #4808
Oh, sorry didn't read that. Thanks for clearing it up!

[2022-11-29 20:51] feyzullah commented on #3734
@Hassan-Abbas-SQA it should be because of optional values for field configs coming from the API. I changed update function `optional`s to all `true`, which I should have done before. Can you please check `Update Item` action once more?

[2022-11-29 21:00] Hassan-Abbas-SQA commented on #3734
@feyzullah it worked fine but i want a one more minor change here can you please place ItemID prop right after AppID prop?
![image](https://user-images.githubusercontent.com/104946677/204646517-fd6f4292-9ed8-4f14-9de4-0a96e06dee13.png)

[2022-11-29 21:12] Hassan-Abbas-SQA commented on #4837
@sidni-code thanks for addressing this issue , i tracked that it does not have a pagination feature like workflow and sources pages, our team will look into it shortly
![image](https://user-images.githubusercontent.com/104946677/204648315-0796bd98-9b13-43a4-be2a-07db0d4ed4da.png)

[2022-11-29 21:25] feyzullah commented on #3734
@Hassan-Abbas-SQA done. Can you please check?

[2022-11-29 21:28] christo9090 opened #4845 "[FEATURE] Search Event History In The New V2 Inspect Page"
**Is your feature request related to a problem? Please describe.**
I am a long time Pipedream user. I recently started adding a bunch of new workflows using the V2 builder. I was excited to find out that the event history count was raised. It was always a pain to debug something and go to the workflow and realize the errored event had already been deleted.

However, there is no way to search the e

[2022-11-29 21:31] dylburger commented on #4845
I completely hear you @christo9090 ! We are looking forward to this internally as well. Thanks for raising the public issue. This is on our backlog and we'll update this issue when we've made progress.

[2022-11-29 21:40] stefanbohacek commented on #4183
Also having this issue, with [mastodon.py](https://mastodonpy.readthedocs.io/en/stable/).

[2022-11-29 21:53] #3734 closed

[2022-11-29 23:29] dylburger commented on #4805
Without more information, I'm going to close this issue. Feel free to reopen and add more details, if you'd like.

[2022-11-29 23:29] #4805 closed

[2022-11-30 01:19] zalmanlew opened #4847 "[TRIGGER] RingCentral New Message trigger - include message content"
### Background
Proposing an update on two existing sources for RingCentral. [New Outbound Message](https://pipedream.com/apps/ringcentral/triggers/new-outbound-message) and [New Inbound Message](https://pipedream.com/apps/ringcentral/triggers/new-inbound-message).

### Problem
There are two issues right now
1. The contents of the source only contain an ID of the message.
2. Sometimes it will send

[2022-11-30 01:26] dannyroosevelt commented on #4646
@GTFalcao I do not currently have the actor=application param on my auth provision, so I think I should get a `ConfigurationError` when I set `createAs` to either Pipedream or Custom Username, right?

Instead, I get the `ConfigurationError` when choosing `me`. And if I select `Pipedream`, it actually doesn't create as Pipedream:
![Screenshot by Dropbox Capture](https://user-images.githubuserconten

[2022-11-30 02:52] vietnguyenv opened #4848 "[ACTION] Send a message from my Discord Bot to a Notification channel in the Discod server"
**Is there a specific app this action is for?**
send a message to a channel on the discord server, I want more action to send messages via discord bot to a notification channel for all members.
**Please provide a link to the relevant API docs for the specific service / operation.**

[2022-11-30 03:56] dannyroosevelt commented on #4804
Unfortunately it looks like LinkedIn is not enabling access to this endpoint to anyone right now:
https://learn.microsoft.com/en-us/linkedin/marketing/lms-faq?view=li-lms-2022-11#how-do-i-get-access-to-r_member_social

I submitted a support request to their team anyway, but it appears we are unfortunately blocked right now.

[2022-11-30 04:14] dannyroosevelt commented on #4566
Apologies for the delayed response, @edusteinhorst. We've identified that the issue is most likely related to how Withings is declaring the expiry of their access tokens during the OAuth flow, which is non-standard. We are working on a potential workaround right now.

Stay tuned -- I'll post updates here.

[2022-11-30 04:38] dannyroosevelt opened #4849 "[FEATURE] Display additional error information in Inspect mode"
As a user, in order to debug errors in my workflow, I need the full debug / error data visible in Inspect mode. I see errors occurred, but the only way I can see the full error data is in Build mode, which requires manually selecting the correct event and running some or all of the workflow again, and making API calls etc.

![image](https://user-images.githubusercontent.com/20780753/204708743-aa3d

[2022-11-30 04:38] vunguyenhung opened #4850 "[FEATURE] Show request error body of Custom Request Action on Pipedream's Inspect View"
**Is your feature request related to a problem? Please describe.**
I added an Webhook Custom Request action into a workflow and deployed the workflow. On Pipedream's Inspect View, when the Custom Request action has error response body, I couldn't see the error body so I couldn't easily debug it
<img width="473" alt="image (6)" src="https://user-images.githubusercontent.com/18277920/204708767-b08d9

[2022-11-30 04:40] dannyroosevelt commented on #4849
Tracking this here: https://github.com/PipedreamHQ/pipedream/issues/4850

[2022-11-30 04:40] #4849 closed

[2022-11-30 05:08] riteshbxr commented on #4850
Another Workaround is to use code block instead of Webhook Block

[code]

[2022-11-30 05:14] sidni-code commented on #4837
Great!

[2022-11-30 05:43] vunguyenhung opened #4851 "[FEATURE] AgileCRM: Create Contact Action - support adding custom fields"
**Is your feature request related to a problem? Please describe.**
Currently, Pipedream's AgileCRM: Create Contact action does not support adding custom fields that I created in Agile CRM
![18 38 45 - 29 - 11 - 2022 (1)](https://user-images.githubusercontent.com/18277920/204716921-e4f739d0-28f1-4b0d-bfb6-d0602ec171d3.png)

**Describe the solution you'd like**
I would like to add custom fields when

[2022-11-30 05:44] dylburger commented on #4851
Thanks for the request! Did you know that anyone can [author and publish their own Pipedream actions](https://pipedream.com/docs/components/quickstart/nodejs/actions/)? Would you be interested in helping out with that? We're happy to answer any questions or support you in any way.

If you don't have the time, would you be willing to reach out to the app provider to see if they're interested in bui

[2022-11-30 09:34] krampepampe opened #4852 "[BUG] Can't connect to Google Cloud Account"
**Describe the bug**
Unable to connect to Google Cloud Account. Suddenly I receive error messages like
"Access Denied: BigQuery BigQuery: Permission denied while getting Drive credentials." Also unable to reconnect or add a new connection to Google Cloud since there is not text field to enter the json key.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Accounts
2. Click on Connect an

[2022-11-30 10:08] krampepampe commented on #4852
was my mistake

[2022-11-30 14:46] vunguyenhung commented on #4817
Hello everyone, I have tested this PR and there is one test case that failed and needed improvement.

Please check the test report below for more information
[Envoy_4817.pdf](https://github.com/PipedreamHQ/pipedream/files/10124228/Envoy_4817.pdf)

[2022-11-30 15:35] birdmeister commented on #4813
Unfortunately the issue is not resolved in my case. I confirm I am running v0.0.8.
Some more background info that may help:

- I have 6 HubSpot forms, each of them linked to a workflow (so 6 workflows/6 sources).
- It looks like only 1 form is causing issues from time to time.
- The problematic form is the form with most fields.
- The workflow linked to this form is triggered every 30 minutes. Dur

[2022-11-30 16:29] rose111data commented on #4808
So sorry for the late reply - the formulas were TEXTJOINS or CONCATENATES.

I did test a sheet with the same formula, and one without a formula. Upon a test form submission to both sheets, the same issue occurred.

Thank you so much! I appreciate everyone's time.

[2022-11-30 17:02] wrightmat opened #4854 "[BUG] this.getFormattedBlocks is not a function (notion_append_block)"
**Describe the bug**
It appears that any use of the notion_append_block step results in the TypeError "this.getFormattedBlocks is not a function"

**To Reproduce**
Steps to reproduce the behavior:
1. In order to isolate the cause, I added only the notion_append_block step
2. Under Configure, add Notion Account Parent Block ID (pageId)
3. Add Markup Contents and build an array of some test text (I

[2022-11-30 17:30] michelle0927 commented on #4813
@birdmeister Thank you for the additional info. This is probably a silly question, but are the form submissions showing up as expected in the Hubspot dashboard? Also, would you be able to take another screenshot of the source's LOGS after a run that failed to emit all submissions?

[2022-11-30 17:58] cfjedimaster opened #4855 "[BUG] Typo in warning"
**Describe the bug**
When a step is out of date, you get this warning:

![image](https://user-images.githubusercontent.com/393660/204873015-2bd66145-7a10-47ef-9d14-c213984af575.png)

There is a missing period at the end.

[2022-11-30 18:03] Hassan-Abbas-SQA commented on #4848
@vietnguyenv Hello there, Thanks for reaching out here i can see that we already have a discord action for send message to a channel on discord server as you can see in the image below 👇
<img width="915" alt="image" src="https://user-images.githubusercontent.com/104946677/204873235-1ed40b13-8c5c-47c2-907e-7aee995709f7.png">
and i can see you are requesting for on more action which is discord bot f

[2022-11-30 19:34] #4822 closed

[2022-11-30 19:53] Hassan-Abbas-SQA commented on #4852
sorry can you please elaboate this ? seems like it worked at your end and it was not working due to some mistake in the configuration

[2022-11-30 21:24] Hassan-Abbas-SQA commented on #4808
iam able to reproduce the bug @rose111data
<img width="904" alt="image" src="https://user-images.githubusercontent.com/104946677/204911086-0ee3ea1a-2575-4503-b3e2-8a86c553fba0.png">

[2022-11-30 21:58] dannyroosevelt opened #4856 "[ACTION] Yelp"
**Is there a specific app this action is for?**
`yelp`
https://docs.developer.yelp.com/docs/fusion-intro

### Actions
- Get details about a business (https://docs.developer.yelp.com/reference/v3_business_info)
- Search businesses (https://docs.developer.yelp.com/reference/v3_business_search)
- Search businesses by phone number (https://docs.developer.yelp.com/reference/v3_business_phone_search)
-

[2022-11-30 22:22] #3724 closed

[2022-11-30 23:10] dannyroosevelt commented on #4818
Thanks for confirming, @jcortes!

Can you work on extending support for the actions that **are** supported? And potentially polling triggers as well?

[2022-11-30 23:33] dannyroosevelt commented on #4112
Hey @LucBerge apologies for the delay getting back to you. Troubleshooting anything with the Enedis app is difficult since their servers are only available 9-5 Paris time, and the majority of our team is in US Pacific time, so we cannot test or debug anywhere close to our working hours.

FYI I am still going back and forth with their team re: approving our app.

[2022-11-30 23:59] LucBerge commented on #4112
I don't understand why you say their servers are only available 9-5. Where did you find this info ? I don't have troubles to connect (at 1am) with a python script I've made (see slack)